 @font-face {
    font-family: 'StandardLifeBold';
    src: url('images/StandardLifeBold.eot?#iefix') format('embedded-opentype'), url('images/StandardLifeBold.woff') format('woff'), url('images/StandardLifeBold.ttf') format('truetype'), url('images/StandardLifeBold.svg#StandardLifeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MetaStandardLifeProTF-Bold';
    src: url('images/MetaStandardLifeProTF-Bold.eot?#iefix') format('embedded-opentype'), url('images/MetaStandardLifeProTF-Bold.woff') format('woff'), url('images/MetaStandardLifeProTF-Bold.ttf') format('truetype'), url('images/MetaStandardLifeProTF-Bold.svg#MetaStandardLifeProTF-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MetaStandardLifeProTF-Norm';
    src: url('images/MetaStandardLifeProTF-Norm.eot?#iefix') format('embedded-opentype'), url('images/MetaStandardLifeProTF-Norm.woff') format('woff'), url('images/MetaStandardLifeProTF-Norm.ttf') format('truetype'), url('images/MetaStandardLifeProTF-Norm.svg#MetaStandardLifeProTF-Norm') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'MetaStandardLifeProTF-Norm', sans-serif;
    font-size: 8pt;
    line-height: 11pt;
	color: #4b4b4b;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    line-height: normal;
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}
h2 {
    font-weight: bold;
    margin: 0 0 10px 0;
}
p {
    margin: 0;
    padding: 0 0 1mm 0;
}
a{
	color: #4b4b4b;
	text-decoration: none;
}
.clear {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}
/*page 1 starts*/

.page1, .page2, .page3, .page4 {
    position: relative;
    background: none;
    background-size: auto;
    width: 19cm;
	height: auto;
}
.page1 > .row1 > .column1{
	width: 100% !important;
}
.page1 > .row1 > .column2{
	display: none;
}
.page1 {
    background: url(images/logo.svg) no-repeat 13cm 0cm transparent;
    background-size: 6cm 1.25cm;
}
/* .contentSection, .composite {
    margin: 0 0 0.15cm 0;
} */
.SLDocHead.contentSection {
    margin: 0;
    margin-right: 6cm;
}
.SLDocHead h2, .SLDocHead p {
    padding-top: 0.5cm;
    padding-bottom: 0.2cm;
    font-size: 20pt;
    line-height: 24pt;
    font-family: 'StandardLifeBold';
    color: #0a2f73;
}
.SLDocHead h2 {
    padding-bottom: 0cm;
    margin-bottom: 6px;
}
.SLGenInfoheader.contentSection{
	margin: 0;
}
.SLGenInfobody {
    margin: 0;
    background-color: #f5f6f7;
    padding: 0.1cm 0.2cm;
}
.SLGenInfobody .contentSection{
	width: 100%;
	margin: 0;
}
.SLGenInfobody .contentSection p, .SLGenInfobody .contentSection div{
	float: left;
	padding: 0.05cm 0;
}
.SLGenInfobody .contentSection p:empty, .SLGenInfobody .contentSection div:empty{
	padding: 0;
	display: none;
}
.SLGenInfobody .contentSection p{
	width: auto;
	clear: left;
	color: #000;
	padding-right: 0.5cm;
	min-width: 2.1cm;
}
.SLGenInfobody .contentSection div{
	width: 64%;
}

.SLCW {
    padding-top: 0;
    margin: 0;
}
.SLHeader {
    margin-top: 0.2cm;
    margin-bottom: 0cm;
}
.SLCW b, .SLCW p {
    font-family: 'StandardLifeBold';
    font-weight: normal;
}

.SLHeader h2{
	font-size: 12pt;
	font-family: 'StandardLifeBold';
	color: #0a2f73;
	border-bottom: 0.5pt solid #0a2f73;
	padding-bottom: 0.1cm;
	margin-bottom: 0;
}
.column2 .SLGen{
	padding-left: 0.3cm;
}
.SLGenInfo {
    margin-bottom: 3px;
}
.SLGen b, .SLTable b{
	font-size: 9.5pt;
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	padding: 0.1cm 0 0 0;
	display: block;
}
.SLGen b{
	padding-top:0.05cm;
}
.SLSRIRange.contentSection{
	margin: 0;
	background-color: #f5f6f7;
	padding: 0.2cm;
}
.SLSRIRange b{
	font-size: 9.5pt;
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	padding: 0.1cm 0;
}
/*Rating styles*/
.SLSRISingle.contentSection{
	margin: 0 0 0.2cm 0;
	background-color: #f5f6f7;
	padding: 0.2cm;
}
.SLSRISingle p.item2{
	font-size: 9.5pt;
    font-family: 'MetaStandardLifeProTF-Bold';
    font-weight: normal;
    padding: 0.1cm 0;
}
.sriRiskRating {
    width: 100%;
	background-color: transparent;
}

.sriRiskRating table {
    border-collapse: collapse;
    width: 100%;
}
.sriRiskRating .rating {
    width: 14%;
	padding: 0.2cm 0.5cm;
    text-align: center;
    vertical-align: middle;
	background-color: #0a2f73;
    border: 1px solid #ffffff;
	font-size: 9pt;
	color: #fff;
}
.sriRiskRating .rating.selected {
    background-color: #ffbb00;
	border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
	color: #0a2f73;
}
.sriRiskRating .arrow td {
    background-image: url('images/arroww.svg');
	background-repeat: no-repeat;
    background-size: 100%;
    height: 16px;
	background-color: transparent;
}
.sriRiskRating .header th{
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	font-size: 9pt;
}



.sriRangeRiskRating {
    width: 100%;
}
.sriRangeRiskRating .arrow td {
    background-image: url('images/arroww.svg');
	background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
}
.sriRangeRiskRating .header th{
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	font-size: 9pt;
}
.sriRangeRiskRating table {
    border-collapse: collapse;
    width: 100%;
}
.sriRangeRiskRating .rating {
    width: 14%;
	padding: 0.2cm 0.5cm;
    text-align: center;
    vertical-align: middle;
    background-color: #0a2f73;
    border: 1px solid #ffffff;
	font-size: 9pt;
	color: #fff;
}
.sriRangeRiskRating .rating.selected {
    background-color: #ffbb00;
	border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
	color: #0a2f73;
}
.sriRangeRiskRating .rating.selected.start {
    border-left: 1px solid #ffffff;
}
.sriRangeRiskRating .rating.selected.end {
    border-right: 1px solid #ffffff;
}

.SLRHPP{
	background-color: #f5f6f7;
	padding: 0.2cm;
	padding-left: 1.2cm;
	background-image: url(images/i.svg);
	background-position: 0.2cm 0;
	background-repeat: no-repeat;
	background-size: 0.8cm 0.7cm;
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	font-size: 7.5pt;
	line-height: normal;
}
.SLLiq{
	padding-left: 1cm;
	background-image: url(images/i.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 0.8cm 0.7cm;
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	font-size: 7.5pt;
	line-height: normal;
}
.SLRHPF{
	font-family: 'MetaStandardLifeProTF-Bold';
	font-weight: normal;
	font-size: 7.5pt;
	line-height: normal;
}

.SLMan h2, .SLTable h2{
	font-size: 12pt;
    font-family: 'StandardLifeBold';
    color: #0a2f73;
    border-bottom: 0.5pt solid #0a2f73;
    padding-bottom: 0.1cm;
    margin-bottom: 0.1cm;
}
.costOverTime.SLTable h2{
	border: 0;
	font-size: 9.5pt;
    font-family: 'MetaStandardLifeProTF-Bold';
    font-weight: normal;
	color: #4b4b4b;
    padding: 0.1cm 0 0 0;
    display: block;
}
.SLTable div.description{
	display: none;
}

.SLTable table th, .SLTable table td{
	padding: 0.1cm 0.15cm;
}
table th.investment, table .investment th{
	text-align: center;
}
.SLTable table .tableHeader th{
	text-align: left;
}
table th.scenarios, table td.totalcostsheader, table td.riyheader, table td.category, table td.subcategory{
/*	text-align: right;*/
	font-weight: normal;
	font-family: 'MetaStandardLifeProTF-Bold';
}
.scenarioheader th, .scenarios th{
	text-align: left;
}
.SLTable td.scenario, .costComposition th, .costComposition .category, .costComposition .subcategory{
	font-weight: normal;
	font-family: 'MetaStandardLifeProTF-Bold';
}
.costComposition .costs{
	text-align: right;
}
.performanceScenario.SLTable .return td.description{
	font-weight: normal;
	font-family: 'MetaStandardLifeProTF-Bold';
}
table th.scenarios{
	text-align: left;
}
.SLTable table th{
	background-color:#0a2f73;
	color: #fff;
	font-weight: normal;
	font-family: 'MetaStandardLifeProTF-Bold';
	border: 0.5pt solid #4b4b4b;
}
/*.SLTable table th:empty, */
.SLTable table td:empty{
	display: none;
}
.SLTable table td{
	border: 0.5pt solid #4b4b4b;
}
.SLTable table th.period1, .SLTable table th.period2, .SLTable table th.period3, .SLTable table td.period1, .SLTable table td.period2, .SLTable table td.period3{
	width: 2cm;
	text-align: right;
}
.SLTable table th.period3 span{
	display: block;
	word-break: break-all;
}
.SLTable table th.scenario1, .SLTable table th.scenario2, .SLTable table th.scenario3, .SLTable table td.totalcosts1, .SLTable table td.totalcosts2, .SLTable table td.totalcosts3, .SLTable table td.riy1, .SLTable table td.riy2, .SLTable table td.riy3{
	text-align: right;
}
/*
.costComposition th, .costComposition .category, .costComposition .subcategory {
    text-align: right;
}
*/

.costComposition.SLTable h2, .costComposition.SLTable p{
	display: none;
}
.howlong h2, .SLCom h2, .SLORI b{
	font-size: 12pt;
    font-family: 'StandardLifeBold';
    color: #0a2f73;
    border-bottom: 0.5pt solid #0a2f73;
    padding-bottom: 0.1cm;
    margin-bottom: 0.1cm;
}
.howlong b{
	font-size: 9.5pt;
    font-family: 'MetaStandardLifeProTF-Bold';
    font-weight: normal;
    padding: 0.1cm 0 0 0;
    display: block;
}
.SLORI b{
	display: block;
	font-size: 12pt;
    font-family: 'StandardLifeBold';
    color: #0a2f73;
    border-bottom: 0.5pt solid #0a2f73;
    padding-bottom: 0.1cm;
    margin-bottom: 0.1cm;
}
.SLFooter{
	position: absolute;
	bottom: 2.5cm;
	left: 1cm;
	width: 19cm;
	font-size: 6pt;
	line-height: normal;
}
.SLFooter .column1{
	width: 5cm !important;
}
.SLFooter .column2{
	width: 5cm !important;
	text-align: center;
}
.SLFooter .column3{
	float: right !important;
	width: 9cm !important;
	text-align: right;
}
.SLFooter .SLFooter{
	position: static;
	width: auto;
}

  
.groupRow1,
.groupRowDiv1,
.groupHeader1,
.groupHeaderDiv1 {
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 0pt solid transparent;
}

table td {
  vertical-align: middle;
  border-top: 0pt solid #0a2f73;
  /*border-bottom: $td-bottom-border-size solid $td-border;*/
  padding: 1mm 1mm;
  margin: 0;
}
table th {
  vertical-align: middle;
  margin: 0;
  padding: 1mm 1mm;
}

.groupHeader1 table th {
  padding: 1mm 1mm;
  background: #0a2f73;
  color: #fff;
  font-weight: 600;
  font-size: 9pt;
  border-right: 0pt solid #0a2f73;
  border-bottom: 0.5pt solid #0a2f73;
}
.groupHeader1 table th:first-of-type {
  text-align: left;
}
.groupHeader1 table tr:last-of-type th {
  word-wrap: anywhere;
}

.groupRow1 table td {
  border: 0.5pt solid #0a2f73;
}
.groupRow1 table .header th {
  font-weight: 600 !important;
  text-align: left;
  border: 0.5pt solid #0a2f73;
}
.groupRow1 table .incidentalcosts th {
  font-weight: 600 !important;
  text-align: left;
  border: 0.5pt solid #0a2f73;
}
.groupRow1 table .ongoingcosts th {
  font-weight: 600 !important;
  text-align: left;
  border: 0.5pt solid #0a2f73;
}


.performanceScenario table tr .holding-period th:last-child,
.performanceScenario table tr .investment-amount th:last-child,
.performanceScenario table tr .insurance-premium th:last-child {
  text-align: left;
}
.performanceScenario table td.scenario {
  font-weight: 600;
}
.performanceScenario .survival-scenario {
  border-top: 0pt;
  border-bottom: 0pt;
}
.performanceScenario .survival-scenario th {
  border-top: 0pt;
  border-bottom: 0.5pt solid #0a2f73;
}
.performanceScenario th[class*=period] {
  width: 3.05cm;
  text-align: left;
}
.performanceScenario td[class*=period] {
  width: 3cm;
  text-align: left;
}

.costOverTime {
  padding-bottom: 0.2cm;
}
.costOverTime > table {
  border-top: 0pt solid #0a2f73;
  width: 100%;
}
.costOverTime table .tableheader {
  display: none;
}
.costOverTime table th {
  width: 4.75cm;
}
.costOverTime table td {
  width: 4.75cm;
}
.costOverTime table td.totalcostsheader,
.costOverTime table td.riyheader {
  font-weight: 400;
}
.costOverTime table td[class*=totalcosts],
.costOverTime table td[class*=riy] {
  text-align: right;
}
.costOverTime table td.riyheader,
.costOverTime table td.totalcostsheader {
  text-align: left;
}
.costOverTime table th[class*=scenario] {
  text-align: right;
}

.costOverTime {
  padding: 0 0 0.2cm 0;
}
.costOverTime.costovertime_4columntable.contentSection {
  /* costovertime table fullwidth css for 4column <<<<*/
}
.costOverTime.costovertime_4columntable.contentSection > table {
  width: 100% !important;
  margin: 0;
}
.costOverTime.costovertime_4columntable.contentSection .scenarioheader th:first-of-type {
  width: 25% !important;
}
.costOverTime.costovertime_4columntable.contentSection table tbody td.totalcostsheader {
  width: 25% !important;
}
.costOverTime.costovertime_4columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 25% !important;
}
.costOverTime.costovertime_4columntable.contentSection table td[class*=totalcosts] {
  width: 25% !important;
}
.costOverTime.costovertime_3columntable.contentSection {
  /* costovertime table fullwidth css for 3column <<<<*/
}
.costOverTime.costovertime_3columntable.contentSection > table {
  width: 98% !important;
}
.costOverTime.costovertime_3columntable.contentSection .scenarioheader th:first-of-type {
  width: 33.4% !important;
}
.costOverTime.costovertime_3columntable.contentSection table tbody td.totalcostsheader {
  width: 33.4% !important;
}
.costOverTime.costovertime_3columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 33.3% !important;
}
.costOverTime.costovertime_3columntable.contentSection table td[class*=totalcosts] {
  width: 33.3% !important;
}
.costOverTime.costovertime_2columntable.contentSection {
  /* costovertime table fullwidth css for 2column <<<<*/
}
.costOverTime.costovertime_2columntable.contentSection > table {
  width: 100% !important;
}
.costOverTime.costovertime_2columntable.contentSection .scenarioheader th:first-of-type {
  width: 50% !important;
}
.costOverTime.costovertime_2columntable.contentSection table tbody td.totalcostsheader {
  width: 50% !important;
}
.costOverTime.costovertime_2columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 50% !important;
}
.costOverTime.costovertime_2columntable.contentSection table td[class*=totalcosts] {
  width: 50% !important;
}

.costComposition {
  padding-bottom: 0.2cm;
}
.costComposition > table {
  border-top: 0pt solid #0a2f73;

}
.costComposition > table table .tableHeader > th {
  text-align: center;
}
.costComposition table .tableHeader {
  display: none;
}
.costComposition table .oneofcosts th:last-of-type {
  width: 3.15cm;
}
.costComposition table td:last-of-type {
  width: 3.1cm;
}
.stress-return .scenario, .stress-return .description,.unfavourable-return .scenario, .unfavourable-return .description,.moderate-return .scenario, .moderate-return .description,.favourable-return .scenario, .favourable-return .description {
    font-weight: 600;
}
@page {
	margin: 1cm 1cm 1cm 1cm;
	/*border:1px solid ;*/
  }
  .SLIntro h2, .SLGenInfo h2 {
    margin-bottom: 0cm;
}
.contentSection h2{
	border-bottom: 0.5pt solid #0a2f73;
	color: #0a2f73;
	font-size: 12pt;
	padding-bottom: 1mm;
    margin-bottom: 1mm
  }
 
  .SLDocHead h2, .SLIntro h2,.generalinformation h2{
	border-bottom: 0;
	color: #4b4b4b;
	font-size: 10pt;
	padding-bottom: 0mm;
    margin-bottom: 0mm
  }
  .page1> .row1 > .section > .row2> .contentSection > h2{
    border-bottom: 0;
	color: #4b4b4b;
	font-size: 10pt;
	padding-bottom: 0mm;
    margin-bottom: 0mm
  }
  .SLDocHead h2{
	color: #0a2f73;
	font-size: 20pt;
	padding-bottom: 0cm;
    margin-bottom: 6px;
    border-bottom: 0;
  }
  .keyinformationdocument h2{
    color: #0a2f73;
    font-size: 20pt;
    padding-bottom: 0cm;
      margin-bottom: 6px;
      border-bottom: 0;
      padding-top: 0.5cm;
      line-height: 24pt;
      font-family: 'StandardLifeBold';
  }
  .generalinformation h2{
    background: #fff;
    margin-bottom: 1mm;
    margin-left: -2mm;
	margin-right: -2mm;
  }
  .generalinformation{
	background: #f4f6f7;
	padding :0 2mm 1mm 2mm;
  }
  .page > .row{
	margin-bottom: 0.1cm;
  }
  .page1 > .row4{
	margin-bottom: 0;
  }
  .page1 > .row7 > .composite  > .compositebody{
	width: 100%;
    column-count: 2;
    column-gap: 0.3cm;
    column-fill: balance !important;
  }
  .warning{
	background: #f4f6f7;
    padding: 2mm;
  }
.Pagination{
	display: none;
}
@page {
	@bottom-right {
	  content: "Page " counter(page) " of " counter(pages);
	  width: 4cm;
	  font: 8pt "MetaStandardLifeProTF-Norm";
		
	}
  }
  .WB_SRInarrative2_1, .WB_SRInarrative2_4 {
    background: url(images/warning-icon.png);
    background-size: 8%;
    background-position: 0px 0px;
    min-height: 57px;
    padding: 2px 0px 0px 63px;
    display: block;
    background-repeat: no-repeat;
}
.SRIMop p,.SRI {
  background: #f4f6f7;
}
.SRI{
  margin-bottom: 0.1cm;
}
.SRIMop p{
  padding: 2mm 1mm 0 1mm;
  font-size: 9.5pt;
}
.SRIMop h2{
  margin-bottom: 0;
}
.page1 > .row4 > .composite1 > .compositebody > .row3 > .column1{
	width: 69% !important;
	height: auto;
}
.page1 > .row4 > .composite1 > .compositebody > .row3 > .column2{
	width: 25% !important;
	background:rgb(241, 242, 242);
	padding: 0.25cm 0.4cm 0.5cm 0.4cm;
	/*min-height: 368px;*/
	margin-left: 7px;
}
.page1 .with_performance_table{
      height: 328px;
}
.page1 > .row4 > .composite1 > .compositebody > .row3 > .column2 * {
		font-size: 10px;
}
.monthlyperformancetable h2{
	color: #009ca8;
}
.monthlyperformancetable1 *{
	font-size:6pt !important;
	margin:0 !important;
	padding:0 !important;
	font-weight:normal !important;
	text-align:center;
}
.monthlyperformancetable table th:not(.groupHeader1){
	border:none !important;
}
.monthlyperformancetable1 tr.headerData th{
	text-align:center;
	background: #009ca8;
	color: #fff;
	border-right-color: var(--tableheader) !important;
}
.monthlyperformancetable th.groupHeaderDiv1 {
	padding:0 !important;
}
.monthlyperformancetable1 > table tr th{
   border: 0.5pt solid transparent !important;
}
.monthlyperformancetable1 table tr td{
 
   border: 0.5pt solid var(--tableborder) !important;
}
.monthlyperformancetable1 table tr td{
   padding:3px 2px !important;
}

.monthlyperformancetable1 .groupHeaderDiv1 .headerData th{
	font-size:7pt !important;
	border-left-color:transparent !important;
	border-right-color:transparent !important;
}

.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th{
	word-break: break-word;
	background:#e6f6f6 !important;
    border-color:#e6f6f6 !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	color: #000;
	padding:4px 2px !important;

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(1),.monthlyperformancetable1 .groupRowDiv1 .Row td:first-child{
	width: 6%;
	border-left-color: transparent !important;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(2),.monthlyperformancetable1 .groupRowDiv1 .Row td:nth-child(2){
	width: 6%;
	text-align: center;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(3),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(1){
	width: 5%;
	text-align: center;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(4),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(2){
	width: 11.5%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(5),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(3){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(6),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(4){
	width: 11.5%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(7),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(5){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(8),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(6){
	width: 11.5%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(9),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(7){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(10),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(8){
	width: 11.5%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(11),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(9){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(12),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(10){
	width: 9%;
	text-align: center;
}
.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(3),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(5),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(7),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(9){
	/* padding-left:20px !important; */
	color:rgb(0,0,0,0.5);
}
.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+5) td,.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+6) td,.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+7) td,.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+8) td{/*5,13,21*/
	background: #cccccc2b;
}

/*pastperformancetable  design styles>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.page1>.row4>.composite>.compositebody>.row2 .contentSection .item3{
	font-weight:bold;
}
.SyntheticHistoryPerformanceCaveat{
	margin-bottom:7.5px;
}
.material-change-event-icon{
	color: #7cb5ec;
}
/* PrpPastPerformaceEu */
.page1 > .row1 > .contentSection >  h2{
  color: #0a2f73;
  font-size: 20pt;
  padding-bottom: 0cm;
  margin-bottom: 6px;
  border-bottom: 0;
  line-height: 24pt;
  font-family: 'StandardLifeBold';
  padding-top: 0.5cm;
}
h2:empty,
.contentSection:empty {
  display: none;
}
.performancetable > table  tr> td,.performancetable > table  tr> th{
	width: 8%;
}
.performancetable > table  tr> td.keycell,.performancetable > table  tr> th.keycell{
	border-right-color: transparent;
	width: 8% !important;
}
/* SLPRIIPS */