@import url("https://use.typekit.net/blo6vbk.css");

@font-face {
	font-family: 'FranklinGothicLT-Book';
	src: url('Images/FranklinGothicLT-Book.eot');
	src: url('Images/FranklinGothicLT-Book.eot?#iefix') format('embedded-opentype'), url('Images/FranklinGothicLT-Book.woff2') format('woff2'), url('Images/FranklinGothicLT-Book.woff') format('woff'), url('Images/FranklinGothicLT-Book.ttf') format('truetype'), url('Images/FranklinGothicLT-Book.svg#FranklinGothicLT-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FranklinGothicLT-DemiCnd';
	src: url('Images/FranklinGothicLT-DemiCnd.eot');
	src: url('Images/FranklinGothicLT-DemiCnd.eot?#iefix') format('embedded-opentype'), url('Images/FranklinGothicLT-DemiCnd.woff2') format('woff2'), url('Images/FranklinGothicLT-DemiCnd.woff') format('woff'), url('Images/FranklinGothicLT-DemiCnd.ttf') format('truetype'), url('Images/FranklinGothicLT-DemiCnd.svg#FranklinGothicLT-DemiCnd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FranklinGothicLT-Heavy';
	src: url('Images/FranklinGothicLT-Heavy.eot');
	src: url('Images/FranklinGothicLT-Heavy.eot?#iefix') format('embedded-opentype'), url('Images/FranklinGothicLT-Heavy.woff2') format('woff2'), url('Images/FranklinGothicLT-Heavy.woff') format('woff'), url('Images/FranklinGothicLT-Heavy.ttf') format('truetype'), url('Images/FranklinGothicLT-Heavy.svg#FranklinGothicLT-Heavy') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FranklinGothicLT-Medium';
	src: url('Images/FranklinGothicLT-Medium.eot');
	src: url('Images/FranklinGothicLT-Medium.eot?#iefix') format('embedded-opentype'), url('Images/FranklinGothicLT-Medium.woff2') format('woff2'), url('Images/FranklinGothicLT-Medium.woff') format('woff'), url('Images/FranklinGothicLT-Medium.ttf') format('truetype'), url('Images/FranklinGothicLT-Medium.svg#FranklinGothicLT-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Stratos', Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: normal;
	color: #000000;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0
}
ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
	padding: 0;
}
table {
	width: 100%;
	border-collapse: collapse
}
.breakdown table{
	width: 70% !important;
}
.breakdown > .chart{
	width: 30% !important;
}
.performancetable table { margin: 0 0 0.4cm 0; }
table td {
	margin: 0;
	padding: 0;
}
h2 { font-weight: bold; }
p {  font: 400 8pt/9.6pt Stratos-Lights;}
.clear {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
th { font-weight: normal; }
.label {
	line-height: normal;
	margin-left: 0mm;
}
.key-color {
	height: 2mm;
	width: 2mm;
	margin: 2px 3px 0 0;
	position: relative;
	top: 4px;
	border-radius: 4mm;
}
.breakdown table td {
    float: none;
    display: inline;
}
.breakdown thead{
	display: none;
}
/*----*/
.page {
	position: relative;
	margin: 0;
	width: 18.4cm;
	border-bottom: 0pt solid #001950;
	height: 27.9cm;
	padding: 10mm 13mm 4mm;
}
.logo {
	background: url(Images/Sarasin_logo_new.png) no-repeat 0px 28px transparent;
	background-size: 4.5cm;
	height: 2.6cm;
	border-bottom: 1pt solid #001950;
	width: 5cm;
	margin: 0 0 0.3cm 0 !important;
}
.Header {
	border-bottom: 1pt solid #001950;
	height: 2.6cm;
	margin: 0 0 0.3cm 0 !important;
	position: relative;
}
.Header .DataAsAtDate {
	font-size: 10pt;
	color: #001950;
	text-align: right;
	padding: 0 0 0.2cm 0;
	font-weight: bold;
}
.Header .UnitNameFull {
	font-size: 17pt;
	color: #0073cf;
	text-align: right;
	font-family: "Stratos", Times, serif;
	/*	width: 14cm;*/
	float: right;
	line-height: 33px;
	position: absolute;
	bottom: 0.3cm;
	font-weight: 600;
	text-transform: uppercase;
	width: 80%;
	padding-left: 20%;
}
.contentSection h2,.FundAim p:first-of-type {
color: #fff;
border-bottom: 0pt solid #0079AD;
background-color: rgb(139,184,232);
margin: 0 0 0.25cm;
padding: 2pt;
font-weight: 500;
font-size: 8pt;
font-family: Stratos;
line-height: 9.6pt;
height: 3.6mm;
	text-transform: uppercase;
}
.page1 .row3>.column .contentSection h2{
	margin: 0 0 0.1cm;
}
.page2 .contentSection h2 {
	margin: 0 0 0.25cm;
}
.contentSection { margin: 0 0 0.2cm 0; }
.contentSection:empty{
	margin: 0 !important;
}
.page1 > .row3 > .column1 {
	float: left;
	width: 79.5mm;
}
.page1 > .row3 > .column1 > .row2 > .column1 {
	float: left;
	width: 49%;
}
.page1 > .row3 > .column1 > .row2 > .column2 {
	float: right;
	width: 49%;
}
.page1 > .row3 > .column2 {
	padding: 0;
	font: 600 8pt Stratos;
	width: 100.5mm;
	float: right;
}
.page2 > .row2 > .column1, .page2 > .row1 > .column1 {
	float: left;
	width: 49%;
}
.page2 > .row2 > .column2, .page2 > .row1 > .column2 {
	float: right;
	width: 49%;
}
table th {
	/*! background: rgba(139,184,232,0.3); */
	/*! padding: 0.02cm 0; */
	font: 300 8pt/8pt Stratos-Lights;
}
table td {
	background-color: #ffffff;
	border-bottom: 0pt solid #73685B;
	padding: 0.0cm 0;
	font: 300 8pt/8pt Stratos-Lights;
}
.page1 table td{
	padding: 0.02cm 0;
}
.page1 > .row2 > .column2 > .row2 > .column1, .page1 > .row2 > .column2 > .row2 > .column2 {
	float: left;
	width: 100%;
}
.FundAim h2,
.Price h2, 
.InvestmentStrategy h2,
.Contactus p:first-of-type, 
.Annualised h2 ,
.Technicaldetails h2,
.Distributiondate h2,
.Fees h2{
	color: #0073cf;
	border-bottom: 1pt solid #0079AD;
	background-color: #ffffff;
	margin: 0 0 2.5mm 0;
	padding: 0.2cm 0 1mm 0;
	font-weight: 600 !important;
	font-size: 10pt;
	text-transform: uppercase;
	font-family: Stratos;	
}
.FundPerformanceheader h2,
.page2.page h2{
	color: #0073cf;
	border-bottom: 1pt solid #0079AD;
	background-color: #ffffff;
	margin: 0 0 2mm 0;
	padding: 0.1cm 0 1mm 0;
	font-weight: 600 !important;
	font-size: 10pt;
	text-transform: uppercase;
	font-family: Stratos;
}
.contentSection.FundPerformanceheader{
	margin-bottom: 0.15cm !important;
}
.horizontal-list div {
	border-bottom: 0pt solid #73685B;
	padding: 0;
	width: 100%;
}
.Weight { text-align: right; font: 600 7pt Stratos;margin-left: 2pt;}
.horizontal-list span:first-child {
	float: left;
	font-weight: normal;
	width: 50%;
}
.holding th{
	display: none;
}
.horizontal-list span{
	font:300 8pt/9.6pt Stratos-Lights
}
.horizontal-list span:last-child {
	float: right;
	text-align: right;
	width: 50%;
	font: 500 8pt/9.6pt Stratos;
}
.Fundmanagers { margin: 0; }
.manager {
	float: left;
	padding: 0;
	position: relative;
	margin: 0 0 0.3cm 0;
	min-height: 4.2cm;
	min-width: 3cm;
}
.field.Name {
	color: #0079ad;
	font-size: 12pt;
	font-weight: bold;
	margin: 0 0 0 0;
	position: absolute;
	bottom: 0;
}
.value.field.Photo {
	/*left: 0;
	position: relative;
	top: 0;*/
	padding: 0 0 0.5cm 0;
	height: 3.5cm;
}
.value.field.Photo img {
	width: 2.7cm;
	height: 100%;
}
.value.field.Biography {
	text-align: justify;
	margin: 0 0 0 3.5cm;
}
.kiiRiskRating { width: 100%; }
.keyContainer .label { margin: 0.07cm 0 0 0.07cm; }
/*.ptable { margin: 0 0 0.1cm; }*/
.Contactus p { margin: 0 0 0.2cm; }
.kiiRiskRating .rating {
	background-color: #fff;
	color: #0073cf;
	border: 1pt solid #777;
	font: 500 10pt Stratos;
	padding: 9pt;
}
.kiiRiskRating .rating.selected {
	background-color: #0073cf;
	color: #ffffff;
	border: 1pt solid #777;
	font-weight: bold;
}
.page2 > .row1 > .column2 .row4 p {
    font-size: 7pt;
    line-height: 1;
}
.value.field.Name, .field.Name .label, .field.Name .value { font-size: 10pt }
.fundperofmancechart .chart, .fundperformancechart .chart { height: 5cm; }
.evenManager { float: left; }
.oddManager { /*float: right;*/ }
.kiiRiskRating .arrow td {
	background-repeat: no-repeat;
	background-size: 300px 15px;
	background-position: center;
	padding: 0.2cm 0;
}
.keyContainer {
    height: 3mm;
    display: inline-block;/*! width: 100%; */
	 
    padding: 0 0.2cm 0 0;
}
.Ratings { margin-bottom: 0.2cm; }
.Ratings div {
    width: auto;
    margin-right: 5px;
}
.pageonecaveat p {
	font-size: 7pt;
	text-align: justify;
	 
	line-height: 7.2pt;
}
.performancetable th, .performancetable td {
	text-align: center;
	min-width: 42px;
}
.performancetable th.PSinceLaunch {
	width:42px;
}
.performancetable .unitWorkbook td{
	background: rgba(139,184,232,0.3);
padding: 0.1cm 0;
	font: 600 8pt Stratos;
}
.performancetable .rowheader, .Name { text-align: left; padding-left: 0.1cm !important;}
.rowheader {
	/*! color: #0079AD; */
	width: 2.4cm;
}
.breakdown .key-color { /*! margin: 0; */ display: block;float: left;}
.pageonecaveat {
	bottom: -0.2cm;
	position: absolute;
	left: 1.3cm;
	right: 1.3cm;
	bottom: 0.8cm;
}
/*.fundManagers h2 { display: none; }*/
.Ratings, .Technicaldetails, .Distributiondate{
		width: 100%; 
} 
.InvestmentStrategy { 
	width: 100%; 
	margin: 0;
}
.ProductionDate div { border: 0; }
.ProductionDate .label {
	float: left;
	width: auto !important;
	padding: 0 0.2cm 0 0;
}
.ProductionDate .value {
	float: left !important;
	text-align: left !important;
}
.Minimumdd h2 {
	background-color: #ffffff;
	color: #001950;
	text-align: right;
}
.kiiRiskRating th {
	vertical-align: top;
	padding: 0.08cm 0;
}
.kiiRiskRating td { vertical-align: top; }
img.rating, img.clientRating {
	margin: 0;
	width: 135px;
}
.Minimumdd { text-align: right; }
.Minimumdd .item2 { font-weight: bold; }
.kiiRiskRating .header {
	height: auto;
	margin: 0 !important;
	border-bottom:1px solid black;
}
.kiiRiskRating .header th { padding: 0.08em 0; background: none;font-weight: 500;}
.page2 .row5 .secondpagecaveat { font-size: 7pt; }
.page2 .row5 .secondpagecaveat .2ndpagedisclaimer { font-size: 7pt; }
.kiiRiskRating .header { height: auto; }
.page1 > .row3 > .column1 .row2 .column1 .row1 .composite1 .contentSection h2 {
 
}
.page1 > .row3 > .column1 .row2 .column1 .row1 .composite1 .compositebody .row3 { margin-top: -0.27cm; }
.page2 .row2 .secondpagecaveat p {
	position: absolute;
	bottom: 0;
	font-size: 5pt;
	font-family: Stratos-Lights;
	font-weight: 300;
	line-height: 7.2pt;
	left: 1.3cm;
	right: 1.3cm;
}
.page2 .row2 .secondpagecaveat .2ndpagedisclaimer { font-size: 6.5pt; }
.ObjectiveText { font-size: 9pt; margin-bottom: 0.2cm;}
.Top10Holdings { margin: 0 0 0.1cm 0; }
.Contactus { margin: 0.2cm 0 0 0; }
/*.KiiRiskNumber{
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 0 #fff,-1px -1px 0 #869cb3;
	display: block;
	font-size: 24pt;
	background-color: #E4E9EE;
	color: #a5b6c7;
	padding: 0.3cm 0;
}*/
.page2 .row1 .column2 .row3 .contentSection .item2 { /*! font-size: 7pt; */ }
.Firstcolumn {position: relative;margin-top: 0;}
.Firstcolumn h2 {
	/*! position: absolute; */
	width: 198%;
	/*! top: -42px; */
}
.Firstcolumn p:first-of-type { 
color: #000;
border-bottom: 0pt solid #0079AD;
background-color: transparent;
margin: 0 0 2mm;
padding: 0;
font-weight: 300;
font-size: 8pt;
font-family: Stratos-Lights;
line-height: 9.6pt;
letter-spacing: -0.3pt;
/*! margin-top: 0.25cm; */
}
.secondcolumn {
	padding: 33px 0 0;
	position: relative;
	
}
.page2 > .row1 > .column1 > .row8 > .composite1 > .compositebody > .row2 > .column2{
	width: 48% !important;
}
.InvestmentStrategy p { 
color: #000;
border-bottom: 0pt solid #0079AD;
background-color: transparent;
margin: 0 0 0mm;
padding: 0;
font-weight: 300;
font-size: 8pt;
font-family: Stratos-Lights;
line-height: 9.6pt;
letter-spacing: -0.3pt;
margin-top: 0;
}
.spacer { padding: 0 5px; }
.contentSection.FundAim { margin: 0; }
.page1 > .row > .column1 .contentSection, .page1 > .row > .column1 .contentSection h2 { /*! margin: 0 0 0.1cm; */ }
 .page1 > .row > .column1 .contentSection.FundAim h2{
	margin-bottom: 0.15cm 
}
.FundAim h2 { /*! margin: 0 0 0.2cm !important; */ }
.horizontal-list .Benchmark .label { width: 22%;}
.horizontal-list .Benchmark .value { width: 75%;}
.Risktext { font-size: 7pt; margin: 0 0 0.08cm 0; font: 400 8pt/9.6pt Stratos-Lights;}

.specialrisktext p{
	font: 400 7pt/8pt Stratos-Lights;
}
/*@page{
	margin-bottom:0.1cm;border:1px solid blue;
}*/
/* sarasin-SA */