:root {

	--fw-light: 300;
	--fw-normal: 300;
	--fw-bold: bold;
	--h2-color: #000000;
	--black: #000000;

}

p {
	text-align: justify;
}

.page1 {
	padding-top: 2.9cm;

	>.row1 .contentSection h2 {
		font-size: 26pt;

	}
}

.TextSection {
	p {
		font-size: 10pt;
	}
}

.contentSection h2 {
	color: var(--h2-color);
	font-size: 12pt;
}

.FooterCSS {
	width: 20cm;
	padding: 0px 0px 0px 4px;
	position: absolute;
	bottom: 0.3cm;
	left: 0;
	z-index: 1;
	border-top: 0.5px solid #909090;
	font-size: 7.5pt;

	.content {
		margin-right: 0cm;
		position: relative;
		overflow: visible;
	}

	.row {
		margin-bottom: 0.05cm;
	}

	.iconSection {
		height: 23px;
	}

	.content:before {
		content: '';
		width: 1px;
		height: 60px;
		background-color: #a7a5a6;
		position: absolute;
		top: 0;
		left: 1px;

	}
}











/* UBS_MPD_publifund_standard_theme */
/* Theme name OLZ_M */