/* do not add anything else in this file, if QJuery UI release smaller icons or at 
least aloow modification of the size of the icons we should remove this "hack"
Until then - this is the only way of displaying a "smaller"" icon
 */

.fe-ordering-icon 
{
    height:8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ui-icon-triangle-1-n
{
    background-position: 0 -20px;
}

.ui-icon-triangle-1-s 
{
    background-position: -65px -20px;
}

.ui-corner-tl,  .ui-corner-tr , .ui-corner-bl , .ui-corner-br  , .ui-corner-top  , .ui-corner-bottom , .ui-corner-right , .ui-corner-left , .ui-corner-all 
{
	behavior: url(/Assets/css/PIE.htc);
}

.colSizeAuto
{
    width: auto;
}
