#__cookieWrapper .container {
    max-width: 100%;
}
#__cookieWrapper .__cookieNotice {
    display: none!important;
}
.custom-cookie .modal-content :where(span, p, h4){
color: #363534 !important;
}
body #__cookieWrapper .__cookieNotice .__cookieNoticeBody {
    background: #fff;
}
#__cookieWrapper .modal-dialog .modal-content {
    background-color: #fefefe;
    padding: 0!important;
    top: 0 !important;
    width: 90%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    z-index: 1000;
    color: #363534;
    padding: 0;
    margin: 0;
    max-width: 500px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
} #__cookieWrapper .modal-dialog .modal-content .modal-header button, input[type="checkbox"][id="app-item-necessaryCookie"] + label, label[for="app-item-necessaryCookie"]  {
    display:none !important;
}
#__cookieWrapper .modal-header:before {
    content: "";
    background: url(/~/media/Images/P/Phoenix-HWU-V3/logo/brand-logo.svg) no-repeat 0 0;
    background-size: contain;
    height: 55px;
    width: 250px;
    display: block;
        margin-bottom: 25px;
}
#__cookieWrapper .modal-header {
    border-bottom: none;
}
#__cookieWrapper .custom-cookie-modal .modal-footer{
    text-align: left; border-top: none; margin-top: 0px; padding: 0 15px 50px 15px;
}
#__cookieWrapper.custom-cookie .ccBtn, #__cookieWrapper .custom-cookie-modal .modal-footer button, #__cookieWrapper .custom-cookie-modal .modal-body button {
    margin: 0;
    padding: 8px 30px;
    background: #c90062 !important;
    border: 1px solid #662046;
    box-shadow: 0 4px 0 #91004b, 0 5px 0 #662046;
    border-radius: 2px;
    color: #ffffff !important;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0 !important;
}
#__cookieWrapper .ccBtn.ccBtnOpenBox {
    background-color: #f8e9ef!important;
    border: 0!important;
    border-bottom: 1px solid #ad4078!important;
    box-shadow: 0 4px 0 #e3bfd2, 0 5px 0 #ad4078, -1px 5px 0 #ad4078, 1px 5px 0 #ad4078, 0 -1px 0 #ad4078, -1px 0 0 #ad4078, 1px 0 0 #ad4078!important;
    color: #c90062!important;
}
#__cookieWrapper.custom-cookie .ccBtn:hover, #__cookieWrapper .custom-cookie-modal .modal-footer button:hover, #__cookieWrapper .custom-cookie-modal .modal-body button:hover {
    box-shadow: 0 3px 0 #91004b,0 4px 0 #662046;
    transform: translateY(1px);
}
#__cookieWrapper .custom-cookie-modal .modal-footer button, #__cookieWrapper .custom-cookie-modal .modal-body button {
    margin-right: 15px; cursor: pointer;
    }
body #__cookieWrapper.custom-cookie a, body #__cookieWrapper.custom-cookie p {
    color: #363534;
    text-align: left;
}
#__cookieWrapper .cookieModal .ccBg {
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#__cookieWrapper .ccBg {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
   margin: 0;
}
#__cookieWrapper h2 {
    font-size: 3.2rem;
    display: block;
    line-height: 4.0rem;
    margin: 0;
    color: #363534;
        font-weight: 400;
}
#__cookieWrapper .custom-cookie-modal .modal-body h4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 0;
    margin-bottom: 15px;
    color: #363534 !important;
    font-family: "futura-pt", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    border: none;
}
#__cookieWrapper  .switch input[type=checkbox]:checked+label::before {
    background-color: #c90062;
}
#__cookieWrapper .switch input[type=checkbox]+label::before {
    right: 0;
    background-color: #ffffff;
    border: 2px solid #c90062;
    border-radius: 4px;
    transition: .2s all;
    width: 24px;
    height: 24px;
}
#__cookieWrapper  .switch input[type=checkbox]+label{
 margin-top: 0;
}
#__cookieWrapper .switch input[type=checkbox]+label::after {
    transition: all .3s ease-in 0s;
    top: 2px;
    left: 9px;
    width: 7px;
    height: 16px;
    transform: rotate(45deg);
    border-style: solid;
    border-color: rgb(255 255 255);
    border-image: initial;
    border-width: 0px 2px 2px 0px;
    background: transparent;
    border-radius: 0;
    margin-left: 0;
}
#__cookieWrapper .switch input[type=checkbox]:checked+label::after {
    border-color: rgb(255, 255, 255);
}
#__cookieWrapper .switch input[type=checkbox]:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgb(201 0 98 / 28%);
}
#__cookieWrapper p a {
    text-decoration: none !important;
    color: #c90062 !important;
}
body #__cookieWrapper.custom-cookie .__cookieNotice {
    background: rgb(0 0 0 / 50%);
}
#__cookieWrapper .modal-body {
    margin-top: 0;
}
.optional-cookies {
    border-top: 1px solid #efefef;
    padding-top: 20px;
}
#__cookieWrapper .modal-title {
    font-weight: 400;
    font-size: 3.2rem;
    display: block;
    line-height: 4.0rem;
       margin-bottom: 0;
}
.custom-cookie-modal .modal-body p span.fnClass {
    display: none;
}
@media (max-width: 1101px){
#__cookieWrapper .custom-cookie-in, #__cookieWrapper .custom-cookie-in .cookie-btn {
    display: block;
}
}
@media (max-width: 767px){
#__cookieWrapper.custom-cookie .ccBtn, .custom-cookie-modal .modal-footer button {
    border-radius: 25px;
    /*width: 100%; */
}
#__cookieWrapper .custom-cookie-modal .modal-body button{padding: 8px 15px; }
#__cookieWrapper .custom-cookie-modal .modal-footer button {
    margin-left: 0;
}
}