<div class="container">
    <form>
        <div class="row padding20">
            <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>First Name :</mat-label>
                    <input type="text" matInput id="txtFirstName" >
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
            </div>
        </div>

        <div class="row padding5">
            <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Surname  :</mat-label>
                    <input type="text" matInput id="txtSurName" >
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
            </div>
        </div>
    </form>
</div>