@font-face {
	font-family: "ABCArizonaFlare-Medium";
	src: url("images/ABCArizonaFlare-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GT-Ultra-Standard-Lloyds-Light";
	src: url("images/GT-Ultra-Standard-Lloyds-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: "GT-Ultra-Standard-Lloyds-Light";
  font-size: 8pt;
  line-height: normal;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: normal !important;
}
.contentSection h2,.contentSection > .otherinfo .item2,.SectionHeadingMain,
.fundratingheader .item2,.FundAimNew,.CorporateActionStatement u,.legalstructureheading p,
.newfundnametag p{
font-family: "ABCArizonaFlare-Medium";
}
.contentSection h2 .SectionHeadingSecondary{
  font-family: "GT-Ultra-Standard-Lloyds-Light";
}
:root {
  --teal-black: rgb(11, 50, 57);
  --dark-pink: #EDE9FF;
  --light-pink: rgb(255, 226, 232);
  --pink-shade-1: rgb(255, 206, 218);
  --pink-shade-2: rgb(255, 209, 220);
  --pink-shade-3: rgb(255, 212, 222);
  --pink-shade-4: rgb(255, 215, 224);
  --pink-shade-5: rgb(255, 217, 226);
  --pink-shade-6: rgb(255, 220, 228);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

table th,
table td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

h2 {
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  margin: 0;
  padding: 0;
  color: var(--teal-black);
}

p:empty {
  display: none;
}

.clear {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

/**/
.page {
  height: 28.7cm;
  padding: 0.5cm 0.8cm;
  position: relative;
  width: 19.4cm;
}

.key-color {
  height: 3mm;
  width: 3mm;
  margin: 0;
}

.keyWrapper .key-color {
  margin: 4px 0 0 0;
}

.performancetable table {
  margin: 0 0 5px 0;
}

.performancetable th {
  background-color: #374ea1;
  padding: 3px;
  color: #ffffff;
  border-bottom: 0.5pt solid #ffffff;
  border-right: 0.5pt solid #ffffff;
  text-align: left;
}

.performancetable td {
  background-color: #e3e3f2;
  padding: 3px;
  border-bottom: 0.5pt solid #ffffff;
  border-right: 0.5pt solid #ffffff;
  text-align: center;
}

.horizontal-list span:first-child {
  float: left;
  font-weight: normal;
  margin-left: 0;
  line-height: normal;
  width: 45%;
}

.horizontal-list span:last-child {
  float: right;
  text-align: right;
  width: 55%;
}

.horizontal-list .FundManagers span:first-child {
  width: 35%;
}

.horizontal-list .FundManagers span:last-child {
  width: 65%;
}

/*.horizontal-list .EnglishSectorName span:first-child{
	width: 15%;
}
.horizontal-list .EnglishSectorName span:last-child{
	width: 85%;
}*/
.horizontal-list div {
  padding: 0 0;
}

.performancetable td.rowheader {
  width: 26%;
  text-align: left;
}

.page1>.row3>.column1 {
  float: left;
  width: 64%;
  display: flex;
  flex-direction: column;
}

.page1>.row3>.column1>.row1 {
  order: 1;
}

.page1>.row3>.column1>.row2 {
  order: 5;
  margin-top: 3mm;
}

.page1>.row3>.column1>.row3 {
  order: 2;
  border: 1px solid var(--dark-pink);
  padding: 0 5px 5px 5px;
  border-bottom: none;
}

.page1>.row3>.column1>.row4 {
  order: 3;
  border: 1px solid var(--dark-pink);
  border-top: none;
  border-bottom: none;
  padding: 0 5px;
  position: relative;
}

.page1>.row3>.column1>.row5 {
  order: 4;
  border: 1px solid var(--dark-pink);
  border-top: none;
  padding: 0 5px 5px 5px;
}

.page1>.row3>.column1>.row4>.standardtable1::before {
  content: 'FinaMetrica';
  position: absolute;
  left: 53mm;
  top: 1.5mm;
  font-weight: 700;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr>td {
  background: var(--dark-pink);
  border-bottom: 0.5pt solid #ffffff;
  border-right: 0.5pt solid #ffffff;
  padding: 3px;
  font-weight: 700;
  text-align: center;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:first-child>td {
  padding: 20px 3px 3px 3px;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:first-child>td:first-child,
.performancetable1 table tr th:first-child {
  border-radius: 7px 0px 0px 0px !important;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:first-child>td:last-child,
.performancetable1 table tr th:last-child {
  border-radius: 0px 7px 0px 0px !important;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:last-child>td:first-child,
.performancetable1 table tr:last-child>td:first-child {
  border-radius: 0px 0px 0px 7px !important;
  padding: 3px 3px 5px 8px;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:last-child>td:last-child,
.performancetable1 table tr:last-child>td:last-child {
  border-radius: 0px 0px 7px 0px !important;
}

.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:first-child>td:nth-child(2) {
  border-right: none;
}

.page2>.row1>.column1 {
  float: left;
  width: 64%;
}

.page1>.row3>.column2 {
  float: right;
  /*width: 34%;*/
  width: 6.17cm;
}

.page2>.row1>.column2 {
  float: right;
  /*width: 34%;*/
  width: 6.17cm;
}

.FundAimNew {
  margin: 0 0 0.15cm 0;
  font-size: 13pt;
  color: var(--teal-black);
  font-weight: bold;
  display: block;
}

.FundAimNew+br {
  display: none;
}

.CorporateActionStatement p {
  line-height: 1.1;
}

.composite2body span.FundAimNew {
  margin-bottom: 5px;
}

.CashDescription {
  line-height: 1.05;
}

.CashDescription span.FundAimNew+br {
  display: none;
}

.contentSection h2 {
  margin: 0.1cm 0 0 0;
  font-size: 13pt;
  color: var(--teal-black);
}

.contentSection.objective h2 {
  margin: 0;
}

.riskapproachheading {
  background-color: #1e47a5;
  float: left;
}

.riskapproachheading p {
  color: #ffffff;
  font-size: 18pt;
  font-weight: bold;
  padding: 5px 50px 5px 5px;
}

.asatdate p {
  font-size: 13pt;
  padding: 10px 0px 0px 0px;
}

.legalstructureheading {
  width: 10cm;
}

.legalstructureheading p {
  font-size: 18pt;
  font-weight: bold;
  padding: 0 0 10px 0px;
  color: var(--teal-black);
}

.topdisclaimer p {
  padding: 3px;
  line-height: 1.05;
}

.page1>.row3>.column1>.row1>.row1>div.CorporateActionStatement.contentSection {
  padding: 5px;
  margin: 0 !important;
  background-color: #fff !important;
  border: none !important;
  margin: 0 0 10px 0;
}

.page1>.row3>.column1>.row1>.row1 {
  border: 1px solid var(--dark-pink);
  margin-bottom: 3mm;
}

.page1>.row3>.column1>.row2>.composite1>.compositebody>.row2>.row1>.breakdown1>h2 {
  margin: 4mm 0 1mm 0;
}

.page1>.row3>.column1>.row2>.composite1>.compositebody>.row2>.row1>.breakdown1>table {
  margin-top: 4mm;
}

.page2>.row2>.composite4 {
  border: none;
  margin-top: 1mm;
}

.page2>.row2 {
  border: 1px solid var(--dark-pink);
  margin-top: 3mm;
}

.page1>.row3>.column2>.row1>.row1>.topdisclaimer {
  border: none !important;
  margin: 0;
}

.page1>.row3>.column2>.row1>.row1 {
  border: 1px solid var(--dark-pink) !important;
  margin-bottom: 5px;
}

.page1>.row3>.column2>.row2>.composite2,
.page2>.row1>.column2>.row1>.composite3 {
  background-color: var(--dark-pink) !important;
  color: var(--teal-black) !important;
}

.page1>.row3>.column2>.row2>.composite2>.composite2body *,
.page2>.row1>.column2>.row1>.composite3 * {
  background: var(--dark-pink) !important;
  color: var(--teal-black) !important;
}

.CorporateActionStatementRed p {
  color: #f00;
}

.composite3header p {
  font-size: 13pt;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.composite2,
.composite3 {
  background-color: #1e47a5;
  padding: 5px;
}

.composite2body h2,
.composite3 h2 {
  color: #ffffff;
}

.composite2body p,
.composite2body span,
.composite3 p,
.composite3 span {
  color: #ffffff;
}

.fundManagers .value,
.fundManagers .label {
  color: #ffffff;
}

.pageno p {
  position: absolute;
  bottom: 0.3cm;
  right: 0.8cm;
  font-size: 7pt;
}

.composite4 {
  border: 1px solid #1e47a5;
  padding: 5px;
}

.fmreview {
  border-bottom: 0;
}

.fmreview h2 {
  margin-top: 0;
}

.composite4 {
  margin: 10px 0 0 0;
}

.fmdisclaimer {
  padding: 5px 0;
  border-top: 0;
}

.fmreview p,
.fmdisclaimer p {
  font-size: 8pt;
}

.bottomdisclaimer {
  position: absolute;
  bottom: 0.8cm;
  right: 0.8cm;
  left: 0.8cm;
  font-size: 6pt;
}

.rating {
  width: 96px;
}

.MorningStarAnalystRating .rating,
.MorningstarRating .rating,
.ObsrRating .rating,
.CrownRating .rating {
  width: 40px;
}

.pdfperformancechart.chart .chart {
  height: 200px;
  width: 100%;
}

.breakdown table td,
.holding table td {
  padding: 1px 0 1px;
}

.breakdown table td.Weight,
.holding table td.Weight {
  text-align: right;
}

.perfcaveat p,
.performancetable p,
.performancelinechart p {
  margin: 5px 0 0 0;
}

.keyContainer .label {
  font-size: 7pt;
}

.newfundnametag {
  float: right;
  width: 14cm;
}

.newfundnametag p {
  font-size: 18pt;
  font-weight: bold;
  padding: 0 0 0.4cm;
  text-align: right;
  color: var(--teal-black);
}

.fundManagers div.field {
  float: left;
  width: 99%;
  margin: 0 0 0.1cm 0;
}

.fundManagers span.label {
  float: left;
  margin: 0;
  white-space: pre-line;
  width: 48%;
}

.fundManagers span.value {
  float: right;
  white-space: pre-line;
  width: 51%;
  text-align: right;
}

.total td {
  font-weight: bold;
}

.holding {
  position: relative;
}

.holding table {
  text-transform: uppercase;
}

.holding h2 span:last-child {
  font-size: 8pt;
  font-weight: normal;
}

.holding .Name {
  width: 80%;
  line-height: 1;
}

.holding .Weight {
  width: 18%;
}

/*.logo {
	float: right;
	width: 4.3cm;
	margin: 0 10cm 0 0;
}*/
.page1 {
  background: url(images/sw_logo.jpeg) no-repeat 16.2cm 0.5cm;
  background-size: 20% auto;
}

.fmdisclaimer h2 {
  font-size: 8pt;
}

.fundManagers.fundManagers1.managers {
  display: none;
}

.composite1>.compositebody .breakdown.donutchart .chart {
  width: 32% !important;
  float: left;
}

.composite1>.compositebody .breakdown.donutchart table {
  width: 60%;
  float: left;
  margin-left: 5%;
}

.logo {
  float: right;
  margin-right: 128px;
}

.topdisclaimer {
  border: 1.5pt solid #1e47a5;
  margin: 0 0 5px 0;
}

.topdisclaimer:empty {
  display: none;
}

.breakdown td.Key {
  width: 7%;
}

.breakdown td.Name {
  width: 80%;
}

.breakdown td.Weight {
  width: 13%;
}

.page1address {
  left: 1cm;
  position: absolute;
  bottom: 0.6cm;
}

.logo1 {
  background-size: auto 35px;
  background-position: right top;
  height: 50px;
  width: 10cm;
}

/*.Jupiter { background-image: url(Images/Jupiter.png);}
.Schroders { background-image: url(Images/Schroders.png);}
.Newton { background-image: url(Images/Newton.png);}*/

a {
  color: #fff;
  font-weight: bold;
  padding: 2px 0;
  display: block;
}

a:empty {
  display: none;
}

.hyperlinks a {
  color: var(--teal-black);
  font-weight: bold;
  padding: 2px 0 0;
  display: block;
  margin: 0;
}

.breakdown table thead {
  display: none;
}

.CorporateActionStatement:empty,
.CorporateActionStatementRed:empty {
  display: none;
}

.performancetable1 table tr th,
.performancetable1 table tr th {
  background-color: var(--dark-pink) !important;
  color: var(--teal-black);
}

.page1>.row1>.column1>.row1>.riskapproachheading * {
  background-color: var(--dark-pink) !important;
  color: var(--teal-black);
}

.performancetable1 table tr td:nth-child(even),
.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:last-child>td:nth-child(even) {
  background-color: #ededed !important;
}

.performancetable1 table tr td:nth-child(odd),
.page1>.row3>.column1>.row4>.standardtable1>.CustomCss>tbody>tr:last-child>td:nth-child(odd) {
  background-color: #f6f6f6 !important;
}

.page1>.row3>.column1>.row1>.row1>div.CorporateActionStatement.contentSection>.ObjectiveHeading-CorporateActionStatement-FundAim_Objective>u {
  font-weight: bold;
  font-size: 10pt;
}

/*  RiskProfile  */