/********************Edentree Responsive Factsheet************/
@font-face {
    font-family: "HelveticaNeueLT-Thin";
    src: url('fe_img/2D5E01_2_0.eot');
	src: url('fe_img/2D5E01_2_0.ttf') format('truetype'),
		 url('fe_img/2D5E01_2_0.woff') format('woff'),
		 url('fe_img/2D5E01_2_0.woff2') format('woff2'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: "HelveticaNeueLT-Bold";
   src: url('fe_img/Helvetica Neue Bold.eot');
	src: url('fe_img/Helvetica Neue Bold.eot?#iefix') format('embedded-opentype'),
		url('fe_img/Helvetica Neue Bold.woff2') format('woff2'),
		url('fe_img/Helvetica Neue Bold.woff') format('woff'),
		url('fe_img/Helvetica Neue Bold.svg#Helvetica Neue Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
}
a:focus, li:focus, span:focus, input:focus, button:focus {
	outline:0 !important
}
.page {
	width: 700px !important;
	margin: 0px auto;
	padding: 0;
	position: relative;
}
.fe-tabs-tab-ResponsiveFactsheet.fe-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	/* height: 80px; */
	/* 	background: url("fe_img/bottom-line3.png") no-repeat scroll right bottom #FFF !important; */
	background:#fff;
	border: none;
	padding: 0;
}
.fe-asatdate-containers{
	display:none;	
}
.fe-tabs-item.ui-state-default.ui-corner-top {
	text-decoration: none;
	opacity: 1;
	/* height: 65px; */
	margin: 0px 4px 0px 0px;
	border: 0px none;
	background: #efefef none repeat scroll 0% 0%;
	list-style: outside none none;
	font: 12px HelveticaNeueLT-Bold;
	/* width: 210px; */
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-radius: 4px 4px 0 0;
}
.fe-tabs-item.ui-state-default.ui-corner-top a {
	display: table-cell;
	color: #555 !important;
	height: auto;
	white-space: normal;
	/* width: 210px; */
	text-align: center;
	padding: 0 20px;
	float: none;
	vertical-align: middle;
	/* height: 65px; */
}
.fe-tabs-item.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active, .fe-tabs-item.ui-state-default.ui-corner-top.ui-state-hover {
	text-decoration: none;
	/* font: 18px/21px HelveticaNeueLT-Bold; */
	opacity: 1;
	border: 0px none;
	background: none repeat scroll 0% 0% #008B8A !important;
	padding-bottom: 0;
}
.fe-tabs-item.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a,
.fe-tabs-item.ui-state-default.ui-corner-top.ui-state-hover a {
	color: #FFF !important;
}
.fe-tab-Performance.fe-tabs-item.ui-state-default.ui-corner-top a {
    /* padding-top: 17px; */
}
.fe-tabs-container.fe-tabs-container-ResponsiveFactsheet.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
	border: medium none;
	/* min-height:357px; */
	min-height:290px;
	padding: 0;
}
.fe-responsivefactsheet-title.title {
	font: 2.5em/normal "Arial", Helvetica, sans-serif;
	color: #008A8A;
	display:none;
    padding: 0;
    text-align: right;
    background: url("fe_img/logo_image.png") no-repeat left top/auto 80px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 300px;
    margin: 0;
    display: flex;
	align-items: center;
	background-position: top 22px left;
    background-size: auto 80px;
	width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
	font-weight:bold;
}
.fe-section-chart-reset {
	width: 30px;
	height: 30px;
	border: medium none;
	outline: medium none;
	cursor: pointer;
	background: url("fe_img/refresh_30x30.png") no-repeat scroll 0% 0% transparent !important;
	float: right;
	margin: 0 0 10px 0;
	border: none !important;
}
.fe-section-chart-reset:focus {
    border: 0px solid #5897fb;
}
/* .fe-tabs-datacontainer.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-tabs-panel.ui-corner-bottom {
	padding: 0px !important;
} */
.fe-section-chart {
	float: left;
	padding: 0px;
	border: medium none !important;
	width: 99% !important;
	/* margin-top: -23px; */
}
.fe-section-chart-wrap {
	float: left;
	margin-bottom: 0;
	width: 100% !important;
}
.fe-section-chart h5 {
	display: none;
}
.minFsData {
	padding: 0;
}
.fe-footer-container {
	clear: both;
	font-size: 11px;
	padding: 10px 0 0 0px;
	/* height: 0px; */
	/* position: relative;
	top: -11px; */
}
.fe-footer-logo {
	float: right;
	/* margin-top: -25px; */
	z-index: 1000;
	position: relative;
		font-family: HelveticaNeueLT-Bold;
		color:#555
}
.highcharts-legend-item {
    font: 12px Arial, Helvetica, sans-serif !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
  display: none;
}
.ui-dialog-titlebar {
    background: #007474 !important;
    height: 30px;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
  background: transparent url("fe_img/close-dialog1.png") no-repeat scroll 24px 14px !important;
  border: 0px none;
  display: block;
  height: 39px;
  margin: -10px 0px 0px;
  padding: 0px;
  right: 0px;
  top: 10px;
  width: 52px;
}
.ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
  color: #FFF;
  font-weight: normal;
  background: #9ABF28 none repeat scroll 0% 0%;
  border: 0px none;
  outline: medium none;
}
.ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
	background:#007474 !important;
}
.ui-dialog .ui-dialog-buttonpane {
  border-radius: 0px 0px 10px 10px;
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
}
.ui-dialog .ui-dialog-title {
    font: 14px Arial,Helvetica,sans-serif;
    color: #FFF;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
  border-radius: 6px !important;
  padding: 0;
  border: 1px solid #fff;
}
.highcharts-title{
	display:none;	
}
.fe-section-vertical-wrap .fe-section-vertical-val {
    font-size: 12px;
}
 @media screen and (min-width:0px) and (max-width:592px) {
body {
	min-width: 320px;
}
.page {
	width: 98% !important;
 
}
.fe-tabs-tab-ResponsiveFactsheet.fe-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	width: 100% !important;
	height: auto;
}
.fe-tabs-item.ui-state-default.ui-corner-top {
	border-bottom: 1px solid rgb(0, 138, 138) !important;
	width: 100% !important;
	height: auto;
}
.fe-tabs-item.ui-state-default.ui-corner-top a {
	width: 96%;
	padding: 7px 2% 8px;
}
.fe-tab-Performance.fe-tabs-item.ui-state-default.ui-corner-top a {
    padding-top: 7px;
}
.fe-section-chart{
	margin-top: 10px;
}
.fe-section-chart-reset{
	margin-right: 0px;
margin-top: 0px;
}
/* .fe-footer-container {
top: 11px;
} */
}
/* 20-6 changes */
.fe-tabs-item.ui-state-default a /* Li normal text */ {
	letter-spacing: 1px;
	background-image: none;
	padding: 9px 9px 10px 9px !important;
	vertical-align: middle;
	transition: all 0.5s;
	display: block;
	border: 0;
	border-radius: 4px 4px 0 0;
}
.ui-tabs .ui-tabs-panel {
    padding: 15px !important;
    width: 100% !important;
    background-color: #f4f6f8;
    box-sizing: border-box;
}

.fe-section-breakdowns h5,.fe-section-holdings h5{
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 0;
    display: inline-block;
}
.fe-section-breakdowns h5,.fe-section-holdings h5 {
    float: left !important;
    margin-right: 10px;
}
.fe-section-breakdowns h5 + div, .fe-section-holdings h5 + div {
    padding-top: 12px;
}
.breakdownsChart {
    height: 200px !important;
    width: 50% !important;
    clear: left;
}
.fe-section-nesteddata-row .fe-section-vertical-name {
    display: none;
}
.fe-section-breakdowndata-row .BreakdownKey div {
	transition: width 0.3s;
  }
  .fe-section-breakdowndata-row:hover .BreakdownKey div {
	float: left;
	width: 5px;
	margin: 0 10px 0 0px;
	transition: margin 0.1s;
  }
  .showhiderow {
	border-bottom-width: 0;
	display: table;
  }
  .HoldingName {
	width: 85% !important;
	display: table-cell;
	vertical-align: middle;
  }
  .HoldingWeight {
	text-align: center;
	width: 15% !important;
	display: table-cell;
	vertical-align: middle;
  }
  .fe-tab-container-ESGCredentials .section_1_1 {
	width: 100% !important;
  }
  .fe-tab-container-ESG .section_2_1:after {
	content: "If ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“YesÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ appears for this fund, then its fund managers are UNPRI signatories. Being a UNPRI signatory means you undertake a mandatory assessment of your firm wide approach to responsible investment and adherence to the six principles detailed below. Committing to the PRI and adhering to their principlesÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¯can be seen asÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¯a minimum level of compliance to responsible investment. The PRI continues to raise the bar with their assessment and tolerance for reporting submissions, with signatures being removed in the past year due to lack of commitment. The United Nations backed Principles for Responsible Investment was launched by, then UN Secretary General, Kofi Annan in 2006. The PRI is a non-profit membershipÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¯organisationÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¯that aims to promote responsible investment globally. As of 2020 it has around 3000 signatory organisations covering over $100trn in assets under management. Investment managers, asset owners and service providers can become signatory members of the PRI by committing to follow six principles: 1. We will incorporate ESG issues into investment analysis and decision-making processes. 2. We will be active owners and incorporate ESG issues into our ownership policies and practices. 3. We will seek appropriate disclosure on ESG issues by the entities in which we invest. 4. We will promote acceptance and implementation of the Principles within the investment industry. 5. We will work together to enhance our effectiveness in implementing the Principles. 6. We will each report on our activities and progress towards implementing the Principles.";
  }
  .fe-tab-container-ESG .BespokeColumn20 {
	display: none;
  }
  .fe-tab-container-ESGCredentials .fe-section-horizontal-wrap {
	border-bottom: 1px solid #c6d2da;
  }
  .fe-tab-container-ESG .section_1_1 {
	width: 20% !important;
  }
  .fe-tab-container-ESG .section_1_1 .BespokeColumn7 {
	text-align: left;
  }
  .fe-tab-container-ESG .section_1_1 .BespokeColumn7 .fe-section-vertical-name {
	font-weight: bold !important;
  }
  .fe-tab-container-Performance .section_4_1 {
	float: left;
  }
  .fe-tab-container-Performance .section_4_1 h2 {
	font-size: 14px;
	padding: 0;
	margin: 0;
	height: auto;
  }
  .colourKey{
	width:15px;
	height:15px;
  }
  .fe-section-breakdowns .fe-section-vertical-val {
    padding: 5px 1% !important;
    width: auto !important;
    float: none;
    display: inline-block;
}
.BreakdownName,.BreakdownKey,.ItemWeight {
    vertical-align: middle;
    border-bottom: 1px solid #c6d2da;
}
.fe-section-breakdowns .fe-section-vertical-val {
    padding: 5px 1% !important;
    width: auto !important;
    float: none;
    display: inline-block;
}
.fe-section-breakdowns .fe-section-vertical-val {
    font: 14px/15px 'SourceSansProSemiBold', Arial, sans-serif;
}
/* .fe-tab-container-FundInformation .fe-section-horizontal-wrap:nth-of-type(odd), .fe-tab-container-StatisticalFundData .fe-section-horizontal-wrap:nth-of-type(odd), .showhiderow:nth-of-type(even) {
    background: #fff;
} */
.ui-tabs .ui-tabs-panel {
    padding: 15px !important;
    width: 100% !important;
    background-color: #f4f6f8;
    box-sizing: border-box;
}
.fe-section-nesteddata-row .fe-section-vertical-name {
    display: none;
}
.fe-tab-container-Breakdowns .fe-section-breakdowns {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
.fe-section-holdings .fe-section-vertical-val{
	font-size: 14px;
}
.fe-section-holdings .fe-section-vertical-val {
    width: auto !important;
}
.showhiderow:nth-of-type(even) {
    background: #fff;
}
.ui-tabs .ui-tabs-nav li{
	float: none;
}
.fe-tabs-item.ui-state-default.ui-corner-top {
    display: inline-block;
}
.fe-section-breakdowns .fe-section-vertical-name, 
.fe-section-breakdowns .fe-section-vertical-val, 
.fe-section-breakdowns .fe-section-horizontal-name, 
.fe-section-breakdowns .fe-section-horizontal-val {
    background: none transparent !important;
    font-size: 14px !important;
    padding: 2px 5px;
}
.CitiCode {
    position: relative;
}
.ui-logo-container {
    height: 126px;
    display: block;
    margin: 0;
}
.HoldingName.fe-section-vertical-val {
    padding-right: 8px;
}
.fe-tab-container-FundInformation .section_2_2 {
    position: absolute;
    right: 15px;
    left: auto;
    bottom: 15px;
    z-index: 8;
	padding-top: 0;
    width: auto !important;
}
.fe-tab-container-FundInformation .section_2_2 a.fe-icon-chart {
	position: absolute;
    right: 0;
    left: auto;
    bottom: 20px;
    z-index: 9;
}
.fe-tab-container-FundInformation .section_2_2 h5 {
    margin: 30px 0 0 0!important;
}
@media(max-width:767px){
	.breakdownsChart {
		height: auto !important;
	}
	.breakdownsChart,.breakdownsChart + div[role="table"] {
		width: 100% !important;
	}
	.fe-responsivefactsheet-title.title {
		padding-left: 130px;
	}
}
/* Edentree HTML Responsive Factsheet */