table {
    width: 100%;
    border-collapse: collapse;
}

.page {
    margin: 0.8cm 0.8cm;
    width: 20cm !important;
}

/*Fund Name 
    have been classed CSS: FundName*/ 
.FundName {
    font-size: 18pt;
    font-weight: bold;
    color: #000000;
    margin-left: 0.1cm;
}

/*DateAsAtDate
    has been classed CSS: Date*/
.Date {
    font-size: 14pt;
    color: #000000;
    margin-left: 0.2cm;
}

/*TO MAKE THE BACKGROUND COLOURED COLUMN ON LEFT HAND SIDE PAGE 1*/
.page1 > .row2 > .column1 {
    width: 35%;
    height: 25cm;
    background: #eceaea;
    padding: 0cm 0.2cm;
    }

/*TO MAKE ALL THE OTHER PAGE 1 ELEMENTS FIT INTO RIGHT HAND SIDE*/
.page1 > .row2 > .column2 {
    height: 25cm;
    width: 60%;
    margin-left: 2%;
}

/*Important Information
    has been classed on its own CSS: Disclaimers*/
.Disclaimers {
    font-size: 6pt;
}

/* LOOK AT */
.page2 > .row1 > .column1, .page2 > .row1 > .column2 {
    margin-top: 1cm;
    padding-bottom: 0.3cm;
}
    
/*ALL SECONDARY HEADERS*/
h2 {
    font-size: 14pt;
    color: #007651;
    font-weight: bold;
}

/*Performance Table 
    has been classed on its own CSS: PerformanceTable*/

.PerformanceTable th {
    background-color: #284754;
    color: #ffffff;
    height: 0.5cm;
}

.PerformanceTable td.rowheader {
    text-align: left;
    width: 30%;
}

.PerformanceTable td {
    padding: 4px;
    text-align: center;
}

.PerformanceTable .odd td, row1 {
    background-color: #eceaea;
}

/*Performance Chart
    has been classed CSS: GrowthChart */

/* Growth of $100,000 since inception
    has been classed CSS: DiscreteChart*/

/* Key Information Table
    has been classed on its own CSS: KeyInformation*/

.KeyInformation div {
    border-bottom: 0.01cm solid #000000;
}

.KeyInformation .label {
    width: 50%;
    margin-left: 0px;
    font-weight: bold;
    padding: 2px 0px;
}

.KeyInformation .value {
    width: 50%;
    text-align: right;
    padding: 3px 0px;
}

.clear {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
}

/* Asset Allocation Exposure 
    has been classed CSS: AssetAllocation*/


.page1 .key-color {
    height: 2mm;
    width: 2mm;
    margin-top: 6px;
}

/*Underlying Fund Return Performance Table
    hasbeen classed CSS: Holdings*/

.Holdings th {
    background-color: #284754;
    color: #ffffff;
    height: 0.5cm;
}

.Holdings td.rowheader {
    text-align: left;
    width: 50%;
}

.Holdings td {
    padding: 4px;
    text-align: center;
}

.Holdings .odd td, row1 {
    background-color: #eceaea;
}

/* LOOK AT */
/*SPACING SECTIONS*/


/*Gap between Secondary Header & Page 1 content*/
.page1 > .row2 > .column1, .page1 > .row2 > .column2 {
    margin-top: 0.3cm;

    
/*Market Commentary, Economic Outlook, Portfolio Strategy and Investment Objective 
    have ALL been classed CSS: HeaderAndTextSection"*/

.HeaderAndTextSection {
    text-align: justify;
}
