body {
	font-family: Georgia;
	font-size: 8pt;
	line-height: normal;
	color: #000000;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0
}

ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse
}

table td {
	margin: 0;
	padding: 0;
	vertical-align: top
}

table+div+p.footer,
table+.footer {
	margin-top: 8px;
}

h2 {
	font-weight: bold;
	font-size: 9pt;
}

p {
	line-height: normal;
	color: #000000;
	line-height: 1.1;
}

.clear {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

th {
	font-weight: normal;
}

.label {
	line-height: normal;
	margin-left: 0mm;
}

/*----*/
.page {
	height: auto;
	position: relative;
	/*border: 1px solid;*/
}

.column .row {
	margin: 0 0 5px;
}

.secondaryunitsunit {
	margin: 0 0 5px;
}

.column .row:last-of-type {
	margin: 0;
}
.CharacteristicsTable + .compositebody .column .row:last-of-type {
	padding: 0.01mm;
}
.logo {
	background: url("Images/rlamlogo-new.svg") no-repeat center top transparent;
	display: block;
	height: 3.9cm;
	margin: 0 auto 0 auto;
	width: 100%;
	background-size: 4.5cm auto;
}

.header {
	height: 2.8cm;
}

.page1>.row1>.column1,
.page2>.row1>.column1,
.page3>.row1>.column1,
.page4>.row1>.column1 {
	background-color: #8031A7;
	color: #ffffff;
	float: left;
	padding: 0.2cm 0.4cm 0.4cm;
	width: 28.85%;
	height: 29.1cm;
	border-right: 0pt solid #ff5c39;
}

.SFDRWording a {
	color: #fff;
	line-height: 1.3;
	padding-top: .3cm;
	display: block;
}

.page1>.row1>.column1 h2,
.page2>.row1>.column1 h2,
.page3>.row1>.column1 h2,
.page4>.row1>.column1 h2 {
	color: #ff5c39;
	padding: 0 0 4px 0;
}

.page1>.row1>.column1 h2 {
	padding: 0 0 0 0;
}

.page1>.row1>.column2,
.page2>.row1>.column2,
.page3>.row1>.column2,
.page4>.row1>.column2 {
	float: left;
	padding: 0 0 0 2%;
	width: 63%;
}

.page2>.row1>.column2,
.page3>.row1>.column2,
.page4>.row1>.column2 {
	padding: 2% 0% 0 2%;
}

.secondaryunitsunit .label {
	float: left;
	width: 65%;
	margin: 0 0 0.1cm 0;
}

.secondaryunitsunit .value {
	float: right;
	width: 34%;
	text-align: right;
	margin: 0 0 0.1cm 0;
}

.horizontal-list span:first-child {
	font-weight: normal;
}

.page1>.row1>.column2 h2,
.page2>.row1>.column2 h2,
.page3>.row1>.column2 h2,
.page4>.row1>.column2 h2 {
	background-color: #8031A7;
	color: #ffffff;
	padding: 0.1cm 0 0.1cm 0.1cm;
	margin: 0 0 0.2cm 0;
	line-height: 16px;
}

.page3>.row1>.column2 h2,
.page3>.row1>.column2>.row .compositebody {
	margin-top: 0.1cm;
	margin-bottom: 0.15cm;
}

.header .item2 {
	background-color: white !important;
	color: #8031A7 !important;
	font-size: 15pt;
	font-weight: normal;
	padding: 0.4cm 0 0 0 !important;
	text-align: center;
}

.header .FundName,
.header .FundNameWB {
	color: #8031A7;
	font-size: 15pt;
	font-weight: bold;
	padding: 0 0 0.1cm 0;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

.header .item4 {
	color: #8031A7;
	font-size: 9pt;
	font-weight: bold;
	padding: 0 0 0.1cm 0;
	text-align: center;
	/*	text-transform: uppercase;*/
	font-family: Arial, Helvetica, sans-serif;
}

.header .DataAsAtDate {
	color: #8031A7;
	font-size: 12pt;
	padding: 0 0 0.1cm 0;
	text-align: center;
	text-transform: uppercase;
}

.Ratings {
	margin-bottom: 6px;
	display: table;
	width: 98%;
}

.Ratings>p {
	margin-right: 5px;
	float: left;
	line-height: 0;
}

.Ratings>p:empty {
	display: none;
}

/*.CitywireRating{
	float:left;
}*/
/*.RSMRated{
	float:left;
}*/
/*
.ratings img{
	margin-right: 0.1cm;
}
*/
.RSMRated .clientRating {
	/*
    width: 60px;
    height: 60px;
*/
	/*
	width: 40px;
    height: 40px;
*/
}

/*.MstarSilver, .FitchRating{
	margin-right:5px;
	float:left;
}*/
.ratings p .clientRating {
	width: 45px;
	padding-right: 6px;
}

.ratings .RSMRated img {
	/*! margin-top: 28px; */
}

.ratings .HighlyRatedFund img {
	margin-top: 25px;
	padding-left: 2px;
}

.MStarRating .clientRating {
	width: 60px;
}

.MoneyObserver img {
	width: 45px;
}

.MstarSilver .clientRating,
.FitchRating .clientRating {
	width: auto;
	height: 60px;
}

.performancetable th,
.dividend th,
.Charges th,
.performancetable td,
.dividend td,
.Charges td,
.holdings th,
.holdings td,
.breakdown td,
.breakdown th {
	border-bottom: 0.5pt solid #000000;
	padding: 1pt 0;
	text-align: center;
	color: #000000;
}
.breakdown td,
.holdings td {
	border: 0;
	padding: 1pt 0;
}
.breakdown th:last-child, .holdings th:last-child,
.breakdown td:last-child, .holdings td:last-child {
	text-align: right;
	padding: 1pt 0;
}
.breakdown table tr:last-child td,
.holdings table tr:last-child td {
	border-bottom: 0.5pt solid #000000
}

td.rowheader {
	text-align: left;
	width: 28%;
}

td.NameFromWorkbook {
	text-align: left;
	width: 35%
}

.Charges th {
	vertical-align: top;
	padding: 2px 3px;
	word-wrap: break-word;
}

.holdings .Name,
.breakdown .Name,
.Charges .UnitName {
	text-align: left;
}

.holdings .Weight,
.breakdown .Weight {
	/*! text-align: right; */
}

.performancetable .footer,
.holdings .footer {
	margin: 0.3cm 0 0 0;
	color: #000000;
}


.column1 .breakdown,
.maturityprofile {
	margin: 0 0.45cm 0 0;
}

.breakdown .key-color {
	height: 3mm;
	width: 3mm;
}


.breakdown h2 {
	font-size: 10pt;
}

.breakdown td.Key {
	width: 0.6cm;
}

.page1>.row1>.column1 p,
.page2>.row1>.column1 p,
.page3>.row1>.column1 p,
.page4>.row1>.column1 p {
	color: #ffffff;
	line-height: 1;
}

/*.secondaryunits1 > h2, */
.FundOverview>h2,
.contactdetails h2 {
	color: #ffffff !important;
	font-family: arial;
	font-size: 16px !important;
	text-transform: uppercase;
}

/*.column1 h2 {
    font-size: 9pt;
}*/
.horizontal-list div,
.secondaryunitsunit div {
	margin: 0 0 0.1cm 0;
}

.keyWrapper .key-color {
	height: 3mm;
	margin: 0 0.1cm 0 0;
	width: 3mm;
}

.pdfperformancechart .chart {
	/*	height: 6.3cm;*/
	height: 5.5cm;
}

.firstpagecaveat {
	bottom: 0.5cm;
	position: absolute;
	width: 60%;
}

.PageNumbers {
	position: absolute;
	bottom: 0.5cm;
	right: 0.2cm;
}

.page2 .row11 .footer {
	bottom: 2cm;
	width: 62%;
	position: absolute;
}

.highcharts-axis-labels.highcharts-xaxis-labels text {
	font-family: Arial, Helvetica, sans-serif;
}

.manager .field.Photo {
	float: left;
	margin-right: 10px;
}

.manager .field.Name {
	font-size: 10pt;
	font-weight: bold;
}

.StartDate .label {
	display: block;
}

.compositebody {
	position: relative;
}

.holdings .footer {
	bottom: -32px;
	position: absolute;
}

.NoOfHoldings {
	position: absolute;
	margin-top: -5px !important;
}

.NoOfHoldings span {
	margin-bottom: 2px;
	font-weight: bold !important;
}

.breakdown>.chart {
	float: left !important;
	width: 40% !important;
	margin: 0;
	height: auto;
}

.P0To12M,
.P12To24M,
.P24To36M,
.P36To48M,
.P48To60M,
.P3M,
.P6M,
.P12M,
.P36M,
.P60M {
	width: 11%;
}

.dividend .rowheader {
	width: 50%;
}

.horizontal-list.Information .label,
.horizontal-list.Information .value {
	width: 49%;
}

.horizontal-list.Information .value {
	text-align: right;
}

.column1 .row {
	margin-bottom: 3px;
}

.total td {
	border-top: 1px solid #000000;
	font-weight: bold;
}

.fundManagers .manager {
	clear: both;
	min-height: 2.1cm;
	margin-bottom: 0cm;
}

.fundManagers .manager .CitywireRating {
	margin-top: 0.05cm;
}

.fundManagers .manager .CitywireRating img.rating {
	height: 20px;
}

.keyWrapper {
	float: left;
	width: 100% !important;
	white-space: nowrap;
	margin-bottom: 6px;
}

.keyContainer {
	display: inline-block;
	margin-right: 10px;
	width: auto;
	min-width: 25%;
	white-space: nowrap
}

p.footer {
	clear: left;
	margin-top: 3px;
}

.contactdetails {
	margin-top: 15px;
}

img.Photo {
	width: 75px;
}

th.OnGoingCharge {
	width: 120px;
}

th.UnitName {
	color: transparent;
	font-size: 0;
}

th.Weight,
th.Benchmark {
	width: 23%;
	padding: 0 0.5cm;
}

.IsAlphaManager img,
.IsFundManagedByAlphaManager img {
	display: none;
}

.IsAlphaManager.value,
.IsFundManagedByAlphaManager.value {
	background-image: url(images/Alpha_Manager_Rating_RGB.jpg);
	background-size: 100px;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 5px;
	border-radius: 3px;
	width: 90px;
	height: 30px;
	margin-left: 85px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0 10px;
}

.column2 .contentSection {
	/* margin-right: 1%; */
}

.AssetSplitVSBenchmark h2 {
	display: none;
}

.column2 .contentSection.ratingslogos {
	margin: 0;
	width: 100%;
	/*! display: flex; */
}

.column2 .contentSection.ratingslogos p:nth-child(3) {
	/* 	max-width: 65px; */
}

.column2 .contentSection.ratingslogos p .MS.S {
	/*! padding-left: 8px; */
	width: auto;
}

.column1>.row1>.row1>.breakdown,
.column2>.row1>.row1>.breakdown {
	margin-right: 2%;
	width: 98%;
}

.page1>.row1>.column2>.row2 {
	display: table;
	width: 100%;
}

.page1>.row1>.column2>.row2>.column {
	width: auto !important;
	margin-right: 3px;
	min-height: 30px;
	display: table-cell !important;
	float: none !important
}

.MStarSilver .clientRating {
	width: 175px;
}

.clientRating {
	width: 195px;
	margin-bottom: 30px;
}

.FitchAAf img,
.FitchAAAf img {
	width: 75px;
	margin: -10px 10px 0;
}

/*
.MoneyObserver img, .PensionInvest img {
    width: 45px;
}
*/
.MoneyObserverAward img {
	width: 50px;
}

.TheAdviserCentre img.clientRating {
	width: 135px;
}

.ratingslogos {
	/* width: 100%; */
	display: table;
}

.ratingslogos p {
	display: table-cell;
	margin-right: 5mm;
	vertical-align: middle;
	font-size: 0 !important;
	text-align: center;
	margin: 0;
}

.ratingslogos p:empty {
	display: none;
}

.ratingslogos p:last-child {
	margin: 0;
}

.ratingslogos p img {
	/*! margin-right: 8mm; */
	width: 30mm;
}

.CitywireRating .rating {
	width: 25mm !important;
}

.FR3A {
	width: 25mm !important;
}

.RSM {
	width: 20mm !important;
}

.PIP {
	width: 15mm !important;
}

.PIP2018 {
	width: 16mm !important;
}

.HRF {
	width: 20mm !important;
}

.MOR {
	width: 15mm !important;
}

.FMF .label,
.FMF .value {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.FMF .value {
	text-align: right;
}

.FMF .value br {
	display: none;
}

.FMFTextStatic {
	position: absolute;
	bottom: 2.8cm;
	width: 62%;
}

p.RiskWarning {
	font-size: 7.5pt;
}

.pageNumber {
	position: running(pagenumber)
}

@page {
	@bottom-right {
		content: element(pagenumber);
		position: absolute;
		bottom: 1cm;
		right: 0.5cm;
	}
}

.pdfperformancechart .keyContainer .label {
	word-wrap: break-word;
	overflow: hidden;
	width: 85%;
	height: 30px;
	margin-bottom: 15px;
	white-space: initial;
}

/*ESG charctersticts<<<<*/
/*first row yes , no*/
.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row2 .column2,
.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row2 .column3 {
	text-align: center;
}

/* first row>>>>>*/

/*ESg table first col<<<*/
.page3>.row1>.column2>.row3>.row1>.composite1>.compositebody>.row>.column1 .row .text {
	margin-left: 2%;
}

/*table first col>>>*/
/*ESg table 2nd col<<<*/
.page3>.row1>.column2>.row3>.row1>.composite1>.compositebody>.row>.column2 .row .row {
	margin-bottom: 0.5mm;
}

.page3>.row1>.column2>.row3>.row1>.composite1>.compositebody>.row>.column2 .row img {
	margin-left: 40%;
}

/*table 2nd col>>>*/
/*ESg table 3rd col<<<*/
.page3>.row1>.column2>.row3>.row1>.composite1>.compositebody>.row>.column3 .row img {
	margin-left: 40%;
}

/*table 3rd col>>>*/
.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row img,
.page3>div>.column2>.row6>.column>div>.composite>div.compositebody>.row>.column3>.row img {
	width: 7pt;
	height: 7pt;
	margin-left: 0.5cm;
}

.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row2>.column1 {
	height: auto;
	min-height: 5pt;
}

.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row {
	/* border-bottom: 0.25pt solid #000; */
	border-bottom: 1pt solid #000;
}

.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row:first-child {
	/*all rows*/
	/*first row*/

	border-bottom: 1pt solid #000;
}

.page3>div>.column2>.row3>.row1>.composite>.compositebody>.row:last-child {
	/*all rows*/
	/*last row*/

	border-bottom: 1pt solid #000;
}


/*>>>>ESG charctersticts*/
/*ourfund restrictions*/

/*2 tables width<<<*/
.page3>.row1>.column2>.row6>.column1 {
	width: 48%;
	margin-right: 4%;
}

.page3>.row1>.column2>.row6>.column2 {
	width: 48%;
}

/*>>>>>*/
/*2 tables row with icons<<<*/
.page3>div>.column2>.row6>.column>div>.composite>.compositebody>.row {
	/* border-bottom: 0.25pt solid #000; */
	border-bottom: 1pt solid #000;
	margin-bottom: 3px;
}

/*>>>>>*/
/*column1 table with icons<<<*/
.page3>div>.column2>.row6>.column1>div>.composite>.compositebody>.row:first-child {
	border-top: 1pt solid #000;
	padding-top: 3px;
}

.page3>div>.column2>.row6>.column1>div>.composite>.compositebody>.row:last-child {
	border-bottom: 1pt solid #000;
}

/*>>>>>*/
/*column2 table with icons<<<*/
.page3>div>.column2>.row6>.column2>div>.composite>.compositebody>.row:first-child {
	border-top: 1pt solid #000;
	padding-top: 3px;
}

.page3>div>.column2>.row6>.column2>div>.composite>.compositebody>.row:last-child {
	border-bottom: 1pt solid #000;
}

/*>>>>>*/
.page3>div>.column2>.row6>.column>div>.composite>div.compositebody>.row>.column1>.row>img.Icon {
	width: 10pt;
	height: 10pt;
	margin-left: 0.2cm;
}

.page3>.row1>.column2>.row6>.column1>.row1>.composite1>.compositebody>.row>.column1,
.page3>.row1>.column2>.row6>.column2>.row1>.composite1>.compositebody>.row>.column1 {
	float: left;
	width: 15%;
}

.page3>.row1>.column2>.row6>.column1>.row1>.composite1>.compositebody>.row>.column2,
.page3>.row1>.column2>.row6>.column2>.row1>.composite1>.compositebody>.row>.column2 {
	float: left;
	width: 65%;
	vertical-align: middle;
}

.page3>.row1>.column2>.row6>.column1>.row1>.composite1>.compositebody>.row>.column3,
.page3>.row1>.column2>.row6>.column2>.row1>.composite1>.compositebody>.row>.column3 {
	float: left;
	width: 20%;
}

/*2tables tick icons margin-bottom*/
.page3>.row1>.column2>.row6>.column1>.row1>.composite1>.compositebody>.row>.column3>.row1>.row1,
.page3>.row1>.column2>.row6>.column2>.row1>.composite1>.compositebody>.row>.column3>.row1>.row1 {
	margin-bottom: 0;
}

/*>>>our fund*/


/*ESG MEtrics table - not common>>>*/

.page3>div>.column2>.row9>.composite>.compositebody>.row {
	/*all rows*/
	padding-bottom: 0.5mm;
	/* border-bottom: 0.25pt solid #000; */
	border-bottom: 1pt solid #000;
	min-height: 14px;
}

.page3>div>.column2>.row9>.composite>.compositebody>.row:first-child {
	/*all rows*/
	/*first row*/

	border-bottom: 1pt solid #000;
}

.page3>div>.column2>.row9>.composite>.compositebody>.row:last-child {
	/*all rows*/
	/*last row*/

	border-bottom: 1pt solid #000;
}


.page3>div>.column2>.row9>.composite>.compositebody>.row2 .column1 .row {
	height: auto;
	min-height: 5pt;
}

.page3>.row1>.column2>.row9>.composite1>.compositebody>.row>.column {
	width: 15%;
}

.page3>.row1>.column2>.row9>.composite1>.compositebody>.row>.column1 {
	width: 55%;
}

/*ESG metrics table>>>>>*/
.chart {
	height: 340px;
}
.highcharts-text-outline,
.highcharts-label,
.highcharts-text-outline *,
.highcharts-label *{

	font-family: Georgia !important;
	font-size: 8pt;
	line-height: normal !important;
	color: #fff !important;

}
.highcharts-legend-item,
.highcharts-title,
.highcharts-subtitle {
	font-family: Georgia !important;
	font-size: 8pt;
	line-height: normal !important;
	color: #000000 !important;
}

.highcharts-text-outline tspan,.highcharts-text-outline,.highcharts-label *,.highcharts-text-outline * {
	color: #000 !important;
	fill: #000 !important;
	stroke: #fff !important;
	stroke-width:0px !important;
}

.highcharts-text-outline>tspan {
	display: none;
}

.highcharts-title,
.highcharts-subtitle {
	font-size: 10pt !important;
}
.page > .row1 > .column2 .row3 .composite > .compositebody > .row.section {
	min-height: 16px;
}
/*themename: RLAM_EQ_FMF_ESG*/