body {
  font-family: Arial;
  font-size: 8pt;
}
.page {
  position: relative;
  padding: 0;
  padding-bottom: 0;
  width: 21cm;
  height: 29.7cm;
}
.row {
  margin-bottom: 0.3cm;
}
.column > .section {
  background-color: #f2f2f2;
}
.column:first-child > .section {
  margin-left: 0;
}
h1,
h2,
h3 {
  margin: 0;
  color: #3399ff;
}
p {
  margin: 0;
  margin-bottom: 0.2cm;
  /* font-size: 8pt; */
}
.vertical-list div {
  margin-bottom: 0.25cm;
}
.vertical-list div span:first-child {
  color: #9c1915;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}
.section.page {
  background: url(images/header.jpg) no-repeat 0.5cm 0.3cm;
  background-size: 55pt;
}
.page > .row1 {
  border-bottom: 1pt solid #000000;
  background: url(images/SAM-logo.png) no-repeat 17.3cm 0.6cm;
  padding-top: 0.8cm;
  padding-bottom: 0.5cm;
  background-size: 3.3cm;
}
.page2 h2 {
  text-transform: uppercase;
  color: rgb(128, 128, 128);
  font: 12px Arial;
  padding-bottom: 2mm;
}
.PortfolioBreakdownHeader h2 {
  margin: 0.3cm 0 0.15cm 0;
  font-weight: bold;
  font-family: Arial;
  color: rgb(156, 25, 21);
  font-size: 9pt;
  padding: 0;
}
.page1 > .row2 > .column2 > .section {
  background-color: #efefef;
  border-radius: 0.25cm;
  padding: 0.25cm;
}
.tabs.breakdowns {
  border: none;
  margin: 10px;
}
.tabs.breakdowns > .tabpanes {
  border: none;
}
.tabs.breakdowns > .tabpanes > .slider > .tab {
  padding-bottom: 20px;
}
.tabs.breakdowns > .tabbuttons {
  position: absolute;
  bottom: 5px;
  z-index: 10000;
}
.tabs.breakdowns > .tabbuttons > .tab {
  border: none;
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  text-indent: -10000px;
}
/******************************/
.FundName {
  margin: 0 4cm 0 3cm;
}
.FundName p {
  color: rgb(156, 25, 21);
  font: bold 16px Arial !important;
  text-transform: uppercase;
  margin-bottom: 0cm;
  text-align: center;
}
.page1 > .row2 > .column1 {
  float: left;
  width: 6.9cm;
  background: #f2f2f2 !important;
  background-size: 8cm auto;
  display: block;
  color: #000000;
  padding: 0.3cm 0.3cm 0 0.3cm;
  height: 25.7cm;
  border: 1pt solid #19637a;
  margin-left: 0.5cm;
}
.page1 > .row2 > .column1 h2 {
  color: rgb(25, 99, 122);
  font: 12px Arial;
  padding-bottom: 0.1cm;
  font-size: 8pt !important;
}
.TomCaddick p,
.TobyVaughan p,
.AzimMeghji p,
.GrahamAshby p,
.DavidScammell p {
  margin: 0;
  font-size: 8pt;
}
.column:first-child > .section {
  margin-bottom: 0.2cm;
}

.column:first-child > .section > .section {
  margin-bottom: 0;
}
/* .Definitions p {
  font-size: 7pt;
} */
.horizontal-list div {
  padding: 0.3mm 0;
  border-bottom: 0.5pt solid #bfbfbf;
}
.page1 > .row2 .column1 .clear,
.page1 > .row2 .column1 .clear {
  display: none !important;
}
.section.row.row7 .horizontal-list div {
  border-bottom: 0 solid #bfbfbf;
}

.horizontal-list div.clear {
  border: 0;
  padding: 0px;
}
.horizontal-list div span.label {
  color: #000000 !important;
  width: auto !important;
  margin-left: 0;
  font-size: 7pt !important;
  font-weight: normal;
  line-height: 3mm;
}
.ManagerStartDate.horizontal-list div span.label {
  font-size: 7pt;
}
.horizontal-list div span.value {
  color: rgb(89, 89, 89) !important;
  width: auto !important;
  margin-left: 0;
  font-size: 7pt !important;
  font-weight: normal;
  text-align: right;
  line-height: 3mm;
}
.ManagerStartDate.horizontal-list div span.value {
  font-size: 7pt;
}
.ShareClassInformation.horizontal-list div.item4 span.value,
.FundStatistics.horizontal-list div.item5 span.value {
  font-size: 7pt;
}
.horizontal-list div.DividendPayDates span.value,
.horizontal-list div.DividendXDDates span.value {
  width: 80% !important;
}
.horizontal-list div.FundManagementGroupName span.label,
.horizontal-list div.FundManagementGroupName span.value {
  width: 50% !important;
}
.FundManagers .manager .Name .label {
  display: none;
}
.FundManagers .manager .Name {
  display: inline-block;
}
.FundManagers .manager .Name .value {
  font-size: 11px;
  /*font-style: italic;*/
  display: block;
  font-weight: bold;
}
.manager {
  margin-bottom: 0.1cm;
  display: inline-block;
  width: 100%;
}
.page1 > .row2 > .column1 > .row5,
.page1 > .row2 > .column1 > .row5 > .row,
.page1 > .row2 > .column1 > .row6,
.page1 > .row2 > .column1 > .row6 > .row {
  margin: 0;
}
.FundManagers .manager .Photo {
  display: block;
  float: right;
  height: auto;
  margin-left: 0.5cm;
  width: 47px;
}
.FundManagers .manager .Photo .label {
  display: none;
}
.FundManagers .manager .Photo .value {
  width: 47px;
  /*! height: 47px; */
  float: right;
  overflow: hidden;
  padding-bottom: 3mm;
}
.FundManagers .manager .Biography .label {
  display: none;
}
.FundManagers .manager .Biography .value {
  display: block;
  margin-top: 2mm;
  font-size: 8pt;
  text-align: justify;
  line-height: 9pt;
}
.page1 > .row2 > .column2 {
  float: right;
  width: 12.4cm;
}
.page1 > .row2 > .column2 > .section {
  background: none;
  padding: 0 0 0 0;
  border-radius: 0;
  margin-right: 0.5cm;
  margin-left: 0;
  margin-bottom: 0.1cm;
}
.page1 > .row2 > .column2 > .section.row > .row {
  margin-bottom: 0.05cm;
}
/*.CumulativePerformanceChartConditionOne {
      border-top: 1pt solid #9c1915;
      padding: 0.25cm 0 0 0;
  }*/
.page1 .row2 .column2 > .row1 {
  margin-right: 0.5cm;
}
.page1 .row2 .column2 > .row1 {
  margin-top: 0cm;
}
.FundObjectives {
  background: #fff;
  padding-top: 0.1cm;
  border-bottom: 1pt solid #9c1915;
  padding-bottom: 0.2cm;
}
.CumulativePerformance,
.AnnualPerformance,
.ManagerStartDate {
  border-bottom: 1pt solid #9c1915;
  padding-bottom: 0.15cm;
}
.RiskandRewardProfile {
  border-top: 1pt solid #9c1915;
  padding-top: 0.15cm;
}
.RiskRating {
  height: 2.5cm;
}
.clientRating {
  width: 10cm;
  max-height: 3cm;
}
.RatingsLogos {
  position: absolute;
  bottom: 0.2cm;
}
.RatingsLogos p {
  /*! float: left; */
  display: table-cell;
  vertical-align: top;
  padding-right: 0.2cm;
  margin-right: 0.1cm;
}
.RatingsLogos p:empty {
  padding: 0;
}
.RatingsLogos .clientRating {
  height: 1cm;
  width: auto;
  /*! max-height:3cm; */
}
.RiskandRewardProfile.vertical-list div {
  margin: 0 0 0;
}
.RiskandRewardProfile.vertical-list div.RiskRating span:first-child {
  display: none;
}
.RiskandRewardProfile.vertical-list div.RiskRating span:last-child {
  width: 100%;
}
.page1 > .row2 > .column2 > .section h2 {
  color: rgb(128, 128, 128);
  font: 12px Arial;
  padding-bottom: 0.1cm;
}
.page1 > .row2 > .column2 > .section h2 b {
  font-weight: normal;
}
.keyWrapper .label {
  font-size: 7pt !important;
  line-height: 1mm;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5em;
}
th {
  font-weight: normal;
  font-size: 8pt;
}
table td {
  margin: 0;
  padding: 1.2mm 0 1mm;
  vertical-align: top;
  font-size: 8pt;
  text-align: right;
  line-height: 5pt;
}
.AnnualPerformance table {
  margin: 0;
}
.keyContainer {
  height: 3mm;
}
.key-color {
  display: block;
  width: 3mm;
  height: 2mm;
}
table td {
  border-bottom: 1pt dotted #bfbfbf;
}
th {
  background-color: #ffffff;
  color: #000000;
  padding: 1mm 0;
  font-weight: bold;
  border-bottom: 1pt dotted #000000;
}
.unitWorkbook td,
.ranking td {
  text-align: right;
}
.unitWorkbook td {
  min-width: 0.6cm;
}
.performancetable th:first-child {
  width: 38%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th:first-child {
  width: 31%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.P1M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.P3M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.P6M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.PYTD {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.P36M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.P12M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable th.P60M {
  width: 9.8%;
}

.page1 > .row2 > .column2 > .row2 .performancetable td.P1M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable td.P3M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable td.P6M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable td.PYTD {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable td.P36M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable td.P12M {
  width: 9.8%;
}
.page1 > .row2 > .column2 > .row2 .performancetable td.P60M {
  width: 9.8%;
}

/*.performancetable th.P0To12M  {width: 13.8%;}
  .performancetable th.P12To24M { width:13.8%; }
  .performancetable th.P24To36M { width:13.8%; }
  .performancetable th.P36To48M { width:13.8%;}
  .performancetable th.P48To60M { width:13.8%; }
  
  .performancetable td.P0To12M  { width:13.8%; }
  .performancetable td.P12To24M  { width:13.8%; }
  .performancetable td.P24To36M  { width:13.8%; }
  .performancetable td.P36To48M { width:13.8%; }
  .performancetable td.P48To60M { width:13.8%; }*/

.performancetable th {
  text-align: right;
  width: auto;
  font-size: 7pt;
}
td.rowheader {
  text-align: left;
  width: 25%;
  font-weight: bold;
  color: #9c1915;
  /*! text-transform: uppercase; */
  line-height: 7pt;
}
.pdfperformancechart .chart {
  height: 3.8cm;
}
.page2 > .section {
  margin: 0 0.5cm;
}
.page2 .section.row.row8 {
  background-color: #f2f2f2;
}
.page2 .row {
  margin-bottom: 0;
}
.page2 > .row1 {
  margin: 0;
}
.page2 > .row5 {
  margin-bottom: 0;
  background-color: #f2f2f2;
}
.PortfolioHoldings {
  border-top: 1pt dotted #000000;
  padding: 0.5cm 0.5cm 0;
}
.PortfolioHoldings .Name {
  line-height: 7pt;
  text-align: left;
  width: 40%;
}
.PortfolioHoldings .Weight {
  width: 8%;
  text-align: right;
}
.PortfolioHoldings .spacer {
  width: 4%;
}
.page2 .breakdown,
.page2 .holding {
  border-top: 1pt solid #9c1915;
  padding: 2mm 3mm;
  background-color: #f2f2f2;
}
.page2 .breakdown {
  padding: 2mm 4mm 0 4mm;
}
.page2 .holding {
  border: 0;
}
.page2 .breakdown table,
.page2 .holding table {
  margin-bottom: 0;
}
.page2 .breakdown table th,
.page2 .holding table th {
  display: none;
}
.page2 .breakdown table td,
.page2 .holding table td {
  padding: 0.06cm 0;
}
.page2 .holding table td,
.page2 .holdings table td,
.page2 .Holding table td,
.page2 .Holdings table td,
.page2 .breakdown.holding table td,
.page2 .breakdown.holdings table td {
  padding: 0.5mm 0;
  line-height: 8pt;
  font-size: 7.5pt;
  text-transform: uppercase;
}
.page2 .holding table td.Name {
  width: 43%;
}
.page2 .holding table td.Weight {
  width: 6%;
  text-align: right;
}
.page2 .Holdings table td.spacer,
.page2 .Holding table td.spacer,
.page2 .holdings table td.spacer,
.page2 .holding table td.spacer {
  width: 0.5cm;
}
.holding .Name {
  text-align: left;
  text-transform: uppercase !important;
}
.breakdown .Key {
  text-align: left;
  width: 5%;
}
.breakdown .Name {
  text-align: left;
  padding-left: 3pt;
}
.breakdown .Weight {
  text-align: right;
}
.breakdown td.Name {
  line-height: 8pt;
  text-transform: uppercase;
}
.page2 > .row2 > .row1 > .breakdown1 table {
  width: 50% !important;
  float: left !important;
}
.breakdown .chart {
  width: 125px !important;
  float: left !important;
  margin-right: 10.5%;
  margin-top: -8px;
}
.page2 .vertical-list {
  background-color: #f2f2f2;
  border-top: 1pt solid #9c1915;
  border-bottom: 1pt solid #9c1915;
  padding: 3mm 4mm;
}
.page2 .vertical-list > div {
  width: 25%;
  float: left;
  margin: 0;
}
.page2 .vertical-list > div span {
  display: block;
  text-align: center;
  width: 100%;
}
.page2 .vertical-list > div span.label {
  font-size: 7pt;
  font-weight: bold;
}
.page2 .vertical-list > div span.value {
  font-size: 7pt;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  min-height: 12px;
  padding: 1mm 0;
}
.Disclaimer p {
  font-size: 7pt;
  margin-bottom: 0.2cm;
  line-height: 1;
}
.Disclaimer .item2 + p {
  border-bottom: 1px solid #9c1915;
  padding-bottom: 0mm;
  margin-bottom: 1mm;
}
.Disclaimer .item3 + p,
.Disclaimer .item3 + p + p + p {
  color: #9c1915;
  text-align: center;
}
.Disclaimer {
  background: url(images/header.jpg) no-repeat 100% 100%;
  padding-bottom: 1.2cm;
  position: absolute;
  bottom: 0cm;
  left: 0.5cm;
  right: 0.5cm;
  padding-top: 0;
}
.RiskandRewardIndicator p {
  margin: 0;
  font-size: 6.5pt;
}
.FundObjectives p.ObjectiveText,
.FundObjectives p.ShortFundObjective {
  margin: 0;
  line-height: 1.1;
}
.Definitions p {
  margin: 0;
}
p:empty {
  margin: 0;
}
p.DataAsAtDate-FundCurrencyCode,
p.DataAsAtDate {
  margin-bottom: 0.05cm;
  font-size: 7pt;
}

h2 small,
small small,
small {
  font-size: inherit;
}

/*Updated - 5/12/2017*/

.RatingLogos {
  position: absolute;
  bottom: -6px;
}
.RatingLogos img:nth-child(2) {
  margin-top: 20px;
}
.RatingLogos img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 63px;
}
.Countries {
  text-align: center;
  position: absolute;
  bottom: 42px;
  width: 83%;
}
.horizontal-list .FundManagers span.label {
  width: 40% !important;
}
.horizontal-list .FundManagers span.value {
  width: 60% !important;
}
.AssetAllocation h2,
.breakdown h2 {
  padding-bottom: 1mm;
}
.breakdown td {
  font-size: 7.5pt;
}
div.ACD p {
  margin-bottom: 0;
}
div.ACD {
  border-top: 1pt solid #9c1915;
  margin-top: 5px;
  /* padding: 2px 0; */
}
/* End */

/* Updated- 15-05 */

.page1 > .row2 > .column1 > .row4 {
  margin-bottom: 0px !important;
}
.page1 > .row2 > .column1 > .row6 {
  margin-top: 0.2cm;
}

.page1 .row9 p,
.page1 .row10 p,
.page1 .row11 p,
.page1 .row12 p,
.page1 .row13 p,
.page1 .row9,
.page1 .row10,
.page1 .row11,
.page1 .row12,
.page1 .row13 {
  margin-bottom: 0 !important;
}

.page1 > .row2 > .column1 .row9,
.page1 > .row2 > .column1 .row10,
.page1 > .row2 > .column1 .row11,
.page1 > .row2 > .column1 .row12,
.page1 > .row2 > .column1 .row13 {
  font-size: 6.2pt;
}

.BenchmarkOverride > .value {
  font-size: 6.2pt !important;
}

.Definitions p, .DefinitionsAddOn1 p, .DefinitionsAddOn2 p {
  padding-bottom: 0.1cm;
  font-size: 7pt !important;
}
.ManagerBiography, .DefinitionsAddOn3 p {
  font-size: 7pt !important;
}
p:empty {
  display: none;
}
/* .row9 .Definitions p b,
.DefinitionsAddOn1 p b,
.DefinitionsAddOn3 p b {
  font-size: 7pt;
}

.row9 .Definitions p,
.DefinitionsAddOn1 p,
.DefinitionsAddOn3 p {
  font-size: 6.5pt;
} */

/*Santander*/
