@charset "UTF-8";
@font-face {
  font-family: "FontFontRegular";
  src: url("images/FontFont - Infra Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontFontBold";
  src: url("images/FontFont - Infra Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontFontLight";
  src: url("images/FontFont - Infra Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Akkurat Light";
  src: url("images/Akkurat Light.eot");
  src: local("ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬ ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€š ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€š ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬ ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬ ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€š ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬ ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬ ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€š ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬ ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº"), url("images/Akkurat Light.woff") format("woff"), url("images/Akkurat Light.ttf") format("truetype"), url("images/Akkurat Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-----------------------------------*/
body {
  font-family: "FontFontLight";
  font-size: 8pt;
  font-weight: normal;
  line-height: 9pt;
  color: #221E1F;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: transparent;
}

table td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.clear {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.page {
  position: relative;
}

/*.page > .section.row { padding-bottom: 5pt}*/
.page > .section.row:before,
.page > .section.row:after {
  content: "";
  display: table;
}

.page > .section.row:after {
  clear: both;
}

.contentSection {
  margin: 0 0 0cm 0;
}

.contentSection h2 {
  text-transform: uppercase;
  color: #003b48;
}

/*page 1 starts*/
.header {
  padding: 0.5cm 0 0 0cm;
  width: 12.8cm;
}

.header h2 {
  color: #0f3358;
  font-size: 22pt;
  text-transform: uppercase;
  font-family: "MyriadPro-Bold";
  padding: 0 0 5px 0;
}

.page1 > .row1 {
  margin-bottom: 0;
}

.page1 > .row4 > .column1 {
  width: 48%;
  padding-right: 2%;
}

.page1 > .row2 > .column2 {
  float: left;
  width: 50%;
}

.header p {
  color: #0f3358;
  font-size: 12pt;
  font-weight: normal;
  padding: 0 0 15px 0;
}

.performancefooter p {
  width: 65%;
  display: block;
  padding: 0px 0px 10px 0px;
  margin: 0 20px;
  font-size: 7.5pt;
}

.topsectionbody .column1,
.topsectionbody .column2 {
  width: 50%;
  float: left;
}

.topsectionbody .row2 {
  margin-bottom: 0;
}

.topsectionbody,
.aboutservice,
.fundManagers,
.compositeinternational,
.text1.marketcommentary {
  border-bottom: 1pt dotted #043b46 !important;
  margin-bottom: 0.2cm;
}

.compositeinternational .compositeinternational {
  border-bottom: 0 !important;
}

.topsectionbody {
  padding-bottom: 0.2cm;
}

.marketcommentary .marketcommentary,
.marketcommentary .MarketCommentary {
  border: 0;
}

.performancetable.contentSection,
.riskstats.contentSection {
  padding: 0;
  position: relative;
}

/*
.KeyFacts.contentSection, .riskstats.contentSection{
	margin-top: 0.3cm;
}
*/
.performancetable.contentSection {
  margin-top: 0.25cm;
  margin-bottom: 0;
}

.performancetable table tr th:first-child {
  width: 7cm;
}

.HTMLtable {
  margin: 0;
}

.performancetable table tr th,
.HTMLtable table tr th {
  width: 2.2cm;
  width: 1.4cm;
  text-align: left;
  padding: 0.2cm 0.2cm;
  font-family: "FontFontRegular";
  font-weight: normal;
}

.performancetable table tr td {
  width: 2.2cm;
  text-align: left;
  padding: 0.14cm 0.2cm;
  font-family: "FontFontRegular";
  font-weight: normal;
}

.performancetable td.rowheader {
  width: 10cm;
}

.performancetable table tr th,
.HTMLtable table tr th,
.RiskStatistics tr:first-child th {
  font: 7pt "FontFontBold";
  line-height: 1.1;
}

.HTMLtable table tr th:last-child {
  width: 3cm;
}

.ChargesInfo {
  margin-top: 0.2cm;
}

th.PSinceLaunch {
  width: 3.2cm !important;
}

.riskstats table tr:first-child th:first-child {
  width: 3.5cm;
}

.page1 > .row5 > .column2 {
  width: 56% !important;
}

.LaunchDate span.label,
.FundBenchmarkName span.label,
.HistoricYieldQC span.label {
  width: 3.5cm;
}

/*.LaunchDate span.value, .FundBenchmarkName span.value, .HistoricYieldQC span.value { width: 6cm;}*/
.riskstats table tr:first-child th {
  width: 1.4cm;
  text-align: left;
  font-family: "FontFontRegular";
  font-weight: normal;
}

.performancetable.contentSection h2,
.riskstats.contentSection h2 {
  position: absolute;
  top: 0;
  padding: 0.2cm 0.2cm;
  font: 7pt "FontFontBold";
  font-size: 8pt;
  color: #fff;
}

.performancetable.contentSection h2,
.KeyFacts.contentSection h2,
.KeyFacts2.contentSection h2,
.RiskStatistics tr:first-child {
  font: 7pt "FontFontBold";
}

/*.KeyFacts2, .risktable + .compositebody { padding-top: 0.2cm;}*/
.KeyFacts.contentSection h2 font {
  font-size: 7.5pt;
}

.performancetable table th,
.riskstats table th,
.HTMLtable table th {
  /* background-color: #003b48; */
  background-color: #181818 !important;
  color: #fefaf9;
  padding: 0.2cm;
  border-right: 0px solid #8799ab;
  text-align: right;
  text-transform: uppercase;
  font-family: "FontFontBold";
}

.performancetable table td,
.riskstats table td,
.HTMLtable table td {
  background-color: #ffffff;
  color: #4c4d4f;
  font-weight: normal;
  padding: 0.12cm 0.2cm;
  border-right: 0px solid #8799ab;
}

.performancetable table .odd td,
.riskstats table .odd td,
.HTMLtable table .odd td {
  background-color: transparent;
}

.performancetable table .even td,
.riskstats table .even td,
.HTMLtable table .even td {
  background-color: #eeefef;
}

.performancetable table td.rowheader,
.riskstats table td.rowheader,
.HTMLtable table td.rowheader {
  text-align: left;
}

.performancetable p.footer {
  padding: 10px 0 0 0;
}

.page1 > .row3 > .column1,
.page1 > .row2 > .column1 {
  float: left;
  width: 47%;
  padding-right: 2%;
  margin-bottom: 0.1cm;
}

.page1 > .row2 > .column2 {
  border-left: 1pt dotted #043b46;
}

.page1 > .row3 > .column2 {
  float: right;
  width: 49.8%;
  margin-left: 1%;
}

.page2 > .row4 > .column1 {
  float: left;
  width: 48%;
  border-right: 1pt dotted #043b46;
  padding-right: 10px;
}

/*.compositebody {margin-bottom: 0.2cm; padding: 0.2cm 0;}*/
.composite1.composite {
  /*    border: 1px solid #000;*/
}

.composite1.composite.topsection {
  border: none;
}

.key-color {
  display: block;
  height: 2mm;
  width: 2mm;
  margin: 2px 0 0 0;
  border-radius: 50%;
}

.label {
  line-height: normal;
}

/* column 2 (right side content)*/
.horizontal-list div {
  border-bottom: 1px solid #cfd6de;
  padding: 0.1cm 0;
  overflow: visible;
}

.underlyingfundfacts div.item2 {
  border-bottom: 0px solid #bfc1c4;
}

.horizontal-list .AnnualCharge .label,
.horizontal-list .OnGoingCharge-OnGoingChargeDate .label {
  width: 65%;
}

.horizontal-list .AnnualCharge .value,
.horizontal-list .OnGoingCharge-OnGoingChargeDate .value {
  width: 33%;
}

.horizontal-list .label {
  color: #cfd6de;
  font-size: 10pt;
  width: 50%;
  margin-left: 0;
}

.ChargesInfo.horizontal-list .label {
  width: 80%;
}

.ChargesInfo.horizontal-list .value {
  width: 20%;
}

.fundfacts .value,
.underlyingfundfacts .value,
.horizontal-list .value {
  /* color: #cfd6de; */
  /* font-size: 10pt; */
  font-weight: normal;
  width: 48%;
  text-align: right;
  float: right;
}

.underlyingfundfacts div.item2 span.value {
  float: left;
  text-align: left;
  width: auto;
  display: block;
  font-family: "MyriadPro-Regular";
  font-size: 10pt;
}

.keyWrapper {
  margin: 0 0 0.1cm 0.2cm;
  font-size: 7.5pt;
}

.keyContainer {
  height: 5mm;
}

svg {
  font-family: "FontFontLight", Arial, "sans-serif" !important;
}

/*
.performancelinechart
{
font-size: 7.5pt !important;
fill: #4c4d4f;
}
*/
/*page 1 ends*/
/*page 2 starts*/
/*page 2 right content*/
.page2 .holding table th {
  background-color: #0f3358;
  color: #ffffff;
  font-size: 10pt;
  padding: 5px;
  border: 0px solid #939699;
}

.page2 .holding table th.Name {
  width: 80%;
  text-align: left;
}

.page2 .holding table td {
  background-color: #ffffff;
  color: #4c4d4f;
  font-size: 10pt;
  font-weight: normal;
  padding: 5px 5px 0 5px;
  border: 0px solid #939699;
  text-transform: uppercase;
}

.page2 .holding table .odd td {
  background-color: #ffffff;
}

.page2 .holding table .even td {
  background-color: #cfd6de;
}

.dividend table th {
  background-color: #0f3358;
  color: #cfd6de;
  font-size: 8pt;
  font-weight: normal;
  padding: 5px 5px 0 5px;
  border-right: 0px solid #939699;
  word-break: break-all;
  text-align: right;
}

.dividend table td {
  color: #4c4d4f;
  font-size: 8pt;
  font-weight: normal;
  padding: 5px 5px 0 5px;
  border-right: 0px solid #939699;
  word-break: break-all;
  text-align: right;
  background-color: #ffffff;
}

.dividend table .rowheader {
  text-align: left;
}

.holding,
.breakdown,
.launchdate {
  margin: 0;
  position: relative;
}

.breakdown.contentSection {
  padding-top: 0;
}

.AssetBreakdown.breakdown.contentSection {
  padding-top: 0;
  padding-bottom: 0.2cm;
  margin-bottom: 0.2cm;
  border-bottom: 1pt dotted #043b46;
}

.breakdown table {
  float: right !important;
  width: 48% !important;
}

.page2 .breakdown table {
  width: 100% !important;
  float: none !important;
}

.breakdown table th {
  text-align: left;
}

.breakdown table th.Weight,
.breakdown table td.Weight {
  text-align: right;
}

.topholdings table {
  float: left !important;
  width: 100% !important;
}

.topholdings.breakdown table,
.topholdings table {
  float: right;
  width: 100%;
}

.topholdings table th,
.topholdings table td {
  padding: 0.045cm 0;
}

.topholdings table th.Name,
.topholdings table td.Name {
  text-align: left;
}

.topholdings table th.Weight,
.topholdings table td.Weight {
  text-align: right;
}

.breakdown .footer {
  left: 195px;
  position: absolute;
  top: 4px;
  text-transform: lowercase;
}

.compositecharges {
  /*! top: -0.32cm; */
  /*! position: relative; */
}

.ChargesInfo h2 {
  background-color: #181818 !important;
  padding: 0.235cm 0.2cm;
  font: 7pt "FontFontBold";
  color: #fefaf9 !important;
  margin: 0 !important;
  text-transform: uppercase;
}

.ChargesInfo.horizontal-list div.TER {
  background-color: #fcfbf9;
  padding: 0.15cm;
}

.ChargesInfo.horizontal-list div.TER .label {
  font-size: 7.5pt;
  font-weight: normal !important;
  color: #4c4d4f;
  text-align: left;
}

.page2 .breakdown table td {
  color: #4c4d4f;
  font-size: 7.5pt;
  font-weight: normal;
  padding: 0 0 2px 0;
}

.breakdown .chart {
  float: left !important;
  width: 45% !important;
}

.page2 .breakdown table td.Weight {
  text-align: right;
}

.page2 .key-color {
  display: block;
  height: 3mm;
  width: 3mm;
  margin: 0px 5px;
  border-radius: 15px;
  float: left;
}

.page2 th.Weight,
.page2 td.Weight {
  text-align: right;
}

.page2 .lastpagecaveat {
  font-size: 7pt;
  background-color: #faba32;
  color: #3F545C;
  position: absolute;
  bottom: 2cm;
  right: 0;
}

.page2 .lastpagecaveat .contactDetailsHeader {
  font-size: 11pt;
  padding: 0 0 5px 0;
  color: #3F545C !important;
  display: block;
}

.page2 .lastpagecaveat p.item2 {
  margin: 0 0 20px 0;
}

/*page 2 ends*/
.fundfactscaveats {
  margin: 0 0 10px 0;
}

.fundfactscaveats p {
  padding: 0px 0px 3px 0px;
  margin: 0;
}

.fundManagers .field .label {
  margin-left: 0;
  font-size: 10pt;
  padding: 0 0 5px 0;
}

.fundManagers .field .value {
  margin-left: 0;
  font-size: 6.6pt;
  padding: 0 0 5px 10px;
  line-height: 1;
}

/*
.manager{
	display: table;
	clear: both;
	width: 100%;
	margin-top: 10px;
}
*/
.evenManager {
  width: 48%;
  float: left;
  padding-right: 2%;
}

.oddManager {
  width: 50%;
  float: right;
  padding-left: 0;
}

.manager:first-child {
  margin-top: 0;
}

.field.Photo {
  margin: 0 5px 0 0;
  float: left;
  min-height: 3.6cm;
}

.field.Photo .label,
.field.Name .label,
.field.Biography .label {
  display: none;
}

.field.Photo .value,
.field.Name .value,
.field.Biography .value {
  padding: 0;
}

/*
.fundManagers .field.Name .value{
	font-size: 8pt;
}
*/
.field.Photo img {
  width: 120px;
}

.FullHoldings.breakdown .footer {
  width: 87%;
  top: 50px;
  left: 20px;
  line-height: 10px;
}

.FullHoldings.breakdown .footer:first-letter {
  text-transform: uppercase;
}

.FullHoldings.breakdown table {
  margin-top: 40px;
}

.FullHoldings.breakdown table td.Weight,
.FullHoldings.breakdown table tr:last-child {
  display: none;
}

.FEcaveat {
  position: absolute;
  bottom: 1px;
  left: 20px;
  width: 12.5cm;
}

.page2 .holding h2 span.SectionHeadingSmall {
  font-size: 8pt;
  font-weight: normal;
  position: absolute;
  left: 200px;
  top: 5px;
}

.page2 .holding table {
  margin: 0;
}

.holding .footer {
  right: 0px;
  position: absolute;
  top: 5px;
}

.page1footer {
  bottom: 30px;
  left: 0.6cm;
  position: absolute;
  width: 62%;
}

.performancechart .chart {
  height: 4.5cm;
  width: 9cm;
}

.header .DocumentDate {
  padding-bottom: 5px !important;
}

.logo {
  width: 5cm;
  height: 1cm;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  top: 1cm;
  /* right: 1cm; */
}

.topsectionbody .column2 .section.row.row1 {
  margin-bottom: 0;
}

.RiskRating img {
  width: 100%;
}

.field.Photo img {
  width: 80px;
}

/*
.row {
    margin-bottom: 0.2cm;
}
*/
.contentSection.page1header,
.contentSection.page2header {
  /*
      background-image: url(images/logo-new.svg);
      background-repeat: no-repeat;
      background-size: 6cm;
  	background-position: 14.1cm 1cm;
  */
  /* background-color: #043B47; */
  padding: 1cm 1cm 0cm 1cm !important;
  height: 2cm;
  position: absolute;
  width: 19cm;
  top: 0;
  left: 0;
}

.page2header {
  height: 2.5cm;
  background-position-y: center;
}

.page2header h2 {
  width: 70%;
}

.page2 .composite1.composite {
  border: 0;
}

.DocumentDate {
  font: 8pt "FontFontRegular";
  margin: 7.5pt 0 0 0;
}

.PerformanceChart {
  margin-top: 0;
  margin-bottom: 0;
}

.PerformanceChart .footer {
  font-size: 7pt;
  margin-bottom: 0.2cm;
}

.PerformanceChart .footer + b {
  font-family: "FontFontBold";
  font-weight: normal;
  margin-bottom: 0.1cm;
  display: table;
}

.contentSection.Objective {
  padding-top: 0;
  margin-bottom: 0.2cm;
  padding-bottom: 0.2cm;
  border-bottom: 1pt dotted #043b46;
}

/*
.LaunchDate span:first-child, .FundBenchmarkName span:first-child, .HistoricYieldQC span:first-child {
	width: 4cm;
}
.LaunchDate span:last-child, .FundBenchmarkName span:last-child, .HistoricYieldQC span:last-child {
	width: 4cm;
}
*/
.PerformanceChart h2 span {
  display: block;
  font-family: "FontFontLight", Arial, "sans-serif";
  font-size: 7pt;
  color: #221E1F;
}

.FundNameFull {
  margin: 0;
  font: 12pt "FontFontBold" !important;
}

.row h2,
.topholdings table tr:first-child th,
.field.Name span,
.contactinfo .item3 {
  font: 11pt "FontFontBold";
  margin: 0 0 0.1cm 0;
  color: #043B47;
  padding-top: 0.1cm;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column2 > .row4 > .column2,
.page2 > .row7 > .row1 > .composite1 > .compositebody > .row2 > .column1 > .row1 > .column2 {
  float: none !important;
  width: 100% !important;
  /*! padding-left: 100px; */
}

.page2 > .row7 > .row1 > .composite1 > .compositebody > .row2 > .column2 > .row1 > .column2 {
  float: none !important;
  width: 100% !important;
  /*! padding-left: 100px; */
}

.page2 > .row7 > .row1 > .composite1 > .compositebody > .row2 > .column2 {
  width: 48% !important;
  padding-left: 10px;
}

.ChargesInfo h2 {
  padding-top: 0.2cm;
}

.contactinfo p > b {
  font: 7.5pt "FontFontBold";
  display: inline-block;
  margin-bottom: 1pt;
  color: #043b46;
}

.AssetBreakdown table {
  margin-top: 5pt;
}

.AssetBreakdown table td {
  padding: 2pt 1pt;
}

.PerformanceChart .chart {
  width: 9cm;
  height: 3.5cm;
  margin-top: 0.1cm;
}

.page1header h2,
.page1header p {
  color: #000000;
  text-transform: uppercase;
}

/*
.contentSection {
    padding: 0.2cm 0;
}
*/
.DefaqtoAward img,
.DefaqtoRatingsImage img,
.DefaqtoGold img {
  width: 65px;
  margin-top: 0.2cm;
}

.page1header h2 {
  width: 70%;
  font-size: 12pt;
}

/*
.page1header h2 br,.page2header h2 br{
    display:none;
}
*/
.contentSection.importantinfo {
  margin-top: 0;
}

.contentSection.importantinfo p {
  font-size: 7pt;
  line-height: 0.95;
}

.contentSection.importantinfo p .ImportantInformation-DataAsAtDate {
  font-family: "FontFontBold";
}

.contentSection.importantinfo b {
  font-weight: normal;
}

.contentSection:not(.risktextcaveat):empty {
  padding: 0;
  margin: 0;
}

.vertical-list .SynapticRiskRating span,
.vertical-list .DynamicPlannerRating span,
.vertical-list .QuilterMPS span,
.vertical-list .GrowthAssets span,
.vertical-list .BestFit span {
  text-align: center;
  width: 100%;
  color: #4c4d4f;
  font-weight: normal;
}

.contactdetails + div.compositebody {
  background-color: #EAECED;
  height: auto;
  padding: 0.2cm;
  width: 19cm;
  position: absolute;
  bottom: 4cm;
  left: 1cm;
  box-sizing: border-box;
}

.contactdetails + div.compositebody .row {
  margin: 0;
}

.contactinfo {
  width: 5cm;
}

.contactinfo br:first-child {
  display: none;
}

.contactinfo.contentSection {
  padding: 0;
  padding-right: 0.5cm;
  margin: 0;
}

.footer2ndpage {
  width: 12.5cm;
  padding-left: 0.5cm;
  padding-bottom: 0;
  margin-bottom: 0;
  border-left: 1pt dotted #043b46;
  font-size: 7.5pt;
}

.contactinfo h2 {
  display: none;
}

.recentawards + .compositebody {
  padding-left: 0cm;
  margin-bottom: 0.1cm;
}

.recentawards + .compositebody .column1,
.recentawards + .compositebody .column2,
.recentawards + .compositebody .column3,
.recentawards + .compositebody .column4 {
  width: auto !important;
}

.recentawards + .compositebody .column {
  padding: 0 0.2cm;
  box-sizing: border-box;
}

.recentawards + .compositebody .column:first-child {
  padding-left: 0;
}

.recentawards + .compositebody .column img {
  max-width: 1.5cm;
  height: auto !important;
  max-height: 100px !important;
}

.recentawards + .compositebody .column .ManagerImage img {
  height: 94px !important;
  max-width: 94px !important;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column2 > .row4 > .column1 {
  padding: 0;
}

.row .ManagerText h2 {
  padding: 0;
}

.page2 > .row7 > .row1 > .composite1 > .compositebody > .row2 > .column2 > .row1 > .column1,
.page2 > .row7 > .row1 > .composite1 > .compositebody > .row2 > .column1 > .row1 > .column1 {
  width: auto !important;
}

.compositebody .column .ManagerImage img {
  padding-right: 0.2cm;
}

.recentawards + .compositebody .column5 {
  width: 33% !important;
}

.recentawards + .compositebody .column5 img {
  max-width: 5.5cm;
  height: auto !important;
}

.recentawards + .compositebody .column6 {
  width: 12.5% !important;
}

.recentawards + .compositebody .DefaqtoAward,
.recentawards + .compositebody .DefaqtoRatingsImage {
  max-width: 1.5cm;
  /*height: auto !important;*/
  width: 65px;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column1 > .row2 > .column {
  float: none;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column1 {
  padding-right: 13px;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column2 {
  width: auto !important;
  /*! padding-left: 2%; */
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column1 {
  width: 49% !important;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column2 .ManagerText .item3 {
  line-height: 7.5pt !important;
  padding-bottom: 0.1cm;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column2 .row3 .item2 {
  text-indent: -30px;
}

.page2 > .row5 > .composite1 > .compositebody > .row2 > .row1 > .composite1 > .compositebody > .row2 > .column2 {
  width: 51% !important;
  padding: 0;
}

.PraemiumLogo .item2 {
  padding-top: 0.3cm;
}

/*#highcharts-iyjtx4s-3 {
    display: none;
}*/
.riskprofiles.compositeheader,
.recentawards.compositeheader {
  margin: 0;
}

.riskprofiles.compositeheader {
  padding-bottom: 0;
}

.compositeheader {
  padding: 0;
}

.riskprofiles.compositeheader {
  font-size: 8pt;
  display: inline-block;
  position: relative;
  top: 0.5cm;
}

.riskprofiles.compositeheader + .compositebody {
  border: 1pt dotted #043b46;
  padding-top: 0.5cm;
}

.riskprofiles.compositeheader h2 {
  margin: 0 0 0 0.2cm;
  color: #003b48;
}

.riskprofiles.compositeheader + .compositebody .contentSection {
  padding: 0;
  text-align: center;
}

.FinaMetricaRating {
  height: 62px;
}

.page2 p[class$=Rating] {
  height: 63px !important;
  display: table-cell;
  vertical-align: middle;
}

.page2 p[class$=Rating] img {
  width: 100% !important;
  max-height: 1cm;
  max-width: 3cm;
  height: auto !important;
}

.page2 p[class$=Rating].EValueRiskRating img {
  width: 2cm !important;
}

.page2 p[class$=Rating].DefaqtoRiskRating img {
  width: 2.5cm !important;
}

.page2 p[class$=Rating].SynapticRiskRating img {
  width: 2.5cm !important;
  /*! margin: 0 9% !important; */
}

.page2 p[class*=Rating] {
  /* text-align : center !important;*/
}

.page2 > .row3 > .row2 {
  display: table;
  width: 100%;
}

.page2 > .row3 > .row2 > .column {
  width: auto;
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.page1 > .row5 > .column1 {
  width: 42% !important;
  margin-right: 2%;
}

.page1 > .row2 > .composite1 > .compositebody > .row6 > .composite1 > .compositebody > .row2 > .column1,
.page1 > .row2 > .composite1 > .compositebody > .row6 > .composite1 > .compositebody > .row2 > .column2,
.page1 > .row2 > .composite1 > .compositebody > .row6 > .composite1 > .compositebody > .row2 > .column3,
.page1 > .row2 > .composite1 > .compositebody > .row6 > .composite1 > .compositebody > .row2 > .column4,
.page1 > .row2 > .composite1 > .compositebody > .row6 > .composite1 > .compositebody > .row2 > .column5 {
  width: 20%;
}

.riskprofiles .label,
.vertical-list.recentawards .label {
  margin-left: 0;
}

.text1.marketcommentary {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  padding-bottom: 0.2cm;
  margin-bottom: 0.2cm;
  margin-top: 0;
  padding-top: 0;
}

.aboutservice {
  padding-bottom: 0.2cm;
  margin-bottom: 0.2cm;
  margin-top: 0;
  padding-top: 0;
  /*! border-top: 1pt dotted #043b46; */
  overflow: hidden;
}

.aboutservice p {
  float: left;
  vertical-align: top;
}

.aboutservice p:nth-child(2n+1) {
  float: right;
}

.contentSection.aboutservice {
  clear: both;
  /*	-webkit-column-count: 2; 
  -moz-column-count: 2; 
  column-count: 2;*/
}

.fundManagers {
  padding-bottom: 0.3cm;
  /*    margin-top: 0.3cm;*/
  border-bottom: 0;
}

.recentawards.compositeheader {
  /*    float: left;*/
}

/*
.recentawards + .compositebody img{
	max-width: 100px;
}
*/
.recentawards.compositeheader + .compositebody > .row {
  margin-bottom: 0;
}

.aboutservice p,
.text1.marketcommentary p {
  margin: 0 0 0.1cm 0;
}

.Biography span {
  color: #043B47;
}

/*.page2 > .row4 > .composite1 > .compositebody > .row2 > .column1 > .row1 > .column1,
.page2 > .row4 > .composite1 > .compositebody > .row2 > .column1 > .row1 > .column2,
.page2 > .row4 > .composite1 > .compositebody > .row2 > .column2 > .row1 > .column1,
.page2 > .row4 > .composite1 > .compositebody > .row2 > .column2 > .row1 > .column2
{ width: 20%;}*/
.page2header h2,
.page2header p {
  color: #ffffff;
  text-transform: uppercase;
}

.page2header h2 {
  font-size: 12pt;
}

.page1,
.page2,
.page3 {
  padding: 0.8cm 1cm 0 1cm;
  width: 19cm;
  /*! border: 1px solid; */
}

.horizontal-list div {
  width: 100%;
}

.LaunchDate,
.HistoricYieldQC {
  background-color: #C5CBCE;
}

.KeyFacts.contentSection {
  padding: 0;
  margin: 0;
}

.KeyFacts h2,
.risk h2,
.risktable + .compositebody h2,
.KeyFacts2 h2,
.KeyFacts3 label,
.RiskStatistics tr:first-child {
  background-color: #181818 !important;
  padding: 0.235cm 0.2cm;
  font: 7.5pt "FontFontBold";
  font-size: 8pt;
  color: #fefaf9;
  margin: 0;
  text-transform: uppercase;
}

.risktable + .compositebody h2 {
  font-size: 7.5pt;
  padding: 0.235cm 0.2cm;
}

.KeyFacts.horizontal-list div,
.KeyFacts2.horizontal-list div,
.risktable + .compositebody .row3,
.risktable + .compositebody .row4,
.KeyFacts3 .VolatilityTarget1-VolatilityTarget2,
.ChargesInfo.horizontal-list div {
  padding: 0.15cm !important;
  border: 0;
  box-sizing: border-box;
}

.KeyFacts.horizontal-list div.clear,
.ChargesInfo.horizontal-list div.clear {
  padding: 0 !important;
}

.PerformanceCaveat,
.PeformanceCaveat {
  margin: 0.1cm 0 0cm 0;
  padding-top: 0;
  font-size: 5.5pt;
  line-height: 1;
}

.DataAsAtDate-DocumentProductionDate {
  margin-bottom: 0.25cm;
}

.SecondaryBenchmarkCaveat,
.ChargesDisclaimer {
  font-size: 5.5pt;
  line-height: 1;
}

.SecondaryBenchmarkCaveat p,
.ChargesDisclaimer p {
  margin-bottom: 0.1cm;
}

.ChargesDisclaimer {
  margin: 0 0 0.2cm;
  font-size: 7pt;
}

.KeyFacts.horizontal-list div.FundBenchmarkName,
.risktable + .compositebody .row3,
.KeyFacts3 .VolatilityTarget1-VolatilityTarget2 {
  background-color: #fcfbf9 !important;
}

.risktable + .compositebody .contentSection {
  margin: 0;
}

.KeyFacts.horizontal-list div:nth-child(2n+1),
.KeyFacts2.horizontal-list div:nth-child(2n+1),
.risktable + .compositebody .row4,
.ChargesInfo.horizontal-list div:nth-child(2n+1) {
  background-color: #eeefef !important;
}

.KeyFacts.horizontal-list div:nth-child(2n),
.KeyFacts2.horizontal-list div:nth-child(2n),
.KeyFacts2.horizontal-list div:nth-child(2n),
.ChargesInfo.horizontal-list div:nth-child(2n) {
  background-color: transparent !important;
}

.KeyFacts2.horizontal-list div.AnnualInvestment + div.clear {
  display: none;
}

.risktable + .compositebody .contentSection p {
  margin-left: 0.3cm;
}

.risktable + .compositebody .contentSection p.item2 {
  margin-left: 0;
}

.HistoricYieldQC + div.clear {
  display: none;
}

.KeyFacts3 .VolatilityTarget1-VolatilityTarget2 {
  padding: 0 !important;
}

.KeyFacts3 .VolatilityTarget1-VolatilityTarget2 .label {
  background-color: #003b48;
  display: block;
  width: 100%;
  padding: 0.235cm 0.2cm;
  font: 7.5pt "FontFontBold";
  font-size: 7.5pt;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  float: none;
}

.KeyFacts3 .VolatilityTarget1-VolatilityTarget2 .value {
  float: left;
  padding: 0.1cm;
}

.ChargesInfo.horizontal-list .label,
.ChargesInfo.horizontal-list .value,
.KeyFacts.horizontal-list .label,
.KeyFacts.horizontal-list .value,
.KeyFacts2.horizontal-list .label,
.KeyFacts2.horizontal-list .value,
.VolatilityTarget1-VolatilityTarget2 .label,
.VolatilityTarget1-VolatilityTarget2 .value,
.risktable + .compositebody p {
  /*	margin: 0 !important;*/
  font-size: 7.5pt;
  font-weight: normal !important;
  color: #4c4d4f;
  text-align: left;
  line-height: 1;
}

.ChargesInfo.horizontal-list .value {
  text-align: right;
}

.KeyFacts.horizontal-list .value {
  text-align: right;
}

.quilterratings.contentSection {
  padding: 0;
  margin: 0;
}

.quilterratings.horizontal-list div {
  border: 0;
}

.horizontal-list div.QuilterMPS,
.horizontal-list div.GrowthAssets,
.horizontal-list div.BestFit {
  width: 32%;
  padding: 0;
  box-sizing: border-box;
  border: 1pt solid #fff;
  border-left-width: 0;
}

.horizontal-list div.QuilterMPS {
  border-left-width: 1pt;
  box-sizing: border-box;
}

.quilterratings.horizontal-list .label,
.quilterratings.horizontal-list .value {
  width: 100%;
  padding: 0.15cm;
  box-sizing: border-box;
  text-align: center;
  font-size: 8pt;
  color: #4c4d4f;
}

.quilterratings.horizontal-list .label {
  border-bottom: 1pt solid #fff;
}

.KeyFacts div:first-of-type {
  margin-left: 0;
}

.contactdetails + .compositebody .column1 {
  float: left;
  width: 27% !important;
}

.PlatformLogos {
  margin-bottom: 0;
  text-align: center;
}

/*
.recentawards + .compositebody .contentSection p { text-align:center; max-width:270px; margin:0 auto; }
.recentawards + .compositebody .contentSection p { text-align:center; max-width:270px; margin:0 auto; }
*/
.recentawards + .compositebody .column div.PlatformLogos p {
  max-width: 100% !important;
}

.recentawards + .compositebody .column div.PlatformLogos p img {
  max-height: 112px !important;
  width: 532px !important;
  max-width: 100%;
}

.risktextcaveat {
  font-size: 6pt;
  padding-bottom: 0.3cm;
  margin-bottom: 0.2cm;
  border-bottom: 1pt dotted #043b46;
}

.keyContainer {
  display: block;
}

.recentawards + .compositebody .row2 .column:nth-last-child(2) {
  padding-right: 0 !important;
}

.recentawards + .compositebody .row2 .column:nth-child(1) {
  padding-left: 0;
}

/**** Disclaimer old ****/
.page3 [class*=Disclaimer]::footnote-call {
  content: "*";
  color: transparent;
}

.page3 [class*=Disclaimer]::footnote-marker {
  content: "*";
  display: none;
}

.page3 .row4 .compositebody {
  float: footnote;
}

/****  ****/
.page3 > .row4 > .composite1 > .compositebody > .row2 > .row1 > .column2 {
  padding: 0 0.4cm;
}

.page3 > .row4 > .composite1 > .compositebody > .row2 > .row1 > .column1,
.page3 > .row4 > .composite1 > .compositebody > .row2 > .row1 > .column2,
.page3 > .row4 > .composite1 > .compositebody > .row2 > .row1 > .column3 {
  width: auto;
  display: table-cell;
  float: none;
  vertical-align: middle;
}

@page {
  counter-reset: "";
  /*@footnote{
  border:0;
        margin: 1cm;
    }*/
}
.managers .column1 {
  float: left;
  width: 14%;
}

.managers .column2 {
  float: left;
  width: 36%;
}

.managers .column3 {
  float: left;
  width: 14%;
}

.managers .column4 {
  float: left;
  width: 36%;
}

.PraemiumLogo img {
  max-width: 8cm !important;
  height: auto !important;
}

.contactinfoSuccession {
  font-size: 6.5pt;
}

.page2 > .row6 > .row1 > .composite1 > .compositeinternationalbody > .row2 > .column1 {
  width: 49%;
}

.page2 > .row6 > .row1 > .composite1 > .compositeinternationalbody > .row2 > .column2 {
  width: 51%;
}

.page2 > .row6 > .row1 > .composite1 > .compositeinternationalbody > .row2 > .column2 > .row4 > .column1 {
  width: auto;
  padding-right: 13px;
}

.page2 > .row6 > .row1 > .composite1 > .compositeinternationalbody > .row2 > .column2 > .row4 > .column2 {
  width: 70%;
}

.page2 > .row6 > .row1 > .composite1 > .compositeinternationalbody > .row2 > .column1 > .row2 > .column1,
.page2 > .row6 > .row1 > .composite1 > .compositeinternationalbody > .row2 > .column1 > .row2 > .column2 {
  float: none;
}

.compositeinternational .column2 {
  width: 50% !important;
}

.compositeinternational .column1 {
  /*Added as per Quilter Docs ticket PBI 194694 */
  width: 9.5cm !important;
}

.compositeinternational .column1 .column1,
.compositeinternational .column1 .column2 {
  float: none !important;
}

.compositeinternational .row4 .column1 {
  width: auto !important;
  padding-right: 13px;
}

.compositeinternational .row4 .column2 {
  width: 70% !important;
}

.page2 > .row9 > .row1 > .composite1 > .compositebody > .row2 > .column1 > .row1 > .column1,
.page2 > .row9 > .row1 > .composite1 > .compositebody > .row2 > .column2 > .row1 > .column1 {
  width: auto;
}

.page2 > .row9 > .row1 > .composite1 > .compositebody > .row2 > .column1 > .row1 > .column2,
.page2 > .row9 > .row1 > .composite1 > .compositebody > .row2 > .column2 > .row1 > .column2 {
  width: 70%;
}

.PlatformLogos img {
  max-height: 112px !important;
  width: 532px !important;
  max-width: 100%;
}

.page2 > .row5 > .composite1 > .compositeplatformbody > .row2 > .row2 > .column {
  width: auto;
  padding: 0 0.2cm;
}

.WealthManagerAwardNorth img,
.WealthAdviserAwardCH img,
.WealthAdvisorAward img,
.WealthAdviserAwardCL img {
  max-width: 1.5cm;
  height: auto !important;
  max-height: 100px !important;
}

.ARC3DAward img {
  max-width: 5.5cm;
  height: auto !important;
}

.compositedisclaimers {
  position: absolute;
  bottom: 4cm;
  left: 1cm;
  right: 1cm;
}

.text1.marketcommentary h2 {
  border-bottom: 0 !important;
}

.performancetable table tr th:not(.rowheader),
.performancetable table tr td:not(.rowheader) {
  text-align: center;
  padding: 0.2cm 0.05cm;
}

.performancetable table tr th.PYTD,
.performancetable table tr th.P12M,
.performancetable table tr th.P36M,
.performancetable table tr th.P60M {
  min-width: 40px;
}

.performancetable table,
.HTMLtable table {
  background-color: #003b48 !important;
}

.performancetable > table .odd,
.HTMLtable > table .odd {
  background-color: #fff !important;
}

.performancetable > table .even,
.HTMLtable > table .even {
  background-color: #eeefef !important;
}

.page2 p[class$=Rating].OxfordRiskRating img {
  max-height: 1.8cm !important;
  max-width: 2.3cm !important;
}

/*PDF Reactor V11 migration Changes*/
.animation-None.section.contentSection.text.text1.HTMLPerfTable table tr th {
  text-align: left;
}

.StrategyOverviewImage {
  text-align: center;
}

.StrategyOverviewImage img {
  max-height: 5.5cm;
  width: auto !important;
}

.column1 .breakdown1 h2 {
  color: #181818 !important;
  font-size: 9.5pt;
}

.column1 .breakdown1 {
  background: #f2f2f2;
  padding: 0.25cm;
}

.column1 .breakdown1 table td {
  border-bottom: 1pt dotted #043b46;
}

.KeyFacts.contentSection {
  padding: 0;
  margin: 0;
}

.KeyFacts.horizontal-list div:nth-child(2n),
.KeyFacts2.horizontal-list div:nth-child(2n),
.KeyFacts2.horizontal-list div:nth-child(2n),
.ChargesInfo.horizontal-list div:nth-child(2n) {
  background-color: white !important;
}

.KeyFacts div:first-of-type {
  margin-left: 0;
}

.KeyFacts.horizontal-list div,
.KeyFacts2.horizontal-list div,
.risktable + .compositebody .row3,
.risktable + .compositebody .row4,
.KeyFacts3 .VolatilityTarget1-VolatilityTarget2,
.ChargesInfo.horizontal-list div {
  padding: 0.15cm !important;
  border: 0;
  box-sizing: border-box;
}

.horizontal-list div {
  width: 100%;
}

.horizontal-list div {
  float: left;
  /* width: 99%; */
}

.KeyFacts.horizontal-list div:nth-child(2n+1),
.KeyFacts2.horizontal-list div:nth-child(2n+1),
.risktable + .compositebody .row4,
.ChargesInfo.horizontal-list div:nth-child(2n+1) {
  background-color: #eff1f4;
}

.KeyFacts h2,
.risk h2,
.risktable + .compositebody h2,
.KeyFacts2 h2,
.KeyFacts3 label {
  padding: 0.235cm 0.2cm;
  margin: 0;
  text-transform: uppercase;
}

.clear {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  clear: both;
  display: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: transparent;
}

.performancetable table tr th,
.RiskStatistics table tr th,
.HTMLtable table tr th {
  /* width: 2.2cm; */
  width: 1.4cm;
  text-align: left;
  padding: 0.2cm 0.2cm;
}

.performancetable table th,
.RiskStatistics table th,
.riskstats table th,
.HTMLtable table th {
  padding: 0.2cm;
  border-right: 0px solid #8799ab;
  text-align: right;
  /* text-transform: uppercase; */
}

.performancetable > table .odd,
.HTMLtable > table .odd,
.RiskStatistics table .odd {
  background-color: white !important;
}

.performancetable table .odd td,
.riskstats table .odd td,
.HTMLtable table .odd td,
.RiskStatistics table .odd td {
  background-color: white;
}

.performancetable table td,
.riskstats table td,
.HTMLtable table td,
.RiskStatistics table td {
  background-color: #ffffff;
  color: #4c4d4f;
  font-weight: normal;
  padding: 0.12cm 0.2cm;
  border-right: 0px solid #8799ab;
}

.performancetable > table .even,
.HTMLtable > table .even,
.RiskStatistics table .even {
  background-color: #eeefef !important;
}

.performancetable table .even td,
.riskstats table .even td,
.HTMLtable table .even td,
.RiskStatistics table .even td {
  background-color: #eeefef;
}

.performancetable1 > table tr:first-child {
  background-color: #efefef;
}

.performancetable table tr th:not(.rowheader),
.performancetable table tr td:not(.rowheader) {
  text-align: center;
  padding: 0.2cm 0.05cm;
}

.RiskText {
  padding: 0.25cm;
}

.page2 .breakdown,
.page2 .holding {
  border-top: 1pt solid #9c1915;
  padding: 2mm 3mm;
  background-color: #f2f2f2;
}

.page2 .breakdown {
  padding: 0mm 4mm 2mm 4mm;
}

.breakdown1.AssetBD.breakdown.contentSection.section {
  display: inherit;
  overflow: auto;
}

.page2 .holding {
  border: 0;
}

.page2 .holding h2 {
  color: #808080;
  font: 12px Arial;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.page2 .breakdown table,
.page2 .holding table {
  margin-bottom: 0;
}

.page2 .breakdown table th,
.page2 .holding table th {
  display: none;
}

.page2 .breakdown table td,
.page2 .holding table td {
  padding: 1mm 0;
}

.page2 .holding table td,
.page2 .holdings table td,
.page2 .Holding table td,
.page2 .Holdings table td,
.page2 .breakdown.holding table td,
.page2 .breakdown.holdings table td {
  padding: 0.5mm 0;
  line-height: 8pt;
  font-size: 7.5pt;
  text-transform: uppercase;
}

.page2 .holding table td.Name {
  width: 43%;
}

.page2 .holding table td.Weight {
  width: 6%;
  text-align: right;
}

.page2 .Holdings table td.spacer,
.page2 .Holding table td.spacer,
.page2 .holdings table td.spacer,
.page2 .holding table td.spacer {
  width: 0.5cm;
}

.holding .Name {
  text-align: left;
  text-transform: uppercase !important;
}

.breakdown .Key {
  text-align: left;
  width: 0.4cm;
}

.breakdown .Name {
  text-align: left;
  padding-left: 3pt;
}

.breakdown .Weight {
  text-align: right;
}

.breakdown td.Name {
  line-height: 8pt;
}

.AssetAllocation.breakdown td.Name {
  width: 5.5cm;
}

.AssetAllocation.breakdown table {
  width: 72.5% !important;
}

.page2 > .row2 > .row1 > .breakdown1 table {
  width: 50% !important;
  float: left !important;
}

.breakdown .chart {
  width: 180px !important;
  float: left !important;
  margin-right: 0.2cm;
  /*! margin-left: 7%; */
}

.page2 > .row3 > .breakdown1.AssetBD table {
  width: 72.5% !important;
  float: none !important;
}

.breakdown table td {
  border-bottom: 1px dotted #000;
}

.spacer {
  padding: 0px 8px !important;
}

.row3 .breakdown .Name {
  padding-left: 2mm;
}

.chart {
  height: 4.5cm;
}

/* .page1 {
	background: url(images/logo.jpg);
	background-size: 6cm auto !important;
    background-position: 14.3cm 1cm;
	background-repeat: no-repeat;
} */
.pdfperformancechart1 {
  padding-top: 0.5cm;
}

.row {
  margin-bottom: 0.5cm;
}

.column > .section {
  margin-left: 0.5cm;
}

.page1 > .row2 > .column2 > .section {
  background-color: #efefef;
}

.RiskText {
  padding: 0.25cm;
  background-color: #efefef;
}

.FundName {
  font-size: 24pt !important;
  padding-top: 0 !important;
}

h2.WBFundName {
  font-size: 20pt;
}

.performancetable,
.RiskStatistics,
.KeyFacts {
  border-top: 1pt solid #9c1915;
}

.page2 .Footer p {
  position: fixed;
  bottom: 0;
  padding: 0cm 1cm 1cm 0cm;
  font-size: 7pt;
}

/*M_G_theme*/

/*# sourceMappingURL=theme.css.map */
