@font-face {
    font-family: 'Calibri';
    src:url('Images/Calibri-Bold.woff2') format('woff2'),
        url('Images/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri-Light';
    src:url('Images/Calibri-Light.woff2') format('woff2'),
        url('Images/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src:url('Images/Calibri.woff2') format('woff2'),
        url('Images/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.row {
	margin-bottom: 0;
}
.page2 .Compositeborderbody .row{
	margin-bottom: 0;
}
.column>.section {
	margin-left: .5cm
}
.column:first-child>.section {
	margin-left: 0
}
h1, h2, h3 {
	color: #39F
}
a{
	color: #000;
	text-decoration: none;
}
.page1 a{
		color:#000;
	}
    	.page>.row1 {
		margin-top: 1cm;
	}
.vertical-list div {
	margin-bottom: .25cm
}
.vertical-list div span:first-child {
	color: #39F
}
body {
	font-family: Calibri-Light, Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	line-height: normal;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
	color: #231F20;
	 
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
table {
	width: 100%;
	border-collapse: collapse
}
table td, table th {
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
h2 {
	font-family: Calibri;
	font-weight: bold;
		color: #262A82;
		font-size: 12pt;
	line-height: 1.2;
}
.compositeheader.whataretherisks h2{
	font-size: 20pt;
	line-height: 24pt;
	height: auto;
	color: #262A82;
	background: no-repeat;
	padding: 0;
	margin: 0.2cm 0 0.3cm;
}
.compositeheader.whataretherisks{
	padding: 0;
}
.compositeheader.whataretherisks +.compositebody>.row{
	/*! width: 50%; */
	float: none;
	display: inline-block;
}
.compositeheader.whataretherisks ,.compositeheader.whataretherisks+.compositebody{
	padding-left: 0.6cm;
}
.compositeheader.whataretherisks +.compositebody{
	margin-bottom: 0;
/* 	display: inline-block; */
	column-count: 2;
	column-gap: 0.6cm;
}
 .OverviewHeader {
    /*! margin-bottom: 0.2cm; */
}
.page1 b{
    color: #262A82;
}
p {
	margin-bottom:0.1cm;
}
.text:not(.Header) p {
    line-height:1.3;
}
.TDFOverview {
    margin-bottom: 0.4cm;
}
p:empty{
    margin: 0;
    display: none;
}
b{
	font-family: Calibri;
	font-weight: bold;
}
.page4 b{
	/* font-size: 10pt; */
}
.clear { 
	margin: 0!important;
	padding: 0!important;
	border: 0!important
}
.page {
	position: relative;
	width: 19cm;
	height: 28.2cm;
    padding: 1cm 1cm .5cm;
    background: url(Images/tpt_logo.png) no-repeat 15.5cm 1cm/auto 2.88cm;
}
.page1 {
	background: url(Images/trust_logo.svg) no-repeat 15.35cm 1cm/auto 1.37cm;
	background-size: 131px 51px !important;/*PDF reactor V11 migration changes*/
width: 17.4cm;
height: 28.2cm;
padding: 1cm 2.1cm .5cm 1.5cm;
}

.page1::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #9f248f;
    height: 29.7cm;
    width: 0.6cm;
}
.logo{
	width: 5cm;
    height: 2cm;
    position:absolute;
    right:6.3cm;
    top:1cm;
	display: none;
}
.Header, .header,.page4 > .row2 > .text1 {
    /* border-bottom: 1px solid #000; */
    padding: 0.2cm 0.4cm;
    position: relative;
}
.Header:before, .header:before{
	/* content: ''; */
	width: 2.5pt;
	height: 100%;
	position: absolute;
	top: -0.2cm;
	left: 0;
	background-color: #9f248f;
}
.Header:after, .header:after{
	/* content: ''; */
	width: 2.5pt;
	height: 100%;
	position: absolute;
	top: -0.2cm;
	left: 9cm;
	background-color: #9f248f;
}
.page>.row2>.contentSection.Header, .header,.page4 > .row2 > .text1 {
    /* margin-bottom: 0.5cm; */
	border-left: 4pt solid #9F248F;
	border-right: 4pt solid #9F248F;
	padding-left: 0.5cm; 
	width: 10cm;
}
.page.page1>.row2>.contentSection.Header{
	border-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	width: auto;
}

.Header .QeDataAsAtDate, .header .QeDataAsAtDate,.page4 .QeDataAsAtDate,
.page5 .QeDataAsAtDate,.page5 .QeDataAsAtDate a,
.page6 .QeDataAsAtDate,.page6 .QeDataAsAtDate a {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	/*! font-weight: bold; */
	font-size: 18pt;
	color: #9F258F;
    text-transform:uppercase;
    margin: 0 0 0.2cm;
}
.Header .FundNames,.page4 .FundNames,.page5 .FundNames,.page5 .FundNames a,
.page6 .FundNames,.page6 .FundNames a {
    /* margin-bottom: 0.5cm; */
    font-family: Calibri;
	font-weight: bold;
    font-size: 16pt;
    color: #262A82;
}
.page4 > .row3 p b {
    font-weight: normal;
}
.page4 h3.TableHeader {
    color: #ad178d;
	margin-bottom: 15px;
	min-height: 20px;

}
.page4 > .row4{
		margin-top:0.2cm;
}
.FundRangeHeader{
    /* margin-bottom: 0.5cm; */
    font-family: Calibri;
	font-weight: bold;
    font-size: 30pt;
    color: #262A82;
    line-height: 0.9;
    padding-bottom: 10px;
}
.NameSubHeader{
	font-size: 18pt;
color: #9F258F;
	font-family: Calibri;
	font-weight: bold;
}
.NameSubText{
	font-size: 16pt;
color: #262A82;
	font-family: Calibri;
	font-weight: bold;
}
.Header .PensionSchemeName,.page4 .PensionSchemeName,.page5 .PensionSchemeName,.page5 .PensionSchemeName a ,
.page6 .PensionSchemeName,.page6 .PensionSchemeName a {
    font-size: 30pt;
    color: #262A82;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0 0 0.1cm;
    font-weight: bold;
    line-height: 1;
}
.page:not(.page1) .Header .PensionSchemeName,.page4 .PensionSchemeName,.page5 .PensionSchemeName,
.page5 .PensionSchemeName a,.page6 .PensionSchemeName,.page6 .PensionSchemeName a {
	font-size: 15pt;
}
.Header .FundNameFull, .header .FundNameFull {
	color: #e2056f;
	font-size: 15pt;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	margin-bottom:0.5cm;
}
.InvestmentObjective h2{
	color: #9f248f;
	font-size: 11pt;
  font-family: Calibri;
	font-weight: bold;
	margin-bottom:0.2cm;
}
.ObjectiveText{
	font-size: 10pt;
}
.Warningtext p {
	color: #5a589c;
	font-size: 12pt
}
.Intro,.Intro a{
	color: #9F258F;
    font-size: 10pt;
}
.Intro a{
	text-decoration: underline;
}
.page1 .composite{
	
} .page5 .composite, .Notes  {
	border: 0.75pt solid #6d6e71;
	border-top:0;
	margin-bottom: 0.2cm;
}
.page1 .breakdown {
	position: relative;
	border: 0.75pt solid #6d6e71;
	border-top:0;
}
.breakdownNote {
    margin: 75px 0px 0 6px !important;
    border-top: 0;
    padding-top: 0;
    position: relative;
    /* width: 100%; */
    height: auto;
    top: 0;
    /* right: -8px; */
    /* padding-right: 1%; */
    padding-left: 1%;
    background: transparent;
}
.breakdownNote .item2{
	position:relative;
	top:1cm;
}
.page2 > .row > .composite1 > .Compositeborderbody > .row2 > .column2>.row{
	margin:0;
}
.page2 > .row > .composite1 > .Compositeborderbody > .row2 > .column2{
	display:none;

}
.page2 > .row > .composite1 > .Compositeborderbody > .row2 > .column1 +.column2{
	display:block;
}
span.footerNote {
    display: block;
    margin-top: 0.2cm;
    font-size: 8pt;
}

.Compositeborderbody {
    border: 0pt solid #6d6e71;
    border-top: 0;
    position:relative;
    margin-bottom: 0.2cm;
}
.Compositeborderbody .breakdown:before{
    border: 0.75pt solid #6d6e71;	
	border-top: 0;
	position: absolute;
	width: 18.92cm;
	height: 7.8cm;
	display: block;
	content: "";
	 
}
 
.page3>.row .compositeheader+.compositebody{
	border: 0pt solid #6d6e71;
    border-top: 0; 
 
	margin: 0;
}
.page3>.row5 .Compositeborderbody .row,.page3>.row5 {
	margin: 0 !important;
}
.page3>.row5 .Compositeborderbody{
	    border: 0pt solid #6d6e71;
	border-top: 0;

}
.page3>.row6,.page3>.row7,.page3>.row8{
	/*! display: none; */
}
.contentSection.PrincipalHoldings{
	padding:0 0.4cm 0.4cm !important;
	border: 0.75pt solid #6d6e71;
    /*! border-top: 0; */
	border-top:0;
	margin-top: -0.3cm;
	background: #fff;
	/* width: 18.12cm;  */
	width: 18.97cm;
}
.page3 .compositebody>.row5{
	position: relative;
	z-index: 1;
}
.holding h2{
	border-top: 0.75pt solid #6d6e71 !important;
}
.compositeheader h2, .performancetable h2, 
.Perfchart h2, .PerfChart h2, .breakdown h2, .glidepathimages span,
.page2>.row5 h2,.page4 > .row3 h2{
	background-color: #262a82;
	color: #fff;
	font-size: 11pt;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 0.2cm;
	padding: 0.1cm 0.3cm 0;
	height: 22px;
	display: block;
}
.glidepath {
	font-weight: bold;
}
.breakdown h2{
  width: 18.38cm;
}
.Notes p{
	padding:0.1cm 0.3cm;
}
.Notes h2 {
	padding:0.1cm 0.3cm;
}
.PerfChart h2{
	border-bottom: 2px solid #fff;
	padding:0.1cm 0.3cm;
}
.PerfChart{
	padding-bottom:0.3cm;
}
.PerfChart .keyContainer{
	margin-top:-0.3cm;
	margin-left:0.3cm;
}
.PerfChart .keyContainer .label{
	line-height:10px;
}
.performancetable h2, .PerfChart h2{
	padding: 0.1cm 0.3cm 0;
	margin-bottom: 0
}
.YearonYearPerformance.contentSection, .AnnualisedPerfTable.contentSection, .CumulativePerdTable.contentSection {
    margin-bottom: 0.2cm;
}
.page3 .row5 p,.page3 .row7 p{
	
line-height: 0.3cm;
}
.compositeheader h2 span, .performancetable h2 span, .pdfperformancechart h2 span{
	color: #e2056f;
}
/*
.compositeheader > *, .compositebody > * {
    padding: 0.1cm 0.3cm;
    color: #e2056f;
}
*/

.FundInfo + .compositebody, .ImportantInformation + .compositebody{
	padding: 0.2cm;
}
.FundInfo + .compositebody{
	padding-top: 0cm;
}
.ImportantInformation + .compositebody{
	font-size: 9.5pt;
}
.SpecialRiskFactorstext br{
	display: none;
}
.horizontal-list.Infoone{
	border-top: 1.5pt solid #262a82;
	border-bottom: 1.5pt solid #7e7ab2;
}
.horizontal-list.Infoone {
    border-bottom: 0;
}
.text.Infoone {
    border-bottom: 1.5pt solid #262a82;
}
.text.Infoone.Infoone1 {
    border-bottom: 0.5pt solid #7e7ab2;
}
.text span:last-child {
    float: right;
    max-width: 60%;
    display: block;
    text-align: right;
    /*! background: red; */
    /*! position: absolute; */
    /*! right: 0; */
    /*! top: 0; */
}
.horizontal-list.horizontal-list1.infotwo {
    border: 0;
}
.horizontal-list.Infoone > div:not(.clear), .compositebody .text > p.UnitSize, 
.compositebody .text > p.FundSize,
.compositebody .text > p.RiskRating, 
.compositebody .text > p.FundBenchmarkName,
.compositebody .text > p.Bencmark {
    border-top: 0.5pt solid #7e7ab2;
    width: 100%;
    margin: 0;
    display: block;
    /*! background: blue; */
    height: 25px;
    position: relative;
}
/*as per pbi 195780<<<<*/
.page1 .horizontal-list1.Infoone,.page1 .contentSection.Infoone {
  padding-left:0 !important;
}
.Infoone1{
	border-top: 0.5pt solid #7e7ab2 !important;
}
.Infoone1 .UnitSize{height: 22px !important;}
.compositebody .text > p.FundBenchmarkName{
	/*! height: auto; */
	/*! min-height: 24px; */
	/*border: 0;*/
}
.page2>.row4>.composite>.compositebody>.row3>.column1>.row2>.row2,.page2>.row4>.composite>.compositebody>.row3>.column1>.row2>.row3{
display:none;
margin-bottom:0;
}
.page2>.row4>.composite>.compositebody>.row3>.column1>.row2{
	margin-bottom:0 !important;
}
/*>>>>>as per pbi 195780*/
 .compositebody .text > p.RiskRating:empty, .compositebody .text > p.FundBenchmarkName:empty{
 	display:none;
 }
.compositebody .text > p.FundBenchmarkName .value{
	/*! max-width: 75%; */
	/*! line-height: 10pt; */
}
.horizontal-list.horizontal-list1.infotwo div{
	float:left;
}
.horizontal-list.horizontal-list1.infothree div.LaunchDate{
	width:50%;
	margin-right:1%;
	border-bottom: 1pt solid #7e7ab2;
	border-top: 1.5pt solid #262a82;
	height: 25px;
}
.horizontal-list.horizontal-list1.infothree div.FundSize-YeDataAsAtDate-QeDataAsAtDate{
	width:50%;
	margin-bottom:0.2cm;
	border-bottom: 1.5pt solid #262a82;
	border-top: 0 solid #7e7ab2;
	height: 25px;
}
.horizontal-list div.FundSize-YeDataAsAtDate-QeDataAsAtDate .label span{
	 display:block;
	 padding-left:0.2cm;
	 font-family: Calibri, Arial, Helvetica, sans-serif;
	 font-weight:100;
}
.horizontal-list.Infoone > div:first-child{
	border-top:0;
}
 
.horizontal-list.Infoone > div .label, .text .label  {
    padding: 0.15cm;
    line-height: 8pt; 
	font-size: 9pt;
    font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: #000;
    margin: 0;
    float: left;
}
.horizontal-list.infothree > div .label {
	padding: 0.15cm;
    line-height: 8pt;
	font-size: 9pt;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    float: left;
}
 
 
.horizontal-list > div .value, .text .value {
    padding: 0.15cm;
    line-height: 8pt;
	font-size: 9pt;
    color: #000;
	font-weight: normal;
    margin: 0;
}
.horizontal-list > div.TER, .horizontal-list > div.AnnualCharge{
	background-color:#ededed;
	border-bottom:0;
}
.horizontal-list > div.TER .value, .horizontal-list > div.OnGoingCharge .value{
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.horizontal-list > div.OtherExpenses{
	background-color:#ededed;
}
.horizontal-list > div.TER .label span{
	display:block;
	float:none;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin: 5px 0 0 0;
}

.horizontal-list > div.AnnualCharge, .horizontal-list > div.OtherExpenses, .horizontal-list > div.advisercharge{
	border:0;
	width: 100%;
}
.horizontal-list > div.advisercharge, .horizontal-list > div.PropertyExpenseRatio{
	border-top: 0.5pt solid #262a82;
}
.horizontal-list.horizontal-list1.Infotwo{
color: #000;
}
 
.horizontal-list > div.TER {
 
width: 100%;
 
display: inline-block;
}
.horizontal-list.Infotwo > div .label {
    padding: 0.15cm;
    line-height: 8pt;
	font-size: 9pt;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    float: left;
}
.horizontal-list.Infotwo > div.TER .label{
	font-weight: normal;
}
.horizontal-list.horizontal-list1.Infotwo{
	 border-top: 1.5pt solid #262a82;
	border-bottom: 1.5pt solid #262a82;
}
.horizontal-list > div.AnnualCharge span.label, .horizontal-list > div.OtherExpenses span.label{
	padding-left:15px;
	padding-right:0;
	width: 80%;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 8pt;
	color: #000;
}
.horizontal-list > div.AnnualCharge span span, .horizontal-list > div.OtherExpenses span span, .horizontal-list > div.advisercharge span span{
	float:left;
	padding-left:0;
	margin-left:-8px;
}
.UnderlyingFundNameFull{
    color: #e2056f;
    font-size: 10pt;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin-bottom: 0.2cm;
}
.Underlying + .compositebody .horizontal-list{
	border:0;
}
.Underlying + .compositebody .horizontal-list > div{
	/* border:0; */
}
h2.UnderlyingFundNameFull-LaunchDate,h2.LaunchDate-FundNameFull {
    color: #9f248f;
    font-size: 11pt;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin-bottom: 0.2cm;
}
h2.UnderlyingFundNameFull-LaunchDate span,h2.LaunchDate-FundNameFull  span{
	padding-left: 1cm;
	float: none !important;
	color: #000000;
}
.Underlying + .compositebody .horizontal-list > div .label{
	font-size:10pt;
	padding-right:0;
}
.page .Page{
	width:auto;
	height:auto;
	padding:0;
	background:none;
	position: absolute;
    bottom: 1cm;
    right: 1cm;
}
.page .Page p{
	text-align:right;
}
.KeyFacts3 .item2 .label, .KeyFacts3 .item4 .label{
	padding: 0;
}
.KeyFacts3 .item2 .value, .KeyFacts3 .item4 .value{
	color: #666;
	font-size: 8pt;
}
.page1 > .row3 > .composite1 > .compositebody > .row3 > .column1, .page1 > .row3 > .composite1 > .compositebody > .row3 > .column2, .page1 > .row3 > .composite1 > .compositebody > .row3 > .column3{
	width: 33%;
}
.compositebody .text{
	color: #000;
}
p.PropertyFundExpensesText,p.FundExpensesText {
    margin-top: 0.3cm;
}
.compositebody .text.Infotext p{
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size:8pt;
}
.keyWrapper {
    margin-top: 0.3cm;
	font-size: 8pt;
}
.compositebody .row{
	margin-bottom: 0;
}
.FundPerformance h2, .ImpoInfoText h2, .Perftextex h2, .otherinfotext h2, .Risktext h2{
	color: #e2056f;
	font-size: 11pt;
	margin-bottom: 0.2cm;
}
.page2 .row {
	  margin-bottom:0.1cm;  
}

.page2>.row {
	margin-bottom: .2cm; 
}
.page2>.row.row3 .composite{
border-left: 1pt solid #6d6e71;  
     border-right: 1pt solid #6d6e71;  
     border-bottom: 1pt solid #6d6e71; 
}
.page2>.row.row3 .composite .compositebody>.row{
	padding-left:0 !important;
	padding-right:0 !important;
	padding: 0;
}
.Compositeborderheader h2{
        background-color: #5d0039;
        color: #fff;
        font-size: 10pt;
        font-family: Calibri, Arial, Helvetica, sans-serif;
        padding: 0.1cm 0.3cm;
        width: 697px;
}
.page2 .breakdown {
    height: auto;
	/*PDF reactor V11 migration changes:commented<<<*/
	/*border-left: 1pt solid #6d6e71;
    border-bottom: 1pt solid #6d6e71;
    border-right: 1pt solid #6d6e71;*/
    /*PDF reactor V11 migration changes>>>>>>*/
    /*! width: 718px; */
}
.breakdown.fullholdings{
   border-left: 1pt solid #6d6e71;
    border-bottom: 1pt solid #6d6e71;
    border-right: 1pt solid #6d6e71;
}
.breakdown .chart{
	margin:0.1cm 0.3cm 0.4cm;
	width: 40% !important;
	margin-right: 0;
	height: auto;
}
.page2 .breakdown .chart{
	height: 5.5cm;
	width: 28% !important;
	margin-right: 34%;
	margin-top: 0;
	margin-bottom: 0;
 
}
.breakdown.fullholdings .chart {
    width: 97% !important;
    height: auto;
}
.breakdown table{
	margin:0cm 0.3cm 0.4cm;
	width: 51% !important;
	float:left !important;
}
.breakdown .footer{
	padding: 0.1cm 0cm 0.1cm;
	position:absolute;
	top: 30px;
	right:0;
	width: 25.5%;
}
.breakdown.fullholdings .footer{
	position:static;
	width: 98%;
	margin: 0 auto;
	text-align: right;
	font-size: 9pt;
}
.breakdown th {
	display: none;
}
.holding th{
	/* display: none; */
}
.keyContainer {
	float: left;
	margin-right: 0.5cm;
	white-space: nowrap
}
.key-color{
	width: 2.5mm;
	height: 2.5mm;
}
.breakdown .key-color{
	border-radius: 50%;
}
.breakdown table td, .holding table td{
	padding: 0px 0 1px;
	color:#000;
	font-size: 10pt;
	font-weight: normal;
}
.breakdown table td.Key{
	padding-right: 5px;
	width:0.4cm;
	vertical-align: middle;
}
.breakdown table td.Weight{
	text-align: right;
}
.breakdown .footer{
	color: #000;
	margin: 0 0 0.1cm;
	font-weight: normal;

}
.page2 > .row3 > .composite1 > .compositebody > .row5 > .column2 {
    width: 28%;
	font-weight: normal;
}
.holding{
	border-top: 0pt solid #000;
	padding-top: 0;
	padding: 0 10px 10px;
}
.holding h2{
	    background-color: #ffffff;
	    color: #9f248f;
	    margin: 0 0cm 0.2cm;
	    padding: 0.2cm 0cm 0;
	    height: 20px;
	    border-top: 0pt solid #6d6e71;
		font-size: 11pt;
	    font-family: Calibri, Arial, Helvetica, sans-serif;
}
.holding table td.spacer{
	width:1%;
}

.holding table td.Weight{
	padding-left:0.2cm;
	padding-right:0.2cm;
	border-left:0.5pt solid #000;
	border-right:0.5pt solid #000;
	text-align:center;
	width: 8%;
}
td.Number.Number {
    padding-right: 0.1cm;
    font-weight: 700;
    text-align: right;
    width: 2%;
}

.holding table td.Name.Name {
    padding-bottom: 0.1cm;
    width: 40%;
}
.performancetable table {
    border-top: 0.5pt solid #000000;
    border-bottom: 1.5pt solid #262a82;
	font-size: 9pt;
}
.performancetable th{
	background-color: #e6e7e8;
	padding: 0.1cm 0.05cm;
	border-right: 0.5pt solid #000000;
	color:#262a82;
	font-weight:bold;
	text-align:center;
}
.performancetable .rowheader {
    text-align: left;
    width: 23%;
    padding-left: 0.15cm;
	background-color: #e6e7e8;
}
.performancetable td{
	background-color: #ffffff;	
	padding: 0.1cm 0.05cm;
	border-top: 0.5pt solid #000000;
	border-right: 0.5pt solid #000000;
	color:#000;
	text-align:center;
}
.performancetable th:last-child, .performancetable td:last-child{
	border-right: 0;
}
.PerfChart .chart { height: 6cm;}
.PerfChart .chart tspan{
	fill:#000000;
	font-size: 8pt;
}
.page3 .contentSection.text.text1 .item2 ,.Performancedisclaimer{
    margin: 0;
    line-height: 9pt;
}
 
 
 
.SpecialRiskFactors, .ThirdPartyDisclaimers, .page4 .composite1.composite {
	border:1pt solid #6d6e71;
	border-top:0;
}
.page4 .contentSection.Notes{
	border:1pt solid #6d6e71;
	border-top:0;
}
.page4 .contentSection.Notes:empty{
	border:0pt solid #6d6e71;
	border-top:0;
}
.page4 .compositebody .composite1.composite{
	border: 0;
}
.page4 .compositebody .composite1.composite .compositebody > *{
	padding: 0;
}
.SpecialRiskFactors h2, .ImportantInformation h2, .ThirdPartyDisclaimers h2, .Notes h2{
    background-color: #262a82;
    color: #fff;
	font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 11pt;
	margin-bottom:0.2cm;
	padding: 0.1cm 0.3cm;
}
.SpecialRiskFactors ul{
	padding:0 0.2cm 0.05cm 0.2cm;
}
.SpecialRiskFactors p, .ImportantInformation p, .ThirdPartyDisclaimers p{
	padding: 0.1cm 0.2cm;
	margin:0;
}
.ImportantInformation p:empty{
	margin:0;
	padding:0;
}
.Perftextex p{
	color: #e2056f;
}
.PerfCaveat .item2{
	font-weight: bold;
}
.PerfCaveat .item3{
	color: #e2056f;
}
.AXAWealthCaveat {
    position: absolute;
    bottom: 1.5cm;
    font-size: 8pt;
	width: 19cm;
	left: 1cm;
}
.Caveat, .caveat {
    position: absolute;
    bottom: 1.5cm;
    width: 19cm;
	left: 1cm;
	right: 1cm;
	padding-top: 0.2cm;
	font-size: 8pt;
}
.Infotext a {
	color: #000;
}
.ImportantInformation p, .SpecialRiskFactors p, .Notes p, .ThirdPartyDisclaimers p{
	line-height: 10pt;
}
.ImportantInformation a{
	color:#000;
	text-decoration:none;
}
.Imp h2 {
    background-color: #e2056f;
}
.Overview p.OverviewHeader {
    font-weight: bold;
    color: #262A82;
    font-size: 12pt;
}
.contentSection {
    padding-left: 0.6cm;
}

.whattypeoffunds{
    position: relative;
    padding: 0cm 0.6cm 0.4cm;
	margin: 0;
}
.whattypeoffunds h2{
	padding-top: 0.4cm;
}
.howdoesitinvest{
    position: relative;
    padding: 0cm 0.6cm 0.4cm;
    margin-bottom: 0.2cm;
	 
}
.howdoesitinvest p{
	padding: 0;
}
.whattypeoffunds:before,.howdoesitinvest:before {
    display: block;
    z-index: -1;
    background: #DAD9EA;
    content: "";
    right: 0;
    left: -3cm;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    position: absolute;
}
.whattypeoffunds:after{
    display: block;
    z-index: 2;
    background: #9F248F;
    content: "";
    right: 0;
    left: 0;
    width: 4pt;
    height: 1cm;
    top: 0.5cm;
    bottom: 0;
     position: absolute;
}
.page1 > .row6 > .column > .row > .row {
    margin: 0;
}
.marketrisk, .creditraterisk, .foreignrisk,
.allocationrisk, .counterparty, .moneymarket, 
.liquidityrisk, .interestraterisk, .exchangeraterisk, 
.reinsurancerisk, .emergingmarkets, .Property ,.Derivatives,.Inflation{
    background:   no-repeat left top/1.3cm;
    padding-left: 1.8cm; 
    margin-bottom: 0.15cm;/*191773 Phoenix theme amendments issue #1 fix */
    min-height: 2cm;
}
.liquidityrisk, .interestraterisk, .exchangeraterisk, .reinsurancerisk, .emergingmarkets, .Property{
	background-position: left top;
	/*! padding-left: 1.9cm; */
}
.marketrisk p, .creditraterisk p, .foreignrisk p, .allocationrisk p,
.counterparty p, .moneymarket p, .liquidityrisk p, .interestraterisk p, .exchangeraterisk p, 
.reinsurancerisk p, .emergingmarkets p, .Property p,.Derivatives p,.Inflation p{
  text-align: justify;
  line-height: 1.22 !important;
  margin: 0;
}
.creditraterisk{
	background-image: url(./images/CreditRateRisk.svg);
	background-size: 50px 36px;
}
.foreignrisk{
	background-image: url(./images/foreign.svg);
	background-size: 55px 52px;
}
.allocationrisk{
	background-image:url(./images/AllocationRisk.svg); 
	background-size: 50px 48px;
}
.counterparty{
	background-image: url('./images/CounterpartRisk1.svg');
	background-size: 50px 35px !important;
}
.marketrisk{
	background-image: url('./images/marketRisk.svg');
	background-size: 50px 34px;
}
.moneymarket{
	background-image: url('./images/money-market.svg');
	background-size: 50px 35px;/*same as counter party risk*/
}
.liquidityrisk{
	background-image: url('./images/LiquidityRisk.svg');
	background-size: 50px 34px;/*same as market risk*/
}
.interestraterisk{
	background-image: url('./images/InterestRateRisk.svg');
	background-size: 48px 50px;
}
.exchangeraterisk{
	background-image: url('./images/ExchangeRisk.svg');
	background-size: 49px 44px;/*same as foreign risk*/

} 
.reinsurancerisk{
	background-image: url('./images/ReinsuranceRisk.svg');
	background-size: 40px 48px !important;	
} 
.Derivatives{
	background-image: url('./images/derivatives.svg');
	background-size: 54px 48px;
	/*! padding-bottom: 0.3cm; */
} 
.Inflation{
	background-image: url('./images/inflation.svg');
	background-size: 50px 48px;
	/*! padding-bottom: 0.3cm; */
} 
.emergingmarkets{
	background-image: url('./images/EmergingMarketRisk.svg');
	background-size: 49px 41px;
} 
.Property{
	background-image:  url('./images/property.svg');
	background-size: 48px 48px;
}
.page1 > .row > .column {
    width: auto !important;
}
.InsertNotes h2 {
    padding: 0cm 0 0 0.5cm;
    margin-bottom: 0.2cm;
    border-left: 4pt solid #9F248F;
}
 .InsertNotes {
   padding: 0;
	width: 5.68cm;
	margin-right: 0.5cm;
}
.page1 .column > .section {
    margin-left: 0 !important;
}
div.furtherinformation {
	background: #dad9ea;
	padding: 0.4cm 0.5cm;
	width: 4cm;
}
 
.page1 .Page {
    display: none;
}
.text.insertcaveat  {
	background: url(./images/tpt_logo.svg) no-repeat right bottom/auto 1.3cm;
	background-size: 73px 50px;/*PDF reactor V11 migration changes*/
    width: 17.3cm;
	height: auto;
	position: absolute;
	bottom: .5cm;
	left: 1cm;
	content: "";
	padding-top: 0.7cm;
}
.InsertCaveat {
    width: 12cm;
    color: #262A82;
     

    font-size: 8pt;
}
.InsertNotes p {
    padding-left: 0.65cm;
    text-align: left;
}
.furtherinformation h2{
	margin-bottom: 0.2cm;
}
.FurtherInformation{
	text-align: justify;
}
.page:not(.page1)>.row2 {
	/*border-bottom: 0.75pt solid #000;*/ /*191773 Phoenix theme amendments issue #2 fix */
	padding-bottom: 2px;
	margin-bottom: 0.4cm;
}
.page2 .contentSection ,
.page3 .contentSection {
    padding-left: 0;
}
.page2 .composite, .glidepathimages{
	border: 0.75pt solid #999
}
.page2 > .row5,.page2 > .row6 {
	border: 0.75pt solid #999
}
.page2 > .row5 {
	border-bottom: none;
}
.page2 > .row6 {
	border-top:none;
}
.page2 .row5,.page2 .row5 p.SRRIRating,.page2 .row5 .row1{
	margin-bottom:0;
}
.page4 > .row3 h2{
	margin-bottom:0;
}
.page2 .row5 .row1 p,
.page4 > .row3 p {
    padding-left: 0.2cm;
	padding-right: 0.2cm;
    margin-bottom: 0;
	padding-bottom:0.1cm;
}
.page2 > .row6{
	padding-left: 0.2cm;
	padding-right: 0.2cm;
}
.page4 > .row3 p {
	border-left: 0.75pt solid #999;
	border-right: 0.75pt solid #999;
}
.page4 > .row3 p.item3{
	padding-top:0.1cm;
}
.page4 > .row3 p.item4{
	border-bottom: 0.75pt solid #999;
}
.page2 .row .iconSection {
    width: 100%;
    height: auto;
}
.page2 .row5 .row1 p:first-child {
    padding-top: 0.2cm;
}
.LifeStageTable th{
	border-bottom: 1.5pt solid #262a82;
	padding-bottom: 0.2cm;
	text-align:left; 
}
.LifeStageTable td:first-child{
	  font-weight: bold;
    width: 2.5cm;
    text-align: left;
}
.LifeStageTable table td {
    padding: 0.05cm 0;
    border-bottom: 0.75pt solid #999;
}
.page4 .contentSection{
	padding-left: 0;
}
.page5 .contentSection{
	padding-left: 0;
}

/* .glidepathimages img {
    width: 75%;
    margin: 0 12.25%;
}
.glidepathimages {
	background-size: 16cm;
	background-position: 1.5cm 0.7cm;
} */

.glidepathethical{
	margin: 0 auto;
}
p:empty {
    display: none;
}
/*191773 Phoenix theme amendments issue #4 fix */
.fund_pricing p > b,.third_party p > b,.data_source p > b{
	color: #a51890;
}
.page3 > .row4 .Compositeborderbody {
    margin-bottom: 0;
	border: 0.75pt solid #6d6e71;	
	border-top: none;
	border-bottom: none;
}
.page3 > .row4 .Compositeborderbody .breakdown:before {
    height: auto;
	border:none;
}
.page3 > .row4 .contentSection.PrincipalHoldings {
    margin-top: 0;
}
.page3 .compositebody>.row5, .page3 .compositebody>.row5 * {
    box-sizing: border-box;
}
.page3 > .row4 .contentSection.PrincipalHoldings {
    width: 100%;
}
.PG2FreeTextBox {
    border: 1.5pt solid #6d6e71;
    padding: 0.1cm 0.1cm;
	margin-top: 0.2cm;
}
.page3 .compositebody>.row5 .Compositeborder.composite1 {
    border-bottom: 1pt solid #6d6e71;
}
.text1.glidepathimages{
    width: 100%;
}
.glidepathimages img {
    width: 78%;
	margin: 0 auto;
}
img.GlidepathStandard {
    width: 92% !important;
}

.text1.glidepathimages p img {
    display: flex;
    /* align-items: center; */
}

.Pagination .pageTotal {
    padding-left: 4px;
}
.Pagination b{
	font-weight: normal;
}
.page4 > .row4 > .column1 .HorizontalCss tr {
    border-bottom: 1pt solid #688EB6;
}
.page4 > .row4 > .column1 table th {
    text-align: left;
}
.page4 > .row4 > .column2 .HorizontalCss tr{
	background-color: #e6e7e8;
	   border-bottom: 1pt solid #D4D4D4;
}
.page4 > .row4 > .column2 {
    padding-top: 14px;
}
.page4 > .row4 > .column table.HorizontalCss td{
	padding:1px;
}
.page4 > .row4 > .column2 table.HorizontalCss td:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}
.page4 > .row6 b,.page4 > .row7 b,.page4 > .row9 b{
	font-weight: normal;
}
.page4 > .row7 a {
    color: #5d9ad7;
}
.page4 > .row7 p, .page4 > .row8 p, .page4 > .row9 p{
	margin-bottom:0;
	padding-bottom:0.1cm;
}
.page4 > .row8, .page4 > .row9 {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 0.75pt solid #999;
    border-right: 0.75pt solid #999;
	background-color: #E7E6E6;
}
.page4 > .row8 {
    padding-top: 10px;
    border-top: 0.75pt solid #999;
}
.page4 > .row9 {
    padding-bottom: 10px;
    border-bottom: 0.75pt solid #999;
}
.page4  .ESGReport {
	font-size: 11pt;
	padding-bottom:10px;
}
.page4 .ESGReport a b b {
    color: #ad178d;
}
.page5 .contentSection.performancetable.performancetable1 a,
.page5 .pdfperformancechart a ,
.page6 .ImportantInformation a{
    color: #fff;
}
.page6 .Caveat b {
    font-weight: normal;
}
.page5 .row10 a b b ,.page6 .row3 .compositebody b b p,.AdditionalNotes b b {
    font-weight: normal;
}
.page5 .row10 a b b b,.page6 .row3 .compositebody a b b b,.AdditionalNotes b b b{
    font-weight: bold;
}
.page6 > .row3 {
    border: 0.75pt solid #6d6e71;
	margin-bottom:0.2cm;
}
.page6 > .row3 .contentSection,.page6 > .row5 .contentSection,.page6 .row6 .contentSection{
	padding-left:0;
}
.page3 > .row3 > .row1 {
    margin-bottom: 0.2cm;
}
.page4 > .row5 > .column1 .donutchart .highcharts-legend-item text {
		opacity:0;
}
.page4 > .row5 > .column1 .donutchart span.highcharts-subtitle {
		opacity:0;
}
.page4 > .row5 > .column1 g.highcharts-data-labels.highcharts-series-0 ,
.page4 > .row5 > .column1 g.highcharts-series-group{
	opacity:0;
}
.page4 > .row5 {
    position: relative;
}
.page4 > .row5 > .column2 {
    float: left;
    width: 30%;
    position: absolute;
    left: 20px;
    top: 40px;
	z-index: 9;
}
.page4 > .row5 > .column3 {
    width: 50% !important;
    position: relative;
    left: -250px;
}
.page4 > .row5 > .column2 .HorizontalCss td {
    padding: 2px 0 1.2px;
}
.page4 table.HorizontalCss tr.Row:last-child td{
	padding-top:3px;
}
.page4 .donutchart .chart{
    height: 300px;
}

/* TPTblended */

