:root{
	--primary: rgb(0,83,112);
	--secondary: rgb(77,123,137);
	--tertiary: transparent;
	--header: var(--primary);
	--headerbg:rgb(241, 242, 242);
	--parabg: var(--secondary);
	--black: #231F20;
	--white:#ffffff;
	--red: #E60000;
	--border: var(--primary);
	--tableborder: rgb(209,209,209);
	--tableheader: var(--white);
	--tablerowheader: var(--white);
	--tableheaderbg: none;
	--tablesubheaderbg:rgba(0,156,166,0.05);
	--altrow: #DDDFE2;
	--alert: var(--primary);
	--warningfont: 12pt;
	--ratingbg: var(--white);
	--ratingborder: rgb(35, 31, 32);
	--ratingselected: var(--black);
	--bodyfont: 8pt;
	--bodycolor: var(--black);
	--footerfont: 7pt;
	--lineheight: 1.1;
	--h2:12pt;
	--h3:10pt;
	--fontRegular:'Arial';
	--fontLight:'Arial';
	--fontBold:'Arial';
	--fontSemiBold:'Arial';
}

/**/
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  margin: 0;
  line-height: var(--lineheight);
  color: var(--bodycolor);
  font-family: var(--fontRegular);
  font-size: var(--bodyfont);
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
table th {
	background: var(--tablerowheader);
	font-family: var(--fontRegular);
	font-weight: 700;
	text-align: left;
	margin: 0;
	padding: 0;
}
table td {
	margin: 0;
	padding: 0;
}
h2 {
  font-family:var(--fontHeader);
  font-weight: 100;
  font-size: var(--h2);
  color: var(--primary);
  margin: 0;
  padding: 1mm 0 0.05cm;
  border-top: 0.5pt solid var(--border);
  box-sizing: border-box;
}
p:empty, h2:empty {
	margin: 0;
	padding:0;
	border: 0;
	max-width: inherit !important;
	min-height: inherit !important;
	width: auto !important;
	height: auto !important;
}
table th:empty {
	padding: 0;
}
table th.tableheader, .tableHeader th {
	border: 0 !important;
}
p, ul, li {
	margin: 0;
	padding: 0;
}
p {
	margin: 0 0 0.05cm;
	word-break: break-word;
    word-wrap: break-word;
}
b {
}
h2 {
  bookmark-level: 1;
}

.subheader p {
  bookmark-level: 2;
}
/* page styles*/
.page {
	padding: 0cm 1cm 0.2cm 1cm;
	width: 19cm;
	position: relative;
    height: auto;
}
.page1 {
	background: url(images/satabder-cv-logo.svg);
	background-size: 3.53cm 1.01cm;
	background-position: 16.6cm 0.2cm;
	background-repeat: no-repeat;
}
.contentSection {
	position: relative;
}
.keyinformationdocument {
	margin-bottom: 0mm;
}
.keyinformationdocument h2 {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--fontRegular);
  font-size: 24pt;
  color: var(--black);
}
html[lang="it-IT"] .keyinformationdocument h2 {
	font-size: 21pt;
}
.purpose h2 {
	border: 0;
}
.page > .row > .composite1 > .compositebody > .row > .column {
	width: 100%;
	float: none;
}
.page1 > .row1 > .column1 {
	margin-bottom: 4mm;
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1,
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 {
    column-count: 2;
    column-gap: 0.5cm;
    column-fill: balance;
	margin-bottom: 0.02cm;
}
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 .row:before,
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 .row:after {
	content: "";
	display: block;
    page-break-after: avoid;
    page-break-inside: avoid;
    page-break-before: auto;
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 > .row1,
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 > .row1 {
	column-span: all;
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 > .row {
	word-break: break-word;
	word-wrap: break-word;
}
p[class*='WB_GeneralInformation'] {
	margin: 0;
}
p.WB_GeneralInformation_21 {
	margin-bottom: 0.05cm;
}
.IssuedOnDate {
	display: none;
}
.generalinformation {
	background: var(--primary);
	padding: 2.5mm;
	margin-bottom: 4mm;
}
.Product_SubHeader p, .Product_Value p {
	margin-bottom: 0.34cm;
	min-height: 0.6cm;
}
.whatisthisproduct b {
}
.WB_Whatisthisproduct_1 {
	font-weight: 700;
}
.IssuedOnDate {
	text-align: right;
}
/*.page1 > .row5 > .composite {
	page-break-before: always;
}*/
/* Sri ratings */
.warning  {
	position: relative;
}
p.SriRange, p.Sri {
  width: 1px !important;
  height: 0!important;
  border-style: solid;
  border-width: 0 23px 41.3px 23px;
  border-color: transparent transparent var(--alert) transparent;
  position: absolute;
  padding-top: 1.9cm;
  margin-top: 0;
}

p.SriRange:before, p.Sri:before {
  content: "Risk Indicator";
  position: absolute;
  top: 0;
  left: -0.6cm;
  font-weight: 700;
  width: max-content;
}
p.SriRange:after, p.Sri:after {
  content: "!";
  font-family: var(--fontRegular);
  font-size: 18pt;
  color: var(--white);
  position: relative;
  display: block;
  margin-top: 0.4cm;
  margin-left: -0.6mm;
}

.sriRiskRating, .sriRangeRiskRating {
	position: relative;
	margin-top: 0.1cm !important;
}
.sriRiskRating .ratings, .sriRangeRiskRating .ratings {
	position: relative;
	z-index: 1;
}
.sriRiskRating .ratings table, .sriRangeRiskRating .ratings table {
    margin-top: 0.25cm;
}
.sriRangeRiskRating .rating, table.sriRiskRating tbody td.rating {
	position: relative;
	text-align: center;
	padding: 0;
	height: 1.2cm;
	background: transparent;
	width: 1.2cm;
	font-family: var(--fontBold);
	font-weight: 700;
	font-size: 9pt;
	border-radius: 100%;
	color: var(--white);
}
.sriRangeRiskRating .rating:before, table.sriRiskRating tbody td.rating:before {
	content: "";
	border-radius: 50%;
	width: 0.8cm;
	height: 0.8cm;
	background: rgb(77,123,137);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.sriRiskRating .ratings td.rating.selected:before, .sriRangeRiskRating .ratings td.rating.selected:before {
	background: var(--ratingselected);
	color: var(--white);
}
.sriRiskRating .header, .sriRangeRiskRating .header {
}
.sriRiskRating .header th, .sriRangeRiskRating .header th {
	background: none;
	color: var(--black);
	font-family: var(--fontRegular);
	font-weight: 100;
	width: 5cm;
}
.sriRiskRating .header th:last-of-type, .sriRangeRiskRating .header th:last-of-type {
	text-align: right;
}
.sriRiskRating .arrow, .sriRangeRiskRating .arrow {
	position: absolute;
	width: 100%;
	top: 8mm;
	background: rgb(209,209,209);
	height: 1pt;
	left: 0;
	z-index: -1;
}
.page1 > .row6 .compositebody .column1 .row7 .narrative:before {
	content: "";
	width: 1.5cm;
	height: 0.9cm;
	float: left;
}
.WB_SRInarrative2_4, .WB_SRInarrative2_5 {
	margin-left: 1.7cm;
}
.page2 .row2 .compositebody .row2 .sectiontitle h2 {
	font-size: var(--bodyfont);
	font-weight: 700;
	color: var(--black);
	border: 0;
}
.contentSection > table {
	margin: 0.2cm 0;
}
table th.groupHeader1 {
	padding: 0 !important;
	border: 0 !important;
}
.groupRowDiv1 th.groupHeader1 {
	padding: 0;
	border: 0 !important;
}
.groupHeaderDiv1 th, .groupRowDiv1 td, .groupRowDiv1 th, .groupRowDiv1 tr.header th {
	padding: 1mm;
	border-bottom: 0.5pt solid var(--tableborder);
	text-align: left;
}
.groupHeaderDiv1 th {
	background: var(--tableheaderbg);
	border-bottom: 0.5pt solid var(--black);
}
.groupHeaderDiv1 th:first-of-type, .groupRowDiv1 td:first-of-type, .groupRowDiv1 th:first-of-type, .groupRowDiv1 tr.header th:first-of-type {
}
table .groupRowDiv1 .groupHeaderDiv1 th {
	border-top: 0;
}
.performanceScenario th {
	border-color: var(--tableborder);
}
.performanceScenario .survival-scenario th {
	border-color: var(--black);
}
.performanceScenario tr.header th:last-child {
	font-weight: 100;
}
.performanceScenario th[class*=period], .performanceScenario td[class*=period] {
    width: 3.5cm;
	font-weight: 100;
}
.performanceScenario .groupRowDiv1 td[rowspan],
.performanceScenario .groupRowDiv1 td.description:nth-child(2) {
	font-weight: 100;
}
.performanceScenario .groupRowDiv1 tr.invest td {
	font-weight: 100 !important;
}
.performanceScenario .groupRowDiv1 td[rowspan] {
	width: 2.5cm;
	vertical-align: top;
}
.costOverTime .groupHeaderDiv1 tr.scenarioheader {
}
.costOverTime.costovertime_3columntable .groupHeaderDiv1 th {
	width: 33.3%;
}
.costOverTime .groupHeaderDiv1 tr.scenarioheader th:first-of-type, .costOverTime table td[class*=header] {
	font-weight: 100;
}
.costOverTime table td[class*=totalcosts], .costOverTime table td[class*=riy] {
    width: 3cm;
	font-weight: 100;
}
.groupRowDiv1 tr.header th, .ongoingcosts th, .incidentalcosts th {
	background: var(--tableheaderbg);
	border-color: var(--black);
}
.costComposition {
}
.costComposition .oneofcosts th:last-of-type, .costComposition td:last-of-type {
	width: 3cm;
}
.costComposition .entrycosts td:first-of-type, .costComposition .exitcosts td:first-of-type, .costComposition .managementfeesandothercosts td:first-of-type, .costComposition .transactioncosts td:first-of-type, .costComposition .performancefees td:first-of-type {
    font-weight: 100;
    width: 4cm;
}
p.WB_HowlongshouldIholdit_1 {
	margin-bottom: 0.1cm !important;
}
.contentSection.pagenumbers .Pagination p, .contentSection.pagenumbers .footer p {
	/*string-set: pagestring content(); */
}
.pagenumbers .footer, .pagenumbers .Pagination {
    margin: 0.1cm 0cm 0.1cm 0;
    font-size: var(--footerfont);
    position: relative;
    z-index: 1;
	text-align: center;
}
.contentSection.pagenumbers .footer, .contentSection.pagenumbers .Pagination {
  position: running(pageFooter);
  text-align: right;
}
.page2 .compositebody, .page3 .compositebody {
  page-break-inside: avoid;
}

/* @page styles */
@page {
	margin: 1cm 0 0.5cm 0;
	padding-top: 0;
	@bottom-right{
		content: element(pageFooter);
		border: none;
		margin:0 1cm 1cm 0cm;
		font-family: var(--fontRegular);
		font-size: var(--footerfont);
		text-align: right;
  }
}

/* theme name: santander_theme_202208_EU */