@font-face {
    font-family: 'sharpsans_regular';
    src: url('images/SharpSansDispNo1-Medium.ttf') format('truetype'), url('images/SharpSansDispNo1-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sharpsans_semibold';
    src: url('images/SharpSansDispNo1-SemiBold.ttf') format('truetype'), url('images/SharpSansDispNo1-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sharpsans_bold';
    src: url('images/SharpSansDispNo1-Bold.ttf') format('truetype'), url('images/SharpSansDispNo1-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$font-light: 'sharpsans_regular';
$font-regular: 'sharpsans_regular';
$font-semi-bold: 'sharpsans_semibold';
$font-bold: 'sharpsans_bold';

$font-size: (
    "micro": 8pt,
    "small": 9pt,
    "midsize": 10pt,
    "normal": 10.5pt,
    "medium": 12pt,
    "large": 20pt,
    "footer":7pt
);
$font-weight: (
    "light":200,
    "normal":400,
    "medium":600,
    "bold":700
);
$line-height: (
    "small":0.8,
    "base":auto,
    "normal":1,
    "medium":1.1,
    "large":1.5
);
