.ui-noscroll-tabs-header .nav-item.active,.ui-scroll-tabs-header .nav>li>a.active,
.ui-scroll-tabs-header .nav>li>a.active:focus,.ui-scroll-tabs-header .nav>li>a.active:hover {
    background: #003838 !important;
}
.ui-noscroll-tabs-header .nav-item {
    text-decoration: none;
    opacity: 1;
    border: 0;
    height: 30px;
    margin: 0 2px 0 0;
    padding: 0;
    font-size: 14px;
    border:none !important;
}
.ui-noscroll-tabs-header .nav-item,.ui-scroll-tabs-header .nav>li>a:focus,.ui-scroll-tabs-header .nav>li>a:hover{
    background: #078a89 !important;
    border:none !important;
}
.ui-noscroll-tabs-header .nav-link {
    color: #fff !important;
    padding: 0.25em 1em !important;
    border:none !important;
}
.ui-scroll-tabs-header .nav-item.active:after{
    display: none;
}
.ui-scroll-tabs-header .nav-tabs {
    border-bottom: none;
}
ul.nav.nav-tabs.justify-content-start {
    background: url("fe_img/bottom-line1.png") no-repeat scroll right bottom  !important;
    height: 61px;
}
.fe-responsive-charting-container{
background:#fff !important;
}