/* File Created: September 18, 2012 */

/*FE basket Icons*/
a.fe-ico-basket-remove, td.fe-icon-basket-remove a
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_remove_from_basket.png) no-repeat left 1px;
    height: 13px;
    float: left;
}

a.fe-ico-basket-shortlist-add, a.fe-ico-basket-portfolio-add, td.fe-icon-basket-add a
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_addFund.png) no-repeat left 1px;
    height: 13px;
    float: left;
}


/*Basket Pin and Unpin*/
.fe-ico-pin, .fe-ico-unpin
{
    padding-bottom: 0px;
    padding-left: 17px;
    padding-right: 0px;
    padding-top: 0px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -5px;
}

.fe-ico-pin
{
    background: url(/Assets/images/ico_pin.png) no-repeat left 1px;
}

.fe-ico-unpin
{
    background: url(/Assets/images/ico_unpin.png) no-repeat left 1px;
}

/*Basket Expand and collapse*/
.fe-ico-basket-expand, .fe-ico-basket-collapse
{
    padding-bottom: 0px;
    padding-left: 17px;
    padding-right: 0px;
    padding-top: 0px;
    margin-right: 5px;
    float: right;
    position: relative;
    top: -30px;
    height: 20px;
}

.fe-ico-basket-expand, .fe-ico-basket-collapse
{
    background: url(/Assets/images/ico_expand.png) no-repeat left 1px;
}

.fe-ico-basket-collapse
{
    background: url(/Assets/images/ico_colapse.png) no-repeat left 1px;
}

/*Icon move*/
.fe-ico-move
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_move.png) no-repeat left 1px;
    float: left;
}
/*End Basket*/
/*Model Portfolios*/
.fe-fund-tableBody td.fe-icon-export-portfolio a /* this should be revisited to be made single class selector only */
{
    background: url(/Assets/images/export-fund.png) no-repeat;
    display: block;
    cursor: pointer;
    height: 12px;
    width: 16px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.fe-ico-add-to-basket
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_addToBasket.png) no-repeat left 1px;
}

.fe-ico-add-to-basket:hover
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_addToBasketOver.png) no-repeat left 1px;
}

.fe-ico-add-to-portfolio
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_addToPortfolio.png) no-repeat left 1px;
}

.fe-ico-add-to-portfolio:hover
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_addToPortfolioOver.png) no-repeat left 1px;
}
/*End Model Portfolios*/


/*General Icons*/
td.fe-icon-multiple-documents a
{
    background-image: url(/Assets/images/ico_multipleDoc.png);
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: auto;
}

a.fe-icon-back
{
    background: url(/Assets/images/ico_back.png) no-repeat left 0px;
    cursor: pointer;
    padding: 1px 1px 1px 20px;
}

a.fe-icon-deleteall
{
    background: url(/Assets/images/ico_deleteBasket.png) no-repeat left 0px;
    cursor: pointer;
    padding: 1px 1px 1px 20px;
}
/*End general icons*/

/* FE-research */

a.fe-icon-research
{
    background-image: url(/Assets/images/icon_factsheet.bmp);
    display: inline-block;
    width: 12px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    padding: 1px;
}

/* End FE-research */

.fe-tabs-Loading-Icon
{
    background: url(/Assets/images/ajax-loader.gif) no-repeat left 1px;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 43%;
    margin-top: 10%;
    margin-right: 10px;
}

a.fe-icon-expandcollapse
{
    background-image: url(/Assets/images/expand-all-ico.png);
    display: inline-block;
    width: 150px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    padding: 1px 1px 1px 24px;
}

a.fe-icon-expandcollapse.fe-button-collapse
{
    background-image: url(/Assets/images/colapse-all-ico.png);
}

.fe-loadingIcon
{
    background: url(/Assets/images/ajax-loader.gif) no-repeat left 1px;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 48%;
    margin-top: 40%;
}


#floatcontainer .fe-basket-addtoshortlist
{
    background: #15343A url(/Assets/images/addToShortlist_inBasket.png) center;
}

#floatcontainer .fe-basket-ammendbasket
{
    background: #15343A url(/Assets/images/amendBasket_inBasket.png) center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
}

td.fe-portfolioscan-icon a
{
    background: url(/Assets/images/PortfolioScan.png) center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
}

td.fe-portfolioscanpdf-icon a
{
    background: url(/Assets/images/PortfolioScan.png) center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
}


td.fe-editportfolio-icon a, .edit
{
    background: url(/Assets/images/ammend.png) center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
}

a.fe-showportfolioconstituents {
    background: url(/Assets/images/icon_information.png) right no-repeat;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    padding-right: 30px;   
}

.fe-tooltipinfo {
    background: url(/Assets/images/icon_information.png) right no-repeat;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    padding-right: 30px;
    border-bottom: 0px ;
}

.apply
{
    background: url(/Assets/images/apply.png) center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.cancel
{
    background: url(/Assets/images/cancel.png) center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
}

/*FE basket Icons*/
.delete
{
    display: inline-block;
    background: url(/Assets/images/ico_remove_from_basket.png) center no-repeat;
    height: 13px;
    width: 13px;
}


#floatcontainer .fe-basket-addtoportfolio
{
    background: #15343A url(/Assets/images/addToPortfolio_inBasket.png) center;
}

#floatcontainer .fe-basket-chartall
{
    background: #15343A url(/Assets/images/chartAll_inBasket.png) center;
}


#floatcontainer .fe-button-export
{
    background: #267382 url(/Assets/images/export_inBasket.png) center;
}


#floatcontainer .fe-basket-clear
{
    background: red url(/Assets/images/deleteAll_inBasket.png) center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

#floatcontainer .fe-basket-addtoshortlist, #floatcontainer .fe-basket-ammendbasket, #floatcontainer .fe-basket-addtoportfolio, #floatcontainer .fe-basket-chartall, #floatcontainer .fe-button-export
{
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
}


.fe-fund-document
{
    background-image: url(/Assets/images/icon_factsheet.bmp);
    display: inline-block;
    width: 12px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    padding: 1px;
}


.fe-pscan-benchmark-clientNameContainer label
{
     background-image: url(/Assets/images/ico_client_name.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
       width: 120px;
     cursor: pointer;
}

.fe-pscan-benchmark-portfolioNameContainer label
{
     background-image: url(/Assets/images/ico_portfolio_name.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
      width: 120px;
     cursor: pointer;
}

.fe-pscan-benchmark-preparedByContainer label
{
     background-image: url(/Assets/images/ico_preparedby.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
     width: 120px;
     cursor: pointer;
}

.fe-pscan-benchmark-datePreparedContainer label
{
     background-image: url(/Assets/images/ico_date_prepared.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
     width: 120px;
     cursor: pointer;
}

.fe-pscan-benchmark-summaryTextContainer label
{          
     background-image: url(/Assets/images/ico_summary_text.png);
     background-repeat: no-repeat;
     margin-top: 5px;          
     display: inline-block;
     height: 30px;
     width: 120px;
     cursor: pointer;    
     vertical-align: top;     
}


.fe-shownext
{
     background-image: url(/Assets/images/ico_next.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 41px;
     width: 40px;
     cursor: pointer;
     position: absolute;
     right:0.3em;
     bottom:0.3em;
    
}

.fe-comparison-report-clientNameContainer label
{
     background-image: url(/Assets/images/ico_client_name.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
       width: 120px;
     cursor: pointer;
}

.fe-comparison-report-preparedByContainer label
{
     background-image: url(/Assets/images/ico_preparedby.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
     width: 120px;
     cursor: pointer;
}

.fe-comparison-report-datePreparedContainer label
{
      background-image: url(/Assets/images/ico_date_prepared.png);
     background-repeat: no-repeat;
     display: inline-block;
     height: 30px;
     width: 120px;
     cursor: pointer;
}

/* START: Add funds directly to Shortlist, Portfolio and Dynamic Shortlist. */
td.fe-icon-shortlist-add a, td.fe-icon-portfolio-add a, td.fe-icon-dynamicshortlist-add a
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_addFund.png) no-repeat left 1px;
    height: 13px;
    float: left;
}

a.fe-icon-shortlist-remove, td.fe-icon-shortlist-remove a
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_remove_from_basket.png) no-repeat left 1px;
    height: 13px;
    float: left;
}

a.fe-icon-portfolio-remove, td.fe-icon-portfolio-remove a
{
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_remove_from_basket.png) no-repeat left 1px;
    height: 13px;
    float: left;
}

a.fe-icon-dynamicshortlist-remove, td.fe-icon-dynamicshortlist-remove a {
    padding: 0px 0px 0px 17px;
    background: url(/Assets/images/ico_remove_from_basket.png) no-repeat left 1px;
    height: 13px;
    float: left;
}
/* END: Add funds directly to Shortlist and Portfolio. */