//common
$white: #ffffff;
$black: #000000;
$grey: rgb(219,217,214);
$light-grey: #f2f2f2;
$darkgrey: #000;
$blue: rgb(24, 122, 186);
$red: red;
$altrow: #0f8ec766;
$yellow:yellow;


//theme specific
$primary: #000;
$secondary: rgb(226,226,226);
$color1: rgb(110,196,233);
$color2: rgb(3, 76, 160);
