@font-face {
    font-family: "NordeaSansSmall";
    src: url("images/nordeasans.eot");
    /* IE9*/
    src: url("images/nordeasans.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("images/nordeasans.woff2") format("woff2"),
        /* chrome、firefox */
        url("images/nordeasans.woff") format("woff"),
        /* chrome、firefox */
        url("images/nordeasans.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("images/nordeasans.svg#NordeaSansSmall") format("svg");
    /* iOS 4.1- */
}

/*

@font-face {
    font-family: 'bentonsans_regular';
    src: url('images/BentonSans Condensed Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsans_semibold';
    src: url('images/BentonSans Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsans_bold';
    src: url('images/BentonSans Condensed Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}*/



$font-light: 'NordeaSansSmall';
$font-regular: 'Calibri';
$font-semi-bold: 'Calibri';
$font-bold: 'Calibri';

$font-size: (
    "nano":6pt,
    "micro": 8pt,
    "small": 9pt,
    "midsize": 10pt,
    "normal": 11pt,
    "medium": 12pt,
    "uppermedium": 15pt,
    "large": 16pt,
    "footer":7pt
);
$font-weight: (
    "light":200,
    "normal":400,
    "medium":600,
    "bold":700
);
$line-height: (
    "small":0.8,
    "base":auto,
    "normal":1,
    "medium":1.1,
    "large":1.5
);