@font-face {
    font-family: 'noto_sansbold';
    src: url('images/notosans-bold-webfont.woff2') format('woff2'),
         url('images/notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sanslight';
    src: url('images/notosans-light-webfont.woff2') format('woff2'),
         url('images/notosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sansregular';
    src: url('images/notosans-regular-webfont.woff2') format('woff2'),
         url('images/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sanssemibold';
    src: url('images/notosans-semibold-webfont.woff2') format('woff2'),
         url('images/notosans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frutigerlightregular';
    src: url('images/Frutiger 45 Light Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frutigerlightbold';
    src: url('images/Frutiger 45 Light Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$fontLight:'frutigerlightregular';
$fontRegular:'frutigerlightregular';
$fontSemiBold:'frutigerlightbold';
$fontBold:'frutigerlightbold'; 


$font-size: ("micro": 8.5pt,"small": 9pt, "normal": 10pt, "semimedium": 12pt,"medium": 14pt,"uppermedium": 16pt,"large": 25pt,"footer":7pt);
$font-weight: ("light":200,"normal":400, "medium":600,"bold":700);
$line-height:("small":0.8,"base":auto, "normal":1,"large":1.5);