@font-face {
	font-family: "myriad_prosemibold";
	src: url("images/myriad_pro_semibold-webfont.woff2") format("woff2"), url("images/myriad_pro_semibold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: "myriad_prolight";
	src: url("images/myriad_pro_light-webfont.woff2") format("woff2"), url("images/myriad_pro_light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }

:root{
	--primary: #477799;
	--secondary: #d1c2dd;
	--header:#212121;
	--headerbg: var(--primary);
	--parabg: var(--secondary);
	--black: #000000;
	--white:#ffffff;
	--red: #E60000;
	--border: var(--black);
	--tableborder: var(--black);
	--tableheader: var(--black);
	--tablerowheader: var(--secondary);
	--tableheaderbg: var(--primary);
	--tablesubheaderbg:rgba(0,156,166,0.05);
	--altrow: #E6EBED;
	--bodyfont:9pt;
	--bodylineheight:1.2;
	--footerfont:6.5pt;
	--footerlnheight:1;
	--headerbottomspace:0cm;
	--h2: 11pt;
	--h3:10pt;
	--fontRegular:myriad_prolight;
	--fontLight:myriad_prolight;
	--fontBold:myriad_prosemibold;
	--fontSemiBold:myriad_prosemibold;
	--pagewidth:20cm;
	--pageheight:auto;
    --pagelogo:none;
	--bodycolor:var(--black);
}

/**/
body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-family: var(--fontLight);
	font-size: var(--bodyfont);
	color: var(--bodycolor);
	line-height: var(--bodylineheight);
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}
table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	border: 0;
	table-layout: fixed;
}
table th, table td {
	border-bottom: 0.5pt solid var(--tableborder);
	border-right: 0.5pt solid var(--tableborder);
	padding: 1mm;
	margin: 0;
	vertical-align: middle;
	font-size: 6pt;
	text-align: center;
}
table th {
	background: var(--tableheaderbg);
	border-right: 0pt solid var(--tableheaderbg);
	font-family: var(--fontSemiBold);
	font-weight: 100;
	page-break-inside: avoid;
	overflow-wrap: break-word;
	color: #fff;
	border-bottom: 0;
}
table td {
	background: none;
}
table tr.headerData:first-child th {
	border-top: 0.5pt solid var(--tableheaderbg);
}
table th:first-child {
	border-left: 0.5pt solid var(--tableheaderbg);
}
table td:first-child {
	border-left: 0.5pt solid var(--tableborder);
}
h2 {
	border-top: 0.5pt solid #477799;
  font-family: 'myriad_prosemibold';
  font-size: var(--h2);
  color: var(--primary);
  margin-bottom: 0.1cm;
  padding: 1mm 0;
}
p:empty, h2:empty {
	margin: 0;
	padding:0;
	border: 0;
	max-width: inherit;
	min-height: inherit;
	width: auto;
	height: auto;
}
p {
	padding: 0 0 0.2cm;
}
p br {
    content: "";
    display: block !important;
    margin: 0 0 !important;
    padding: 0 !important;
    line-height: 0.2 !important;
	height: 0 !important;
	font-size: 0 !important;
}
b {
}
h2 {
  bookmark-level: 1;
}
.clear {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.subheader p {
  bookmark-level: 2;
}
/* page styles*/
.page {
	width: 19cm;
	height: auto;
	padding: 0cm 1cm 0cm 1cm;
	position: relative;
}
.page1 {
	background:url(images/logo.svg) no-repeat;
	background-size: 4cm 1.11cm;
	background-position: 16cm 0;
}
.page1 > .row1 .contentSection h2 {
	font-size: 22pt;
}
.page1 > .row2 > .contentSection .item3 {
	font-family: var(--fontBold);
}
.page1 > .row3 {
	/* background: var(--parabg);
	padding: 2mm; */
	margin-bottom: 0.2cm;
}
.page1 > .row3 p {
	padding-bottom: 0;
}
.monthlyperformancetable1 .SubheaderData th:first-child, .monthlyperformancetable1 .groupRowDiv1 .Row td:first-child, .monthlyperformancetable1 .groupRowDiv1 .Row td:last-child {
	width: 7.5%;
}
.monthlyperformancetable1 .SubheaderData th:nth-child(2), .monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(2) {
	width: 7.5%;
}
.monthlyperformancetable1 .SubheaderData th:nth-child(3), .monthlyperformancetable1 .groupRowDiv1 td:nth-child(1) {
	width: 6%;
}
.monthlyperformancetable1 .SubheaderData th:nth-child(4), .monthlyperformancetable1 .groupRowDiv1 td:nth-child(2) {
	width: 7.5%;
}
.monthlyperformancetable1 .SubheaderData th:nth-child(5), .monthlyperformancetable1 .groupRowDiv1 td:nth-child(3) {
	width: 8%;
}
.monthlyperformancetable1 .SubheaderData th:nth-child(5) ~ th, .monthlyperformancetable1 .groupRowDiv1 td:nth-child(3) ~ td {
	width: 8%;
}
/*NonDeathscenario*/
.monthlyperformancetable1 .NonDeathscenario .SubheaderData th:first-child, .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario .Row td:first-child, .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario .Row td:last-child {
	width: 8.15%;
}
.monthlyperformancetable1 .NonDeathscenario .SubheaderData th:nth-child(2), .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario tr:not(.Row) td:nth-child(2) {
	width: 7.5%;
}
.monthlyperformancetable1 .NonDeathscenario .SubheaderData th:nth-child(3), .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario td:nth-child(1) {
	width: 6%;
}
.monthlyperformancetable1 .NonDeathscenario .SubheaderData th:nth-child(4), .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario td:nth-child(2) {
	width: 7.5%;
}
.monthlyperformancetable1 .NonDeathscenario .SubheaderData th:nth-child(5), .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario td:nth-child(3) {
	width: 8.15%;
}
.monthlyperformancetable1 .NonDeathscenario .SubheaderData th:nth-child(5) ~ th, .monthlyperformancetable1 .groupRowDiv1 .NonDeathscenario td:nth-child(3) ~ td {
	width: 8%;
}

.pagenumbers .footer, .pagenumbers .Pagination {
    margin: 0.1cm 0cm 0.1cm 0 !important;
    float: right;
    font-size: var(--footerfont);
    position: relative;
    z-index: 1;
}
.contentSection.pagenumbers .footer p, .contentSection.pagenumbers .Pagination p {
  position: running(pageNum);
  text-align: right;
}

/* @page styles */
@page {
	margin: 1cm 0cm 1cm 0cm;
	padding: 0;
	@bottom-right {
		content: element(pageNum);
		margin:0 1cm 1cm;
		padding: 0.15cm 0 0cm;
		font-size: var(--footerfont);
		font-family: var(--fontLight);
		font-weight: 100;
		color: var(--bodycolor);
		width: 5cm;
	}
}

.page1> .row1 .contentSection  h2{
	border-top: 0;
    text-align: center;
    font-size: 20pt;
}
/* theme name: MP_MSIM_Eu*/