@font-face {
    font-family: 'FrutigerLight';
    src: url('../Images/frutigerltw01-45light.eot');
    src: url('../Images/frutigerltw01-45light.eot?#iefix') format('embedded-opentype'), url('../Images/frutigerltw01-45light.woff2') format('woff2'), url('../Images/frutigerltw01-45light.woff') format('woff'), url('../Images/frutigerltw01-45light.ttf') format('truetype'), url('../Images/frutigerltw01-45light.svg#frutigerltw01-45light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FrutigerBold';
    src: url('../Images/FrutigerLTStd-Bold.eot');
    src: url('../Images/FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('../Images/FrutigerLTStd-Bold.woff2') format('woff2'), url('../Images/FrutigerLTStd-Bold.woff') format('woff'), url('../Images/FrutigerLTStd-Bold.ttf') format('truetype'), url('../Images/FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'FrutigerLight', serif;
    font-size: 9pt;
}
.page {
    position: relative;
    width: 19cm;
    height: 27.7cm;
    padding: 1cm;
}
.row {
    margin-bottom: 0.2cm;
}
.column > .section {
    margin-left: 0.5cm;
}
.column:first-child > .section {
    margin-left: 0;
}
h1, h2, h3 {
    margin: 0;
    color: #003399;
	font-family: 'FrutigerBold';
	font-size: 10pt;
	margin-bottom: 5px;
}
p {
    margin: 0;
    margin-bottom: 0.25cm;
}
.vertical-list div {
    margin-bottom: 0.25cm;
}
.vertical-list div span:first-child {
    color: #3399FF;
}
/*
.page > .row1 {
    border-bottom: 3px solid #003399;
}
*/
.logo{
    background:url(../../Images/logo.png) no-repeat right top;
	background-size: 100% auto;
	width: 300px;
	height: 100px;
	display: block;
}
.page1 > .row2 > .column2 > .section {
    background-color: #efefef;
    border-radius: 0.25cm;
    padding: 0.25cm;
}
.tabs.breakdowns {
    border: none;
    margin: 10px;
}
.tabs.breakdowns > .tabpanes {
    border: none;
}
.tabs.breakdowns > .tabpanes > .slider > .tab {
    padding-bottom: 20px;
}
.tabs.breakdowns > .tabbuttons {
    position: absolute;
    bottom: 5px;
    z-index: 10000;
}
.tabs.breakdowns > .tabbuttons > .tab {
    border: none;
    background-color: #000;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    text-indent: -10000px;
}
table {
    width: 100%;
    border-spacing: 0;
}
table th {
    background-color: #000066;
    color: #fff;
	padding: 5px;
}
table td{
	border-bottom: 0.5pt solid #000066;
	padding: 5px;
	text-align: center;
}
.PerformanceChart .chart {
    height: 4cm;
}
.key-color {
    width: 12px;
    height: 12px;
	border-radius: 100%;
}
.PerformanceChart .key-color{
	border-radius: 0;
	width: 5mm;
	height: 1mm;
    margin-top: 7px;
}
.page1 > .row1 > .column1 {
    padding: 1cm 0 0.3cm;
}
.page1 > .row1 > .column1:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    background-color: #e7ECEB;
    height: 100%;
    width: 32%;
    z-index: -1;
    box-sizing: border-box;
}
.page1 > .row1 > .column1 .row {
    padding: 0 0.3cm;
}
.FundInfo {
    border: 1pt solid #000066;
}
.FundInfo div{
	width: 100%;
	border-bottom: 0.5pt solid #fff;
}
.FundInfo div:nth-last-child(2){
	border-bottom: 0;
}
.FundInfo div .label {
    background-color: #000066;
    width: 50%;
    color: #fff;
    margin: 0;
    padding-left: 5px;
}
.FundInfo div .value {
    padding-right: 5px;
}
.Fundname * {
    font-size: 15pt;
    font-family: 'FrutigerBold', sans-serif;
    color: #003399;
}
td.rowheader {
    text-align: left;
}
.Warning1 {
    border: 1pt solid #003399;
    padding: 5px;
}
.Warning1 p {
    margin-bottom: 0;
}
.SourcePage1 {
    position: absolute;
    bottom: 1cm;
    right: 1cm;
    width: 57%;
	font-size: 8pt;
}
.breakdown td.Name {
    text-align: left;
}
.breakdown td.Weight {
    text-align: right;
}
.breakdown td.Key {
    width: 12px;
}
/*
.page1 > .row1 {
    background-color: #E7ECEB;
	height: 27.7cm;
}
*/
.page1 > .row1 > .column2 > .row1 > .column1{
	width: 70%;
}
.page1 > .row1 > .column2 > .row1 > .column2{
	width: 30%;
}
.page1 > .row1 > .column2{
	padding-top: 1cm;
/*
	background-color: #fff;
	height: 27.7cm;
*/
}
.YearlyInvestmentTable, .PerformanceChart, .performancetable  {
    margin-bottom: 20px;
}
.YearlyInvestmentTable th, .YearlyInvestmentTable td {
    font-size: 6pt;
}