@font-face {
	font-family: 'Arial';
	src: url('fe_img/arial.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	src: url('fe_img/arialbd.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'akkurat_proregular';
    src: url('fe_img/akkuratpro-regular-webfont.woff2') format('woff2'),
         url('fe_img/akkuratpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "Publico Pro Web";
	src: url("fe_img/PublicoPro-Bold-Web.woff2") format("woff2"),
		     url("fe_img/PublicoPro-Bold-Web.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	}
    @font-face {
        font-family: 'AvenirNextLTPro_Regular';
        src: url('fe_img/avenirnextltpro-regular.ttf') format('truetype'), url('fe_img/avenirnextltpro-regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'AvenirNextLTPro_Medium';
        src: url('fe_img/avenirnextltpro-medium.ttf') format('truetype'), url('fe_img/avenirnextltpro-medium.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
:root{
	  --primary:#00485E;
	  --secondary:#353535;
	  --orange:#FF6120;
	  --lightblue:#6ABDC6;
	  --highlightpink:#FF00A0;
	  --yellow:#F5E02E;
      --lightgray:#E3EBED;
      --white:#FFF;
      --black:#000;
      --fontDrukBold:"Druk-Bold";
      --fontHeadings:"Publico Pro Web";
      --bodyFont:"akkurat_proregular";
      --font:"Arial";
      --fontRegular: 'AvenirNextLTPro_Regular';
      --fontLight: 'AvenirNextLTPro_Regular';
      --fontBold: 'AvenirNextLTPro_Medium';
      --fontItalic: 'AvenirNextLTPro_Regular';
}
*{
	box-sizing: border-box;
}
body {
      font-family: var(--fontRegular);
      color: var(--secondary);
      font-size:16px;
      font-weight: 100;
      padding: 0px;
      margin: 0px;
}
/* h1{
    font-family: var(--fontDrukBold);
}
h2,h3,h4,h5,h6{
    font-family: var(--fontRegular);
} */
.page {
    width: 900px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #d8d9db;
    background: #d8d9db;
    font-weight: normal;
    color: var(--secondary);
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	color: var(--secondary);
}
a:focus, li:focus, span:focus, input:focus, button:focus {
    outline:none !important;
}
ul.ui-tabs-nav li,.ui-tabs .ui-tabs-nav li {
    margin: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: transparent;
}
.ui-widget-header{
	border: none;
    background: transparent;
}
ul.ui-tabs-nav li.ui-tabs-selected{
	margin-bottom: 0;
	/* border: 1px solid #d8d9db; */
    background: #d8d9db;
}
.fundCentreContent{
	position: relative;
}
.fe-fundcentre-content::before {
    /* content: "";
    background-image: url('fe_img/logo-image.png');
    background-size: auto 67px;
    background-position: top left;
    background-repeat: no-repeat;
    width: 500px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; */
}
.fe-helptext-switch{
    display: none !important;
}
.fe-cover.fe-fundInformationTools{
    position: relative;
}
.fe-cover.fe-fundInformationTools::before {
    /* content: "";
    background-image: url("fe_img/banner-image.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 9;
    background-position: center center; */
}
.fe-tabs-container-FundCentre{
	position: relative;
	/* padding-top: 225px; */
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 16px 10px;
    font-size: 13px;
}
button.fe-button.fe-search-button.fe-button-chartall {
    position: relative;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    font-size: 12px;
    color: var(--white);
}
.fe-datatable {
    border-spacing: 0;
}
.fe-datatable th {
    background: #E6E6E6;
    padding: 15px 10px;
    vertical-align: middle;
}
.ui-tabs .ui-tabs-nav {
    padding: 0;
}
.ui-tabs .ui-tabs-panel {
    padding: 1em 0;
}
.ui-widget-header {
    border: none;
    background: transparent;
}
ul.ui-tabs-nav {
    padding: 0;
    /* border-top: 1px solid var(--lightgray) !important;
    border-bottom: 1px solid var(--lightgray) !important; */
    display: flex;
}
ul.ui-tabs-nav li {
    padding: 0;
    margin: 0;
    border: 0;
    flex-basis: 100%;
    background: #ffffff;
    border-top: 1px solid var(--lightgray) !important;
    border-bottom: 1px solid var(--lightgray) !important;
}
ul.ui-tabs-nav li.ui-tabs-selected{
    border-color: #d8d9db !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 2.5mm;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
ul.ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding: 0;
    background: #d8d9db;
}
ul.ui-tabs-nav li.ui-tabs-selected .ui-tabs-anchor {
    color: #454545;
}
.fe-section-vertical.section_3_1, 
.fe-section-vertical.section_3_2, 
.fe-section-vertical.section_3_3{
    width: 100% !important;
    margin-bottom: 0.7cm;
    border-right: 0;
    background-color: #F6F6F6;
    padding: 18px;
    border: none;
}
.fe-tab-container-Performance1 .fe-section-vertical.section_4_1, 
.fe-tab-container-Performance .fe-section-vertical.section_4_1 {
    width: 100% !important;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    margin-top: 0;
}
.fe-section-vertical.section_3_1 h5, 
.fe-section-vertical.section_3_2 h5, 
.fe-section-vertical.section_3_3  h5,
.fe-tab-container-Performance1 .fe-section-vertical.section_4_1 h5, 
.fe-tab-container-Performance .fe-section-vertical.section_4_1 h5{
    font-size: 20px;
    font-family: var(--fontRegular);
    margin: 0 0 10px;
    text-transform: uppercase;
}
.fe-section-vertical-wrap .fe-section-vertical-val {
    font: 15px/1.2 var(--fontRegular);
    background-color: transparent;
    color: var(--secondary);
}
/* .fe-tab-container-Performance1 .section_3_1 .fe-section-vertical-wrap .fe-section-vertical-val,
.fe-tab-container-Performance1 .section_3_2 .fe-section-vertical-wrap .fe-section-vertical-val,
.fe-tab-container-Performance1 .section_3_3 .fe-section-vertical-wrap .fe-section-vertical-val,
.fe-tab-container-Performance1 .section_3_3 .fe-section-vertical-wrap .fe-section-vertical-val{
    font-size: 14px;
} */
.fe-tabs-container-ResponsiveFactsheet {
    padding-top: 100px;
}
.fe-section-horizontal-wrap {
    /* padding: 10px 0 10px; */
    padding: 7.5px 0;
}
.fe-section-horizontal-wrap:last-child{
    border-bottom:none;
}
.fe-section-vertical.section_1_1 {
    position: absolute;
    top: -150px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 57% !important;
}
.fe-section-vertical.section_1_1 h5{
    width: 100%;
    margin: 0 0 10px;
}
.Price.fe-section-vertical-wrap,
.Change_.fe-section-vertical-wrap,
.Yield.fe-section-vertical-wrap{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.fe-section-vertical-wrap .fe-section-vertical-name {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 26px;
    font-family: var(--fontRegular);
    font-size: 16px;
}
.fe-helptext-image {
    width: 20px;
    cursor: help;
}
.fe-helptext-image:empty{
    display: none;
}
.fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-val{
    font-weight: 700;
    background: transparent;
    font-family: var(--fontRegular);
    /* font-size: 35px; */
    font-size: 20px;
}
.fe-section-horizontal ,.fe-tab-container-KeyFacts .section_5_1 {
    float: left;
    width: 100% !important;
    padding: 18px;
    border: none;
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: #F6F6F6;
}
.fe-section-horizontal.section_2_2,
.fe-tab-container-Overview1 .fe-section-horizontal.section_2_3,
.fe-tab-container-Performance1 .fe-section-horizontal.section_2_3,
.fe-tab-container-Holdings .fe-section-horizontal.section_2_3,
.fe-tab-container-KeyFacts .section_2_3
{
    border: none;
    background-color: #4D4D4D;
    color: #fff;
    padding: 9px;
    width: 240px !important;
    float: right;
    text-align: left;
    position: absolute;
    right: 0;
    top: 12px;
}
.fe-section-horizontal h5,.fe-tab-container-KeyFacts h5 {
    font-size: 20px;
    margin: 0 0 10px;
    font-family: var(--fontRegular);
}
.fe-section-horizontal.section_1_2 {
    position: absolute;
    top: -150px;
    right: 0;
    background: transparent;
    width: 350px !important;
    padding: 0;
    margin: 0;
}
.fe-section-horizontal.section_1_2 h5{
    margin-top: 0;
}
.fe-section-horizontal.section_1_2 .fe-section-horizontal-wrap{
    border-bottom:none;
}
.fe-section-text.section_2_1 {
    /* width: 100% !important; */
    /* border-bottom: 1px solid var(--lightgray); */
}
.fe-section-horizontal-wrap .fe-section-horizontal-name {
    font-size: 13px;
    /* font-weight: 100; */
    font-family: var(--fontRegular);
    padding-right: 5px;
}
.fe-section-horizontal.section_2_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-section-horizontal.section_1_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-section-horizontal.section_2_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-section-horizontal.section_1_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Overview1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-Performance1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-Overview1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-val,
.fe-tab-container-Performance1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_2_3 .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-Holdings .fe-section-horizontal.section_4_3 .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4 .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_4_3 .fe-section-horizontal-name,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4 .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-KeyFacts1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_2_3 .fe-section-horizontal-val,
.fe-tab-container-KeyFacts1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-val{
    /* font-size: 12px !important; */
    font-size: 12px !important;
    padding: 0;
}
.fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-val{
    font-size: 13px;
}
.fe-section-horizontal.section_1_2 .fe-section-horizontal-wrap .fe-section-horizontal-val {
    font-weight: normal !important;
    font-family: var(--fontRegular);
}
.fe-tab-container-Documents .fe-section-horizontal-wrap .fe-section-horizontal-name, 
.fe-tab-container-Documents1 .fe-section-horizontal-wrap .fe-section-horizontal-name 
{
	/* font-size: 15px !important; */
}
.fe-section-horizontal-wrap .fe-section-horizontal-val{
    font-family: var(--fontRegular);
    text-align: left;
    font-size: 13px;
}
.fe-tab-container-Performance .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Performance1 .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-name
{
    font-size: 15px;
    font-weight: 600;
}
.fe-tab-container-KeyFactsandCharges .fe-section-horizontal.section_4_1 .fe-section-horizontal-name,
.fe-tab-container-KeyFactsandCharges .fe-section-horizontal.section_4_1 .fe-section-horizontal-val
{
	font-size:13px;
}
.fe-tab-container-Performance .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Performance1 .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-val
{
    font-size: 15px;
}
.fe-section-chart {
    float: left;
    padding: 0 1%;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-right: 0;
    margin-top: 5px;
    width: 100% !important;
}
span.fe-section-vertical-val.fe-change-negative {
    /* color: red; */
    color: var(--orange);
    /* margin-left: 8px; */
    position: relative;
}
span.fe-section-vertical-val.fe-change-negative::before,
span.fe-section-vertical-val.fe-change-positive:before{
    content: "";
    position: absolute;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-image: none;
    bottom: 8px;
}
span.fe-section-vertical-val.fe-change-negative::before{
    border-color: var(--orange) transparent transparent;
}
span.fe-section-vertical-val.fe-change-positive {
    color: #43B02A;
    position: relative;
}
span.fe-section-vertical-val.fe-change-positive::before {
    border-color: transparent transparent #43B02A;
    bottom: 20px;
}
.fe-responsivefactsheet-title {
    line-height: 52px;
    font-size: 27px;
    font-family: var(--fontRegular);
    font-weight:bold
}
.ui-widget, .fe-section-breakdowns .fe-section-vertical-name, 
.fe-section-breakdowns .fe-section-vertical-val,
.fe-section-holdings .fe-section-vertical-val {
    font: 15px / 18px var(--fontRegular) !important;
}
.fe-section-text h5{
	font-size: 25px;
	font-family:"Times New Roman";
	margin: 9px 0 15px;
}
.fe-section-text {
    font: 16px var(--fontRegular);
    font-weight:100;
    width: 100% !important;
    border-bottom: 1px solid var(--lightgray);
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.fe-fund-tableBody .fe-section-vertical .perfomanceAndRiskSectionHeight > .fe-section-vertical-wrap:first-child .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val
{
    text-align: left;
    font-weight: 700 !important;
    
}
.fe-fund-tableBody .fe-section-vertical.section_3_2 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical.section_3_2 .perfomanceAndRiskSectionHeight > .fe-section-vertical-wrap:first-child .fe-section-vertical-val{
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/* .fe-fund-tableBody .fe-section-vertical.section_3_3 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical.section_3_3 .perfomanceAndRiskSectionHeight > .fe-section-vertical-wrap:first-child .fe-section-vertical-val{
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right:3px;
} */
.fe-tab-container-Performance .fe-fund-tableBody .fe-section-vertical > .fe-section-vertical-wrap,
.fe-tab-container-Performance1 .fe-fund-tableBody .fe-section-vertical > .fe-section-vertical-wrap
{
    min-height: 29px;
	/* border-bottom: 1px solid var(--lightgray); */
}
.Price.fe-section-vertical-wrap,
.Change_.fe-section-vertical-wrap,
.Yield.fe-section-vertical-wrap{
    border: 0 !important;
}
.fe-chart-caveat.fe-caveat {
    background: none repeat scroll 0 0 #F7F7F7;
    /* font-weight: 800; */
    border: 0;
    margin: 0px 0 20px;
    padding: 20px;
    box-sizing:border-box;
    line-height: 1.3;
    /* width: 655px; */
    width: 645px;
    font-size: 10pt;
}
.fe-chart-caveat.fe-caveat br {
	/* display: block!important; */
	/* font-weight: 400; */
	/* margin-bottom: 15px; */
	display: block;
	content: "";
}
.minFsData {
    width: 655px;
    padding: 0 10px 10px 0;
}
.fe-section-horizontal.section_2_1 {
    width: 100% !important;
}
.fe-section-chart-wrap {
    margin-bottom: 0px;
}
.fe-section-chart.section_2_1 {
    margin-bottom: 15px;
}
button.fe-section-chart-reset {
    display: none;
}
.fe-section-horizontal.section_4_1 {
    width: 100% !important;
}
.fe-section-text.section_5_1 {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.fe-fund-document-icon{
	    background-image: url("fe_img/pdfIcon.png");
	    width: 18px;
	    height: 18px;
}
.fe-tab-container-Overview .fe-section-text.section_4_1{
	padding-bottom:0;
	border-bottom:0;
}
.fe-section-horizontal.section_5_1 {
    width: 100% !important;
}
.fe-tab-container-Documents .fe-section-horizontal.section_4_1{
	margin-bottom:0;
}
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_3,.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2 ,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_3,.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_4_3,.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_5_2,
.fe-tab-container-Performance1 .fe-section-horizontal.section_5_4,.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4,
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4,.fe-tab-container-Overview1 .fe-section-horizontal.section_4_3{
    /* display: none; */
}
.CitiCode{
    display: none;
}
.fe-section-chart .CitiCode{
    display: block;
}
.fe-tab-container-Documents1 .fe-section-horizontal.section_3_2,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_3_2,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_3_2,
.fe-tab-container-Performance1 .fe-section-horizontal.section_4_3,
.fe-tab-container-Overview1 .fe-section-horizontal.section_3_3,
.fe-tab-container-Holdings .fe-section-horizontal.section_3_3,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_3_3{
    right: 0;
    /* top: 335px; */
    top: 390px;
    width: 240px !important;
    float: right;
    text-align: left;
    position: absolute;
    z-index: 99;
    padding:9px;
}
/* How to invest & Forms right section */
.fe-tab-container-Overview1 .fe-section-horizontal.section_4_3,
.fe-tab-container-Performance1 .fe-section-horizontal.section_5_4,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_4_3,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_3,
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_3,
.fe-tab-container-Holdings .fe-section-horizontal.section_4_3,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_4_3{
    right: 0;
    /* top: 485px; */
    /* top: 520px; */
    top: 550px;
    width: 240px !important;
    float: right;
    text-align: left;
    position: absolute;
    z-index: 99;
    padding:9px;
}
/* Regulatory & statutory documents right section */
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_5_2,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2,
.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_5_4,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_6_4
{
    right: 0;
    /* top: 800px; */
    top: 830px;
    width: 240px !important;
    float: right;
    text-align: left;
    position: absolute;
    z-index: 99;
    padding:9px;
    /* display:none; */
}
.fe-tab-container-Overview1 .section_6_4,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_3,
.fe-tab-container-InvestmentManager1 .section_4_2,
.fe-tab-container-Documents1 .section_5_1,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_6_4,
.fe-tab-container-KeyFacts1 .fe-section-horizontal.section_6_4{
    right: 0;
    /* top: 1120px; */
    top: 1145px;
    width: 240px !important;
    float: right;
    text-align: left;
    position: absolute;
    z-index: 99;
    padding:9px;
}

.fe-tab-container-Documents1 .fe-section-horizontal.section_3_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_3_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_3_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Performance1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Overview1 .fe-section-horizontal.section_3_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Overview1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Performance1 .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_5_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_3_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_3_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_6_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_3 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Overview1 .section_6_4 .fe-section-horizontal-wrap .fe-section-horizontal-val,
.fe-tab-container-Documents1 .section_5_1 .fe-section-horizontal-wrap .fe-section-horizontal-val
{
    width: 12%;
}
.fe-tab-container-Documents1 .fe-section-horizontal.section_3_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_3_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_3_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Performance1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Overview1 .fe-section-horizontal.section_3_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Overview1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Performance1 .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_5_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Holdings .fe-section-horizontal.section_3_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Holdings .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_4_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_3_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_5_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_6_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_3 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Overview1 .section_6_4 .fe-section-horizontal-wrap .fe-section-horizontal-name,
.fe-tab-container-Documents1 .section_5_1 .fe-section-horizontal-wrap .fe-section-horizontal-name{
    width: 88%;
}
.fe-fund-tableBody .fe-section-horizontal.section_1_2 .fe-section-horizontal-wrap {
    /* padding: 10px 0 4px; */
    padding: 10px 0 3px;
}
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_2,
.fe-tab-container-KeyFacts .section_5_2  {
    background-color: transparent;
    padding: 0;
    position: relative;
    /* top: 260px; */
    left: 0;
    z-index: 1;
    margin-bottom: 0;
    /* height: 0; */
}
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_2 span, .fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_2 .fe-section-horizontal-val,
.fe-tab-container-KeyFacts .section_5_2 span,.fe-tab-container-KeyFacts .section_5_2 .fe-section-horizontal-val{
    width: auto;
    float: left;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
}
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_2 .fe-section-horizontal-wrap {
    border-bottom: none;
}

.fe-fund-tableBody .fe-helptext-div-css .help-text-callout-middle {
    background: #4D4D4D;
    border: 2px solid #4D4D4D;
    position: relative;
    box-shadow: 0 0 4px #535353;
}
.fe-fund-tableBody .fe-helptext-div-css .help-text-callout-top,
.fe-fund-tableBody .fe-helptext-div-css .help-text-callout-bottom{
    display: none;
}
.fe-fund-tableBody .fe-helptext-div-css .help-text-callout-middle div{
    padding:10px;
    color: #fff;
    font-weight:normal;
    line-height: 14px;
}
.fe-fund-tableBody .fe-helptext-div-css {
    width: 480px;
    left:-234px;
    top:30px;
}
.fe-fund-tableBody .help-text-callout-middle:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #4D4D4D;
    position: absolute;
    top: -12px;
    z-index: 9;
    left: calc(50% - 6px);
}
.fe-fund-tableBody .fe-helptext-image {
    position: relative;
}
.fe-fund-tableBody .fe-helptext-div-css  br {
    content: "";
    margin: 6px 0;
    display: block;
    height: 6px;
}
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_2 h5,
.fe-tab-container-KeyFacts .section_5_2  h5{
    font-size: 12px;
    font-family: var(--fontRegular);
}
.fe-tab-container-Performance1 .fe-section-chart.section_2_1 {
    position: relative;
    /* margin-top:45px; */
    border-top:none;
}
/* .fe-tab-container-Performance1 .fe-section-chart.section_2_1:before {
    content: "Past performance is not a guide to future performance. The value of investments can fall. Investors may not get back the amount invested. Income from investments may vary and is not guaranteed.";
    position: relative;
    top: -40px;
    z-index: 1;
    font: 12px/1.2 var(--fontRegular);
} */
.fe-tab-container-Performance1 .fe-section-chart.section_2_1 h5{
    font: 16px/1.2 var(--fontRegular);
    border-bottom: 1px solid #d5d5d5;
    padding-bottom:10px;
    margin: 0 0 30px 0;
}
.fe-tab-container-KeyFactsandCharges1 .minFsData .fe-section-horizontal.section_5_1,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_6_1{
    /* margin-bottom: 100px; */
    background-color: transparent;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.AdvisorFactsheet, .ManagerCommentary_Monthly,.QuarterlyReport{
    padding: 10px 0 10px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d5d5d5;
    display: table;
}
.QuarterlyReport{
    border-bottom: none;
}
.fe-tab-container-Overview1 .section_6_4,.fe-tab-container-Documents1 .section_5_1 {
    float: left;
    /* padding: 18px; */
    border: none;
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: #F6F6F6;
}
.fe-tab-container-Overview1 .section_6_4 h5,.fe-tab-container-Documents1 .section_5_1 h5 {
    font-size: 20px;
    margin: 0 0 10px;
    font-family: var(--fontRegular);
}
.AdvisorFactsheet > span, .ManagerCommentary_Monthly > span,.QuarterlyReport > span {
    float: left;
    font-weight: 600;
    width: 50%;
    display: table;
    vertical-align: top;
    font-size: 13px;
    font-family: var(--fontRegular);
}
.AdvisorFactsheet span:first-child, .ManagerCommentary_Monthly span:first-child,.QuarterlyReport span:first-child {
    padding-right: 5px;
}
.fe-tab-container-Holdings .fe-section-breakdowns,
.fe-tab-container-Holdings .fe-section-holdings {
    width: 100% !important;
    margin-bottom: 0.7cm;
}
.fe-tab-container-Holdings .fe-section-breakdowns h5 ,
.fe-tab-container-Holdings .fe-section-breakdowns h5,
.fe-tab-container-Holdings .fe-section-holdings h5{
    font-size: 20px;
    font-family: var(--fontRegular);
    margin: 0 0 10px;
    text-transform: uppercase;
}
.fe-tab-container-Holdings .fe-section-breakdowns .fe-section-vertical-val,
.fe-tab-container-Holdings .fe-section-breakdowns .fe-section-vertical-name,
.fe-tab-container-Holdings .fe-section-holdings .fe-section-vertical-val,
.fe-tab-container-Holdings .fe-section-holdings .fe-section-vertical-name{
    color: var(--secondary);
    padding: 15px;
    font-size: 15px;
}
.fe-tab-container-Holdings .fe-section-breakdowns .fe-section-vertical-val:nth-child(1),
.fe-tab-container-Holdings .fe-section-holdings .fe-section-vertical-val:nth-child(1){
    font-weight: 700 !important;
}
.fe-tab-container-Holdings .fe-section-breakdowns .fe-section-nesteddata-row,
.fe-tab-container-Holdings .fe-section-holdings  .fe-section-nesteddata-row{
    margin-top: 20px;
    min-height: 29px;
    border-bottom: none;
}
.fe-tab-container-Holdings .fe-section-breakdowns .fe-section-nesteddata-row.showhiderow ,
.fe-tab-container-Holdings .fe-section-holdings  .fe-section-nesteddata-row.showhiderow,
.fe-tab-container-Holdings .CorporateApplicationForm.fe-section-horizontal-wrap {
    margin-top: 0;
    min-height: unset;
    border-bottom: 1px solid var(--lightgray);
}
.fe-tab-container-Holdings .fe-section-breakdowns h5, .fe-tab-container-Holdings .fe-section-holdings h5{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.fe-tab-container-Holdings .fe-section-breakdowns h5 + div,
.fe-tab-container-Holdings .fe-section-holdings h5 + div {
    display: inline-block;
    width: auto !important;
    padding-left: 10px;
    vertical-align: top;
    margin-top: 1px;
}
.fe-tab-container-Holdings .fe-section-breakdowns.section_2_1 {
    padding-top: 15px;
}
.fe-section-horizontal.section_1_2 span.fe-section-horizontal-val {
    width: 58%;
}
.fe-section-horizontal.section_1_2 span.fe-section-horizontal-name {
    width: 42%;
}
.fe-fund-tableBody .fe-section-horizontal.section_1_2 .Sector.fe-section-horizontal-wrap {
    padding-top: 1px;
}
.ui-scroll-tabs-header ul.ui-tabs-nav li{
    margin:0;
}
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4 .BespokeColumn40,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_1 .BespokeColumn40,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2 .BespokeColumn40,
.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2 .BespokeColumn40,
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_1 .BespokeColumn40,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4 .BespokeColumn40,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4 .BespokeColumn40
{
    display: block;
    position: absolute;
    top: 0;
    background: var(--white);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* .fe-tab-container-Overview1 .fe-section-horizontal.section_4_3, */
.fe-tab-container-Overview1 .fe-section-horizontal.section_3_2,
.fe-tab-container-Overview1 .fe-section-horizontal.section_4_1,
.fe-tab-container-Overview1 .fe-section-horizontal.section_6_1{
    display: none !important;
}

.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4 .BespokeColumn40 *,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_1 .BespokeColumn40 *,
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2 .BespokeColumn40 *,
.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2 .BespokeColumn40 *,
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_1 .BespokeColumn40 *,
.fe-tab-container-Holdings .fe-section-horizontal.section_5_4 .BespokeColumn40 *,
.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4 .BespokeColumn40 *
 {
    display: none !important;
}
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_1{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.fe-tab-container-Holdings .minFsData{
    display: flex;
    flex-direction: column;
}
.fe-tab-container-Holdings .section_2_1{
    order: 1;
}
.fe-tab-container-Holdings .section_3_1{
    order: 2;
}
.fe-tab-container-Holdings .section_4_1{
    order: 3;
}
.fe-tab-container-Holdings .section_4_2{
    order: 4;
}
.fe-tab-container-Holdings .section_5_1{
    order: 5;
}
.fe-tab-container-Holdings .section_5_2{
    order: 6;
}
.fe-tab-container-Holdings .section_5_3{
    order: 8;
}
.fe-tab-container-Holdings .section_6_1{
    order: 7;
}
.fe-tab-container-Holdings .section_6_2{
    order: 9;
}
/* .fe-tab-container-Holdings .section_6_3{
    order: 9;
} */
.fe-tab-container-Holdings .section_6_3{
    order: 10;
}
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_1 .BespokeColumn40 {
    display: none;
}
.fe-tab-container-Overview1 .fe-section-horizontal.section_5_1{
    padding: 18px 0;
    background-color: transparent;
    margin: 0;
}
.fe-section-horizontal.section_2_2 .fe-section-horizontal-name,
.fe-tab-container-Overview1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-name, 
.fe-tab-container-Performance1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-name, 
.fe-tab-container-Holdings .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_2_3 .fe-section-horizontal-name,
.fe-tab-container-KeyFacts1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-name{
    width:60%;
}
.fe-section-horizontal.section_2_2 .fe-section-horizontal-val,
.fe-tab-container-Overview1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-val, 
.fe-tab-container-Performance1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-val, 
.fe-tab-container-Holdings .fe-section-horizontal.section_2_3 .fe-section-horizontal-val,
.fe-tab-container-KeyFacts .fe-section-horizontal.section_2_3 .fe-section-horizontal-val,
.fe-tab-container-KeyFacts1 .fe-section-horizontal.section_2_3 .fe-section-horizontal-val{
    width:40%;
}
.fe-tab-container-KeyFacts .section_2_3 > div span:first-child {
    /* width: 60%;
    min-height: 1px; */
    float: left;
}
.fe-tab-container-KeyFacts .section_2_3 > div span:last-child {
    /* width: 40%;
    min-height: 1px; */
    float: left;
}
.fe-fund-performance-astext-element {
    font-size: 16px;
}
.fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-name,
.fe-tab-container-Performance1 .fe-section-vertical-wrap .fe-section-vertical-name {
    line-height: normal;
}
.fe-tab-container-Performance .perfomanceAndRiskSectionHeight,
.fe-tab-container-Performance1 .perfomanceAndRiskSectionHeight{
    border-top:1px solid var(--lightgray);
}
.fe-tab-container-Overview1 .section_2_1 .pdfableColumn img,
.fe-tab-container-Overview .section_2_1 .pdfableColumn img {
    width: 100px;
    margin-bottom: 15px;
    height:auto;
}
.fe-asatdate-containers ul li {
    margin-left: 20px;
}
.fe-helptext-image-background {
    background-image: url(fe_img/helpTextInfoPink.png) !important;
    width: 16px;
    height: 16px;
    border: 0;
    display: inline-block;
}
.fe-tab-container-Overview1 .fe-section-horizontal.section_4_3 .BespokeColumn40, 
.fe-tab-container-Performance1 .fe-section-horizontal.section_5_4 .BespokeColumn40, 
.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_4_3 .BespokeColumn40, 
.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_3 .BespokeColumn40, 
.fe-tab-container-Documents1 .fe-section-horizontal.section_4_3 .BespokeColumn40, 
.fe-tab-container-Holdings .fe-section-horizontal.section_4_3 .BespokeColumn40{
    display: none;
}
.fe-tab-container-KeyFacts .section_2_3 > div ,
.fe-tab-container-KeyFacts .section_5_1 > div{
    width: 100%;
    float: left;
    border-bottom: 1px solid #d5d5d5;
    display: table;
    font-size: 12px !important;
    padding: 7.5px 0;
}
.fe-tab-container-KeyFacts .section_2_3 > div:last-child,
.fe-tab-container-KeyFacts .section_5_1 > div:last-child{
    border-bottom:none;
}
.fe-tab-container-Performance1 .BespokeColumn40, .fe-tab-container-Performance .BespokeColumn40,
.fe-tab-container-Overview1 .fe-section-horizontal:has(.BespokeColumn40) {
    display: none;
}
.fe-tab-container-Performance1 .fe-section-horizontal.section_3_1:has(.BespokeColumn40 ),
.fe-tab-container-Performance .fe-section-horizontal.section_3_1:has(.BespokeColumn40 ),
.fe-tab-container-Performance1 .fe-section-horizontal.section_3_2:has(.BespokeColumn40 ),
.fe-tab-container-Performance .fe-section-horizontal.section_3_2:has(.BespokeColumn40 ),
.fe-tab-container-Performance1 .fe-section-horizontal.section_3_3:has(.BespokeColumn40 ),
.fe-tab-container-Performance .fe-section-horizontal.section_3_3:has(.BespokeColumn40 ),
.fe-tab-container-Overview1 .fe-section-horizontal:has(.BespokeColumn40) {
    padding: 0;
    margin: 0;
}
.fe-tab-container-Performance1 .fe-section-horizontal.section_3_1:has(.BespokeColumn40 ) h5,
.fe-tab-container-Performance .fe-section-horizontal.section_3_1:has(.BespokeColumn40 ) h5,
.fe-tab-container-Performance1 .fe-section-horizontal.section_3_2:has(.BespokeColumn40 ) h5,
.fe-tab-container-Performance .fe-section-horizontal.section_3_2:has(.BespokeColumn40 ) h5,
.fe-tab-container-Performance1 .fe-section-horizontal.section_3_3:has(.BespokeColumn40 ) h5,
.fe-tab-container-Performance .fe-section-horizontal.section_3_3:has(.BespokeColumn40 ) h5,
.fe-tab-container-Overview1 .fe-section-horizontal:has(.BespokeColumn40) h5{
    margin:0;
}
.fe-fund-tableBody .fe-section-vertical.section_3_3 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val {
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 56px;
}

@media(min-width:1200px){
    .fe-fund-tableBody > .minFsData {
        /* min-height: 1340px; */
        /* min-height: 1200px; */
        /* min-height: 1000px; */
    }
}
@media(max-width:1200px){
    .page {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .page .minFsData {
        padding: 0;
    }
    .fe-section-horizontal.section_2_2, .fe-tab-container-Overview1 .fe-section-horizontal.section_2_3, .fe-tab-container-Performance1 .fe-section-horizontal.section_2_3,.fe-tab-container-Holdings .fe-section-horizontal.section_2_3,
    .fe-tab-container-Documents1 .fe-section-horizontal.section_3_2,.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_3_2,.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_3_2,.fe-tab-container-Performance1 .fe-section-horizontal.section_4_3,.fe-tab-container-Overview1 .fe-section-horizontal.section_3_3,.fe-tab-container-Holdings .fe-section-horizontal.section_3_3,
    .fe-tab-container-Overview1 .fe-section-horizontal.section_4_3,.fe-tab-container-Performance1 .fe-section-horizontal.section_5_4,.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_4_3,.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_4_3,.fe-tab-container-Documents1 .fe-section-horizontal.section_4_3,.fe-tab-container-Holdings .fe-section-horizontal.section_4_3,.fe-tab-container-Overview1 .fe-section-horizontal.section_5_4,.fe-tab-container-Performance1 .fe-section-horizontal.section_6_4,.fe-tab-container-InvestmentManager1 .fe-section-horizontal.section_5_2,.fe-tab-container-KeyFactsandCharges1 .fe-section-horizontal.section_5_2,.fe-tab-container-Documents1 .fe-section-horizontal.section_5_2,.fe-tab-container-Holdings .fe-section-horizontal.section_5_4,
    .fe-tab-container-Overview1 .section_6_4,.fe-tab-container-Performance1 .fe-section-horizontal.section_6_3,.fe-tab-container-InvestmentManager1 .section_4_2,.fe-tab-container-Documents1 .section_5_1,.fe-tab-container-KeyFacts .section_2_3,.fe-tab-container-KeyFacts .fe-section-horizontal.section_4_3,
    .fe-tab-container-KeyFacts .fe-section-horizontal.section_5_4,.fe-tab-container-KeyFacts .fe-section-horizontal.section_6_4, .fe-tab-container-KeyFacts .fe-section-horizontal.section_3_3{
        position: static;
        width: 100% !important;
    }
    .minFsData,.fe-chart-caveat.fe-caveat {
        width: 100%;
    }
    .fe-tabs-container-ResponsiveFactsheet {
        padding-top: 130px;
    }
    .fe-section-vertical.section_1_1 {
        top: -205px;
        width: 100% !important;
    }
    .fe-section-horizontal.section_1_2 {
        top: -140px;
    }
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-val,
    .fe-section-text,.fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical-wrap .fe-section-vertical-val{
        font-size: 14px;
    }
    .fe-section-horizontal.section_1_2 {
        width: 100% !important;
    }
    #tab-responsiveFactsheet .ui-button .ui-icon{
        background-image: url(fe_img/ui-icons_777777_256x240.png) !important;
    }
    .ui-scroll-tabs-header.show-controls-always.st-activate-controls {
        padding: 0 25px;
    }
    .stNavMain button {
        padding: 5px 5px;
    }
    .fe-responsivefactsheet-title {
        line-height: normal;
        font-size: 20px;
    }
    .fe-section-horizontal h5, .fe-tab-container-KeyFacts h5,
    .fe-section-text h5,.fe-section-vertical.section_3_1 h5, .fe-section-vertical.section_3_2 h5, .fe-section-vertical.section_3_3 h5, .fe-tab-container-Performance1 .fe-section-vertical.section_4_1 h5, .fe-tab-container-Performance .fe-section-vertical.section_4_1 h5{
        font-size:16px;
    }
    .fe-tab-container-Performance1 .fe-section-chart.section_2_1 h5{
        font-size:14px;
    }
    .fe-asatdate-containers {
        height: auto;
        font-size: 12px;
        padding:10px 0;
    }
    .fe-asatdate-containers ul li {
        font-size: 12px;
    }
    .fe-tab-container-Documents1 .fe-section-horizontal.section_3_1 span.fe-section-horizontal-name,
    .fe-tab-container-Documents1 .fe-section-horizontal.section_4_1 span.fe-section-horizontal-name {
        width: 88%;
    }
    .fe-tab-container-Documents1 .fe-section-horizontal.section_3_1 span.fe-section-horizontal-val,
    .fe-tab-container-Documents1 .fe-section-horizontal.section_4_1 span.fe-section-horizontal-val  {
        width: 12%;
        /* padding-right:10px; */
    }
    .fe-tab-container-Documents1 .fe-section-horizontal.section_4_1,
    .fe-tab-container-Documents1 .fe-section-horizontal.section_3_1 {
        padding-right: 9px;
    }    
}
@media(max-width:767px){
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-val,
    .fe-section-text,.fe-section-vertical-wrap .fe-section-vertical-name{
        margin: 0;
    }
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-val,
    .fe-section-text,.fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-horizontal-wrap .fe-section-horizontal-val,
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-name, .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-val, .fe-section-text, .fe-section-vertical-wrap .fe-section-vertical-name, .fe-section-vertical-wrap .fe-section-vertical-name, .fe-section-vertical-wrap .fe-section-vertical-val, .fe-tab-container-Performance .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-name, .fe-tab-container-Performance1 .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-name,
    .fe-tab-container-Performance .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-val, .fe-tab-container-Performance1 .fe-section-horizontal.section_4_1 .fe-section-horizontal-wrap .fe-section-horizontal-val,.fe-section-horizontal-wrap .fe-section-horizontal-name {
        font-size: 12px;
    }
    .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical-wrap .fe-section-vertical-val{
        font-size: 9px;
    }
    .fe-fund-tableBody .fe-section-vertical.section_3_3 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical.section_3_2 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical.section_3_2 .perfomanceAndRiskSectionHeight > .fe-section-vertical-wrap:first-child .fe-section-vertical-val {
        hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: 33px;
    }
}
@media(max-width:350px){
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical.section_1_1 .fe-section-vertical-wrap .fe-section-vertical-val {
        font-size: 10px;
    }
    .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical-wrap .fe-section-vertical-name,
    .fe-section-vertical-wrap .fe-section-vertical-val{
        font-size: 7.5px;
    }
    .fe-fund-tableBody .fe-section-vertical.section_3_3 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical.section_3_2 .perfomanceAndRiskSectionHeight .clear + .fe-section-vertical-wrap .fe-section-vertical-val, .fe-fund-tableBody .fe-section-vertical.section_3_2 .perfomanceAndRiskSectionHeight > .fe-section-vertical-wrap:first-child .fe-section-vertical-val {
        width: 27px;
    }
}
/*BNYM - ResponsiveFactsheet*/