@font-face {
    font-family: 'bentonsans_regular';
    src: url('images/BentonSans Condensed Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsans_semibold';
    src: url('images/BentonSans Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsans_bold';
    src: url('images/BentonSans Condensed Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



$font-light: 'bentonsans_regular';
$font-regular: 'bentonsans_regular';
$font-semi-bold: 'bentonsans_semibold';
$font-bold: 'bentonsans_bold';

$font-size: (
    "micro": 8pt,
    "small": 9pt,
    "midsize": 10pt,
    "normal": 11pt,
    "medium": 12pt,
    "uppermedium": 16pt,
    "large": 18pt,
    "footer":7pt
);
$font-weight: (
    "light":200,
    "normal":400,
    "medium":600,
    "bold":700
);
$line-height: (
    "small":0.8,
    "base":auto,
    "normal":1,
    "medium":1.1,
    "large":1.5
);
