@import "./_colors.scss";
@import "./_fonts.scss";

// controls
$need-logo: false;
$sticky-header: false;
$logo-direction-left: false;
$rating-type: 5;
$custom-br: true;
//1-rating,arrow,header
//2-header,arrow,rating
//3-arrow,header,rating
//4-arrow,rating,header
$rating-space: false;
$arrow-color: "0053A3";
$risk-active: $color1;

// end of controls


// page dimensions
$page-width: 17.5cm;
$page-height: auto;
$second-page-start-section: ".row2";
$page1-padd: 0cm 1.8cm 0 1.8cm;
$all-page-padd: 0cm 1.8cm 0 1.8cm;
//font-family specs
// --body
$h1-type: $font-semi-bold;
$h2-type: $font-bold;
$h3-type: $font-semi-bold;
$h4-type: $font-bold;
$border-bottom-h2-size:0.5pt;
$border-bottom-h2-color:$black;
$para-type: $font-regular;
$link-type: $font-regular;
$para-line-height: map-get($line-height, 'medium');
$h2-line-height: map-get($line-height, 'normal');


//  -- table
$thType: $font-semi-bold;
$tdType: $font-regular;

//font-size specs
$h1-size: map-get($font-size, 'large');
$h2-size: map-get($font-size, 'normal');
$kid-h2-Size: map-get($font-size, 'uppermedium');
$h3-size: map-get($font-size, 'normal');
$h4-size: map-get($font-size, 'small');
$para-size: map-get($font-size, 'micro');
$link-size: map-get($font-size, 'normal');
//  -- table
$th-size: map-get($font-size, 'small');
$td-size: map-get($font-size, 'small');

//color specs
$body-bg: $white;
// --body
$h1-color: $color1;
$h2-color: $secondary;
$h3-color: $primary;
$h4-color: $primary;
$kid-h2-color:$color2;
$para-color: $darkgrey;
$link-color: $blue;
$date-alignment : left;
$outer-border-for-sectiongrps: false;
/*outer border for page row sections groups*/
$date-bottom-border-size: 0px;
$date-bottom-border-style: solid;


// --table
$tab-highlight-border: 0pt solid $color1;
$th-bg: $secondary;
$th-border: $black;
$th-color: $white;
$td-bg: $light-grey;
$td-border: $black;
$td-color: $black;
$th-right-border-size: 0pt;
$td-right-border-size: 0pt;
$td-top-border-size: 0pt;
$td-bottom-border-size: 0pt;
$th-last-bottom-border: 0pt;
$th-font: 'Arial';
$td-costs-header-font: $th-font;
$td-scenario-header-font: $th-font;
$td-scenario-headers: map-get($font-weight, 'bold');
$td-cost-headers: map-get($font-weight, 'normal');
$perf-table-width: 97.5%;
$cost-comp-table-width: 97.5%;
$cost-over-table-width: 100%;
$period-text-align: right;
$tot-costs-text-align: right;

//spacing
$header-margin: 0 2mm;
$kid-header-padding: 1mm 2mm;
$page-margin: 2.7cm 0 1.5cm 0;
$key-header-margin: 0 0 0;
$header-padding: 0.2cm 0 0.6mm 0;
$para-margin: 0 0 0cm;
$para-padding: 1mm 2mm 1mm;

//sririsk
$td-rating-fontsize: map-get($font-size, 'normal');
$sri-risk-rating-tab-width: 40%;
$sri-background-size: 100% 3mm;
$sri-padding-header: 0;
$risk-warning-icon: true;
$warning-color: $color1;
$risk-rating-border: 0.5pt solid $secondary;
$risk-normal-color : $white;
$risk-indicator-heading: true;

//logo
$outer-page-margin-logo : true;
/* logo visible in pdf page margin  */
$logo-in-all-pages: false;
/*show /hide logo in all pages*/
$logo-in-first-page: false;
/*show /hide logo in Ist page*/
$logo-url: url(images/WMC_logo.svg);
$logo-bg-width: 3.6cm;
$logo-bg-height: 0.7cm;
$logo-direction: 2cm 0cm;
/*$logoWidth:100%;
$logoHeight:1cm;*/




//rating arrow
$arrow1: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 238.25 6.45'%3e%3cdefs%3e%3cstyle%3e.d%7bstroke-miterlimit:10;stroke-width:1.42px;%7d.d,.e%7bfill:" +$arrow-color+";stroke:" +$arrow-color+";%7d.f%7bfill:" +$arrow-color+";%7d.e%7bstroke-linecap:round;stroke-linejoin:round;stroke-width:.85px;%7d%3c/style%3e%3c/defs%3e%3cg id='a'/%3e%3cg id='b'%3e%3cg id='c'%3e%3cg%3e%3cline class='d' x1='3.23' y1='3.22' x2='232.83' y2='3.22'/%3e%3cpolyline class='f' points='.43 3.22 6.13 6.03 6.13 .43 .43 3.22'/%3e%3cpolyline class='e' points='.43 3.22 6.13 6.03 6.13 .43 .43 3.22'/%3e%3cpolyline class='f' points='237.83 3.22 232.12 6.03 232.12 .43 237.83 3.22'/%3e%3cpolyline class='e' points='237.83 3.22 232.12 6.03 232.12 .43 237.83 3.22'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
$arrow2: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 238.2 6.4' style='enable-background:new 0 0 238.2 6.4;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:" +$arrow-color+";stroke-width:1.42;stroke-miterlimit:10;%7d .st1%7bfill:none;stroke:" +$arrow-color+";stroke-width:1.42;stroke-miterlimit:10;stroke-dasharray:4.0286,2.0143;%7d .st2%7bfill:" +$arrow-color+";%7d .st3%7bfill:none;stroke:" +$arrow-color+";stroke-width:0.85;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cg id='a'%3e%3c/g%3e%3cg id='b'%3e%3cg id='c'%3e%3cg%3e%3cg%3e%3cg%3e%3cline class='st0' x1='3.2' y1='3.2' x2='5.2' y2='3.2'/%3e%3cline class='st1' x1='7.2' y1='3.2' x2='229.8' y2='3.2'/%3e%3cline class='st0' x1='230.8' y1='3.2' x2='232.8' y2='3.2'/%3e%3c/g%3e%3c/g%3e%3cpolyline class='st2' points='0.4,3.2 6.1,6 6.1,0.4 0.4,3.2 '/%3e%3cpolyline class='st3' points='0.4,3.2 6.1,6 6.1,0.4 0.4,3.2 '/%3e%3cpolyline class='st2' points='237.8,3.2 232.1,6 232.1,0.4 237.8,3.2 '/%3e%3cpolyline class='st3' points='237.8,3.2 232.1,6 232.1,0.4 237.8,3.2 '/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
$arrow3: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 238.2 6.4' style='enable-background:new 0 0 238.2 6.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23" +$arrow-color+";stroke-miterlimit:10;%7D .st1%7Bfill:%23" +$arrow-color+";%7D%0A%3C/style%3E%3Cg id='a'%3E%3C/g%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='1.9' y1='3.2' x2='236' y2='3.2'/%3E%3Cg%3E%3Cpolygon class='st1' points='4.3,6.1 4.7,5.6 2.2,3.2 4.7,0.8 4.3,0.3 1.1,3.2 '/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st1' points='233.6,6.1 233.1,5.6 235.7,3.2 233.1,0.8 233.6,0.3 236.7,3.2 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
$arrow4: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 238.2 6.4' style='enable-background:new 0 0 238.2 6.4;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:" +$arrow-color+";stroke-miterlimit:10;%7d .st1%7bfill:" +$arrow-color+";%7d %3c/style%3e%3cg id='a'%3e%3c/g%3e%3cg id='b'%3e%3cg id='c'%3e%3cg%3e%3cg%3e%3cg%3e%3cline class='st0' x1='7.3' y1='3.2' x2='230.5' y2='3.2'/%3e%3cg%3e%3cpolygon class='st1' points='8.7,5.3 1.1,3.2 8.7,1.2 '/%3e%3c/g%3e%3cg%3e%3cpolygon class='st1' points='229.1,5.3 236.7,3.2 229.1,1.2 '/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");

$arrow-type: $arrow3;

//footer
$footer-path: ".contentSection.pagenumbers .footer";
$show-running-footer: false;
$show-page-numbers: true;
$pg-num-position: right;
$pagination-path: ".page > .row1";
/*$pagination-path:".pagenumbers";*/
$page-number-font-size: map-get($font-size, 'micro') !important;
