@font-face {
  font-family: "frutiger";
  src: url("./images/frutiger-45-light-regular.ttf") format("truetype"), url("./images/frutiger-45-light-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frutiger";
  src: url(./images/Frutiger\ 65\ Bold.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "UBSHeadline";
  src: url("images/UBSHeadline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --secondary: #BEBEBE;
  --header: #212121;
  --headerbg: rgb(241, 242, 242);
  --parabg: rgb(241, 242, 242);
  --black: #000000;
  --white: #ffffff;
  --red: #E60000;
  --border: var(--primary);
  --tableborder: var(--black);
  --tablerowheader: var(--secondary);
  --tableheaderbg: rgba(0, 156, 166, 0.2);
  --tablesubheaderbg: rgba(0, 156, 166, 0.05);
  --altrow: #E6EBED;
  --alert: var(--black);
  --warningfont: 12pt;
  --ratingbg: var(--white);
  --ratingborder: var(--black);
  --bodyfont: 9pt;
  --bodycolor: var(--black);
  --footerfont: 8pt;
  --lineheight: 1.2;
  --h2: 10pt;
  --h3: 8pt;
  --font-family: "frutiger";
  --fontUBSTitle: "UBSHeadline";
}

/**/
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: var(--lineheight);
  color: var(--bodycolor);
  font-family: var(--font-family);
  font-size: var(--bodyfont);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 7pt;
}

table th {
  font-family: var(--font-family);
  font-weight: bold;
  text-align: left;
  page-break-inside: avoid;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

table td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

table th.tableheader,
table .tableHeader th {
  border: 0 !important;
}

h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--h2);
  padding: 1.4mm 0mm 0cm;
  margin-bottom: 0.3cm;
  border-top: 0.5pt solid var(--black);
}

p:empty,
h2:empty {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: inherit;
  min-height: inherit;
  width: auto;
  height: auto;
}

table th:empty {
  padding: 0;
}

table th.tableheader {
  border: 0;
}

p {
  font-size: var(--bodyfont);
  padding: 0 0 0.4cm;
}

b {
  font-family: var(--font-family);
}

h2 {
  bookmark-level: 1;
}

.clear {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.subheader p {
  bookmark-level: 2;
}

/* page styles*/
.page {
  width: 19cm;
  height: auto;
  padding: 0cm 0.5cm 0cm 0.5cm;
  position: relative;
}

.page1 {
  background: url(images/Basler_Kantonalbank.jpg);
  background-size: 4cm auto;
  background-position: top left 0.5cm;
  background-repeat: no-repeat;
  padding-top: 1.8cm;
}

.page1 > .row1 .contentSection h2 {
  font-family: var(--fontUBSTitle);
  font-size: 25pt;
  font-weight: normal;
  border: 0;
}

.page1 .row2 .contentSection .item3 {
  font-family: var(--font-family);
}

.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 {
  width: 60%;
  margin-right: 1%;
}

.page1 > .row6 > .composite1 > .compositebody > .row2 > .column2 {
  width: 39%;
}

.discreteChart {
  height: 240px;
}

.groupHeaderDiv1 th,
.groupRowDiv1 td {
  padding: 1mm;
  border-right: 0pt solid var(--tableborder);
  border-bottom: 0.5pt solid var(--tableborder);
  text-align: left;
  width: auto;
  text-align: center;
}

.groupHeaderDiv1 tr:first-child th {
  border-top: 0.5pt solid var(--tableborder);
}

.groupHeaderDiv1 table th:first-child,
.groupRowDiv1 table td:first-child {
  border-left: 0pt solid var(--tableborder);
}

.groupHeaderDiv1 th.keycell,
.groupRowDiv1 td.keycell {
  width: 4%;
  text-align: left;
}

.groupHeaderDiv1 th.rowheader,
.groupRowDiv1 td.rowheader {
  text-align: left;
  width: 16%;
}

.highcharts-root {
  position: relative;
  right: -9px;
}

.highcharts-xaxis-labels,
.highcharts-yaxis-labels {
  left: 9px !important;
}

.performancetable > table tr > td,
.performancetable > table tr > th {
  width: 8%;
}

.performancetable > table tr > td.keycell,
.performancetable > table tr > th.keycell {
  border-right-color: transparent;
  width: 5%;
}

.performancetable > table tr > td.rowheader,
.performancetable > table tr > th.rowheader {
  padding-left: 0px;
  text-align: left;
  width: 11%;
}
/* 
.performancetable > table tr > td.rowheader {
  width: 6.9%;
} */

.pagenumbers .footer,
.pagenumbers .Pagination {
  margin: 0.1cm 0cm 0.1cm 0 !important;
  float: right;
  font-size: var(--footerfont);
  position: relative;
  z-index: 1;
  display: none;
}

.contentSection.pagenumbers .footer p,
.contentSection.pagenumbers .Pagination p {
  position: running(pageNum);
  text-align: right;
}

/* @page styles */
@page {
  margin: 1cm 0.5cm 1cm 0.5cm;
  padding: 0;
  @bottom-right {
    content: element(pageNum);
    margin: 0 1cm 1cm;
    padding: 0.15cm 0 0cm;
    font-size: var(--footerfont);
    font-family: var(--fontLight);
    font-weight: bold;
    color: var(--bodycolor);
    width: 5cm;
  }
}
/* theme name: BKB_P */

/*# sourceMappingURL=theme.css.map */
