@font-face {
    font-family: 'GT Ultra Lloyds';
    src: url('GTUltraLloyds-Light.eot');
    src: url('GTUltraLloyds-Light.eot?#iefix') format('embedded-opentype'),
        url('GTUltraLloyds-Light.woff2') format('woff2'),
        url('GTUltraLloyds-Light.woff') format('woff'),
        url('GTUltraLloyds-Light.ttf') format('truetype'),
        url('GTUltraLloyds-Light.svg#GTUltraLloyds-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('ABCArizonaFlare-Medium.eot');
    src: url('ABCArizonaFlare-Medium.eot?#iefix') format('embedded-opentype'),
        url('ABCArizonaFlare-Medium.woff2') format('woff2'),
        url('ABCArizonaFlare-Medium.woff') format('woff'),
        url('ABCArizonaFlare-Medium.ttf') format('truetype'),
        url('ABCArizonaFlare-Medium.svg#ABCArizonaFlare-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

