@font-face {
  font-family: "frutigerlightregular";
  src: url("images/Frutiger 45 Light Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "frutigerlightbold";
  src: url("images/Frutiger 45 Light Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "frutigerboldregular";
  src: url("images/frutiger-boldregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "frutigerbold65";
	src: url("images/Frutiger-Bold.ttf") format("truetype"),
		 url("images/Frutiger-Bold.woff") format('woff');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
  font-family: "UBSHeadline";
  src: url("images/UBSHeadline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Set to true if logo should be in upside/set to false if logo should be in down*/
@font-face {
  font-family: "frutigerlightregular";
  src: url("images/Frutiger 45 Light Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "frutigerlightbold";
  src: url("images/Frutiger 45 Light Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "frutigerboldregular";
  src: url("images/frutiger-boldregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UBSHeadline";
  src: url("images/UBSHeadline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  margin: 0;
}

h2 {
  font: 11pt "frutigerlightbold";
  color: #1B1B1B;
  margin: 0.46cm 0 0.05cm 0;
  padding: 1.4mm 0 0.1cm 0;
}

p {
  text-align: left;
  word-break: break-word;
}

.otherrelevantinformation p {
  /*Exclude this 'otherrelevant information' para to justify align, all other para will be justified*/
  text-align: left;
  word-break: break-word;
}

p,
.description {
  font: 8pt "frutigerlightregular";
  color: #000000;
  margin: 0 0 0.2cm 0;
  padding: 0;
  line-height: 1.2;
}

.narrative .WB_HowlongshouldIholdit_1,
.narrative .WB_HowlongshouldIholdit_4 {
  background-color: #b0b0b0;
  padding: 8px 2px;
  color: #000;
  font-weight: var(--fw-bold);
  border: 0.5pt solid #000000;
  border-right: 0pt;
  border-left: 0pt;
  font-family: "frutigerbold65";
}

.header1 p,
.header2 p {
  font: 12pt "frutigerlightbold";
  color: #000000;
  margin: 0;
  padding: 0;
}

.header3 p,
.header4 p {
  font: 12pt "frutigerlightregular";
  color: #000000;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: auto;
}

.page1 {
  padding: 2cm 0 0 0;
  background: url(images/ubs_bper.png);
  background-size: 110.667px auto;
  background-position: top left;
  background-repeat: no-repeat;
}

.contentSection h2 {
  border-top: 0.01cm solid #000000;
}

.keyinformationdocument h2 {
  font: 24pt "frutigerlightregular";
  color: #000000;
  margin: 0.46cm 0 0.05cm 0;
  padding: 0cm 0;
}

.fundName h2 {
  font: 24pt "frutigerlightbold";
  color: slategray;
  margin: 0.46cm 0 0.05cm 0;
  padding: 0;
}

.keyinformationdocument h2,
.fundName h2 {
  width: fit-content;
  text-indent: 0cm;
  text-align: left;
}

@page {
  @top-left {
    content: element(header);
  }
}

@page {
  /*border:1px solid;*/
  margin: 1cm 1.6cm 0.8cm 1.6cm;
  padding: 0cm;
}

.contentSection.pagenumbers .footer {
  position: running(footerRight);
  text-align: right;
}

.Pagination {
  display: none;
}

.page2 .row1 .compositebody * {
  break-before: avoid-page;
}

.page2 .row1 .compositebody .row3 {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.8cm;
  column-fill: balance !important;
}

.page2 .row1 .compositebody .row3 h2 {
  column-span: all;
}

.page2 .row1 .compositebody .row5 .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.8cm;
  column-fill: balance !important;
}

h2 {
  bookmark-level: 1;
}

.subheader p {
  bookmark-level: 2;
}

.groupRow1,
.groupRowDiv1,
.groupHeader1,
.groupHeaderDiv1 {
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.groupHeader1 table th {
  padding: 1mm;
  background: transparent;
  color: #000000;
  border: 0.5pt solid #000000;
  font-family: "frutigerlightbold";
  /* font-weight: 400 !important; */
  page-break-inside: avoid;
  text-align: left;
  border-right: 0;
  border-left: 0;
  font-size: 8pt;
}

.groupHeader1 table th:first-of-type {
  text-align: left;
}

.groupRow1 table td {
  border: 0.5pt solid #000000;
  font-family: "frutigerlightregular";
  color: #000000;
  padding: 1mm 1mm;
  border-right: 0;
  border-left: 0;
}

.groupRow1 table .header {
  border: 0.5pt solid #000000;
}

.groupRow1 table .header th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
  padding: 1mm;
}

.groupRow1 table .incidentalcosts {
  border: 0.5pt solid #000000;
  border-right: 0;
  border-left: 0;
}

.groupRow1 table .incidentalcosts th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
  padding: 1mm;
}

.groupRow1 table .ongoingcosts {
  border: 0.5pt solid #000000;

  border-right: 0;
  border-left: 0;
}

.groupRow1 table .ongoingcosts th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
  padding: 1mm;
}

.performanceScenario>table:first-of-type {
  margin: 0.1cm 0 0.2cm 0;
}

.performanceScenario .survival-scenario th {
  border-top: 0;
}

/* .performanceScenario th[class*=period] {
  width: 3.05cm;
}

.performanceScenario td[class*=period] {
  width: 3.05cm;
} */

.costOverTime>table:first-of-type {
  margin: 0.1cm 0 0.5cm 0;
}

.costOverTime table .tableheader {
  display: none;
}

.costComposition>table:first-of-type {
  margin: 0.1cm 0 0.25cm 0;
}

.costComposition table .tableHeader {
  display: none;
}

/* .costComposition table .oneofcosts th:last-of-type {
  width: 3.1cm;
}

.costComposition table td:last-of-type {
  width: 3.1cm;
} */

.sriRiskRating table {
  width: calc(100% - 0.4cm);
  margin: 0.6cm 0.2cm 0.05cm 0.2cm;
}

.sriRiskRating table td.rating {
  border: 1pt solid #bebebe;
  text-align: center;
  padding: 0.1cm;
  font-size: 16pt;
  font-family: "frutigerlightbold";
}

.sriRiskRating table td.rating.active {
  background-color: #000000;
  color: #ffffff;
}

.sriRiskRating table td.rating.selected {
  background-color: #c3a284;
  color: #ffffff;
}

.sriRiskRating .header {
  font-size: 8.5pt;
  font-family: "frutigerlightregular";
  margin-top: 0.5cm;
}

.sriRiskRating .header th:first-of-type {
  text-align: left;
  padding-left: 0.2cm;
  padding-bottom: 0.1cm;
}

.sriRiskRating .header th:last-of-type {
  text-align: right;
  padding-right: 0.2cm;
  padding-bottom: 0.1cm;
}

.sriRiskRating .arrow {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='239' height='7' viewBox='0 0 239 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_125_2)'%3e%3cpath d='M1.89999 3.20001H236' stroke='%23E60000' stroke-width='0.5' stroke-miterlimit='10'/%3e%3cpath d='M4.30001 6.09999L4.70001 5.59999L2.20001 3.19999L4.70001 0.799988L4.30001 0.299988L1.10001 3.19999L4.30001 6.09999Z' fill='%23E60000'/%3e%3cpath d='M233.6 6.09999L233.1 5.59999L235.7 3.19999L233.1 0.799988L233.6 0.299988L236.7 3.19999L233.6 6.09999Z' fill='%23E60000'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_125_2'%3e%3crect width='238.2' height='6.4' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ") no-repeat center/96% 3mm;
  height: 4mm;
  margin: 0 0.2cm;
}

.sriRiskRating>tbody {
  position: relative;
}

.sriRiskRating>tbody .ratings>td {
  /* padding-bottom: 0.5cm; */
  padding-bottom:30px;
}

.sriRiskRating>tbody .arrow {
  position: absolute;
  /* top: 0.7cm; */
  left: 0;
  right: 0;
  bottom:15px;
  margin:0;
}

.sriRiskRating>tbody .header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* top: 0.2cm; */
  left: 0;
  right: 0;
  bottom:0;
}

p.Sri {
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43.3px 25px;
  border-color: transparent transparent #c3a284 transparent;
  margin: 48px 12px 0 0;
  float: left;
}

p.Sri:after {
  content: "!";
  font-size: 25pt;
  font-family: "frutigerlightregular";
  color: #ffffff;
  position: relative;
  left: -6px;
  top: 9px;
}

.SRIdescription:after {
  content: "Risk indicator";
  font-weight: 700;
  font-family: "frutigerlightbold";
}

:root {
  --fw-light: 300;
  --fw-normal: 300;
  --fw-bold: bold;
  --h2-color: #5b504b;
  --black: #000000;
}

h2 {
  font-size: 9pt;
  margin: 0cm 0 0.2cm 0;
  padding: 0.19cm 0 0cm 0;
}

p:empty:not(.Sri) {
  display: none;
}

tbody {
  display: table;
  width: 100%;
}

.page1 {
  padding-top: 1.5cm;
}

.page1>.row1>.column1 {
  width: 100%;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 {
  width: 21%;
}

.page1>.row4>.composite>.compositebody>.row3>.column2 {
  width: 79%;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader p:not(:empty) {
  height: auto;
  margin-bottom: 0.1cm;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader>p {
  margin-bottom: 0;
}

.page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value p:not(:empty) {
  height: auto;
  margin-bottom: 0.3cm;
  font-size: 8pt;
  min-height: 16px;
}

.page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value>p {
  margin-bottom: 0;
}

.page1>.row5>.composite1>.compositebody>.row2>.column1 {
  width: 100%;
}

.page1>.row4>.composite>.compositebody>.row3>.column1>.row1 .Product_SubHeader p:first-child,
.page1>.row4>.composite>.compositebody>.row3>.column2>.row1 .Product_Value p:first-child {
  min-height: 25px;
}


p.Sri {
  margin-top: 39px;
}

.sriRiskRating {
  break-inside: avoid;
  position: relative;
  width: 50%;
  top: -0.3cm;
}

.sriRiskRating table {
  margin-top: 0.2cm;
}

.sriRiskRating table td.rating {
  border-color: #c3a284;
}

.sriRiskRating .rating {
  width: 1cm;
  height: 1cm;
}

.sriRiskRating .header {
  margin-top: 0.2cm;
  font-size: 8pt;
}

.sriRiskRating .header th {
  font-weight: 400;
}

/* .sriRiskRating .header th:first-of-type {
  padding-left: 0.9cm;
}

.sriRiskRating .header th:last-of-type {
  padding-right: 0.9cm;
} */

.page3 .compositebody {
  break-inside: avoid-page;
}

.performanceScenario .groupRow1 th.groupHeader1>.groupHeaderDiv1 table tbody tr th,
.costovertimetable tr.scenarioheader th,
.costOverTime tr.scenarioheader th,
.costComposition tr.oneofcosts th {
  border-bottom: 0px;
}

.page1>.row6>.composite1>.compositebody>.row2>.column1,
.page2>.row2>.composite1>.compositebody>.row5>.column1 {
  width: 100%;
}

.contentSection h2 {
  color: var(--h2-color);
}

.contentSection h2:empty {
  display: none;
}

.contentSection.purpose h2 {
  border-top: none;
}

.keyinformationdocument h2 {
  font-family: "UBSHeadline";
  color: var(--black);
  font-size: 20pt;
  margin-top: 0;
}

.section .contentSection.keyinformationdocument h2 {
  border: none;
}

/* .performanceScenario table tr.header.holding-period th:first-child {
  font-family: "frutigerlightregular" !important;
} */

.performancescenariotable table .survival-scenario th,
.performanceScenario table .moderate.averagereturn td,
.performanceScenario table .stress.averagereturn td {
  background-color: transparent;
}

table .entrycosts td:first-of-type,
table .exitcosts td:first-of-type,
table .managementfeesandothercosts td:first-of-type,
table .transactioncosts td:first-of-type,
table .performancefees td:first-of-type,
.totalcostsheader,
.totalcosts1,
.performanceScenario table .stress-return td,
.performanceScenario table .moderate-return td,
.performanceScenario table .favourable.averagereturn+.invest td,
.performanceScenario table .invest:nth-last-of-type(2) td {
  background-color: transparent;
  font-weight: 700 !important;
  font-family: "frutigerlightbold" !important;
}

.groupHeader1 .survival-scenario th {
  border-left: 0;
}

/* .performanceScenario tbody + tbody .groupHeader1 {
  border-left: 0.5pt solid #000000;
} */

.performanceScenario table td.description {
  color: #000000;
}

/* .performanceScenario {
  page-break-inside: auto !important;
} */

table tr td {
  font-size: 8pt;
}

table tr[class*=-return] td {
  font-family: "frutigerboldregular";
}

.costovertime_3columntable th,
.costovertime_3columntable td {
  width: 33.33%;
}

.costovertime_4columntable th,
.costovertime_4columntable td {
  width: 25%;
}

.page1>.row5 .compositebody .subheader p,
.WB_Whatisthisproduct_1,
.WB_Whatisthisproduct_3,
.WB_Whatisthisproduct_5 {
  font-weight: 700;
  font-family: "frutigerlightbold";
  margin-bottom: 0;
}

.WB_WhatAreTheCosts_3,
.WB_WhatAreTheCosts_continued_2,
.WB_Whataretherisks_1 {
  font-weight: 700;
  font-family: "frutigerlightbold";
}

@media only screen {
  .page {
    width: 18cm;
  }
}
.page1>.row6 {
  page-break-before: always;
}
.page2 > .row4{
  page-break-before: always;
}

.costComposition .groupHeader1 table th,
.groupRow1 table .ongoingcosts th,
.groupRow1 table .incidentalcosts th {
  background-color: #b0b0b0;
  color: #000;
}

.page1>.row6 .compositebody .column1 .row7 .narrative:before {
  content: "";
  width: 1.5cm;
  height: 1.3cm;
  float: left;
  background: url(images/warning-icon.png);
  background-size: 90% 94%;
  background-position: -5px 0;
  background-repeat: no-repeat;
}
.WB_GeneralInformation_1,.WB_GeneralInformation_2,.WB_GeneralInformation_22, .WB_GeneralInformation_23{
  font-family: "frutigerbold65";
}
.page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value .WB_GeneralInformation_4,.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader .WB_GeneralInformation_3{
  margin-bottom: 0.3cm !important;
}

/* New client updation - 16-05 changes */
p.WB_SRInarrative2_34,.WB_GeneralInformation_5,.WB_GeneralInformation_6{
  font-family: "frutigerbold65";
}
.page1 .WB_GeneralInformation_6,.page1 .WB_GeneralInformation_5,.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader p:not(:empty){
  height: auto;
  line-height: 1;
  min-height: 16px;
  margin-bottom: 0.3cm;
}
.page1>.row4>.composite>.compositebody>.row3>.column1>.row1 .Product_SubHeader p:first-child,
.page1>.row4>.composite>.compositebody>.row3>.column2>.row1 .Product_Value p:first-child{
  margin-bottom:0.3cm;
}
.costComposition table .oneofcosts th:last-of-type {
  width: 3.1cm;
}
.costComposition table td:last-of-type {
  width: 3.1cm;
} 
.performanceScenario th[class*=period] {
  width:3.1cm;
  text-align: left;
}
.performanceScenario td[class*=period] {
  width: 3.1cm;
}
.costovertimetable tr.scenarioheader {
  border-bottom: 0 !important;
}
p.WB_SRInarrative2_85 {
  margin-bottom: 0;
}
.groupHeader1 table th,.groupRow1 table td,.performanceScenario table .stress-return th,.groupRow1 table .ongoingcosts th,.performanceScenario table .stress-return td,
.costComposition .groupHeader1 table th, .groupRow1 table .ongoingcosts th, .groupRow1 table .incidentalcosts th{
  font-size:7.5pt !important;
}
/* p.WB_GeneralInformation_2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */
/* Theme name BPER */

/*# sourceMappingURL=theme.css.map */