.page1>.row6>.composite1>.compositebody>.row2>.column1,.page2>.row2>.composite1>.compositebody>.row5>.column1{
	width:100% !important;
}
.page>.row1>.composite1>.compositebody>.row2>.column2{
	width:100% !important;
}
.page>.row1>.composite1>.compositebody>.row2>.column1{
	width:0 !important;
}
.page1 > .row3, .page1 > .row4 {
	.contentSection h2 {
		color: $black;
	}
}
.page {
	padding-top: 0.3cm;
	&:not(.page1) {
		padding-top: 2cm;
	}
	
}
.page1 > .row5, .page1 > .row6, .page2 > .row2, .page2 > .row3, .page2 > .row4, .page3 > .row2, .page3 > .row3, .page3 > .row4, .page3 > .row5 {
	border: 0.5pt solid $black;
	padding-bottom: 0.2cm;
	margin-bottom: 0.2cm;
}
.page1 > .row6 {
	padding-bottom: 0.4cm;
}
.page2 > .row3, .page3 > .row3 {
	border-bottom: 0;
	margin-bottom: 0;
}
.page2 > .row4, .page3 > .row5 {
	border-top: 0;
}
.page3 > .row4 {
	border-top: 0;
	border-bottom: 0;
	margin-bottom: 0;
}
.page1 .row5 .compositebody > .row .column {
	column-count: 2;
}
.page3 .compositebody{
    break-inside:avoid-page;
	break-inside: avoid;
}

.arrow > td{
	border:none;
	background:transparent;
	margin:0;
	padding:0;
}

.WB_SRInarrative2_1{
	column-count: 2;
	padding-left: 1.8cm;
}
p.Sri{
	background: url(images/exclamation-mark.jpg) no-repeat 0 0.2cm;
	background-size: 100%;
	position:inherit;
	padding:0;
	margin:2.2cm -2cm -1cm 0.3cm;
	border: none;
	width: 4em;
	height: 4em;
	&:before, &:after{
		display: none;
	}
	&:empty{
		margin:0;
		padding:0;
	}
}
.oneofcosts th:last-of-type{
	text-align:left;
}
.performanceScenario,.costcomposition{
	padding-bottom:0.2cm;
	padding-top:0.2cm;
}
/*page 2 floating code*//*
.page2 .row2 .compositebody * {
	break-before: auto !important;
}
  .performanceScenario.performancescenariotable {
    page-break-inside:auto !important;
}
*/
/* costovertime table fullwidth css for 4column <<<<*/
.costOverTime{
  padding: 0 0.25cm 0.2cm 0.2cm;
}
.costovertime_4columntable.contentSection.costOverTime>table{
	width: 100% !important;
	margin: 0;
}
.costovertime_4columntable .scenarioheader th:first-of-type,.costovertime_4columntable table tbody td.totalcostsheader{
	width: 25% !important;
}

.costovertime_4columntable .scenarioheader th[class*='scenario'],.costovertime_4columntable table td[class*='totalcosts']{
	width: 25% !important;
}/*>>>>>>costovertime table fullwidth css for 4column*/

/* costovertime table fullwidth css for 2column <<<<*/
.costovertime_2columntable.contentSection.costOverTime>table{
	width: 98% !important;
}
.costovertime_2columntable .scenarioheader th:first-of-type,.costovertime_2columntable table tbody td.totalcostsheader{
	width: 50% !important;
}

.costovertime_2columntable .scenarioheader th[class*='scenario'],.costovertime_2columntable table td[class*='totalcosts']{
	width: 50% !important;
}/*>>>>>>costovertime table fullwidth css for 2column*/

/* costovertime table fullwidth css for 3column <<<<*/
.costovertime_3columntable.contentSection.costOverTime>table{
	width: 98% !important;
}
.costovertime_3columntable .scenarioheader th:first-of-type,.costovertime_3columntable table tbody td.totalcostsheader{
	width: 33.4% !important;
}

.costovertime_3columntable .scenarioheader th[class*='scenario'],.costovertime_3columntable table td[class*='totalcosts']{
	width: 33.3% !important;
}/*>>>>>>costovertime table fullwidth css for 3column*/
/*Theme name:jupiter_theme_202208_EU*/
