//common
$white:#ffffff;
$black:#000000;
$grey:#b9cccd;
$lightgrey:#e4ebf2;
$darkgrey:#abb9cc;
$blue:blue;
$darkBlue:#16293f;
$red:red;
$altrow: #0f8ec766;
$yellow: #fddc16;
$fontColor: #595959;

//theme specific
$primary:#16293F;
$secondary:#E97412;
$color1: #0053A3;
$color2:#004e53;
