//common
$white: #ffffff;
$black: #000000;
$grey: #b9cccd;
$light-grey: #efefef;
$darkgrey: #212121;
$blue: blue;
$red: red;
$altrow: #0f8ec766;

//theme specific
$primary: #c9e3f5;
$secondary: #0067AB;
$color1: slategray;
$color2: #004e53;
