 @font-face {
     font-family: 'karla_bold';
     font-weight: 400;
     font-style: normal;
     src: url('images/karla-bold-webfont.woff') format('woff');
 }

 @font-face {
     font-family: 'karla_regular';
     font-weight: 400;
     font-style: normal;
     src: url('images/karla-regular-webfont.woff') format('woff');
 }

 @font-face {
     font-family: 'karla_italic';
     src: url('images/karla-italic-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ms_gloriola_ii_std_reg';
     src: url('images/ms_gloriola_ii_std_reg-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ms_gloriola_ii_std_bold';
     src: url('images/ms_gloriola_ii_std_bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ms_gloriola_ii_std_semibold';
     src: url('images/ms_gloriola_ii_std_semibold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ms_gloriola_ii_std_light';
     src: url('images/ms_gloriola_ii_std_light-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }


 $font-light: 'ms_gloriola_ii_std_light';
 $font-regular: 'karla_regular';
 $font-semi-bold: 'ms_gloriola_ii_std_semibold', sans-serif;
 $font-bold: 'karla_bold';

 $font-size: (
     "small": 9pt,
     "midsize": 10pt,
     "normal": 10.5pt,
     "medium": 12pt,
     "large": 16pt,
     "footer":7pt
 );
 $font-weight: (
     "light":200,
     "normal":400,
     "medium":600,
     "bold":700
 );
 $line-height: (
     "small":0.8,
     "base":auto,
     "normal":1,
     "medium":1.1,
     "large":1.5
 );

 