@font-face{
    font-family:'Neue_Haas_Unica';
    src:url('images/NEUEHAASUNICAPRO-LIGHT.TTF') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face{
    font-family:'Neue_Haas_Unica';
    src:url('images/NEUEHAASUNICAPRO-MEDIUM.TTF') format('truetype');
    font-weight:500;
    font-style:normal;
}
:root{
    --black:#000;
    --white:#FFF;
    --primary:#dce442;
    --secondary:#A59482;
    --tertiary:#eceea0;
    --lightOrange:#ee7700;
    --light-sandal:#f3bc7b;    
    --green:#009e3d;
    --lightGreen:#76b82a;
    --lightYellow:#ffed00;
    --yellow:#ffd500;
    --darkOrange:#fbba00;
    --orange:#eb5b25;
    --red:#e40521;
    --smallFont:7.2pt;
    --mediumFont:8pt;
    --font:"Neue_Haas_Unica";
}
body { font-family: var(--font); font-size: 9.2pt;font-weight:300; }
b,h1,h2,h3,h4,h5,h6,th{ font-weight: 500;}
.page4,.page3{font-size:var(--mediumFont);}
.page{ position: relative;    width: 29.7cm; height: 21cm; padding:0 1.4cm; }
.row { margin-bottom: 0.5cm; }
.column > .section { margin-left: 0.5cm; }
.column:first-child > .section { margin-left: 0; }
h1, h2, h3 { margin:0; color: var(--black); }
p { margin: 0; margin-bottom: 0.25cm; }
p:empty{margin: 0;}
.vertical-list div { margin-bottom: 0.25cm; }
.vertical-list div span:first-child { color: #3399FF; }
.page > .row1 > .column1 > .row1 h2,.page6 > .row1 h2,.page7 > .row1 h2,
.page8 > .row1 h2,.page9 > .row1 h2,.page10 > .row1 h2,.page11 > .row1 h2,
.page12 > .row1 h2,.page13 > .row1 h2,.page14 > .row1 h2,.page15 > .row1 h2,
.page16 > .row1 h2,.page17 > .row1 h2,.page18 > .row1 h2,.page19 > .row1 h2,
.page20 > .row1 h2,.page17 > .row1 h2,.page > .row1 h2,.page19 > .row1 p.item2{ font-size: 13pt;margin-bottom: 0;color:var(--black); }
.page1 > .row2 > .column2 > .section { background-color: #efefef; border-radius: 0.25cm; padding: 0.25cm; }
.tabs.breakdowns { border: none; margin: 10px; }
.tabs.breakdowns > .tabpanes { border: none; }
.tabs.breakdowns > .tabpanes > .slider > .tab  { padding-bottom: 20px; }
.tabs.breakdowns > .tabbuttons { position: absolute; bottom: 5px; z-index: 10000; }
.tabs.breakdowns > .tabbuttons > .tab { border: none; background-color: #000; height: 10px; width: 10px; border-radius: 10px; overflow: hidden; margin-right: 10px; text-indent: -10000px; }
.cler {font-size:24pt;}
.reportheader {font-size:34pt;color: rgb(253, 226, 17);padding-left:0.5cm;}
.headerbackground{background-color: rgb(138, 216, 216); height:10cm; background-image:url('ClientLogos/df50df39-1368-4376-bee7-fda5e90bc682.png');background-repeat: no-repeat;background-size: 100%;}
.bottomrightheaderpage{margin-top: 10cm;}
.compositepadding{padding-left: 1cm;background-color: rgb(138, 216, 216);margin-left: 1cm;margin-right: 1cm;padding-bottom: 1.6cm;}
.securityaccount{background-color: rgb(138, 216, 216); padding-top: 7cm;font-size: 34pt;padding-bottom: .5cm;}
.esgdata {background-color: rgb(167, 179, 179); padding-top: 4cm;font-size: 34pt;padding-bottom:3cm}
.FooterCSS .column1{
	width:15%;
	float:left;
}
.FooterCSS .column2{
	width:15%;
	float:left;
}
.FooterCSS .column3{
	width:15%;
	float:left;
}
.FooterCSS .column5{
	width:15%;
	float:left;
}
.FooterCSS .column4{
	width:40%;
	float:left;
	text-align:center;
}
footer {
    position: running(footerIdentifier)
}
@page {
    size: A4 landscape;
    /* padding-top: 0.75cm; */
    /* padding-top: 9mm; */
    padding-top: 8.5mm;
    /* padding-bottom:1.5cm; */
    /* padding-bottom:20mm; */
    padding-bottom:15mm;
    @bottom-left {
        content: element(footerIdentifier)
    }
}
.compositefooter {
    width: 26.9cm;
    padding: 10px 0 2px 0;
    position: absolute;
    bottom: 0.5cm;
    left: 1.4cm;
    right: 1.4cm;
    z-index: 1;
    /* font-size: 7.5pt; */
    font-size: 7pt;
    border-top:1pt solid var(--black);
}
.compositefooter .content {
    margin-right: 0cm;
    position: relative;
    overflow: visible;
}
.compositefooter .content:before {
    content: '';
    width: 1px;
    height: 100px;
    background-color: #a7a5a6;
    position: absolute;
    top: 0;
    left: -3px;
}
@page:first {
    padding-top: 0;
    padding-bottom:0;
    @bottom-left {
        content: "";
    }
}
.FooterCSS {
    width: 20cm;
    padding: 0px 0px 0px 4px;
    position: absolute;
    bottom: 0.3cm;
    left: 0;
    z-index: 1;
    border-top: 0.5px solid #909090;
    font-size: 7.5pt;
}
.FooterCSS .content {
    margin-right: 0cm;
    position: relative;
    overflow: visible;
}
.FooterCSS .row{
	margin-bottom: 0.05cm;
}
.FooterCSS .iconSection{
    height: 23px;
}
.FooterCSS .content:before {
    content: '';
    width: 1px;
    height: 60px;
    background-color: #a7a5a6;
    position: absolute;
    top: 0;
    left: 1px;
}
.EsgCoverPageImage{
    width: 100%;
}
.EsgCoverPage{
	width:100%
}
*{
    box-sizing: border-box;
}
.page1{
    background-image: url("images/BKB_bg.jpg");
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding:0 2.15cm;
}
.page > .row1 .logo{
    background-image: url('images/logo-image.png');
    width: 10cm !important;
    height: 1.2cm !important;
    background-size: contain;
    background-repeat: no-repeat;
}
.page .compositefooterbody .logo{
    background-image: url('images/footer-logo.png');
    width: 4cm !important;
    height: 0.65cm !important;
    background-size: contain;
    background-repeat: no-repeat;
}
.page1 > .row {
    background-color: var(--black);
    margin-bottom: 0;
    padding: 1cm 1cm 0.6cm;
    color: var(--primary);
}
.page1 > .row1 {
    padding-bottom: 0;
}
.page1 > .row2 .item2{
    font-size: 48px;
    font-weight: 300;
    text-indent: -4px;
    margin-bottom:0;
}
.page1 > .row2 p {
    font-weight: 300;
    margin: 0;
}
.page2 > .row1 p.item2 {
    font-size: 30px;
    margin-bottom:0;
    font-weight:300;
    line-height: 26px;
}
.page2 > .row2 p {
    margin-bottom: 0;
    /* font-size: 9.3pt; */
    font-size: 10pt;
}
.compositefooterbody .row2 .column1 {
    width: 33.5%;
}
.compositefooterbody .row2 .column2{
    width: 34%;
}
.compositefooterbody .row2 .column3 {
    width: 9.5%;
}
.compositefooterbody .row2 .column4 {
    width: 9.5%;
}
.compositefooterbody .row2 .column5 {
    width: 7%;
}
.compositefooterbody .row2 .column6 {
    width: 6.5%;
}
.compositefooterbody .row2 .column6 p{
  text-align: right;
}
.compositefooterbody .row2 .column p{
    margin:0;
}
.compositefooterbody .row2 .column{
    float:left;
}
.compositefooterbody .row2 .column > .section{
    margin-left:0;
}
.compositefooterbody .row{
    margin-bottom:0;
}
.page3 > .row1 > .column1,.page5 > .row1 > .column1 {
    width: 34% !important;
    padding-right: 8%;
}
.page3 > .row1 > .column2 ,.page5 > .row1 > .column2{
    width: 60% !important;
}
.page3 > .row1 > .column2 > .row3 > .column1,.page3 > .row1 > .column2 > .row3 > .column2,
.page5 > .row1 > .column2 > .row2 > .column{
    margin-bottom:-70px;
    margin-top: -80px;
}
.page3 > .row1 > .column2 > .row3 rect.highcharts-background,
.page5 > .row1 > .column2 > .row2 rect.highcharts-background{
    fill: transparent !important;
    background: transparent !important;
}
.page3 > .row1 > .column1 .row1 p.item3,.page4 > .row1 > .column1 .row1 p.item3,
.page5 > .row1 > .column1 .row1 p.item3,.page6 > .row1  p.item3,
.page7 > .row1  p.item3,.page8 > .row1  p.item3,.page9 > .row1  p.item3,
.page10 > .row1  p.item3,.page11 > .row1  p.item3 ,.page12 > .row1  p.item3,
.page13 > .row1  p.item3,.page14 > .row1 p.item3,.page15 > .row1 p.item3,
.page16 > .row1 p.item3,.page17 > .row1 p.item3,.page18 > .row1 p.item3,
.page19 > .row1 p.item3,.page20 > .row1 p.item3{
    font-size: 13pt;
    margin-bottom: 0;
    white-space: nowrap;
}
.page > .row1 > .column > .row1,.page > .row1 {
    margin-bottom:0;
    min-height: 70px;
}
.page3 > .row1 > .column3 > .row1,.page4 > .row1 > .column3 > .row1 {
    margin-bottom: 0;
    min-height: unset;
}
.page3 > .row1 > .column2 > .row, .page4 > .row1 > .column2 > .row,.page5 > .row1 > .column2 > .row {
    margin-left: 0;
    margin-bottom: 0;
}
.page4 > .row2 > .column3 > .row {
    margin-bottom: 0;
}
.page4 > .row2 > .column p {
    margin-bottom: 0;
}
.page2 > .row1{
    min-height: 65px;
}
.page5 > .row1 > .column2 > .row1 > .column1 .row1, .page5 > .row1 > .column2 > .row1 > .column2 .row1 {
    padding-top: 68px;
}
.page5 > .row1 > .column2 > .row1 > .column1 .row1 h2, .page5 > .row1 > .column2 > .row1 > .column2 .row1 h2 {
    padding-bottom: 20px;
}
.page3 > .row1 > .column .row2 .column p.item2 {
    font-size: 14px;
    margin-bottom: 0.4cm;
}
.page3 > .row1 > .column .row2 .column p.item3,.page5 > .row1 > .column .row1 .column p.item3{
    font-size: var(--mediumFont);
    margin-bottom: 0;
}
.page3 > .row1 > .column2 .row3 p {
    font-size: 6.5pt;
}
.page3 > .row1 .column1 > .row2 h2 {
    font-size: 8.5pt;
}
table,th,td{
    border-collapse: collapse;
}
.standardtable tr td,.standardtable  tr th {
    border-bottom: 1pt solid var(--black);
    /* padding: 0.25mm 1mm; */
    padding: 0.25mm 1mm;
    font-size: 8pt;
    /* font-size: 7pt; */
}
.page3 .standardtable tr th{
    font-size:var(--mediumFont);
}
.page3 .standardtable tr td{
    font-size:12pt;
    padding: 0.5mm 1mm;
}
.page3 .standardtable tr td:nth-child(2), .page3 .standardtable tr td:nth-child(3) {
    font-weight: 500;
}
.page3 > .row2 > .column1 > .row1 p.item2 {
    border-bottom: 1pt solid var(--black);
    margin-bottom: 0;
}
.page3 > .row2 > .column1 > .row1{
    margin-bottom:0;
}
.page3 > .row2 > .column1 > .row2 > .column p {
    margin: 0;
    padding:0.25mm 1mm;
}
.page3 > .row2 > .column1 > .row2 > .column > .section{
    margin-left:0;
    margin-bottom: 0;
}
.page3 > .row2 > .column1 > .row2 > .column2 p{
    text-align: center;
}
.page4 > .row1 > .column p.item2{
    margin-bottom:0;
}
.page4 > .row1 {
    float: left;
    width: 100%;
}
.ESG.rating {
    max-width: 100% !important;
    padding-right: 50px;
}
.ESG.rating p {
    margin-bottom: 0.025cm;
    font-size: 8.5pt;
}
table.HorizontalCss {
    width: 100%;
}
table.HorizontalCss th{
    text-align: left;
}
table.HorizontalCss th:last-child,table.HorizontalCss td:last-child{
    text-align: right;
}
.standardtable table.HorizontalCss tr th {
    border-top: 1pt solid var(--black);
}
.page5 .standardtable table.HorizontalCss tr th,
.page6 .standardtable table.HorizontalCss thead tr:first-child th{
    border-top: none;
}
h3.TableHeader {
    font-size: 8pt;
    color: var(--black);
}
.page3 .highcharts-legend-item text {
    font-size:var(--smallFont) !important;
}
.page6 > .row2 > .column1 p.item3,.page9 > .row2 > .column1 p,
.page6 > .row2 > .column1 p.item2 {
    font-size:var(--smallFont) !important;
    margin-bottom: 0;
}
.page3 > .row2 > .column1 > .row2 > .column3 p {
    text-align: right;
}
.page4 .chart, .page4 .chart .highcharts-container, .page4 .chart .highcharts-container .highcharts-root {
    height: 250px !important;
}
.page4 > .row2 > .column3 .chart, .page4 > .row2 > .column3 .chart .highcharts-container, .page4 > .row2 > .column3 .chart .highcharts-container .highcharts-root {
    height: 200px !important;
}
.page4 .chart .highcharts-axis-labels span,
.page7 .chart .highcharts-axis-labels span{
    font-size: 6.5pt !important;
}
.page4 > .row2 > .column3 .chart .highcharts-title,
.page7 .chart .highcharts-title {
    font-size: 7pt !important;
}
.page4 > .row1 > .column2 {
    width: 50% !important;
}
.page4 > .row2 > .column1 > .row2, .page4 > .row2 > .column2 > .row2 {
    min-height: 57px;    
    background-size: 55px 55px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom:0.2cm;
}
.page4 > .row2 > .column1 > .row2 {
    background-image: url('images/I__frau.svg');
}
.page4 > .row2 > .column2 > .row2 {
    background-image: url('images/I__waage_a.svg');
}
.page4 > .row2 > .column1 > .row3 > .column1 .row1 p:first-child, 
.page4 > .row2 > .column1 > .row3 > .column2 .row1 p:first-child,
.page4 > .row2 > .column2 > .row3 > .column1 .row1 p:first-child,
.page4 > .row2 > .column2 > .row3 > .column2 .row1 p:first-child{
    min-height: 42px;
    font-size: 20pt;
    font-weight: 500;
}
.page4 > .row2 > .column1 > .row3 > .column2 .row1 p:first-child, .page4 > .row2 > .column2 > .row3 > .column2 .row1 p:first-child, .page4 > .row2 > .column2 > .row3 > .column2 .row1 p:first-child{
    color: var(--secondary);
}
.page4 > .row1 > .column1 > .row3,.page4 > .row1 > .column2 > .row3 > .column > .row1 {
    margin-bottom: 0;
}
.page4 > .row2 > .column .section.row.row3,.page6 > .row2 > .column1 .row,.page6 > .row2 > .column2 .row {
    margin-bottom: 0;
}
.page6 > .row2 > .column1 p.item2 {
    margin-bottom: 0;
}
.page7 text.highcharts-title {
    font-size: var(--smallFont) !important;
    font-weight: 500 !important;
}
.page8 table.VerticalCss,.page9 table.VerticalCss {
    width: 100%;
}
.page3 table.HorizontalCss tr th:first-child, .page3 table.HorizontalCss tr td:first-child,
.page7 table.VerticalCss tr th:first-child, .page7 table.VerticalCss tr td:first-child,
.page8 table.VerticalCss tr th:first-child, .page8 table.VerticalCss tr td:first-child,
.page9 table.VerticalCss tr th:first-child, .page9 table.VerticalCss tr td:first-child,
.page10 table.VerticalCss tr th:first-child, .page10 table.VerticalCss tr td:first-child,
.page11 table.VerticalCss tr th:first-child, .page11 table.VerticalCss tr td:first-child,
.page12 table.VerticalCss tr th:first-child, .page12 table.VerticalCss tr td:first-child,
.page13 table.VerticalCss tr th:first-child, .page13 table.VerticalCss tr td:first-child,
.page18 table.VerticalCss tr th:first-child, .page18 table.VerticalCss tr td:first-child{
    text-align: left;
}
.page3 table.HorizontalCss tr th, .page3 table.HorizontalCss tr td,
.page7 table.VerticalCss tr th, .page7 table.VerticalCss tr td,
.page8 table.VerticalCss tr th, .page8 table.VerticalCss tr td,
.page9 table.VerticalCss tr th, .page9 table.VerticalCss tr td ,
.page10 table.VerticalCss tr th, .page10 table.VerticalCss tr td,
.page11 table.VerticalCss tr th, .page11 table.VerticalCss tr td,
.page12 table.VerticalCss tr th, .page12 table.VerticalCss tr td,
.page13 table.VerticalCss tr th, .page13 table.VerticalCss tr td,
.page18 table.VerticalCss tr th, .page18 table.VerticalCss tr td {
    text-align: right;
}
.page7 table.VerticalCss tr th,
.page8 table.VerticalCss tr th,
.page9 table.VerticalCss tr th,
.page10 table.VerticalCss tr th,
.page11 table.VerticalCss tr th,
.page12 table.VerticalCss tr th,
.page13 table.VerticalCss tr th,
.page18 table.VerticalCss tr th {
    border-top: 1pt solid var(--black);
}
.page8 h3.TableHeader,
.page9 h3.TableHeader,
.page10 h3.TableHeader,
.page11 h3.TableHeader,
.page12 h3.TableHeader,
.page13 h3.TableHeader{
    margin-bottom: 4px;
}
.page8 .row2, .page8 .row3 {
    margin-bottom: 0.8cm;
}
.page8 .row4 {
    margin-bottom: 0.2cm;
}
.page9 .column > .section.row {
    margin-bottom: 0;
}
table{
    width:100%;
}
.page3 .standardtable table.HorizontalCss tr th:last-child,
.page3 .standardtable table.HorizontalCss tr td:last-child {
    width: 20%;
}
.page10 > .row2 > .column2 > .row2 > .column p {
    font-size: 7pt;
    margin-bottom: 0;
    border-top: 1pt solid var(--black);
}
.page10 > .row2 > .column2 > .row2 > .column p:last-child {
    border-bottom: 1pt solid var(--black);
}
.page10 > .row2 > .column2 > .row2 > .column2 > .row1{
    margin-left:0;
}
.page11 > .row1,.page12 > .row1,.page13 > .row1,
.page14 > .row1,.page15 > .row1,.page16 > .row1,
.page17 > .row1,.page18 > .row1,.page19 > .row1,
.page20 > .row1,.page21 > .row1,.page22 > .row1{
    clear: both;
}
.page11 .row2 > .contentSection,
.page12 .row2 > .contentSection,
.page13 .row2 > .contentSection {
    float: left;
    width: 50%;
}
.page11 .row2 > .contentSection p,
.page12 .row2 > .contentSection p,
.page13 .row2 > .contentSection p{
    font-size: var(--smallFont);
    margin-bottom: 0;
}
/* .page13 > .row3 .donutchart, .page13 > .row3 .donutchart .chart, .page13 > .row3 .donutchart .chart .highcharts-container, .page13 > .row3 .donutchart .chart .highcharts-container .highcharts-root{
    height:200px !important;
} */
.page13 > .row3 .donutchart, .page13 > .row3 .donutchart .chart{
    height:240px !important;
}
.page13 > .row3 > .column1 > .row2 > .column .donutchart {
    margin-top: -30px;
    margin-bottom: -50px;
}
.page13 > .row3 > .column .donutchart rect.highcharts-background{
    fill: transparent !important;
    background: transparent !important;
}
/* .page12, .page13, .page14, .page15,.page16,
.page17,.page18, .page19, .page20, .page21 {
    font-size: var(--smallFont);
} */
.page12 p, .page13 p, .page14 p, .page15 p,.page16 p,
.page18 p, .page19 p, .page20 p, .page21  p,
.page17 > .row2 > .column1 > .row2 > .column2 p,.page5 .ESG.rating p{
    font-size: var(--smallFont);
    margin-bottom: 0;
}
.page17 p{
    font-size: var(--mediumFont);
}
.page14 > .row .column .row,
.page15 > .row > .column .row .column .row{
    margin-bottom: 0;
}
.page15 > .row2 > .column > .row > .column1 {
    width: 15% !important;
    min-height: 10px;
    min-height: 50px;
    background-size: 50px auto;
    background-repeat: no-repeat;
}
.page15 > .row2 > .column1 > .row2 > .column1 {
    background-image: url('images/E-WEB-Goal-01.png');
}
.page15 > .row2 > .column1 > .row3 > .column1{
    background-image: url('images/E-WEB-Goal-02.png');
}
.page15 > .row2 > .column1 > .row4 > .column1{
    background-image: url('images/E-WEB-Goal-03.png');
}
.page15 > .row2 > .column1 > .row5 > .column1{
    background-image: url('images/E-WEB-Goal-04.png');
}
.page15 > .row2 > .column1 > .row6 > .column1{
    background-image: url('images/E-WEB-Goal-05.png');
}
.page15 > .row2 > .column1 > .row7 > .column1{
    background-image: url('images/E-WEB-Goal-06.png');
}
.page15 > .row2 > .column1 > .row8 > .column1{
    background-image: url('images/E-WEB-Goal-07.png');
}
.page15 > .row2 > .column1 > .row9 > .column1{
    background-image: url('images/E-WEB-Goal-08.png');
}
.page15 > .row2 > .column1 > .row10 > .column1{
    background-image: url('images/E-WEB-Goal-09.png');
}
.page15 > .row2 > .column2 > .row1 > .column1{
    background-image: url('images/E-WEB-Goal-10.png');
}
.page15 > .row2 > .column2 > .row2 > .column1{
    background-image: url('images/E-WEB-Goal-11.png');
}
.page15 > .row2 > .column2 > .row3 > .column1{
    background-image: url('images/E-WEB-Goal-12.png');
}
.page15 > .row2 > .column2 > .row4 > .column1{
    background-image: url('images/E-WEB-Goal-13.png');
}
.page15 > .row2 > .column2 > .row5 > .column1{
    background-image: url('images/E-WEB-Goal-14.png');
}
.page15 > .row2 > .column2 > .row6 > .column1{
    background-image: url('images/E-WEB-Goal-15.png');
}
.page15 > .row2 > .column2 > .row7 > .column1{
    background-image: url('images/E-WEB-Goal-16.png');
}
.page15 > .row2 > .column2 > .row8 > .column1{
    background-image: url('images/E-WEB-Goal-17.png');
}
.page15 > .row2 > .column > .row > .column2{
    width: 10% !important;
    min-height: 10px;
}
.page15 > .row2 > .column > .row > .column3{
    width: 10% !important;
    min-height: 10px;
}
.page15 > .row2 > .column > .row > .column4{
    width: 65% !important;
    min-height: 10px;
}
.page15 > .row2 > .column2 > .row9 > .column1 {
    width: 35% !important;
    background-image:unset;
}
.page15 > .row2 > .column2 > .row9 > .column2 {
    width: 65% !important;
}
.page14 > .row > .column {
    min-height: 1px;
}
.page15 > .row2 .column .column > .section {
    margin-left: 0;
    margin-bottom: 0;
}
.page15 > .row2 > .column > .row > .column2 p.Portfolio\.Overall\.MSCI\.Impacts\.SdgNetAlignment,
.page15 > .row2 > .column > .row > .column3 p.Benchmarks\.\[x\]\.Overall\.MSCI\.Impacts\.SdgNetAlignment {
    font-size: 11pt;
    font-weight: 500;
}
.page15 > .row2 > .column > .row > .column3 p.Benchmarks\.\[x\]\.Overall\.MSCI\.Impacts\.SdgNetAlignment {
    color:var(--secondary);
}
.page15 > .row2 > .column > .row {
    border-top: 1pt solid var(--black);
    padding-top:1px;
    margin-bottom:0;
}
.page15 > .row2 > .column1 > .row1{
    margin-bottom:25px;
}
.page15 > .row2 > .column1 > .row1 {
    border-top: none;
}
.page15 > .row2 > .column > .row10 {
    border-bottom: 1pt solid var(--black);
}
.page15 > .row2 > .column2 > .row1 > .column4 .row1 p.item2 {
    font-weight: 500;
}
.page15 > .row2 > .column2 > .row9 {
    padding-top: 17px;
}
.page15 > .row2 > .column2 > .row9 > .column1 {
    width: 35% !important;
    background-image: unset;
    padding-top: 98px;
    padding-left: 90px;
}
.page15 > .row2 > .column2 > .row9 > .column1 p,
.page9 > .row2 > .column1 p.item4,
.page9 > .row2 > .column1 p.item5,
.page9 > .row2 > .column1 p.item6,
.page9 > .row2 > .column1 p.item7 {
    position: relative;
    padding-left:15px;
}
.page15 > .row2 > .column2 > .row9 > .column1 p:before,
.page9 > .row2 > .column1 p.item4:before,
.page9 > .row2 > .column1 p.item5:before,
.page9 > .row2 > .column1 p.item6:before,
.page9 > .row2 > .column1 p.item7:before {
    content: "";
    width:10px;
    height:10px;
    position: absolute;
    left:0;
    top:3px;
    z-index: 1;
}
.page15 > .row2 > .column2 > .row9 > .column1 p.item2:before {
   background-color: var(--black);
}
.page15 > .row2 > .column2 > .row9 > .column1 p.item3:before {
    background-color: var(--secondary);
}
.page9 > .row2 > .column1 p.item4:before{
    background-color: var(--red);
}
.page9 > .row2 > .column1 p.item5:before{
    background-color: var(--orange);
}
.page9 > .row2 > .column1 p.item6:before{
    background-color: var(--yellow);
}
.page9 > .row2 > .column1 p.item7:before {
    background-color: var(--green);
}
.page16 > .row2 > .column2 > .row1 {
    margin-bottom: 0;
}
.page16 p.Portfolio\.Overall\.MSCI\.Carbon\.Others\.CoalExposurePct5\.Value, 
.page16 p.Portfolio\.Overall\.MSCI\.Carbon\.Others\.FossilFuelOtherPct5\.Value,
.page16 p.Benchmarks\.\[x\]\.Overall\.MSCI\.Carbon\.Others\.CoalExposurePct5\.Value,
.page16 p.Benchmarks\.\[x\]\.Overall\.MSCI\.Carbon\.Others\.FossilFuelOtherPct5\.Value ,
.page17 > .row2 > .column1 > .row2 > .column2 > .row1 > .column1 .row1 p.item2,
.page17 > .row2 > .column1 > .row2 > .column2 > .row1 > .column2 .row1 p.item2,
.page17 > .row3 > .column2 .row p.item2{
    font-size: 18pt;
    font-weight: 500;
    min-height:38px;
}
.page16 p.Benchmarks\.\[x\]\.Overall\.MSCI\.Carbon\.Others\.CoalExposurePct5\.Value,
.page16 p.Benchmarks\.\[x\]\.Overall\.MSCI\.Carbon\.Others\.FossilFuelOtherPct5\.Value,
.page17 > .row2 > .column1 > .row2 > .column2 > .row1 > .column2 .row1 p.item2 {
    color:var(--secondary)
}
.page16 > .row2 .barChartSection  text.highcharts-title {
    font-size: var(--smallFont) !important;
}
.page16 > .row2 .barChartSection .chart {
    margin-bottom:-10px;
}
.page16 > .row2 > .column1 > .row2 {
    margin-bottom: 0.1cm;
}
.page16 > .row2 .barChartSection .highcharts-axis-labels span {
    font-size: 6.5pt !important;
}
.page16 > .row2 > .column1 > .row7 > .column1,
.page16 > .row2 > .column2 > .row7 > .column1{
    width:35px !important;
}
.page16 > .row2 > .column1 > .row7 > .column1,
.page16 > .row2 > .column2 > .row7 > .column1,
.page17 > .row2 > .column1 > .row2 > .column2 .row3 p.item2,
.page17 > .row2 > .column2 > .row4  p.item2{
    position: relative;
    padding-left: 35px;
    min-height: 30px;
}
.page16 > .row2 > .column1 > .row7 > .column1:before,
.page16 > .row2 > .column2 > .row7 > .column1:before,
.page17 > .row2 > .column1 > .row2 > .column2 .row3 p.item2:before,
.page17 > .row2 > .column2 > .row4  p.item2:before {
    content:"";
    background-image: url('images/I__chancen-risiken.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    min-height: 30px;
    background-position: top left;
    z-index: 9;
    position: absolute;
    left:0;
    top:-7px;
    width: 30px;
    height: 30px;
}
.page16 > .row2 > .column1 > .row7 > .column2 > .row,
.page16 > .row2 > .column2 > .row7 > .column2 > .row{
    margin-left: 0;
}
.page16 > .row2 > .column1 > .row3 > .column1 .row1, .page16 > .row2 > .column1 > .row3 > .column2 .row1 {
    margin-bottom: 0;
}
.page16 > .row2 > .column1 .row3, .page16 > .row2 > .column1 .row4,
.page16 > .row2 > .column1 .row5, .page16 > .row2 > .column1 .row6 {
    margin-bottom: 0;
}
.page16 > .row2 > .column1 > .row7 > .column > .row {
    margin-bottom: 0;
}
.page17 > .row2 > .column1 > .row1 p.item2 {
    font-weight: 500;
}
.page17 > .row3 > .column1 > .row2  {
    border-top: 1pt solid var(--black);
    border-bottom: 1pt solid var(--black);
    padding-bottom: 10px;
    margin-bottom: 0;
}
.page17 > .row3 > .column1 > .row2 > .column2 .row1 p {
    text-align: right;
}
.page18 .barChartSection .chart, .page18 .barChartSection .chart .highcharts-container {
    height: 230px;
}
.page20 > .row2 ,.page20 > .row2 .column1 .row1,
.page20 > .row2 > .column2 .row1,.page20 > .row2 > .column2 > .row1 > .column2 .row1{
    margin-bottom: 0;
}
.page20 > .row2 > .column p{
    line-height: 13px;
}
.page21 .Disclaimer {
    width: 50%;
}
.page21 > .row1 {
    margin-bottom: 0.5cm;
}
.page2 > .row2 .column > .section {
    margin-left: 0;
    margin-bottom: 0.001cm;
}
.page2 > .row2 > .column > .row > .column1 {
    width: 4% !important;
}
.page2 > .row2 > .column1 > .row > .column2 {
    width: 67% !important;
}
.page2 > .row2 > .column2 > .row > .column2 {
    width: 70% !important;
}
.page2 > .row2 > .column > .row > .column3 {
    width: 10% !important;
    text-align: right;
}
.page3 > .row2 > .column1 > .row2 > .column2 .row {
    margin: 0;
}
.page3 > .row2 > .column1 > .row2 > .column2 .row1{
    background-color: var(--green);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row2{
    background-color: var(--lightGreen);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row3{
    background-color: var(--lightYellow);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row4{
    background-color: var(--yellow);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row5{
    background-color: var(--darkOrange);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row6{
    background-color: var(--orange);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row7{
    background-color: var(--red);
}
.page3 > .row2 > .column1 > .row2 > .column2 .row{
    font-weight: 500;
}
.page3 > .row2 > .column1 > .row2 > .column1 > .section.row, 
.page3 > .row2 > .column > .row2 > .column2 > .section.row ,
.page3 > .row2 > .column1 > .row2 > .column3 > .section.row{
    border-bottom: 1pt solid var(--black);
    min-height:20px;
}
.page3 > .row2 > .column1 > .row2 > .column3 > .section.row1{
    min-height:40px;
}
.page3 > .row2 > .column1 > .row2 > .column3 > .section.row2{
    min-height:60px;
}
.page3 > .row2 > .column1 > .row2 > .column3 > .section.row3{
    min-height:40px;
}
.page3 > .row2 > .column1 {
    width: 25% !important;
}
.page3 > .row2 > .column2{
    width: 75% !important;
}
.page4 > .row1 > .column1 .row2, .page4 > .row1 > .column1 .row3 {
    padding-right: 100px;
}
.page17 > .row2 > .column1 > .row2 > .column1 > .row1 > .column1{
    width:90% !important;
}
.page17 > .row2 > .column1 > .row2 > .column1 > .row1 {
    position: relative;
}
.page17 > .row2 > .column1 > .row2 > .column1 > .row1 > .column2 {
    position: absolute;
    right: 28px;
    width: 120px;
    z-index: 9;
    top:0;
}
.page17 > .row2 > .column1 > .row2 > .column1 > .row1 > .column2 .row1 {
    margin-left: 0;
}
.page17 .gwp-chart-container .gwp-chart:first-child {
    border-bottom: 1pt solid var(--black);
}
.page17 .gwp-chart .text {
    font-size: 6.8pt;
    font-weight: 500;
}
.page17 > .row2 > .column1 > .row2 > .column2 .row1 {
    margin-bottom: 0.2cm;
}
.page17 > .row2 > .column1 {
    width: 55% !important;
}
.page17 > .row2 > .column2 {
    width: 45% !important;
    padding-left:8%;
}
.page17 > .row2 > .column1 > .row2 > .column1{
    width: 55% !important;
}
.page17 > .row2 > .column1 > .row2 > .column2 {
    width: 45% !important;
    padding-left: 4%;
}
.page17 > .row2 > .column1 > .row2 > .column2 > .row1 > .column1 {
    width: 30% !important;
}
.page17 > .row2 > .column1 > .row2 > .column2 .row2 p {
    margin-bottom: 0;
}
.page17 > .row2 > .column1 .row1 p.item3 {
    padding-right: 24px;
}
.page17 > .row3 > .column2 .row2 p, .page17 > .row3 > .column2 .row3 p {
    margin-bottom: 0;
}
.page18 > .row2 > .column1 {
    padding-right: 70px;
}
.page3 > .row1 > .column1 p.item4 {
    margin-bottom: 0;
}
.page6 > .row2 > .column1 {
    padding-right: 61px;
}
.highcharts-legend-item span {
    font-weight: 500 !important;
    font-family: var(--font) !important;
    top: 0 !important;
}
.page3 .standardtable tr td:first-child:before {
    content: "";
    width:20px;
    height:20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:4px;
    left:2px;
    z-index: 9;
}
.page3 .standardtable tr:first-child td:first-child:before {
    background-image: url('images/I__auszeichnung.svg');
}
.page3 .standardtable tr:nth-child(2) td:first-child:before {
    background-image: url('images/I__internet.svg');
}
.page3 .standardtable tr:nth-child(3) td:first-child:before {
    background-image: url('images/I__diagramm_e.svg');
    width:16px;
    left:5px;
}
.page3 .standardtable  tr:nth-child(4) td:first-child:before {
    background-image: url('images/I__fuehrung.svg');
    width:17px;
    left:4px;
}
.page3 .standardtable tr td:first-child {
    position: relative;
    padding-left:28px;
}
.page3 > .row2 > .column2 > .row1 > .column1 {
    width: 7.5% !important;
}
.page2 > .row2 p.item2 b {
    padding-top: 10px;
    display: inline-block;
}
.page2 > .row2 > .column1 > .row1 > .column > .row1 p.item2 b,
 .page2 > .row2 > .column2 > .row1 > .column > .row1 p.item2 b{
    padding-top: 0;
}
/* BKB-ESG */