@font-face {
  font-family: "frutigerlightregular";
  src: url("images/Frutiger 45 Light Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frutigerlightbold";
  src: url("images/Frutiger 45 Light Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frutigerboldregular";
  src: url("images/frutiger-boldregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UBSHeadline";
  src: url("images/UBSHeadline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Set to true if logo should be in upside/set to false if logo should be in down*/
@font-face {
  font-family: "frutigerlightregular";
  src: url("images/Frutiger 45 Light Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frutigerlightbold";
  src: url("images/Frutiger 45 Light Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frutigerboldregular";
  src: url("images/frutiger-boldregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UBSHeadline";
  src: url("images/UBSHeadline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  margin: 0;
}
.subheader p{
  margin-bottom: 0;
}
h2 {
  font: 9pt "frutigerlightbold";
  color: #1B1B1B;
  margin: 0;
  padding: 0.5mm 0 0.06cm 0;
}

p {
  text-align: left;
  word-break: break-word;
}

.otherrelevantinformation p {
  /*Exclude this 'otherrelevant information' para to justify align, all other para will be justified*/
  text-align: left;
  word-break: break-word;
}

p,
.description {
  font: 9pt "frutigerlightregular";
  color: #000000;
  margin: 0 0 0.1cm 0;
  padding: 0;
  line-height: 1.2;
}

/* .narrative .WB_HowlongshouldIholdit_1 {
  background-color: #bebebe;
  padding: 8px 2px;
  color: #ffffff;
} */

.header1 p,
.header2 p {
  font: 12pt "frutigerlightbold";
  color: #000000;
  margin: 0;
  padding: 0;
}

.header3 p,
.header4 p {
  font: 12pt "frutigerlightregular";
  color: #000000;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: auto;
}

.page1 {
  padding: 0cm 0 0 0;
  background: url(images/Basler_Kantonalbank.jpg);
  background-size: auto 1cm;
  background-position: top right;
  background-repeat: no-repeat;
}

.contentSection h2 {
  border-top: 0.01cm solid #000000;
}

.keyinformationdocument h2 {
  font: 25pt "frutigerlightregular";
  color: #000000;
  margin: 0cm 0 0.05cm 0;
  padding: 0cm 0;
}
.purpose h2{
  border-top: 0.01cm solid #fff;
}
.fundName h2 {
  font: 24pt "frutigerlightbold";
  color: slategray;
  margin: 0.46cm 0 0.05cm 0;
  padding: 0;
}

.keyinformationdocument h2,
.fundName h2 {
  width: fit-content;
  text-indent: 0cm;
  text-align: left;
}

@page {
  @top-left {
    content: element(header);
  }
}
@page {
  /*border:1px solid;*/
  margin: 1cm 1.6cm 0.8cm 1.6cm;
  padding: 0cm;
}
@page :first {
  margin-top:0.4cm !important;
}
@page :-ro-nth(1) {
  padding: 0cm;

  @footnote {
    border: none;
    margin: 0.3cm 0 0.5cm;
    padding: 0 0 0cm;
  }
}
@page :-ro-nth(2) {
  padding: 0cm;
  @footnote {
    border: none;
    margin: 0.3cm 0 0.9cm;
    padding: 0 0 0 0cm;
  }
}
@page :-ro-nth(3) {
  padding: 0cm;
  @footnote {
    border: none;
    margin: 0.3cm 0 0.9cm;
    padding: 0 0 0cm;
  }
}
.contentSection.pagenumbers .footer {
  position: running(footerRight);
  text-align: right;
}
.oneofcosts , .ongoingcosts, .incidentalcosts{
  background: #c3a284;
}
.oneofcosts th, .ongoingcosts th, .incidentalcosts th{
  font-family: "frutigerlightbold";
}
.page1>.row4>.composite>.compositebody>.row3>.column1{
    width: 21% !important;
  }
  .page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader > p:empty,.page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value p:empty{
    height:0;
    margin:0;
    padding:0;
  }
  .page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader p{
    height: 0.7cm;
  }
  .page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader > p{
    margin-bottom:0;
  }
  .page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value p{
    height: 0.7cm;
  line-height:1;
  }
  .page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value > p{
    margin-bottom:0;
  }
  .page1>.row4>.composite>.compositebody>.row3>.column2{
    width: 79% !important;
  }
/* @page :-ro-last {
  margin-bottom: 2cm;
  @bottom-left {
    background-color: transparent;
    background-image: url(images/Basler_Kantonalbank.jpg);
    background-size: auto 1cm;
    width: 100%;
    height: 1cm;
    background-position: 0 center;
    background-repeat: no-repeat;
    width: 100%;
  }
} */
.Pagination {
  display: none;
}

.page1 .row4 .compositebody > .row .column, .page1 .row5 .compositebody > .row .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.8cm;
  column-fill: balance !important;
}
.page1 .row4 .compositebody > .row .column h2, .page1 .row5 .compositebody > .row .column h2 {
  column-span: all;
}

.page2 .row1 .compositebody * {
  break-before: avoid-page;
}
.page2 .row1 .compositebody .row3 {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.8cm;
  column-fill: balance !important;
}
.page2 .row1 .compositebody .row3 h2 {
  column-span: all;
}
.page2 .row1 .compositebody .row5 .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.8cm;
  column-fill: balance !important;
}

h2 {
  bookmark-level: 1;
}

.subheader p {
  bookmark-level: 2;
}

.groupRow1,
.groupRowDiv1,
.groupHeader1,
.groupHeaderDiv1 {
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.groupHeader1 table th {
  padding: 1mm;
  background: transparent;
  color: #000000;
  border: 0.5pt solid #000000;
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  page-break-inside: avoid;
  text-align: left;
}
table th:last-of-type,table td:not(.rating):last-of-type {
  border-right: 0 !important;
}
.groupHeader1 table th:first-of-type {
  text-align: left;
}
.costOverTime.costovertime_3columntable.contentSection .scenarioheader th[class*=scenario] {

  width: 33.3% !important;
}
.costComposition .groupHeader1 table th{
  border-right: 0 !important;
}
.groupRow1 table td {
  border: 0.5pt solid #000000;
  border-left-color: transparent;
  font-family: "frutigerlightregular";
  color: #000000;
  padding: 1mm 1mm;
}
.groupRow1 table .header {
  border: 0.5pt solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;
}
.groupRow1 table .header th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
  padding: 1mm;
}
.groupRow1 table .incidentalcosts {
  border: 0.5pt solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;
}
.groupRow1 table .incidentalcosts th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
  padding: 1mm;
}
.groupRow1 table .ongoingcosts {
  border: 0.5pt solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;
}
.groupRow1 table .ongoingcosts th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
  padding: 1mm;
}

.performanceScenario > table:first-of-type {
  margin: 0.1cm 0 0.5cm 0;
}
.performanceScenario .survival-scenario th {
  border-top: 0;
}
.performanceScenario th[class*=period] {
  width: 3.05cm;
}
.performanceScenario td[class*=period] {
  width: 3cm;
}

.costOverTime > table:first-of-type {
  margin: 0.1cm 0 0.5cm 0;
}
.costOverTime table .tableheader {
  display: none;
}
.costOverTime table th {
  width: 4.75cm;
}
.costOverTime table td {
  width: 4.75cm;
}

.costComposition > table:first-of-type {
  margin: 0.1cm 0 0 0;
}
.costComposition table .tableHeader {
  display: none;
}
.costComposition table .oneofcosts th:last-of-type {
  width: 3.15cm;
}
.costComposition table td:last-of-type {
  width: 3.1cm;
}

.sriRiskRating table {
  width: calc(100% - 0.4cm);
  margin: 0.6cm 0.2cm 0.05cm 0.2cm;
}
.sriRiskRating table td.rating {
  border: 1pt solid #bebebe;
  text-align: center;
  padding: 0.1cm;
  font-size: 16pt;
  font-family: "frutigerlightbold";
  font-weight: bold;
}
.sriRiskRating table td.rating.active {
  background-color: #000000;
  color: #ffffff;
}
.sriRiskRating table td.rating.selected {
  background-color: #c3a284;
  color: #ffffff;
}
.sriRiskRating .header {
  font-size: 8.5pt;
  font-family: "frutigerlightregular";
  margin-top: 0.5cm;
}
.sriRiskRating .header th:first-of-type {
  text-align: left;
  padding-left: 0.3cm;
  padding-bottom: 0.1cm;
}
.sriRiskRating .header th:last-of-type {
  text-align: right;
  padding-right: 0.3cm;
  padding-bottom: 0.1cm;
}
.sriRiskRating .arrow {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='239' height='7' viewBox='0 0 239 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_125_2)'%3e%3cpath d='M1.89999 3.20001H236' stroke='%23E60000' stroke-width='0.5' stroke-miterlimit='10'/%3e%3cpath d='M4.30001 6.09999L4.70001 5.59999L2.20001 3.19999L4.70001 0.799988L4.30001 0.299988L1.10001 3.19999L4.30001 6.09999Z' fill='%23E60000'/%3e%3cpath d='M233.6 6.09999L233.1 5.59999L235.7 3.19999L233.1 0.799988L233.6 0.299988L236.7 3.19999L233.6 6.09999Z' fill='%23E60000'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_125_2'%3e%3crect width='238.2' height='6.4' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ") no-repeat center/96% 3mm;
  height: 4mm;
  margin: 0 0.2cm;
}

.sriRiskRating > tbody {
  position: relative;
}
/* .sriRiskRating > tbody .ratings > td {
  padding-top: 1cm;
} */
/* .sriRiskRating > tbody .arrow {
  position: absolute;
  top: 0.7cm;
  left: 0;
  right: 0;
} */
/* .sriRiskRating > tbody .header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0.2cm;
  left: 0;
  right: 0;
} */

/* p.Sri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43.3px 25px;
  border-color: transparent transparent #bebebe transparent;
  margin: 20px 12px 0 0;
  float: left;
}

p.Sri:after {
  content: "!";
  font-size: 25pt;
  font-family: "frutigerlightregular";
  color: #ffffff;
  position: relative;
  left: -6px;
  top: 9px;
} */

.SRIdescription:after {
  content: "Risk indicator";
  font-weight: 700;
  font-family: "frutigerlightbold";
}

:root {
  --fw-light: 300;
  --fw-normal: 300;
  --fw-bold: bold;
  --h2-color: #5b504b;
  --black: #000000;
}

/* .page:not(.page1) > .row {
  margin-top: 0.46cm;
} */

.page1 > .row1 > .column1 {
  width: 100%;
}
/* .page1 > .row3 .contentSection h2,
.page1 > .row4 .contentSection h2 {
  display: none;
} */
/* .page1 > .row4 .column p {
  font-size: 10pt;
} */
/* .page1 > .row6 .compositebody > .row .column {
  column-count: 2;
} */
.page1 > .row6 .compositebody > .row .column h2 {
  column-span: all;
}

/* .page2 > .row2 .compositebody > .row .column {
  column-count: 2;
  column-gap: 0.8cm;
  column-fill: balance !important;
} */





.sriRiskRating {
  break-inside: avoid;
  position: relative;
  margin-bottom: 2mm;
  width: auto;
}
.sriRiskRating table {
  margin-top: 0.2cm;
}
.sriRiskRating table td.rating {
  border-color: #c3a284;
}
.sriRiskRating .rating {
  width: 1cm;
  height: 1cm;
}
.sriRiskRating .header {
  margin-top: 0.2cm;
  font-size: 8pt;
}
.sriRiskRating .header th {
  font-weight: 400;
}
.sriRiskRating .header th:first-of-type {
  padding-left: 0.9cm;
}
.sriRiskRating .header th:last-of-type {
  padding-right: 0.9cm;
}
.page3 .compositebody {
  break-inside: avoid-page;
}

.performanceScenario .groupRow1 th.groupHeader1 > .groupHeaderDiv1 table tbody tr th,
.costovertimetable tr.scenarioheader th,
.costOverTime tr.scenarioheader th,
.costComposition tr.oneofcosts th {
  border-bottom: 0px;
}

.page3 > .row3 > .composite > .compositebody > .row2 > .sectiontitle > h2 {
  border-top: 0px;
}

.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1,
.page2 > .row2 > .composite1 > .compositebody > .row5 > .column1 {
  width: 100%;
}

.contentSection h2 {
  color: var(--h2-color);
}
.contentSection h2:empty {
  display: none;
}

.contentSection.purpose h2 {
  font: 9pt "frutigerlightbold";
}

.keyinformationdocument h2 {
  font-family: "UBSHeadline";
  color: var(--black);
}

.section .contentSection.keyinformationdocument h2 {
  border: none;
  /* margin-bottom: 2mm; */
}

.page2 > .row2 > .composite1 > .compositebody *,
.page3 > .row2 > .composite1 > .compositebody * {
  break-before: avoid-page;
}

.performanceScenario table tr.header.holding-period th:first-child {
  font-family: "frutigerlightregular" !important;
}

.performancescenariotable table .survival-scenario th,
.performanceScenario table .moderate.averagereturn td,
.performanceScenario table .stress.averagereturn td {
  background-color: transparent;
}

table .entrycosts td:first-of-type,
table .exitcosts td:first-of-type,
table .managementfeesandothercosts td:first-of-type,
table .transactioncosts td:first-of-type,
table .performancefees td:first-of-type,
.totalcostsheader,
.totalcosts1,
.performanceScenario table .stress-return td,
.performanceScenario table .moderate-return td,
.performanceScenario table .favourable.averagereturn + .invest td,
.performanceScenario table .invest:nth-last-of-type(2) td {
  background-color: transparent;
  font-weight: 700 !important;
  font-family: "frutigerlightbold" !important;
}

.performanceScenario table td.description {
  color: #000000;
}

table tr[class*=-return] td {
  font-family: "frutigerboldregular";
}

@media only screen {
  .page {
    width: 18cm;
  }
}
/* .WB_Purpose_1 {
  font-size: 10pt;
  margin-bottom: 0.4cm;
} */

/* .WB_GeneralInformation_1,
.WB_GeneralInformation_3,
.WB_GeneralInformation_5 {
  display: none;
} */

/* .WB_GeneralInformation_2,
.WB_GeneralInformation_4 {
  font-family: "frutigerboldregular";
  margin-bottom: 0;
} */

.WB_GeneralInformation_4 {
  margin-bottom: 0.1cm;
}

/* Theme name BKB */
.subheader p,.WB_Whatisthisproduct_1,.WB_Whatisthisproduct_3,.WB_Whatisthisproduct_5{
  font-family: "frutigerboldregular";
  margin-bottom: 0;
}
.WB_WhatAreTheCosts_3, .WB_WhatAreTheCosts_continued_2{
  font-family: "frutigerboldregular";
}
.narrative p.WB_HowlongshouldIholdit_1, .narrative p.WB_HowlongshouldIholdit_2, .narrative p.WB_HowlongshouldIholdit_3, .narrative p.WB_HowlongshouldIholdit_4 {
  background-color: #bebebe;
  padding: 0.15cm 0 0.15cm 0.1cm;
  color: #ffffff;
  font-family: "frutigerlightbold";
}
.page2 > .row2 > .composite1 > .compositebody *,
.page3 > .row2 > .composite1 > .compositebody * {
  break-before: auto;
}
@page :first {
	margin-top: 10mm;
  }

  p.Sri {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #bebebe  transparent;
    margin:12px 12px 0 0;
    float: left;
  }
  
  p.Sri::before {
    content: "";
    --border-width: calc(var(--triangle-width) / 2);
    left: 0;
    width: 0;
    height: 0;
    border-left: var(--border-width) solid transparent;
    border-right: var(--border-width) solid transparent;
    border-bottom: var(--triangle-height) solid var(--warning-color);
    display: flex;
    justify-content: center;
  }
  
  p.Sri::after {
    content: "!";
    color: #ffffff;
    font-size: 18pt;
    text-align: center;
    width: var(--triangle-width);
    top: 9pt;
    left: -5px;
    position: relative;
  }
  
  .groupRowDiv1 table td:not(.rating):last-of-type, .groupHeaderDiv1 table th:not(.rating):last-of-type {
    border-right: 0.5pt solid #000000 !important;
  }
  
  .performanceScenario table td.scenario {
    border-left: 0.5pt solid #000000 !important;
  }
  
  .groupRow1 table tbody tr td,  .groupRow1 table tbody tr th {
    border-left: 0.5pt solid #000000 !important;
  }
  .costComposition  table th:last-of-type{
    border-right: 0.5pt solid #000000 !important;
  }
  .groupRow1 table tbody tr.survival-scenario th {
    border-left: 0 !important;
}

/*# sourceMappingURL=theme.css.map */
