:root {
	/* --teal:#0B3239; */
	--teal:#DDBBFF;

}
html {
    -webkit-text-size-adjust: 100%;
}
body {
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	color: #333333;
	padding: 0;
	margin: 0;
}
body.fe-fundCentre-body { 			/* ============  BODY FOR THE FUND CENTRE */
	width: 100% !important;
}
body.fe-chart-body { 				/* ============  BODY FOR THE CHARTING TOOL */

}

body.fe-fundCentre-body .page { 	/* ============  PAGE of the FUND CENTRE (the width doesn't affect the live project */
width: 620px !important;
	margin: 0px 10px;
}
body.fe-chart-body .page { 			/* ============  PAGE of the CHARTING TOOL(the width doesn't affect the live project */
width: 620px;
}

.ui-widget .ui-widget{
	font-size:11px !important;
}	
	

p {
	padding: 0 0 15px;
	margin: 0;
}
a {
	color: #cc0000;
	text-decoration: none;
	outline:none;
}
a:hover {
	text-decoration: underline;
	color: #cc0000;
	outline:none;
}



.ui-widget, .ui-widget-content { 
	color: #333;
	font-family: Arial, sans-serif;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-header {
	background-image: none;
	background: none;
	border: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-image: none;
	background: none;
}

.ui-logo-container {  		/* ============  LOGO CONTAINER */
	width: 100%;
	height: 100px;
	display: block;
	/* background:url(fe_img/SWlogo.png) no-repeat left center #fff; */
	background:url(fe_img/logo-image-new.png) no-repeat left -20px center #fff;
	margin: 0;
	position: relative;
}
.ui-logo-container img {	/* ============  REMOVING FE LOGO (NOTHING TO DO) */
	display: none;
}

.fe-button
{
	vertical-align: top;
}
.fe-button.fe-search-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background:#eaeaea url(fe_img/button.png) repeat-x left top ;
	color: #cb0629;
	border:1px solid #c8c7bb;
	font-size: 0px;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	vertical-align: top;
	border:1px solid #c8c7bb;
}
.fe-button.fe-search-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus, .fe-button.fe-search-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover /* search button hover & clear button*/{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background:#fefefe url(fe_img/buttonOver.png) repeat-x left top ;
	color: #cb0629;
	border:1px solid #c8c7bb;
	font-size: 0px;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	vertical-align: top;
}



.fe-button.fe-advSearch-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-secondary /* advanced search button */{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background: #c00324 url(fe_img/buttonAdv.png) repeat-x left top;
	border:1px solid #c00324;
	color: #fff;
	font-size: 0px;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	vertical-align: top;
	
}


.fe-button.fe-advSearch-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-secondary.ui-state-focus,
.fe-button.fe-advSearch-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-secondary.ui-state-hover  /* advanced search button activated*/

{

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background: #db5456 url(fe_img/buttonAdvActiv.png) repeat-x left top;
	border:1px solid #c00324;
	color:#fff;
	font-size: 0px;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	vertical-align: top;
	
}

.fe-button.fe-search-clear-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {	
	border:1px solid #9C9C9C; 
	font-size:11px;
	height:24px;
	text-decoration:none; 
	display:inline-block; 
	color: #404040;
	 background:url(fe_img/button-bg.png) repeat-x left bottom #f1f1f1;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0 !important;
	right: 47px;
    text-decoration: none;
    top: 0;
    vertical-align: top;
	border:1px solid #9C9C9C !important; 
 
     
}


.fe-button.fe-search-clear-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus,
.fe-button.fe-search-clear-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover /* clear button over*/

{
	border:1px solid #9C9C9C; 
	font-size:11px;
	height:24px; 
	text-decoration:none; 
	display:inline-block; 
	color: #404040;
	background:url(images/button-bg-hover.png) repeat-x left bottom #f1f1f1;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0 !important;
	right: 47px;
    text-decoration: none;
    top: 0;
    vertical-align: top;
	border:1px solid #9C9C9C !important; 
 
}

#advance {
    margin: -56px 304px 0;
    padding: 15px 0 0;
    position: absolute;
}
.fe-search-container /* search section container */
{
	background-image: none;
	background-color: transparent;
	border: 0;
	padding: 0;
	margin:0;
	
}
.fe-search-searchbox-container {
	margin: 0;
	padding: 0;
	margin-left: 6px;
        padding-bottom: 25px;
}




.fe-search-textbox /* search input */
{
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	padding: 4px;
	border: 1px solid #c4c4c4;
	height: auto;
	color: #333;
	margin: 0 15px 0 0;
}
.fe-search-textbox:focus /* search input */
{
	padding:4px;
	border: 1px solid #c4c4c4;

}
.fe-search-advancedsearch-container /* basic search section */
{
	margin: 0 0 15px;
	padding: 0;
}
.fe-search-clear-container {
	padding: 0;
}


.fe-search-filters-container /* advanced search filters section */
{
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	padding: 12px 0 10px;
	font-weight: normal;
	min-height: 120px;
} 

.fe-search-fileters-label /* filter text - both sliders and dropdowns */
{
	font-weight:normal;
}

.fe-search-fileters-dropdown /* filter dropdown */
{
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	margin: 5px 0 0;
}

.fe-slider-valuedisplay /* slider text section */
{
	
}

.fe-search-fileters-slider-value /* slider value text */ 
{
	font-weight: bold;
	color: #cc0000;
}

.fe-search-clear-container /* search > clear button section   */
{
}







/* ---------  sliders ---------------- */


.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all 
{
	background-color: #fff;
	background-image: none;
	opacity: 1;
	height: 8px;
}

.ui-slider-range.ui-widget-header /* slider bar */
{
	background-color: #d6d6d6;
	background-image: none;
	opacity: 1;
}
.ui-slider-handle.ui-state-default.ui-corner-all   /* handle  */
{
	border: 1px solid #0b0b0b;
	opacity: 1;
	width: 13px;
	height: 13px;
	background:#030303 url(fe_img/buttonHandle.png) repeat-x left top;
}
.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus   /* handle focus */
{
	background:#c00324 url(fe_img/buttonHandleOver.png) repeat-x left top;
	border: 1px solid #c00324;
	opacity: 1;
}





/* ---------  tabs - present in all tools ---------------- */

.fe-tabs-container, .ui-tabs /* tabs section */
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 0;
	padding: 0;
	display: block;
	background:#fff;
}

.fe-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all /* tab control chart */
{
	margin:0;
	padding:0;
	border:0;
	background:#fff;
	min-height:25px;
}

.fe-fundCentre-body .fe-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all /* tab control fund centre*/
{
	border:0;
	/* background:url(fe_img/search-results.png) no-repeat; */
	margin-top: 55px;
	display: inline-block;
	width: 100%;
    position: relative;
    vertical-align: top;
	background-color: var(--teal);
}
.fe-fundCentre-body .fe-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all::before {
    position: absolute;
    content: "Results of Search";
    left: 10px;
    top: 7px;
    font-size: 12px;
    line-height: normal;
	color:#fff;
}
.fe-tabs-item.ui-state-default.ui-corner-top /* tab charting tool*/
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #16343b !important;
	text-decoration: none;
	margin: 0 0 0 0;
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	opacity: 1;
	font-weight: bold;
	text-align: center;
	margin-right:5px;
	padding-right: 10px;
	padding-left: 10px;
}
.fe-tabs-item.ui-state-default.ui-corner-top:hover{
	border:0px solid #d7d7d7;
	border-bottom:none;
	}
.fe-fundCentre-body .fe-tabs-item.ui-state-default.ui-corner-top /* tab fund Centre */
{
	font-weight: bold;
	margin-right:5px;
}
.fe-fundCentre-body .fe-tabs-item.ui-state-default.ui-corner-top:hover {
	font-weight: bold;
	margin-right:5px;
}
.fe-tabHeader {
	display: block;
	padding: 0;
}
.fe-tabs-item.ui-state-default.ui-corner-top a /* a (text) within tab */
{
	display: block;
	color: #FFF /* light blue #00a5e3 !important; */;
}
.fe-tabs-item.ui-state-default.ui-corner-top.ui-state-hover a /* a (text) within tab:hover */
{
	color: #fff !important;
}
.fe-fundCentre-body .fe-tabs-item.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active /* tab selected fund centre*/
{
	text-decoration: none;
	margin: 0 0 0 0;
	font-family: Arial, sans-serif;
	opacity: 1;
	margin-right:5px;
	border-bottom:none;
}
 .fe-tabs-item.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active /* tab selected */
{
	text-decoration: none;
	margin: 0 0 0 0;
	padding-top:0;
	font-family: Arial, sans-serif;
	opacity: 1;
	margin-right:5px;
}
.fe-tabs-item.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a/*  a (text) within tab selected */
{
	color: #fff !important;
	text-indent:-2000px !important;
}
/* tabs icons */
.fe-fundCentre-body li a.fe-tabHeader {
	text-align: center;
	line-height: 110%;
	margin-top: 4px;
	padding:0;
	white-space:normal!important;
	display:block;
}

.fe-fundCentre-body li[data-containerid="Price"] a.fe-tabHeader,
	.fe-fundCentre-body li#Price a.fe-tabHeader
 {

}
.fe-fundCentre-body li[data-containerid="Price"] a.fe-tabHeader:hover ,.fe-fundCentre-body li#Price a.fe-tabHeader:hover {

}



.fe-fundCentre-body li[data-containerid="FundInfo"] a.fe-tabHeader,
.fe-fundCentre-body li#FundInfo a.fe-tabHeader
 {
	background:url(fe_img/info.png);background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
	text-align: center;
	line-height: 115%;
}

.fe-fundCentre-body li[data-containerid="FundInfo"] a.fe-tabHeader:hover ,.fe-fundCentre-body li#FundInfo a.fe-tabHeader:hover {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/info-hover.png);
}

.fe-fundCentre-body li[data-containerid="Performance"] a.fe-tabHeader,
.fe-fundCentre-body li#Performance a.fe-tabHeader
 {
	background:url(fe_img/perf.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li[data-containerid="Performance"] a.fe-tabHeader:hover ,.fe-fundCentre-body li#Performance a.fe-tabHeader:hover {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/perf-hover.png);
}

.fe-fundCentre-body li[data-containerid="DiscretePerformance"] a.fe-tabHeader,
.fe-fundCentre-body li#DiscretePerformance a.fe-tabHeader
 {
	background:url(fe_img/discPer.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li[data-containerid="DiscretePerformance"] a.fe-tabHeader:hover, .fe-fundCentre-body li#DiscretePerformance a.fe-tabHeader:hover {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/discPer-hover.png);
}
.fe-fundCentre-body li[data-containerid="CumulativePerformance"] a.fe-tabHeader,
.fe-fundCentre-body li#CumulativePerformance a.fe-tabHeader
 {
	background:url(fe_img/cumPerf.png);background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li[data-containerid="CumulativePerformance"] a.fe-tabHeader:hover,
.fe-fundCentre-body li#CumulativePerformance a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/cumPerf-hover.png);
}

.fe-fundCentre-body li[data-containerid="CalendarPerformance"] a.fe-tabHeader,
.fe-fundCentre-body li#CalendarPerformance a.fe-tabHeader
 {
	background:url(fe_img/calPerf.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}
.fe-fundCentre-body li[data-containerid="CalendarPerformance"] a.fe-tabHeader:hover,
.fe-fundCentre-body li#CalendarPerformance a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/calPerf-hover.png);
}
.fe-fundCentre-body li[data-containerid="Risk"] a.fe-tabHeader,
li#Risk a.fe-tabHeader
 {
	background:url(fe_img/risk.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%
}
.fe-fundCentre-body li[data-containerid="Risk"] a.fe-tabHeader:hover,
li#Risk a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/risk-hover.png);
}
.fe-fundCentre-body li[data-containerid="Ratings"] a.fe-tabHeader,
.fe-fundCentre-body li#Ratings a.fe-tabHeader
 {
	background:url(fe_img/ratings.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li[data-containerid="Ratings"] a.fe-tabHeader:hover,
.fe-fundCentre-body li#Ratings a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/ratings-hover.png);
}
.fe-fundCentre-body li[data-containerid="Charges"] a.fe-tabHeader,
.fe-fundCentre-body li#Charges a.fe-tabHeader
 {
	background:url(fe_img/charges.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}
.fe-fundCentre-body li[data-containerid="Charges"] a.fe-tabHeader:hover,
.fe-fundCentre-body li#Charges a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/charges-hover.png);
}
.fe-fundCentre-body li[data-containerid="Documents"] a.fe-tabHeader,
.fe-fundCentre-body li#Documents a.fe-tabHeader
 {
	background:url(fe_img/docs.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}
.fe-fundCentre-body li[data-containerid="Documents"] a.fe-tabHeader:hover,
.fe-fundCentre-body li#Documents a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/docs-hover.png);
}
.fe-fundCentre-body li[data-containerid="Assets"] a.fe-tabHeader,
.fe-fundCentre-body li#Assets a.fe-tabHeader
 {
	background:url(fe_img/tabAsset.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}
.fe-fundCentre-body li[data-containerid="Assets"] a.fe-tabHeader:hover,
.fe-fundCentre-body li#Assets a.fe-tabHeader:hover
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding-top: 38px;
	text-align: center;
	line-height: 115%;
	background-image: url(fe_img/tabAssetSelected.png);
}

/* tabs selected */

.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Price"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Price a.fe-tabHeader
 {
	background:url(fe_img/price-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%
}


.fe-fundCentre-body li.ui-tabs-selected[data-containerid="FundInfo"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#FundInfo a.fe-tabHeader
 {
	background:url(fe_img/info-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Performance"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Performance a.fe-tabHeader
 {
	background:url(fe_img/perf-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li.ui-tabs-selected[data-containerid="DiscretePerformance"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#DiscretePerformance a.fe-tabHeader
 {
	background:url(fe_img/discPer-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li.ui-tabs-selected[data-containerid="CumulativePerformance"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#CumulativePerformance a.fe-tabHeader
 {
	background:url(fe_img/cumPerf-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li.ui-tabs-selected[data-containerid="CalendarPerformance"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#CalendarPerformance a.fe-tabHeader
 {
	background:url(fe_img/calPerf-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}

.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Risk"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Risk a.fe-tabHeader
 {
	background:url(fe_img/risk-hover.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}
.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Ratings"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Ratings a.fe-tabHeader
 {
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;
	text-align: center;
	background-image: url(fe_img/ratings-hover.png);

}
.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Charges"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Charges a.fe-tabHeader
 {
	background:url(fe_img/charges-hover.png);background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%


}
.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Documents"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Documents a.fe-tabHeader
 {
	background:url(fe_img/docs-hover.png);background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}
.fe-fundCentre-body li.ui-tabs-selected[data-containerid="Assets"] a.fe-tabHeader,
.fe-fundCentre-body li.ui-tabs-selected#Assets a.fe-tabHeader
 {
	background:url(fe_img/tabAssetSelected.png);
	background-position: center 6px;
	background-repeat: no-repeat;
	padding: 38px 0 0;	
text-align: center;
line-height: 115%

}










.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited 
{
	 color: inherit ; 
	 text-decoration : inherit;

}


.ui-tabs.ui-tabs-panel.fe-tabs-datacontainer /* the tab contents section */
{
	padding: 1px 0 0;
	background-color: #fff;
	color: #fff;
}


/* -------------------- */

.fe-datatable, .fe-chart-datable /* table containing the data itself */
{
	margin: 0 0 0;
	border: 0;
 	border-collapse: collapse;
	border-spacing: 0;

}

.ui-asdate /* date */
{
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	padding: 3px;
}


.fe-datatable th, .fe-chart-datable th {
	padding: 10px 5px 10px 5px;
	/* background: #666666 !important; */
	/* background: #f8f8f8 !important; */
	background: #ede9ff !important;
	font: 12px Arial, sans-serif;
	color: #fff;
	font-weight: bold;
	border-spacing: 0;
	border-top: 0;
	border-right:0;
	border-top: 2px solid #ffffff;
	border-left:2px solid #ffffff;
	color:#000;
}

.ui-sortable.pdfableColumn.fe-tabs-grid-columnheader.fe-soretedColumn /* th sorted */ 
{
}

.ui-notsortable{
	padding-top:18px!important;
}


/* -----   data tabla row classes ---- */

.pdfableColumn.fe-column-name {
    width:350px !important;
}

.ui-sortable.fe-tabs-grid-columnheader.pdfableColumn.fe-columnheader-BespokeColumn2 {
    width: 100px !important;
}
.fe-datatable .even td, .fe-chart-datable .even td {
   
}

.fe-datatable .odd td, .fe-datatable .even td, .fe-chart-datable .even td, .fe-chart-datable .odd td {

	background:#ffffff url(fe_img/table_td_bg.png) repeat-x left bottom;
	padding: 5px;
	vertical-align: middle;
	border: 0;
	font-size: 11px !important;
	font-family: Arial, sans-serif;
	border-top: 0;
	color: #000;
}

td.fe-change-neutral{
	background:#fff url(fe_img/table_td_bg.png) repeat-x left bottom;
}
.fe-datatable .odd td, .fe-chart-datable .odd td {
		background:#e8e8e8;
		border-left:2px solid #ffffff;
}
.fe-datatable .even td, .fe-chart-datable .even td {
		background:#ffffff;
}
.fe-datatable .mouseover /* tr hover */ 
{
}

td.fe-change-positive,
.fe-datatable .even td.fe-change-positive,
.fe-datatable .odd td.fe-change-positive /* positive numbers */ 
{
	color: #009933;
	text-align: center;
	padding-right: 15px;
	/*background-image: url(fe_img/priceUp.png);
	background-position: center right;
	background-repeat: no-repeat;*/
	
}

td.fe-change-negative,
.fe-datatable .even td.fe-change-negative,
.fe-datatable .odd td.fe-change-negative /* negative numbers */ 
{
	color: #ff0000;
	text-align: center;
	padding-right: 15px;
	/*background-image: url(fe_img/priceDown.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-color:transparent; */
}

td.fe-change-neutral,
.fe-datatable .even td.fe-change-neutral,
.fe-datatable .odd td.fe-change-neutral /* neutral numbers */ 
{
	text-align: center;
	padding-right: 15px;
	/*background-image: url(fe_img/priceZero.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-color:transparent; */

}


td.fe-icon-chart a /*chart icon */
{
	background:url(fe_img/ico_chart.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 auto;
}
td.fe-icon-chart a:hover /*chart icon */
{
	background:url(fe_img/ico_chartOver.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 auto;
}
td.fe-icon-factsheet a /*factsheet icon */
{
	background:url(fe_img/ico_fs.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 auto;
}
td.fe-icon-factsheet a:hover /*factsheet icon */
{
	background:url(fe_img/ico_fsOver.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 auto;
}

a.fe-fund-document-icon /*factsheet icon */
{
	background:url(fe_img/ico_fs.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 auto;
}

a.fe-fund-document-icon:hover /*factsheet icon */
{
	background:url(fe_img/ico_fsOver.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 auto;
}
td.fe-icon-chart, td.fe-icon-factsheet {
     width: 25px!important;
}

td.fe-providerFact-Container 
{
    width: 25px!important;
}


.fe-noresult /* container for the no results message */ 
{
	color: #e34e35;
	font-size: 11px !important;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

/* ---------- Row count display ---------- */

.ui-paging-displayContainer /* row count section */
{
}

.fe-record-count /* row count drop down */
{
}

.fe-display-count /* row count text */
{
}

/* ----------   pagination  ------------------*/

.fe-datatable-pagination-container.ui-widget-header.ui-corner-top /* pagination row */
{
	background: #fff;
	font-family: Arial, sans-serif;
	padding: 5px 0px;
	font-size: 11px !important;
	margin: 0;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #e6e6e6;
}
.ui-widget-header.fe-paging-footer.ui-corner-bottom /* footer paging container */
{
	font-family: Arial, sans-serif;
	padding: 5px 0px;
	font-size: 11px !important;
	background: #fff;
	border-radius: 0;
	border: 0;
}
.fe-datatable td /* -----   pagination ---- */
{
	background-color: #f8f8f8;
	padding: 10px 6px;
	vertical-align: middle;
	border-bottom: 1px solid #000;
	font-size: 11px !important;
	font-family: Arial, sans-serif;
	border-spacing: 0;
}

.fe-paging-navContainer /* pagination control section*/
{
	color: #fff;
}

.ui-corner-all.ui-state-default.ui-paging-button /* pagination button */
{
	padding: 1px 5px;
	color: #000;
	background-image: none;
	border: 0px solid #000;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius: 0;
	margin: 0 2px 0 0;
	text-decoration: none;
	font-size: 11px !important;
	background-color: #fff;
}
.ui-corner-all.ui-state-default.ui-paging-button:hover/* pagination button */
{
	text-decoration:underline;
}

.ui-paging-current.ui-state-default.ui-state-disabled.ui-state-highlight.ui-corner-all /* disabled pagination buttons (selected) */
{
	padding: 1px 5px;
	color: #000;
	background-image: none;
	background:#00a5e3;
	border: 0px solid #000;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius: 0;
	margin: 0 2px 0 0;
	text-decoration: none;
	font-size: 11px !important;
	opacity: 1;
}


.ui-paging-current.ui-state-default.ui-state-disabled.ui-corner-all.ui-paging-prev, .ui-paging-current.ui-state-default.ui-state-disabled.ui-corner-all.ui-paging-next /* pagination previous / next button */
{
	background-image: none;
	color: #000;
	cursor: auto;
	background-color: #fff;
	border: 0px solid #fff;
	opacity: 1;
	padding: 1px 5px;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius: 0;
	margin: 0 2px 0 0;
	font-size: 11px !important;
}
.ui-state-default.ui-corner-all.ui-state-disabled.ui-paging-ellipse /* elipse dots */
{
	background-image: none;
	color: #aaa;
	cursor: auto;
	background-color: #fff;
	text-shadow: none;
	border: 0;
	opacity: 1;
	padding: 1px 5px;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius: 0;
	margin: 0 3px 0 4px;
}



.ui-paging-current.ui-state-default.ui-state-disabled.ui-state-highlight.ui-corner-all /* disabled pagination buttons (selected) */
{
	padding: 1px 5px;
	color: #fff;
	background-image: none;
	/* border: 0px solid #cc0000; */
	border: 0px solid var(--teal);
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius: 0;
	margin: 0 2px 0 0;
	text-decoration: none;
	font-size: 11px !important;
	/* background-color: #cc0000; */
	background-color: var(--teal);
}


/* ------- footer --------------*/

.fe-footer-container {
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	line-height:13px;
}
 
#fundcentre_S1btn .ui-button-text {
    text-decoration: underline;
}
#fundcentre_S1btn .ui-button-text:hover {
    text-decoration: none;
}
button#fundcentre_S1btn {
    padding: .4em 1em;
	padding-left: 0;
    border: 0;
    background: transparent;
    line-height: 1.4;
    text-decoration: underline;
}
button#fundcentre_S1btn:hover{
	text-decoration: none;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
display: block;
z-index: 1001;
outline: 0px;
position: absolute;
height: auto !important;
width: auto!important;
top: 315px!important;
left: 75px!important;
border-color: #666666 !important;
border-width: 1px;
}

/* ============================ CHARTING TOOL ======================= */




.ui-charting-headertext /* ============================ For Live Toolkit======================= */


{
	color: #cc0000;
	padding: 10px 0 30px;
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	font-weight:bold;
}





.fe-search-panel.ui-tabs-panel.ui-widget-content.ui-corner-bottom /* search pannel */
{
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	font-weight: bold;
	height: auto;
	background:#fff;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

.instrumentTabSearchOptions /* LABEL */
{
	font-family: Arial, sans-serif;
	font-size: 11px !important;
	padding: 0 25px 10px 0;
	font-weight: bold;
	height: 58px;
	margin: 0;
	color: #333;
}
.instrumentTabResultsOptions {
	padding: 0;
	border: 0;
	height: auto;
	width: 200px;
}


select.fundManagers, select.fundSectors, select.chartInstrument /* drop down select */
{
	font-family: Arial, sans-serif;
	font-size: 11px !important;
}


.fe-chart-container {
	background-image: none;
	background-color: #fff;
}

.fe-tabs.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all /* tab control chart */
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 0;
/*	padding: 2px 0 0!important;*/
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom:0;
}
.fe-performance-table.ui-tabs 
/* performance table container */
{
	padding: 0 0;
	background:#fff;

}







.fe-button.fe-addtochart-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only /* add to chart */
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background:#eaeaea url(fe_img/button.png) repeat-x left top ;
	color: #cb0629;
	border:1px solid #c8c7bb;
	font-size: 11px !important;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	vertical-align: top;
	
}

.fe-button.fe-addtochart-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover,
.fe-button.fe-addtochart-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus /* add to over */
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background:#fefefe url(fe_img/buttonOver.png) repeat-x left top ;
	color: #cb0629;
	font-size: 11px !important;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	border:1px solid #c8c7bb;
}


.fe-button.fe-exporttopdf-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
/* pdf */
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background: #c00324 url(fe_img/buttonAdv.png) repeat-x left top;
	border:1px solid #c00324;
	color: #fff;
	font-size: 11px !important;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	vertical-align: top;
	
}

.fe-button.fe-exporttopdf-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus,
.fe-button.fe-exporttopdf-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover
/* pdf to over */
{	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background: #db5456 url(fe_img/buttonAdvActiv.png) repeat-x left top;
	border:1px solid #c00324;
	color:#fff;
	font-size: 11px !important;
	padding: 0 10px 0 10px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px;
	width: auto!important;
	font-weight: bold;
	
}





/* chart basis popup */

.shownOption {
	top: 32px;
	background: #fff;
	font-size: 11px !important;
	color: #333;
	font-weight: bold;
	padding: 10px;
	border: 2px solid #d6d7d9;
	font-family: Arial, sans-serif;
}
.fe-closechartbasis-button, .fe-closetimeperiod-button, .fe-closeevents-button {
	text-indent: -1000em;
	background: url(fe_img/closeChartBasisPannel.png) no-repeat!important;
	width: 16px;
	height: 16px;
	padding: 0!important;
}


.fe-chart-chartingOptions-container {
	margin: 4px 12px 0 0;
}



.fe-button.fe-chartbasis-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,
.fe-button.fe-timeperiodToggle-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,
.fe-button.fe-events-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only /* chart basis */
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background: #c00324 url(fe_img/buttonAdv.png) repeat-x left top;
	border:1px solid #c00324;
	color: #fff;
	font-size: 11px !important;
	padding: 0 5px 0 5px!important;
	text-decoration: none;
	font-family: Arial, sans-serif;
	margin: 0 4px 0 0;
	width: auto!important;
	font-weight: bold;	
	margin-top:2px;
}

.fe-button.fe-chartbasis-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus,
.fe-button.fe-timeperiodToggle-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus,
.fe-button.fe-events-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus /* chart basis active*/
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:3px 3px 5px #dbdbdb;
	-moz-box-shadow:3px 3px 5px #dbdbdb;
	-ms-box-shadow:3px 3px 5px #dbdbdb;
	background: #db5456 url(fe_img/buttonAdvActiv.png) repeat-x left top;
	border:1px solid #c00324;
	color:#fff;
	font-size: 11px !important;
	padding: 0 5px 0 5px!important;
	text-decoration: none;	
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 4px 0 0;
	width: auto!important;
	font-weight: bold;
	margin-top:2px;
}





.fe-basis-toglebutton.fe-button-top.fe-button.ui-widget.ui-state-default,
.fe-basis-toglebutton.fe-button-bottom.fe-button.ui-widget.ui-state-default,
.fe-basis-toglebutton.fe-button-top.fe-button.ui-widget.ui-state-default.ui-button.ui-corner-all.ui-button-text-only,
.fe-basis-toglebutton.fe-button-bottom.fe-button.ui-widget.ui-state-default.ui-button.ui-corner-all.ui-button-text-only,

.fe-button.fe-timeperiod-button.ui-state-default,

.fe-button.fe-event-label.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-primary

/* chart basis options button */
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #000;
	font-size: 11px !important;
	padding: 0 5px 0 5px!important;
	text-decoration: none;
	border: 1px solid #bbbdc0;
	font-family: Arial, sans-serif;
	text-shadow: none;
	font-weight: bold;
	background-image: url(fe_img/buttonOptions.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color:#e0e3e7;
}



.fe-basis-toglebutton.fe-button-top.fe-button.ui-widget.ui-button.ui-corner-all.ui-button-text-only.ui-state-highlight.ui-state-focus,
.fe-basis-toglebutton.fe-button-bottom.fe-button.ui-widget.ui-button.ui-corner-all.ui-button-text-only.ui-state-highlight.ui-state-focus,
.fe-basis-toglebutton.fe-button-top.fe-button.ui-widget.ui-button.ui-corner-all.ui-button-text-only.ui-state-highlight,
.fe-basis-toglebutton.fe-button-bottom.fe-button.ui-widget.ui-button.ui-corner-all.ui-button-text-only.ui-state-highlight,

.fe-button.fe-timeperiod-button.ui-state-focus,
.fe-button.fe-timeperiod-button.ui-state-highlight.ui-state-hover.ui-state-focus,
.fe-button.fe-timeperiod-button.ui-state-highlight,

.fe-button.fe-event-label.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-primary.ui-state-active.ui-state-hover,
.fe-button.fe-event-label.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-primary.ui-state-active



 /* chart basis options Active */
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #000;
	font-size: 11px !important;
	padding: 0 5px 0 5px!important;
	text-decoration: none;
	border: 1px solid #fab3b3;
	font-family: Arial, sans-serif;
	text-shadow: none;
	font-weight: bold;
	background-color: #ffd5d5;
	background-image: url(fe_img/buttonOptionsActive.png);background-repeat: repeat-x;
	background-position: left top;
}



/* table */

.fe-chart-perfTableBody td {
	background-color: #fff;
}
#chartTabs.fe-tabs-container{
	background-image: url(fe_img/tabsChart_container_bg.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.fe-fund-performance-astext-element{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px !important;
            color: #333333;
}
.fe-chart-ChartBasisOptions {
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	display: block;
	height: 60px;
}
.fe-chart-togglePanel {
	 
}
#chartTimeSpanOptions  {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#chartTimeSpanOptions .fe-chart-TimeSpans-container {
	margin-right: auto;
	margin-left: auto;
}
.fe-closebutton-container {
	height: 16px!important;
	width: 16px!important;
	float: right!important;
	display: block!important;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(fe_img/closeChartBasisPannel.png)!important;
}
.ui-sortable.fe-tabs-grid-columnheader.fe-columnheader-FundName.fe-soretedColumn {
     
}
.mfs-container a.mfs-selected-option{
	 border-radius: 0;
	 margin-top: 2px;
	 *margin-top:0;
     padding: 3px;
}
.mfs-container a.mfs-selected-option span{
	border-radius: 0;
	padding: 3px 0;
	*padding: 3px 0 2px;
	background:url(fe_img/down_arrow1.png) no-repeat center 8px white;

}
.mfs-options{
	border-radius: 0;
}
.fe-search-fileters-container{
    margin: 0;
   	margin-top: 30px;
	margin-left: -298px;
}

#basicSearch.fe-button.fe-search-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only, #basicSearch.fe-button.fe-search-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus, #basicSearch.fe-button.fe-search-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover {
    background:url(fe_img/search_bg.png) no-repeat center center #aaaaaa !important;
    border: 0 none;
    border-radius: 0;
    color: transparent;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    height: 24px;
	height: 23px\0;
    line-height: 0;
    margin: 0 !important;
    outline: medium none;
    padding: 0 0 0 20px;
    right: 55px;
    text-decoration: none;
    vertical-align: top;
	width: 36px !important;
	box-shadow:none;
}


.ui-icon.fe-ordering-icon.ui-icon-triangle-1-n{
	background-image:url(fe_img/up_arrow.png);
	background-repeat:no-repeat;
	 background-position: 3px 3px;

}
.ui-state-active .fe-ordering-icon.ui-icon-triangle-1-n{
	background-image:url(fe_img/up_arrow-active.png);
	background-repeat:no-repeat;
	 background-position: 3px 3px;
	
}
.ui-icon.fe-ordering-icon.ui-icon-triangle-1-s{
	background-image:url(fe_img/down_arrow.png);
	background-repeat:no-repeat;
	 background-position: 3px 3px;

}
.ui-state-active  .fe-ordering-icon.ui-icon-triangle-1-s{
	background-image:url(fe_img/down_arrow-active.png);
	background-repeat:no-repeat;
	 background-position: 3px 3px;

}


.mfs-options li a{
	padding: 3px;
}

.fe-datatable-pagination-container.ui-widget-header.ui-corner-top {
	padding:0;
	display:none;
}
.fe-datatable-pagination-container.ui-widget-header.ui-corner-top .fe-paging-navigation{
	display:none;
}
.ui-sortable.fe-tabs-grid-columnheader.fe-columnheader-FundName{
	    
}

.fe-ordering-icon{
	height:10px;

}
.mfs{

    margin-top:170px;
    background:none;
    padding-top: 50px;
	*padding-top: 90px;
    position: relative;
	*position:static;
    top: 31px;
}
.Header{
	position: absolute;
	width: 620px;
	top: 130px;
	/* border-bottom: 27px solid #d3292e; */
	border-bottom: 27px solid var(--teal);
	font-size:11px !important;
}
.Header b{
	font-size: 26px;
	font-weight: 100;
	line-height:20px !important;
}

.loading-indicator {
	top:700px !important;
	left:260px !important;
 
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
	z-index:1000 !important;
	position:relative;
}
.ui-widget {
    font-size: 11px !important;
}

.fe-datatable th:first-child{
	 
}

.fe-datatable .even td:first-child, .fe-datatable .odd td:first-child {
    text-align: left;
	font-size:11px !important;
}
.sorting-icon-container{
	height:18px;
}
	
 #GridColumn_1_270 .ui-icon {
  
 
	margin-top: 1px;
	margin-top: 2px\9;
}
#GridColumn_1_14 {
width: 100px;
}

 #GridColumn_1_272 .ui-icon {
 
}
#GridColumn_1_272 {
width: 80px;
padding-right:10px;
padding-left:10px;
}
h1.popupheaders {
font-size: 11px !important;
padding-bottom: 0px;
padding-top: 19px;
}

h1.mainpopupheader {
font-size: 11px !important;
padding-bottom: 0px;
padding-top: 0px;
}
#fundcentre_S1btn span {
    padding-left: 0;
}
.S1popup {
    display: inline-block;
}
@media all and (-webkit-min-device-pixel-ratio:0) {

.fe-search-textbox, .fe-search-textbox:focus{
	padding: 5px;
	outline:0;
	}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
display: block;
z-index: 1001;
outline: 0px;
position: absolute;
height: 525px!important;
width: auto!important;
top: 315px!important;
left: 75px!important;
border-color: #666666 !important;
border-width: 1px;
}

h1.popupheaders {
font-size: 11px !important;
padding-bottom: 0px;
padding-top: 19px;
}

h1.mainpopupheader {
font-size: 11px !important;
padding-bottom: 0px;
padding-top: 0px;
}

span.ui-button-text:hover {
text-decoration: none;
}

.ui-draggable .ui-dialog-titlebar {
cursor: default;
}

}
.ui-dialog .ui-dialog-titlebar-close
{
	*left:356px;
}
@media print{
	.Header
	{
		page-break-before:avoid !important;		
	}	
		
}
#basicSearch .ui-button-text {
    text-indent: -3000px;
	*text-indent:0px;
	font-size:0 !important;
	*margin-left:14px;
}

.fe-search-searchbox-container {
	*margin-left:3px;
}

/* scottishwidows-new */