@font-face {
    font-family: 'ZurichSans';
    src: url('images/ZurichSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichSans';
    src: url('images/ZurichSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$fontLight: 'frutigerlightregular';
$fontRegular: 'frutigerlightregular';
$fontSemiBold: 'frutigerlightbold';
$fontBold: 'frutigerlightbold';
$fontBoldregular: 'frutigerboldregular';
$fontUbsHeadline: 'UBSHeadline';




$font-size: (
    "micro": 8.5pt,
    "small": 9pt,
    "normal": 10pt,
    "semimedium": 12pt,
    "medium": 14pt,
    "uppermedium": 16pt,
    "large": 25pt,
    "footer":7pt
);
$font-weight: (
    "light":200,
    "normal":400,
    "medium":600,
    "bold":700
);
$line-height: (
    "small":0.8,
    "base":auto,
    "normal":1,
    "large":1.5
);