@font-face {
  font-family: "senticosansdt-regular-webfont";
  src: url("images/senticosansdt-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("images/senticosansdt-regular-webfont.woff") format("woff"),
    url("images/senticosansdt-regular-webfont.ttf") format("truetype"),
    url("images/senticosansdt-regular-webfont.svg#senticosansdt-regular-webfont")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "senticosansdt-light-webfont";
  src: url("images/senticosansdt-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("images/senticosansdt-light-webfont.woff") format("woff"),
    url("images/senticosansdt-light-webfont.ttf") format("truetype"),
    url("images/senticosansdt-light-webfont.svg#senticosansdt-light-webfont")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "senticosansdt-light-webfont", serif;
  font-size: 10pt;
  color: #333333;
}
.page {
  position: relative;
  width: 19.5cm;
  height: 28.45cm;
  padding: 0.5cm 0.75cm;
}
.page1 {
  background: url(images/Aegon_header_new.png) no-repeat -0.6cm 0.19cm;
  background-size: 106%;
}
.header {
  /*
background: url(images/Aegon_header_new.png) no-repeat -1cm -0.2cm;
background-size: 108%;
*/
  padding-top: 1cm;
}
.row {
  margin-bottom: 0.1cm;
}
.page2 .row {
  margin-bottom: 0;
}
/*.page2>.row2>.column2>.row3,.page2>.row2>.column2>.row4 {
  margin-bottom: 0.2cm;
}*/
.WBFundName {
  width: 20cm;
}
.column:first-child > .section {
  margin-left: 0;
  margin-bottom: 0;
}
h1,
h2,
h3 {
  margin: 0;
  color: #114f8e;
  font-weight: normal;
}
p {
  margin: 0;
  margin-bottom: 0.25cm;
}
p.WBRiskWarning {
  margin-bottom: 0;
}
.vertical-list div {
  margin-bottom: 0.25cm;
}
.vertical-list div span:first-child {
  color: #114f8e;
}
.page > .row1 {
  border-bottom: 0px solid #114f8e;
  margin-bottom: 0;
}
.page > .row1 h2 {
  font-size: 17.5pt;
  padding-left: 0;
  min-height: 0;
  background: none;
  margin-bottom: 0;
  /* height: 1.3cm; */
  height: 1.1cm;
  font-family: "senticosansdt-regular-webfont";
}
.page2 > .row1 h2,
.page3 > .row1 h2 {
  height: 1.5cm;
}
.page1 > .row2 > .column1,
.page1 > .row2 > .column2 {
  margin-top: 0.1cm;
}
.page1 > .row2 > .column2 > .section {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
.tabs.breakdowns {
  border: none;
  margin: 10px;
}
.horizontal-list.fundinfo .clear {
  padding: 0;
}
.tabs.breakdowns > .tabpanes {
  border: none;
}
.tabs.breakdowns > .tabpanes > .slider > .tab {
  padding-bottom: 20px;
}
.tabs.breakdowns > .tabbuttons {
  position: absolute;
  bottom: 5px;
  z-index: 10000;
}
.tabs.breakdowns > .tabbuttons > .tab {
  border: none;
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  text-indent: -10000px;
}
.text.text1.compositeheader {
  /* position:relative; */
  /* height: 3cm; */
}
/*
.performancechart {
  background: url(images/percentage-growth.svg) no-repeat 0 50px;
  background-size: 12px;
}
*/
.performancechart {
  position: relative;
}
.performancechart:before {
  content: "Percentage growth";
  transform: rotate(270deg);
  position: absolute;
  top: 2cm;
  left: -1.3cm;
  font-size: 10pt;
}
/*
.performancechart .highcharts-container{
position: relative;
}
.performancechart .highcharts-container:before {
background-color: #ff0000;
  content: 'Percentage Growth';
  font-family: 'senticosansdt-light-webfont', serif;
  font-size: 9px;
  color: #000;
  position: absolute;
  left: -25px;
  top: 47.5%;
  z-index: 999999;
  -webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
transform: rotate(270deg);
}
*/
.text.text1.compositeheader p.item2 {
  display: none;
}
.page1 .FundName,
.page1 .WBFundName {
  /* padding-top: 2.5cm; */
  padding-top: 2.2cm;
}
.FundName,
.WBFundName {
  padding-top: 0;
}
.header {
}
.header h2 {
  border-bottom: 1px solid #114f8e;
}
.DocumentDate,
.DataAsAtDate {
  color: #ffffff;
  float: right;
  margin-top: -48pt;
}
.DocumentDate + .item4,
.DataAsAtDate + .item4 {
  float: right;
  margin-top: -72pt;
  color: #3bc7ef;
}
h2 {
  margin-bottom: 2pt;
  font-size: 11pt;
  line-height: 1;
  font-family: "senticosansdt-regular-webfont";
}
.horizontal-list.fundinfo > div,
.horizontal-list.codes > div,
.horizontal-list.underinfo > div,
.manager > div:not(.Biography) {
  border-bottom: 1px solid #114f8e;
  padding: 1pt 0;
}
.FundName .value {
  width: 4.5cm;
  text-align: right;
}
.fundinfo > .item12 {
  border-bottom: none !important;
}
.aboutfund p {
  margin-bottom: 0.1cm !important;
}

p.FactsheetWording {
  margin-bottom: 0.1cm !important;
}
.evenManager div,
.oddManager div {
  float: left;
  width: 99%;
}
.evenManager .Biography {
  clear: both;
}
.underinfo .FundManagementGroupName .label,
.StartDate .label,
.evenManager .Name .label,
.BenchmarkName .label,
.SectorNameFull .label {
  width: 39%;
}
.underinfo .FundManagementGroupName .value,
.evenManager .Name .value,
.BenchmarkName .value,
.SectorNameFull .value {
  width: 58%;
  text-align: right;
}
.horizontal-list.fundinfo > div.item13 {
  border: 0;
}
.horizontal-list > div:empty {
  border: none;
}
.horizontal-list > div span.label,
.manager > div span.label {
  margin: 0;
  font: normal 10pt "senticosansdt-light-webfont", serif;
  font-weight: bold;
}
.manager > div.Biography span.label {
  display: none;
}
.horizontal-list > div span.value,
.manager > div:not(.Biography) span.value {
  margin: 0;
  font: normal 10pt "senticosansdt-light-webfont", serif;
  float: right;
}
.riskcaveats.horizontal-list > div span.value {
  float: left;
}
.manager > div.Biography {
  padding-top: 0.1cm;
}
.highcharts-root {
  margin-left: 5px;
}

.ObjectiveText,
.risktext p,
.aboutfund p {
  margin: 0;
  font: normal 10pt "senticosansdt-light-webfont", serif;
}
.CrownRating img {
  width: 50pt;
  margin-top: 2pt;
}
.clientRating {
  width: 60pt;
  margin-left: 0;
  margin-top: 2pt;
}

.pdfperformancechart .chart {
  height: 200px;
}
.performancetable h2 {
  display: none;
}
table {
  border-collapse: collapse;
}
table th {
  font: normal 10pt "senticosansdt-regular-webfont", serif;
}
.performancetable table th {
  padding: 0;
  width: 1.35cm;
  text-align: left;
}
.performancetable table th.rowheader {
  width: 1.5cm;
}
.discreteprefir .rowheader,
.cumulativeperfir .rowheader {
  width: 1cm !important;
  padding-left: 0;
}
.discreteprefir table th,
.cumulativeperfir table th,
.cumulativeperfir td,
.discreteprefir td,
.cumulativeperf table th,
.cumulativeperf td,
.discretepref table th,
.discretepref td {
  padding-left: 0.3cm;
}

.discreteprefir table th {
  width: 1.3cm;
}
.cumulativeperfir table th {
  width: 1.8cm;
}
.cumulativeperf table th {
  width: 1.9cm;
}
.cumulativeperf table th:last-child {
  width: 1.33cm;
}
.cumulativeperfir table th:last-child {
  width: 1.28cm;
}
.cumulativeperf .rowheader,
.discretepref .rowheader {
  width: 1.8cm !important;
  padding-left: 0;
}

/*
.performancetable.discretepref table th {
  padding: 0;
  width: 1cm;
  text-align: left;
}
*/
table td {
  font: normal 10pt "senticosansdt-light-webfont", serif;
}
table tr.total td {
  font: normal 10pt "senticosansdt-regular-webfont", serif;
}
table tr {
  border-bottom: 1px solid #114f8e;
}
table {
  width: 100%;
}
/*
.breakdown table thead tr:first-child {
  display: none;
}
*/
.breakdown table thead th.Key + th.Name,
.breakdown table tbody tr.total td.Key + td.Name {
  text-indent: -0.55cm;
}

table .Weight {
  text-align: right;
}
div.footer {
  position: absolute;
  bottom: 0;
  left: 0.5cm;
  right: 0.5cm;
}
.page:last-child div.footer {
  bottom: 0;
  padding-top: 1.1cm;
  background-image: url(images/footer-logo.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 3cm 1cm;
}
.footer p {
  border-top: 1px solid #114f8e;
  padding-top: 0.2cm;
  font: normal 7pt "senticosansdt-light-webfont", serif;
}
.key-color {
  height: 3mm;
  width: 3mm;
  margin: 1mm;
}
.riskcaveats {
  padding-bottom: 0.2cm;
  padding-top: 0.2cm;
}
.riskdescription,
.riskcaveats {
  border-bottom: 1px solid #114f8e;
}
.riskdescription p {
  font: normal 10pt "senticosansdt-light-webfont", serif !important;
}
.riskcaveats .label {
  width: 20%;
  display: table-cell;
  color: #114f8e;
  font: normal 10pt "senticosansdt-regular-webfont", serif !important;
}
.riskcaveats .value {
  width: auto;
  display: table-cell;
}
.WBFundName + p.item3 {
  position: absolute;
  right: 0.5cm;
  top: 0.99cm;
  color: #114f8e;
  width: 8cm;
  text-align: right;
  margin: 0;
  font-family: "senticosansdt-light-webfont", serif;
  font-size: 11pt;
}
/*
.header p:nth-child(3) {
  position: absolute;
  top: 0.5cm;
  right: 0.5cm;
  margin: 0;
  font-family: 'senticosansdt-light-webfont', serif;
  font-size: 11pt;
  color: #114F8E;
}
*/
.DocumentDate,
.DataAsAtDate-Price,
.DataAsAtDate-AnnualCharge,
.DataAsAtDate-FundSizeDate,
.FundSizeDate-DataAsAtDate {
  color: #114f8e;
  margin: 0;
  position: absolute;
  top: 2.18cm;
  right: 0.5cm;
  font-family: "senticosansdt-light-webfont", serif;
  font-size: 11pt;
}

.page1 .header p:nth-child(3) {
  position: absolute;
  top: 2.3cm;
  right: 0.5cm;
  margin: 0;
  font-family: "senticosansdt-light-webfont", serif;
  font-size: 11pt;
  color: #114f8e;
}
.page1 .header p.DocumentDate,
.page1 .header p.DataAsAtDate-Price,
.page1 .header p.DataAsAtDate-AnnualCharge {
  color: #114f8e;
  margin: 0;
  position: absolute;
  top: 2.8cm;
  right: 0.5cm;
  font-family: "senticosansdt-light-webfont", serif;
  font-size: 11pt;
}

.performancechart h2 {
  display: none;
}
.source p,
.Biography span,
.performance p {
  font-family: "senticosansdt-light-webfont", serif;
  font-size: 10pt;
}
.Biography span {
  font: 10pt "senticosansdt-light-webfont", serif;
  /*    line-height: 9pt;*/
}
.manager .Photo {
  height: 75px;
}
.manager > .Photo {
  margin-top: 0.2cm;
}
.manager > .Photo:empty {
  height: 15px;
}
td.Key {
  width: 5%;
}
th.Name {
  text-align: left;
}
.column > .section {
  margin-left: 0.5cm;
}

/*.page1 > .row2 > .column2, .page2 > .row2 > .column2 {
  float: right;
  width: 63%;
}*/
/*commented the bellow section to fix the issue 201109*/
/*.page2 .clear{
  display:none;
}*/
.page3 .clear {
  display: none;
}
.page2 .CrownRating {
  margin-bottom: 11px;
  height: 16px;
}
/*.page2 > .row1 h2{
margin-top: 0.2cm;
}*/
.page3 > .row2 h2 {
  margin-top: 0.2cm;
}
.page2 .breakdown {
  margin-bottom: 0.4cm;
}
.page2 > .row2 > .column2,
.page2 > .row2 > .column1 {
  margin-top: 0.2cm;
}
.ObjectiveText {
  margin-bottom: 0.1cm;
}
.page1 > .row2 > .column1 > .row1 > .row1 > .fundinfo {
  margin-bottom: 0;
}
.page1 > .row2 > .column2 > .row5 > .row1 > .performancetable {
  margin-top: 0.3cm;
}
.page1 > .row2 > .column2 > .row5 > .row2 > .performancetable {
  margin-top: 0.2cm;
}
.page1
  > .row2
  > .column2
  > .row4
  .row3
  > .pdfperformancechart.pdfperformancechart1 {
  margin-top: 0.2cm;
}
.page1 > .row4 .row {
  margin-bottom: 0cm;
}
.page1 .column1 p {
  line-height: 9.5pt !important;
}
.page1>.row2>.column1 {
  float: left;
  width: 34.5%;
}
.page1>.row2>.column2 {
  float: left;
  width: 65.5%;
}
/* theme: Aegon */
