@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
	--font-family: 'PT Sans', sans-serif;
	--Definition-bg: #F6FBFC;
	--InfoBox-bg: #F5F5F5;
	--InfoBoxDark-bg: #DDF0F5;
}

body {
	font-family: var(--font-family);
	font-size: 8pt;
	color: #000000;
}

.page {
	position: relative;
	width: 20cm;
	height: 27.7cm;
	// height: auto;
	padding: 0cm;
}

.row {
	margin-bottom: 0.3cm;
}

.column>.section {
	margin-left: 0.3cm;
}

.column:first-child>.section {
	margin-left: 0;
}

h1,
h2,
h3 {
	margin: 0;
	color: #3399FF;
}

p {
	margin: 0;
	margin-bottom: 0.25cm;
}

.vertical-list div {
	margin-bottom: 0.25cm;
}

.vertical-list div span:first-child {
	color: #3399FF;
}

.horizontal-list span.value {
	float: left !important;
}

/*.page > .row1 { border-bottom: 3px solid #3399FF; }*/
.page>.row1 h2 {
	font-size: 24pt;
	padding-left: 3cm;
	min-height: 2cm;
	background-image: url("./Images/logo.png");
	background-repeat: no-repeat;
	margin-bottom: 0.5cm;
}

.page1>.row2>.column2>.section {
	padding: 0.25cm;
}

.tabs.breakdowns {
	border: none;
	margin: 10px;
}

.tabs.breakdowns>.tabpanes {
	border: none;
}

.tabs.breakdowns>.tabpanes>.slider>.tab {
	padding-bottom: 20px;
}

.tabs.breakdowns>.tabbuttons {
	position: absolute;
	bottom: 5px;
	z-index: 10000;
}

.tabs.breakdowns>.tabbuttons>.tab {
	border: none;
	background-color: #000;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
	text-indent: -10000px;
}

.cler {
	font-size: 24pt;
}

.reportheader {
	font-size: 34pt;
	color: rgb(253, 226, 17);
	padding-left: 0.5cm;
}

.headerbackground {
	background-color: rgb(138, 216, 216);
	height: 10cm;
	background-image: url("ClientLogos/df50df39-1368-4376-bee7-fda5e90bc682.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.bottomrightheaderpage {
	margin-top: 10cm;
}

.compositepadding {
	padding-left: 1cm;
	background-color: rgb(138, 216, 216);
	margin-left: 1cm;
	margin-right: 1cm;
	padding-bottom: 1.6cm;
}

.securityaccount {
	background-color: rgb(138, 216, 216);
	padding-top: 7cm;
	font-size: 34pt;
	padding-bottom: 0.5cm;
}

.esgdata {
	background-color: rgb(167, 179, 179);
	padding-top: 4cm;
	font-size: 34pt;
	padding-bottom: 3cm;
}

.icon {
	width: 12px;
	margin-left: 36px;
	padding: 0.2cm;
}

.row6 .icon,
.row7 .icon,
.row8 .icon {
	/* margin-left: 63px; */
}

.InfoBox {
	width: 100%;
	height: auto;
	background: var(--InfoBox-bg);
}

.InfoBoxDark * {
	font-weight: bold;
	font-family: var(--font-family);
	font-size: 8pt;
}

.page1>.row2>.column2>.row4,
.page1>.row2>.column2>.section.row3 {
	background-color: var(--InfoBoxDark-bg);
	border-radius: 0;
}

body>div.page1>div.section.row.row2>div.section.column.column2>div.section.row.row1 {
	margin-bottom: 0;
}

/*.page1>.row9>.column1>.row2,.page1>.row8>.column1>.row2,.page1>.row7>.column1>.row2,.page1>.row7>.column1>.row3,.page1>.row2>.column1>.row2,.page1>.row2>.column1>.row3,.page1>.row3>.column1>.row2,.page1>.row3>.column1>.row3,.page1>.row5>.column1>.row2,.page1>.row5>.column1>.row3,.page1>.row6>.column1>.row2,.page1>.row6>.column1>.row3{*/
.Definition {
	background-color: var(--Definition-bg);
	padding: 0.2cm 0.2cm 0.2cm 0.2cm;
	font-family: var(--font-family);
	font-size: 7.5pt;
}

.page1>.row9>.column1 {
	background-color: var(--Definition-bg);
}



.page1>.row2>.column2>.row5,
.page1>.row2>.column2>.row6,
.page1>.row2>.column2>.row7,
.page1>.row2>.column2>.row8,
.page1>.row2>.column2>.row9 {
	background: var(--Definition-bg);
	margin-bottom: 0;
	border-radius: 0;
}

.page1>.row4>.column2,
.page1>.row5>.column2,
.page1>.row6>.column2,
.page1>.row9>.column2 {
	margin-left: 0.5cm;
	width: 77.5%;
}

.page1>.row3>.column2 {
	margin-left: 0.6cm;
	width: 77%;
	float: right;
}

.page1>.row2>.column2>.row3,
.page1>.row2>.column2>.row4,
div.section.row.row2>div.section.column.column2>div.section.row.row4>div.section.column.column1>.row1,
div.section.row.row2>div.section.column.column2>div.section.row.row4>div.section.column.column2>.row1,
div.section.row.row2>div.section.column.column2>div.section.row.row4>div.section.column.column3>.row1,
div.section.row.row2>div.section.column.column2>div.section.row.row4>div.section.column.column4>.row1,
.page1>div.row2>div.column2>div.row5>.column4>div.row1>.InfoBox>p,
.page1>div.row2>div.column2>div.row5>.column4>div.row1,
.page1>.row2>.column2>.row5 .InfoBox p,
.page1>.row2>.column2>.row6 .InfoBox p,
.page1>.row2>.column2>.row7 .InfoBox p,
.page1>.row2>.column2>.row8 .InfoBox p,
.page1>.row2>.column2>.row9 .InfoBox p,
.page1>.row2>.column2>.row8>.column3>div.row1 {
	margin-bottom: 0;
}

.page1>.row2>.column2>.row5 .InfoBox p,
.page1>.row2>.column2>.row6 .InfoBox p,
.page1>.row2>.column2>.row7 .InfoBox p,
.page1>.row2>.column2>.row8 .InfoBox p,
.page1>.row2>.column2>.row9 .InfoBox p {
	padding-bottom: 0;
}

.page1>.row2>.column2>.row4>.column1,
.page1>.row2>.column2>.row4>.column3 {
	width: 10%;
}

.page1>.row2>.column2>.row4>.column2,
.page1>.row2>.column2>.row4>.column4 {
	width: 40%;
}

.page1>.row2>.column2>.row4>.column2 p,
.page1>.row2>.column2>.row4>.column4 p {
	vertical-align: baseline;
	margin-bottom: 0;
	padding: 0.2cm;
}

.page1>.row2>.column2>.row5>.column1 .icon,
.page1>.row2>.column2>.row9>.column1 .icon,
.page1>.row2>.column2>.row6>.column1 .icon,
.page1>.row2>.column2>.row7>.column1 .icon,
.page1>.row2>.column2>.row8>.column1 .icon {
	margin-left: 0;
}

.page1>.row2>.column2>.row5>.column3 .icon,
.page1>.row2>.column2>.row9>.column3 .icon,
.page1>.row2>.column2>.row6>.column3 .icon,
.page1>.row2>.column2>.row7>.column3 .icon,
.page1>.row2>.column2>.row8>.column3 .icon {
	margin-left: 0;
}

.page1>.row2>.column2>.row5>.column3>.row1,
.page1>.row2>.column2>.row9>.column3>.row1,
.page1>.row2>.column2>.row6>.column3>.row1,
.page1>.row2>.column2>.row7>.column3>.row1,
.page1>.row2>.column2>.row8>.column3>.row1 {
	width: auto;
	display: inline-block;
}

.page1>.row2>.column2>.row5>.column4>.row1,
.page1>.row2>.column2>.row9>.column4>.row1,
.page1>.row2>.column2>.row6>.column4>.row1,
.page1>.row2>.column2>.row7>.column4>.row1,
.page1>.row2>.column2>.row8>.column4>.row1 {
	margin-left: 0;
}

.page1>.row2>.column2>.row5>.column1,
.page1>.row2>.column2>.row9>.column1,
.page1>.row2>.column2>.row6>.column1,
.page1>.row2>.column2>.row7>.column1,
.page1>.row2>.column2>.row8>.column1,
.page1>.row2>.column2>.row9>.column1 {
	width: 5%;
}

.page1>.row2>.column2>.row5>.column2,
.page1>.row2>.column2>.row6>.column2,
.page1>.row2>.column2>.row7>.column2,
.page1>.row2>.column2>.row8>.column2,
.page1>.row2>.column2>.row9>.column2 {
	width: 40%;
}

.page1>.row2>.column2>.row5>.column3,
.page1>.row2>.column2>.row9>.column3,
.page1>.row2>.column2>.row6>.column3,
.page1>.row2>.column2>.row7>.column3,
.page1>.row2>.column2>.row8>.column3 {
	width: 8%;
}

.page1>.row2>.column2>.row5>.column4,
.page1>.row2>.column2>.row6>.column4,
.page1>.row2>.column2>.row7>.column4,
.page1>.row2>.column2>.row8>.column4,
.page1>.row2>.column2>.row9>.column4 {
	width: 47%;
}

/*inner questions in infobox*/
.page1>.row2>.column2>.row6,
.page1>.row2>.column2>.row7,
.page1>.row2>.column2>.row8 {
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
}

.page1>.row2>.column2>.row7>.column1,
.page1>.row2>.column2>.row8>.column1,
.page1>.row2>.column2>.row6>.column1 {
	width: 15%;
}

.page1>.row2>.column2>.row7>.column2,
.page1>.row2>.column2>.row8>.column2,
.page1>.row2>.column2>.row6>.column2 {
	width: 30%;
}

.page1>.row2>.column2>.row6>.column3,
.page1>.row2>.column2>.row7>.column3,
.page1>.row2>.column2>.row8>.column3 {
	width: 15%;
}

.page1>.row2>.column2>.row7>.column4,
.page1>.row2>.column2>.row8>.column4,
.page1>.row2>.column2>.row6>.column4 {
	width: 35%;
}

.page1>.row2>.column2>.row7>.column1>.row1,
.page1>.row2>.column2>.row8>.column1>.row1,
.page1>.row2>.column2>.row6>.column1>.row1,
.page1>.row2>.column2>.row6>.column3>.row1,
.page1>.row2>.column2>.row7>.column3>.row1,
.page1>.row2>.column2>.row8>.column3>.row1 {
	float: right;
}

/*inner questions in infobox*/
.page1>.row8>.column2>.row2>.column1,
.page1>.row8>.column2>.row1>.column1,
.page1>.row7>.column2>.row1>.column1,
.page1>.row8>.column2>.row3>.column1 {
	width: 8%;
}

.page1>.row8>.column2>.row2>.column2,
.page1>.row8>.column2>.row1>.column2,
.page1>.row7>.column2>.row1>.column2,
.page1>.row8>.column2>.row3>.column2 {
	width: 92%;
}

.page1>.row2>.column2>.row6>.column2>.row1,
.page1>.row2>.column2>.row6>.column4>.row1,
.page1>.row2>.column2>.row7>.column2>.row1,
.page1>.row2>.column2>.row7>.column4>.row1 {
	margin-bottom: 0;
}

.page1>.row2>.column2>.row9 {
	padding-top: 0.1cm;
}

.page1>.row2>.column2>.row5 {
	padding-bottom: 0.1cm;
}

.page1>.row2>.column2>.row8>.column4>.row1 {
	margin-bottom: 0.2cm;
}

.MainHeader * {
	color: #1AB5EA;
	font-size: 21pt;
	text-align: center;
	// font-weight: bold;
}

.page1>.row1>.LegalText {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.LegalText * {
	font-weight: bold;
	font-size: 11pt;
	color: #000000;
}

.MainQuestion * {
	font-weight: bold;
	font-size: 10pt;
	color: #1AB5EA;
}

.SubQuestion * {
	font-weight: bold;
	// font-size: 7.5pt;
	color: #000000;
	// font-style: italic;
	/*page-break-inside:avoid;*/
}

.SubSubQuestion * {
	font-weight: bold;
	// font-size: 7.5pt;
	color: #000000;
	// font-style: italic;
	/*page-break-inside:avoid;*/
}

.page1>.row2>.column2 .InfoBox {
	background: transparent;
}

.InfoBox * {
	// font-family: var(--font-family);
	font-size: 8pt;
	color: #000000;
	// font-style: italic;
	padding: 0.2cm;
}

.InfoBox b {
	padding: 0;
}

.Answer * {
	font-size: 7.5pt;
	// color: #8FA0A2;
}

.page1>.row4>.column2>.row2>.column1>.row1 .icon {
	padding: 0;
	margin-left: 70px;
}

.page1>.row4>.column2>.row2>.column1>.row1,
.page1>.row4>.column2>.row2 {
	margin-bottom: 0;
}

.page1>.row4>.column2>.row3>.column1>.row1 {
	background: url(images/checkbox.svg);
	background-size: auto;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	margin: 0 0 0 70px;
}

.SubQuestion:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(images/Assetcircle.svg);
	background-size: auto;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float: left;
	margin-right: 0.35cm;
	margin-top: 0.01cm;
	page-break-before: avoid;
	page-break-after: avoid;
}

.SubQuestion {
	width: 90%;
	float: left;
	margin-left: 0px;
	/*page-break-inside:avoid;*/
}

.page1>.row2>.column2>.row6>.column2>.row1,
.page1>.row2>.column2>.row5>.column2>.row1,
.page1>.row2>.column2>.row4>.column2>.row1,
.page1>.row2>.column2>.row3>.column2>.row1,
.page1>.row2>.column2>.row7>.column2>.row1,
.page1>.row2>.column2>.row8>.column2>.row1,
.page1>.row2>.column2>.row9>.column2>.row1 {
	margin-left: 0;
}

.page1>.row3>.column2>.row9>.column2 {
	width: 90%;
	display: block;
	float: right;
}

.page1>.row3>.column2>.row9>.column1 {
	width: 10%;
	display: block;
	float: left;
}

.page1>.row8 {
	.compositebody {
		background-color: var(--InfoBox-bg);

		.row3 {
			text-align: center;
		}
	}
}

/*.page1 > .row3 > .column2 > .row9 > .column1 >.row1:before{
	  content:'';
	  display:inline-block;
	  width: 2px;
	  height: 0;
	  background: url(images/Assetvertical.svg);
	  background-size: cover;
	  background-position: 0;
	  background-repeat: repeat;
  }*/
div.section.row.row2>div.section.column.column2>div.section.row.row4>div.section.column.column1>.row1 {
	background: url(images/Assetgreencircle.svg), url(images/Assetgreencircle.svg);
	background-repeat: no-repeat, no-repeat;
	background-size: 12px 12px, 12px 12px;
	background-position: 6px 9px, 20px 9px;
}

div.section.row.row2>div.section.column.column2>div.section.row.row4>div.section.column.column3>.row1 {
	background: url(images/Assetgreencircle.svg), url(images/Assetwhitecircle.svg);
	background-repeat: no-repeat, no-repeat;
	background-size: 12px 12px, 12px 12px;
	background-position: 6px 9px, 21px 9px;
}

/*.page1 > .row3 > .column2 > .row7 *,
  .page1 > .row3 > .column2 > .row8 *,
  .page1 > .row3 > .column2 > .row9 >.column2>.row1 *,
  .page1 > .row3 > .column2 > .row9 >.column2>.row3 *,
  .page1 > .row3 > .column2 > .row9 >.column2>.row2 *,
  .page1 > .row3 > .column2 > .row9 >.column2>.row2 ,
  .page1 > .row3 > .column2 > .row9 >.column2>.row3 ,
  .page1 > .row3 > .column2 > .row9 >.column2>.row1 
  {
	  page-break-inside:avoid;
  }*/
/*.page1 > .row3 > .column2 > .row5,.page1 > .row3 > .column2 > .row4,.page1 > .row3 > .column2 > .row3,.page1 > .row3 > .column2 > .row2,.page1 > .row3 > .column2 > .row6,
  .page1 > .row3 > .column2 > .row2 *,
  .page1 > .row3 > .column2 > .row4 *,
  .page1 > .row3 > .column2 > .row6 *
   {
	  page-break-before:auto;
	  page-break-inside:auto;
	  page-break-after:auto;
  }	*/
/*.page1 > .row3 > .column2 > .row7{
	  page-break-before:always;
  }	*/
/*.page1 > .row3 > .column2 > .row6{
	  page-break-before:avoid;
  }*/

// .page1>.row3>.column2>.row11>.column2>.row3>.SubSubQuestion>p:before,
// .page1>.row3>.column2>.row11>.column2>.row1>.SubSubQuestion>p:before {
// 	position: relative;
// 	content: "";
// 	left: -86px;
// 	top: 8px;
// 	display: block;
// 	width: 75px;
// 	height: 2px;
// 	background: url(images/Assethorizon.svg);
// 	background-size: 41%;
// 	background-position: -28px 0;
// 	background-repeat: repeat-x;
// }

// .page1>.row3>.column2>.row11>.column2 {
// 	.row:nth-last-of-type(2) {
// 		position: relative;

// 		::before {
// 			content: "";
// 			background-color: white;
// 			position: absolute;
// 			width: 10px;
// 			height: 210px;
// 			left: -92px;
// 			top: 10px;
// 		}
// 	}
// }

// .page1>.row3>.column2>.row11 {
// 	// overflow: hidden;
// }

// .page1>.row3>.column2>.row12 {
// 	position: relative;

// 	.InfoBox {
// 		&::before {
// 			content: "";
// 			background-color: white;
// 			width: 30px;
// 			height: 14px;
// 			position: absolute;
// 			top: -14px;
// 		}
// 	}
// }

// .page1>.row3>.column2>.row9>.SubQuestion>p:before {
// 	content: "";
// 	display: block;
// 	position: absolute;
// 	margin-top: 15px;
// 	margin-left: -25px;
// 	width: 5px;
// 	height: 220px;
// 	background: url(images/Assetvertical.png);
// 	background-size: 25%;
// 	background-position: 4px 0px;
// 	background-repeat: repeat-y;
// }

.Chapter {
	width: 179px;
}

.Chapter[alt=Precon8_Index] {
	position: relative;
	right: 6px;
}

.clientRating {
	width: 98%;
}

.allocation_tree {
	margin-bottom: -0.3cm;
}

// .page1>.row8>.column1,
// .page1>.row7>.column1 {
// 	background: #f2f2f2;
// }

.page1>.row7 {
	margin-bottom: 0;
}

.page1>.row7 .icon {
	padding: 0;
}

.page1>.row7>.column2 .column2 .row3 {
	margin-left: -0.45cm;
}

.page1>.row7>.column2 .column2 .row4,
.page1>.row7>.column2 .column2 .row5,
.page1>.row7>.column2 .column2 .row6 {
	margin: 0;
}

.page1>.row7>.column2>.row1>.column2>.row4>.column1,
.page1>.row7>.column2>.row1>.column2>.row5>.column1,
.page1>.row7>.column2>.row1>.column2>.row6>.column1 {
	width: auto;
}

.page1>.row7>.column2>.row1>.column2>.row4>.column1 .row,
.page1>.row7>.column2>.row1>.column2>.row5>.column1 .row,
.page1>.row7>.column2>.row1>.column2>.row6>.column1 .row {
	margin-bottom: 0;
}

.page1>.row7>.column2>.row1>.column2>.row5>.column3 {
	width: auto;
}

.page1>.row9>.column2>.row1,
.page1>.row9>.column2>.row2,
.page1>.row9>.column2>.row3 {
	margin-left: 0;
}

.page1>.row9>.column2>.row1>.column2,
.page1>.row9>.column2>.row2>.column2,
.page1>.row9>.column2>.row3>.column2 {
	width: 93%;
}

.page1>.row9>.column2>.row1>.column1,
.page1>.row9>.column2>.row2>.column1,
.page1>.row9>.column2>.row3>.column1 {
	width: auto;
}

.page1>.row10>.column2,
.page1>.row11>.column2 {
	float: left;
	width: 78%;
	margin-left: 2%;
}

.page1>.row3>.column2>.row4 .Answer,
.page1>.row3>.column2>.row6 .Answer,
.page1>.row3>.column2>.row8 .Answer,
.page1>.row5>.column2>.row4 .Answer,
.page1>.row5>.column2>.row6 .Answer,
.page1>.row5>.column2>.row8 .Answer,
.page1>.row6>.column2>.row7 .Answer,
.page1>.row9>.column2>.row4 .Answer,
.page1>.row9>.column2>.row6 .Answer,
.page1>.row9>.column2>.row8 .Answer,
.page1>.row9>.column2>.row10 .Answer,
.page1>.row3>.column2>.row10 .Answer,
.page1>.row7>.column2>div>.column2>.row7>.Answer {
	margin-left: 0.7cm;
}

.iconSection {
	width: 98%;
	height: auto;
}

@page {
	margin: 1cm 1cm 1cm 0cm;

	// border: 1px solid blue;

}

// @page :-ro-nth(1) {
// 	@bottom-center {
// 		content: '';
// 		height: 100%;
// 		background-color: var(--light-green)
// 	}
// }

/*SFDR_RTS_Sturdza_Per8*/