/* Different types of project templates ubs_kid/prps_monthperf/prps_pastperf/priips_base */
@font-face {
  font-family: "frutigerlightregular";
  src: url("./images/frutiger-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "frutigerlightbold";
  src: url("./images/frutiger\ 45\ light\ bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  margin: 0;
  font: 9pt "frutigerlightregular";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h2:empty {
  display: none;
}

ul li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  font: 14pt "frutigerlightbold";
  color: #1B1B1B;
  margin: 1.4mm 0 0 0;
  padding: 1.4mm 0 0.3cm 0;
}

/*p{
  @include paraAlingments(true);
}
*/
p,
.description {
  font: 9pt "frutigerlightregular";
  color: #231F20;
  margin: 0 0 0.4cm 0;
  padding: 0;
  line-height: 1;
}

.subheader p {
  font: 9pt "frutigerlightbold";
  color: #231F20;
}

.header1 p,
.header2 p {
  font: 14pt "frutigerlightbold";
  color: #231F20;
  margin: 0;
  padding: 0;
}

.header3 p,
.header4 p {
  font: 14pt "frutigerlightregular";
  color: #231F20;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: auto;
}

.page1 {
  padding: 2.5cm 0 0 0;
  background: url(./images/Raiffeisen.png);
  // background-size: 2.9cm 1cm;
  background-position: top left;
  background-repeat: no-repeat;
}

.contentSection h2 {
  border-top: 0.01cm solid #000000;
  font: 9pt "frutigerlightbold";
}

.page1 .row2 .contentSection .item3 {
  font-weight: 700 !important;
  width: 95%;
  text-align: left;
}

.page1 .row4>.composite>.compositebody>.row2 .contentSection .item3 {
  font-weight: 700 !important;
  width: 95%;
  text-align: left;
}

.page1>.row1 .contentSection h2 {
  font: 25pt "frutigerlightregular";
  color: #000000;
  margin: 1.4mm 0 0 0;
  border-top: 0px !important;
  line-height: 1;
}

.keyinformationdocument h2,
.fundName h2 {
  width: fit-content;
  text-indent: 0cm;
  text-align: left;
}

@page {
  @top-left {
    content: element(header);
  }
}

@page {
  margin: 1cm 1.6cm 0.8cm 1.6cm;
  padding: 0cm;
}

@page :-ro-nth(1) {
  padding: 0cm;

  @footnote {
    border: none;
    margin: 0.3cm 0 0.5cm;
    padding: 0 0 0cm;
  }
}

@page :-ro-nth(2) {
  padding: 0cm;

  @footnote {
    border: none;
    margin: 0.3cm 0 0.9cm;
    padding: 0 0 0 0cm;
  }
}

@page :-ro-nth(3) {
  padding: 0cm;

  @footnote {
    border: none;
    margin: 0.3cm 0 0.9cm;
    padding: 0 0 0cm;
  }
}

.contentSection.pagenumbers .footer {
  position: running(footerRight);
  text-align: right;
}

.Pagination {
  display: none;
}

.pdfperformancechart.PastPerformanceChart {
  width: 100%;
}

.discreteChart {
  height: 250px;
}

.page1 .row4>.composite1 .compositebody>.row3 .column1 {
  width: 100% !important;
  height: auto;
  min-height: 2cm;
}

.page1 .row4>.composite1 .compositebody>.row3 .column1 .row2 {
  margin-top: 0.4cm;
}

.page1 .row4>.composite1 .compositebody>.row3 .column2 {
  width: 100% !important;
  /* background: #bebebe; */
  padding: 0.4cm 0 0.5cm 0;
  margin-left: 7px;
}

.page2 .row1 .compositebody * {
  break-before: avoid-page;
}

.page2 .row1 .compositebody .row3 {
  width: 100% !important;
  column-count: 2;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

.page2 .row1 .compositebody .row3 h2 {
  column-span: all;
}

.page2 .row1 .compositebody .row5 .column {
  width: 100% !important;
  column-count: 2;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

h2 {
  bookmark-level: 1;
}

.subheader p {
  bookmark-level: 2;
}

/*.groupRow1, .groupRowDiv1,
.groupHeader1, .groupHeaderDiv1 {
  padding: 0;
}*/

table {
  border-collapse: collapse;
  width: 100%;
}

.groupHeader1 table th {
  padding: 1mm 1mm;
  background: transparent;
  color: #000000;
  border: 0.5pt solid #000000;
  font-family: "frutigerlightbold";
  page-break-inside: avoid;
  font-size: 9pt;
  font-weight: 700 !important;
}

.groupHeader1 table th:first-of-type {
  text-align: left;
}

.groupRow1 table td {
  border: 0.5pt solid #000000;
  font-family: "frutigerlightregular";
  padding: 1mm 1mm;
}

.groupRow1 table .header {
  border: 0.5pt solid #000000;
}

.groupRow1 table .header th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
}

.groupRow1 table .incidentalcosts {
  border: 0.5pt solid #000000;
}

.groupRow1 table .incidentalcosts th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
}

.groupRow1 table .ongoingcosts {
  border: 0.5pt solid #000000;
}

.groupRow1 table .ongoingcosts th {
  font-family: "frutigerlightbold";
  font-weight: 400 !important;
  text-align: left;
}

.with_performance_table {
  height: auto;
  min-height: 170px;
}

.performancetable table tr .groupRowDiv1 table tbody tr:first-child td {
  border: 0;
}

.performancetable table tr th {
  width: 8%;
  text-align: center;
  vertical-align: middle;
  border-left-color: transparent;
  border-right-color: transparent;
  line-height: 1.3;
}

.performancetable table tr td {
  width: 8%;
  text-align: center;
  vertical-align: middle;
  font-size: 9pt !important;
  border-left-color: transparent;
  border-right-color: transparent;
  line-height: 1.3;
}

.performancetable table tr td.keycell {
  width: 5%;
}

.performancetable table tr th.keycell {
  width: 5%;
}

p {
  text-align: left;
}

.SyntheticHistoryPerformanceCaveat {
  margin-bottom: 7.5px;
}

.material-change-event-icon {
  color: #7cb5ec;
}

/*.highcharts-point{
 fill:red !important;
}*/

/* UBS_PPD_publifund_standard_theme */


/* Raiffeisen_P */