:root {

	--fw-light: 300;
	--fw-normal: 300;
	--fw-bold: bold;
	--h2-color: #5b504b;
	--black: #000000;
	--table-border: .5pt solid var(--black);
	--h2-border: 0.01cm solid var(--black);
	--ff-light-bold: 'frutigerlightbold';
	--ff-light-regular: 'frutigerlightregular';
}

body {
	font-size: 9pt;
	font-family: var(--ff-light-regular);
}

h2 {
	font-size: 9pt;
	margin: 0cm 0 0.2cm 0;
	padding: 0.19cm 0 0cm 0;
	font-family: var(--ff-light-bold);
}

p {
	text-align: justify;

	&:empty {
		display: none;
	}
}

.page1 {

	// background-size: auto 1cm;
	// background-position: top left;

	>.row1 .contentSection h2 {
		font-size: 24pt;
		font-family: "UBSHeadline";
	}
}

.TextSection {
	p {
		// font-size: 10pt;
	}
}

.contentSection h2 {
	color: var(--h2-color);
	font-size: 9pt;
}

.SyntheticHistoryPerformanceCaveat {
	margin-bottom: 7.5px;
}

.material-change-event-icon {
	color: #7cb5ec;
}

.groupRow1 {
	table {


		td {
			font-family: var(--ff-light-regular);
			border: var(--table-border);
		}
	}
}

.groupHeader1,
.groupRow1 {
	table {

		th,
		td {
			&:nth-of-type(n+1) {
				width: 40px;
			}
		}
	}
}

/* UBS_PPD_publifund_standard_theme */

/* Theme name BPER_P */