@font-face {
	font-family: 'Frutiger Light';
	src: url('Images/frutigerltw01-45light.eot');
	src: url('Images/frutigerltw01-45light.eot?#iefix') format('embedded-opentype'), url('Images/frutigerltw01-45light.woff2') format('woff2'), url('Images/frutigerltw01-45light.woff') format('woff'), url('Images/frutigerltw01-45light.ttf') format('truetype'), url('Images/frutigerltw01-45light.svg#frutigerltw01-45light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Frutiger Bold';
	src: url('Images/FrutigerLTStd-Bold.eot');
	src: url('Images/FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('Images/FrutigerLTStd-Bold.woff2') format('woff2'), url('Images/FrutigerLTStd-Bold.woff') format('woff'), url('Images/FrutigerLTStd-Bold.ttf') format('truetype'), url('Images/FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 8pt;
	color: #000;
	line-height: 1.01;
}
.page {
	position: relative;
	position: relative;
	width: 18.6cm;
	/*	height: 27.4cm;*/
	padding: 1.2cm 1.2cm 0 1.2cm;
}
/*.column > .section { margin-left: 0.5cm; }*/
.column:first-child > .section { margin-left: 0; }
h1, h2, h3 {
	margin: 0;
	color: #3399FF;
}
p {
	margin: 0;
	margin-bottom: 0.25cm;
}
.vertical-list div { margin-bottom: 0.25cm; }
.vertical-list div span:first-child { color: #3399FF; }
.page > .row1 { border-bottom: 0; }
/*.page > .row1 h2 { font-size: 24pt; padding-left: 3cm; min-height: 2cm; background-image: url('./logo.png'); background-repeat: no-repeat; margin-bottom: 0.5cm; }*/
.page1 > .row2 > .column2 > .section {
	background-color: #efefef;
	/* border-radius: 0 0.25cm 0.25cm 0.25cm; */
	padding: 0.25cm;
}
.tabs.breakdowns {
	border: none;
	margin: 10px;
}
.tabs.breakdowns > .tabpanes { border: none; }
.tabs.breakdowns > .tabpanes > .slider > .tab { padding-bottom: 20px; }
.tabs.breakdowns > .tabbuttons {
	position: absolute;
	bottom: 5px;
	z-index: 10000;
}
.tabs.breakdowns > .tabbuttons > .tab {
	border: none;
	background-color: #000;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
	text-indent: -10000px;
}
/*page1*/
.logo {
	background: url(Images/SWlogo.jpg) no-repeat left top;
	background-size: 61% auto;
	width: 250px;
	/* height: 110px; */
	float: left;
	/* position: relative;
	top: -10px; */
	position: absolute;
    top: 33px;
}
.page1 { }
.Header { margin-bottom: 1cm; }
.DataAsAtDate {
	color: #912227;
	font: normal 10pt Arial, Helvetica, sans-serif ;
}
.Header h2 {
	color: #005aaa;
	font: normal 24.5pt Arial, Helvetica, sans-serif ;
	margin-left: 8.5cm;
	line-height: 0.8cm;
	position: absolute;
	top: 1.5cm;
	width: 64%;
}
.DocumentDate {
	font: normal 13pt Arial, Helvetica, sans-serif ;
	color: #005aaa;
}
.Fund_Information h2 b, 
.breakdown h2, 
.holding h2, 
.Fund_objective h2, 
.Variable_Text_Section h2, 
.Variable_Text_Section h2, 
.Contact_Details h2, 
h2,
.ESG_Metrics p.DataAsAtDate
{
	font: normal 11.5pt Arial, Helvetica, sans-serif ;
	color: #912227;
	padding-bottom: 0;
}
.Fund_Information h2 span {
	color: #000;
	font-size: 9.5pt;
	text-align: left;
	float: left !important;
}
.horizontal-list span:first-child {
	color: #000;
	width: 55%;
}
.horizontal-list span:last-child {
	float: right;
	text-align: right;
	width: 45%;
}
.label {
	margin-left: 0;
	line-height: 3mm;
}
.Top_Holdingscomp, .Top_Holdings {
	border-top: 1px solid #d73e42;
}
.Top_Holdings table { 
	text-transform: uppercase;
	}
.Top_Holdings	{ padding-top: 0.2cm }
.holding {
	padding-bottom: 0.2cm;
}
.Fund_Holdings_Caveat, .Breakdown_Caveat {
	border-bottom: 1px solid #d73e42;
	margin: 0 0 0.2cm 0;
}
.page1 > .row3 > .column2 > .row2 > .column1 {
	float: left;
	width: 57%;
	margin: 0 0 0% 0;
}
.page1 > .row3 > .column2 > .row2 > .column2 {
	float: right;
	width: 41%;
	margin: 0 0 0% 0%;
}
.performancetable { margin: 0 0 0.2cm 0; }
.breakdown { margin: 0 0 0.3cm 0 !important; }
.breakdown1 th {
	color: #000;
	font-size: 9.5pt;
	font-weight: normal;
}
.breakdown .Name {
	text-align: left;
	vertical-align: top;
	width: 68%;
}
.breakdown .Weight {
	text-align: right;
	width: 25%;
	white-space: nowrap;
}
.breakdown .Name { border-bottom: 0 none; }
.holding table { width: 100%; }
.holding .Name {
	width: 90%;
	border: 0;
 color:#000;	
}
.holding .Name a{ text-decoration:none; color:#000;}
.holding .Weight {
	width: 10%;
	text-align: right;
}
.Page1_Caveat {
	/*	border: 2.5pt solid #005aaa;*/
	border-radius: 3pt;
	padding: 0.2cm;
	position: absolute;
	bottom: 0.8cm;
	left: 1.5cm;
	right: 1.5cm;
	width: 18cm;
	background-color: #005aaa;
	color: #ffffff;
}
/*page2*/
.Second_Page_Header p {
	color: #005aaa;
	font-size: 15pt;
	line-height: 0.5cm;
}
ul { padding-left: 12px; }
.performancetable h2, .chart h2 {
	background-color: #D73E42;
	font: normal 8.5pt Arial, Helvetica, sans-serif ;
	color: #fff;
	padding: 0.1cm;
	margin-bottom: 0.1cm;
}
.performancetable h2 { margin-bottom: 0cm; }
.performancetable table {
	border-spacing: 0;
	width: 100%;
}
.performancetable th {
	border-bottom: 0.5pt solid #d73e42;
	padding: 0.15cm 0;
	text-align: center;
	font-weight: normal;
	font-size: 7pt;
}
.performancetable td {
	border-bottom: 0.5pt solid #d73e42;
	padding: 0.15cm 0;
	text-align: center;
	font-weight: normal;
	font-size: 7pt;
}
.performancetable th { vertical-align: bottom;/*	height: 19pt;*/ }
.performancetable td.rowheader {
	text-align: left;
	width: 16%;
}
.pdfperformancechart {
	margin: 0.08cm 0 0cm 0;
	border-top: 2pt solid #912227;
	padding-top: 0.2cm;
	height: 7.5cm;
}
.pdfperformancechart .chart {
	height: 6.5cm;
	margin: 0 0 0cm 0;
}
.key-color {
	width: 3mm;
	height: 3mm;
	margin-right: 0.1cm;
	margin-top: 0;
}
.keyWrapper {
	overflow: hidden;
}
.keyContainer {display: inline; }
.keyContainer .label {
	margin: 0 0.4cm 0 0.05cm;	
}
.pdfperformancechart .keyContainer { height: 4mm; }
.page2 > .row3 > .column2 {
	background-color: #eeecea;
	padding: 0.2cm;
	margin-left: 0.5cm;
	width: 28%;
	float: right;
}
/*.page2 {
	background: rgba(0, 0, 0, 0) url("Images/Zurich_stac_R_rgb.jpg") no-repeat scroll 16.6cm 26.7cm;
	background-size: 120px auto;
}
*/

/*.Things_you_need_to_know { padding: 0.2cm; }*/
.Things_you_need_to_knowbody { padding: 0.2cm 0.2cm 0; }
.page2 > .row3 > .column2 > .section { margin-left: 0; }
.Page_2_Footer {
	bottom: 0.5cm;
	height: 3.5cm;
	position: absolute;
	left: 1.5cm;
	right: 1.5cm;
	width: 18cm;
	padding-bottom: 1cm;
}
.Page_2_Footer p.item2 {
	bottom: 0.5cm;
	position: absolute;
	width: 12cm;
}
.Page_2_Footer p.item3 {
	bottom: 0.2cm;
	position: absolute;
	width: 12cm;
}
.footer,.footer+p, .Performance_Caveat, .breakdowns_caveat p, .Benchmark_Disclaimer p, .Benchmark_and_Comparator_Notes p, .Performance_Explanation p, .Rounding_Caveat p { font-size: 7pt; }
/**/
.benchmark table { 
	text-align: left;
	width: 100%
}
.fundinfoleft, .fundinfocentre, .fundinforight, .fundinfo {
	background-color: #eeecea;
	/*	min-height: 50px;*/
	padding: 5px;
}
.fundinfoleft span.label, .fundinfocentre span.label, .fundinforight span.label, .benchmark span.label, .fundinfo span.label {
	color: #004f9e;
	font-weight: bold;
}
.fundinfoleft div, .fundinfocentre div, .fundinforight div, .fundinfo div { margin: 0 0 5px 0; }
.fundinfoleft div:last-child, .fundinfocentre div:last-child, .fundinforight div:last-child { margin: 0; }
.Fund_Name { margin: 0 0 10px 0; }
.Fund_Name h2 {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 24pt;
	font-weight: bold;
	color: #912227;
	padding: 0 0 10px 0;
	/*width: 138mm;*/
	width: auto;
	text-align: left;
}
.breakdown > .chart {
	margin: 0 15% 0 0;
	width: 25% !important;
	height: auto;
}
table { border-spacing: 0; }
.breakdown > table { width:100%; }
.Benchmark_caveats {
	bottom: 0.5cm;
	position: absolute;
	width: 45%;
	border-top: 0.5pt solid #912227;
	padding: 24pt 0 0 0;
	left: 1.3cm;
}
.SW_Registered_Text {
    /* width: 10cm; */
    margin: 0 0 0.7cm 0;
    padding: 0.5cm 0 0.5cm 0;
    border-bottom: 0.5pt solid #912227;
}
.ZSW_Registered_Text p { margin: 0; }
.Benchmark_Disclaimer { /*width: 10cm;*/ }
.Front_Page_Confetti {
	bottom: 2.22cm;
	position: absolute;
	/*z-index: -1111;
	border: 1px solid;*/
	right: 1.5cm;
	left: 1.2cm;
	background-color: #ffffff;
	padding: 0.25cm 0 0 0;
}
.Front_Page_Confetti p {
	margin: 0;
	font-size: 7pt !important;
}
.Fund_Objective { padding: 3px 0px 0px 0px; }
.fundinfo { margin: 0 0 5px 0; }
/*.performancetable table td:nth-child(1) { width: 22%;}*/
.performancetable table td { width: 10%; }
.highcharts-xaxis-labels text, .highcharts-yaxis-labels text { font-size: 8pt !important; }
.performancedisclaimers p {
	font-size: 7pt !important;
	padding: 5px 0 0 0;
}
.keyWrapper .label { font-size: 7pt; }
.fundinfoheader h2 { padding: 0 0 0 5px; }
.Top_Holdings table td:last-child { 
	text-align: right;
}
.Fund_Features { padding: 0px; }
.page1 > .row3 > .column1 {
	/*padding: 0.2cm;*/
	float: left;
	width: 5.4cm;
}
.page2 > .row2 > .column1 {
	/*padding: 0.2cm;*/
	float: left;
	width: 5.4cm;
	height: 26.4cm;
	position: relative;
}
.page3 > .row2{
	display: flex;
	align-items: stretch;
}
.page3 > .row2 > .column1 {
	float: left;
	width: 5.4cm;
	/* background-color: #eeecea; */
}
.page3 > .row2 > .column1 > .row1{
	/* height: 100%; */
}
.Page_One_Left_Hand_Column {
	background-color: #EAE4DF;
	height: auto;
	min-height: 21cm;
	padding: 0.2cm;
}
.Benchmark {
	padding: 0.2cm 0 0 0;
}
.Page_Two_Left_Hand_Column {
	background-color: #eeecea;
	height: 26cm;
	padding: 0.2cm;
}
.Page_Three_Left_Hand_Column {
	background-color: #eeecea;
	/* height: 23cm; */
	height: 100%;
	padding: 0.2cm;
	margin: 0;
	box-sizing: border-box;
}
.page3 .row3 { width: 99%; }
.benchmarknotes p { padding: 5px 5px 0 5px; }
.page1 > .row3 > .column2 {
	float: left;
	width: 13cm;
	margin: 0cm 0 0 0cm;
}
.page2 > .row2 > .column2, .page3 > .row2 > .column2 {
	width: 13cm;
	padding-top: 0.2cm;
}
.contentSection.text.text1.Contact_Details {
	bottom: 0;
	position: absolute;
}
.page3 .logo1 {
	/* bottom: 1.8cm; */
	bottom: 0.8cm;
	position: absolute;
	right: 1.2cm;
	background-size: 46%;
	height: 110px;
        top: inherit;
        background-position: right center;
}
.breakdown td.Key { width: 0.5cm; }
.Fund_Information.horizontal-list span:first-child, .Fund_Information.horizontal-list span:last-child { padding: 0 0 0.08cm 0; }
.Page_Three_Footer_Composite {
	background-color: #ffffff;
	bottom: 2cm;
	left: 1.2cm;
	/* position: absolute; */
}
.Cumulative_Performance th, .Annualised_Performance th, .Rolling_Year_Performance th { border-bottom: 0.5pt solid #EAE4DF; }
.Cumulative_Performance td, .Annualised_Performance td, .Rolling_Year_Performance td { border-bottom: 0.5pt solid #EAE4DF; }
.breakdowns_caveat { border-top: 1px solid #d73e42; }
.performancetable .benchmark { background-color: #ffffff; }
.Fund_Information_Underlying div:nth-child(1) {
	width: 33%;
	padding: 5px;
}
.Fund_Information_Underlying div:nth-child(2) {
	width: 31%;
	margin-left: 0.5cm;
	padding: 5px;
}
.Fund_Information_Underlying div:nth-last-child(2) {
	margin-right: 0;
	width: 29%;
	margin-left: 0.5cm;
	padding: 5px;
}
.Fund_Information_Underlying div:last-child { display: none; }
.Fund_Information_Underlying span.label {
	float: left;
	font-weight: bold;
	/*	width: 55%;*/
	color: #004f9e !important;
}
/*
.Fund_Information_Underlying span.value {
	float: right;
	width: 45%;
	clear: none;
	text-align: right;
}

.Fund_Information_Underlying div{
	background-color: #eeecea;
 min-height: 25px;	
}
*/
.Fund_Information_Left, .Fund_Information_Centre, .Fund_Information_Right {
	background-color: #eeecea;
	min-height: 50px;
	padding: 5px;
}
.Fund_Information_Left div:nth-last-of-type(-n+2), .Fund_Information_Centre div:nth-last-of-type(-n+2), .Fund_Information_Right div:nth-last-of-type(-n+2) { margin: 0 !important; }
.Fund_Information_Left span.label, .Fund_Information_Centre span.label, .Fund_Information_Right span.label {
	color: #004f9e;
	font-weight: bold;
	line-height: normal;
}
.horizontal-list span:last-child {
	float: right;
	text-align: right;
	width: 45%;
}
.column > .section { margin-left: 0.5cm; }
.Index_Comparator { margin:0.08cm 0 0 0;}
.SubLogo {
    display: none;
}

.page1 .section.row.row1>.column1 {
  float: right;
  text-align: right;
  width: 100%;
}
.page1 .section.row.row1>.column2 {
  float: left;
}
.page1 .section.row.row1>.column2>.row{
  margin: 0;
}
.Cumulative_Performance_HTML table,
.Annualised_Performance_HTML table,
.Rolling_Year_Performance_HTML table{
  width: 100% !important;
}
.Cumulative_Performance_HTML table thead,
.Annualised_Performance_HTML table thead,
.Rolling_Year_Performance_HTML table thead{
  background: #df3134;
  text-align: left !important;
  /*! display: table-caption; */
  width: 100%;
  margin-bottom: 0.2cm;
}
.Cumulative_Performance_HTML table thead tr,
.Annualised_Performance_HTML table thead tr,
.Rolling_Year_Performance_HTML table thead tr{
  width: 100% !important;
}
.Cumulative_Performance_HTML table thead th,
.Annualised_Performance_HTML table thead th,
.Rolling_Year_Performance_HTML table thead th{
  padding: 0.1cm;
  font-weight: normal;
  font-size: 8.5pt;
  
  /*! display: block; */
  color: #fff;
}
.Cumulative_Performance_HTML table thead th[class*="tg"],
.Annualised_Performance_HTML table thead th[class*="tg"],
.Rolling_Year_Performance_HTML table thead th[class*="tg"]{
  display: none;
}
.Cumulative_Performance_HTML table tbody td,
.Annualised_Performance_HTML table tbody td,
.Rolling_Year_Performance_HTML table  tbody td{
  border-bottom: 1px solid #eae4df;
  padding: 0.1cm 0;
  text-align: center;
}
.Cumulative_Performance_HTML table tbody td:first-child,
.Annualised_Performance_HTML table tbody td:first-child,
.Rolling_Year_Performance_HTML table tbody td:first-child{
	text-align: left;
}
.clientRating{
	max-width: 100% !important;   
}
.Rolling_Year_Performance th { padding:1px}

.Page_One_Left_Hand_Columnbody p:empty{
	margin:0 !important;
	padding:0 !important;
}
.Page_One_Left_Hand_Columnbody .Benchmark{
	padding-top:0 !important;
}

/* [20-06-2023] */
.page3>.row2>.column2>.row1 > .row1 .Fund_Holdings {
    display: flex;
    align-items: center;
}
.page3>.row2>.column2>.row1 > .row1 .Fund_Holdings h2{
	font: normal 11.5pt Arial, Helvetica, sans-serif;
    color: #912227;
	order: 2;
}
.page3>.row2>.column2>.row1 > .row1 .Fund_Holdings p.ESGDataTimeStamp {
    margin: 0 5px 0 0;
    order: 1;
    font: normal 11.5pt Arial, Helvetica, sans-serif;
}
.page3>.row2>.column2>.row1 > .row2 .contentSection table.tg,
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance table.tg,
.ESG_Metrics table
{
	width: 100% !important;
	border: 0.5px solid #000;
	border-collapse: collapse;
	table-layout: unset !important;
	margin-bottom: 15px;
	font-size: 7pt;
}
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance table th,
.ESG_Metrics table th{
	border: 0.5px solid #000;
	border-collapse: collapse;
	background-color: #D73E42;
    color: #fff;
}
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance table td,
.ESG_Metrics table td{
	padding: 5px;
	border: 0.5px solid #000;
	border-collapse: collapse;
}
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance table td:nth-child(3),
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance table td:nth-child(4),
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance table td:nth-child(5),
.ESG_Metrics table td:nth-child(3),
.ESG_Metrics table td:nth-child(4),
.ESG_Metrics table td:nth-child(5)
{
	text-align: center;
}

.page3>.row2>.column2>.row1 > .row4 p.item7 ~ p,
.ESG_Metrics p
{
	font-size: 7pt;
}
.page3>.row2>.column2>.row1 > .row3 .Cumulative_Performance p:empty,
.ESG_Metrics p:empty{
	display: none;
}
.ESG_Metrics p.DataAsAtDate{
	/* font-size: 8pt; */
}
/* .ESG_Metrics p[class*="item"]:has(sup), */
.ESG_Metrics p:empty + p,
.ESG_Metrics p.item4,
.ESG_Metrics p.item5,
.ESG_Metrics p.item6,
.ESG_Metrics p.item7,
.ESG_Metrics p.item8
{
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 8pt;
}
.ESG_Metrics p.item8{
	margin-bottom: 15px !important;
}


.ESG_Metrics p.item4::first-letter,
.ESG_Metrics p.item5::first-letter,
.ESG_Metrics p.item6::first-letter,
.ESG_Metrics p.item7::first-line
{

}

/* [/20-06-2023] */

.page3>.row2>.column2>.row1>.row1>.column1,
.page3>.row2>.column2>.row1>.row1>.column2 {
    float: left;
    width: 100%;
}
.page3>.row2>.column2>.row1>.row1>.column2>.row1{
	margin: 0;
}
.page3 > .row2 .column2  .row4 .contentSection {
	font-size: 7pt;
}
.page3 > .row2 .column2  .row .contentSection p.item2:first-child {
	display: inline-flex;
}
.ESGDataTimeStamp, .ESGDataTimeStamp2 {
	display: inline-flex;
	padding-left: 4px;
}
.row3 .Benchmark_Disclaimer { 
	padding: 0.5cm 0 0.5cm 0;
    border-bottom: 0.5pt solid #912227;
    margin: 0 0 0.7cm 0;
}
/* .page1 > .row2 {
    border: 1px solid #d73e42;
    padding: 5px 5px 1px;
	margin-bottom: 0.2cm;
} */
/*Theme : SWSingleBranded*/