/*@font-face {
  font-family: "ArialMTRegular";
  src: url("images/arialmt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ARIALBOLDMT";
  src: url("images/ARIALBOLDMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*/
:root{
	--primary: #1857a5;
	--secondary: #414b4b;
	--header: var(--white);
	--headerbg: var(--primary);
	--parabg: #f2f2f2;
	--black: #000000;
	--white:#ffffff;
	--red: #E60000;
	--transparent: transparent;
	--blue: #0d1941;
	--mintgreen: #76bbaf;
	--border: var(--primary);
	--tableborder: var(--black);
	--tableheader: var(--white);
	--tablerowheader: var(--white);
	--tableheaderbg: var(--secondary);
	--tablesubheaderbg:rgba(0,156,166,0.05);
	--altrow: #E6EBED;
	--alert: var(--black);
	--warningfont: 12pt;
	--ratingbg: var(--white);
	--ratingborder: var(--black);
	--ratingselected: #005231;
	--bodyfont:8pt;
	--bodycolor: var(--black);
	--footerfont: 8pt;
	--lineheight: 1.2;
	--h2:11pt;
	--h3:10pt;
	--fontRegular: 'Arial';
	--fontBold: 'Arial';
}

/**/
body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	line-height: var(--lineheight);
	color: var(--bodycolor);
	font-family: var(--fontRegular);
	font-size: var(--bodyfont);
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}
table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	border: 0;
}
table th {
	font-family: var(--fontRegular);
	font-size: var(--bodyfont);
	font-weight: 100;
	text-align: left;
	page-break-inside: avoid;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
table td {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
table th.tableheader, table .tableHeader th {
	border: 0 !important;
}
h2 {
  background: var(--transparent);
  font-family: var(--fontBold);
  font-weight: 100;
  font-size: var(--h2);
  color: var(--blue);
  padding: 1mm;
  margin-bottom: 0.3cm;
  border-top: 0.5pt solid var(--mintgreen);
}
p:empty, h2:empty {
	margin: 0;
	padding:0;
	border: 0;
	max-width: inherit;
	min-height: inherit;
	width: auto;
	height: auto;
}
table th:empty {
	padding: 0;
}
table th.tableheader {
	border: 0;
}
p {
	font-size: var(--bodyfont);
	padding: 0 0 0.4cm;
}
b {
	font-family: var(--fontRegular);
}
h2 {
  bookmark-level: 1;
}
.clear {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.subheader p {
  bookmark-level: 2;
}
/* page styles*/
.page {
	width: 19.4cm;
	height: auto;
	padding: 0cm .8cm 0cm 0.8cm;
	position: relative;
}
.page1 {
	padding-top: 1.5cm;
    background: url(images/valueinvest.png);
    background-size: 4cm auto;
    background-position: 95% 0;
    background-repeat: no-repeat;
}
.page1 > .row1 .contentSection h2 {
}
.page1 .row2 .contentSection .item3 {
	font-family: var(--fontBold);
}
.page1 > .row5 > .composite1 > .compositebody > .row > .column {
	width: auto;
	float: none;
}
.page1 > .row4 .compositebody {
/*	background: var(--parabg);*/
    padding: 0.25cm 0;
}
.keyWrapper {
	margin-bottom: 0.2cm;
}
.discreteChart {
    height: 250px;
}
.groupHeaderDiv1 th {
	background: var(--blue);
	color: var(--tableheader);
	border-bottom: 0 !important;
}
.groupHeaderDiv1 th, .groupRowDiv1 td {
	padding: 1mm;
	border-right: 0pt solid var(--tableborder);
	border-bottom: 0.5pt solid var(--tableborder);
	text-align: left;
	width: 10%;
	text-align: center;
}
.groupHeaderDiv1 tr:first-child th {
	border-top: 0pt solid var(--tableborder);
}
.groupHeaderDiv1 table th:first-child, .groupRowDiv1 table td:first-child {
	border-left: 0pt solid var(--tableborder);
}
.groupHeaderDiv1 th.keycell, .groupRowDiv1 td.keycell {
	width: 5%;
	text-align: left;
}
.groupHeaderDiv1 th.rowheader, .groupRowDiv1 td.rowheader {
	text-align: left;
	width: 25%;
}

.pagenumbers .footer, .pagenumbers .Pagination {
    margin: 0.1cm 0cm 0.1cm 0 !important;
    float: right;
    font-size: var(--footerfont);
    position: relative;
    z-index: 1;
}
.contentSection.pagenumbers .footer p, .contentSection.pagenumbers .Pagination p {
  position: running(pageNum);
  text-align: right;
}

/* @page styles */
@page {
	margin: 0.75cm 0cm 1cm 0cm;
	padding: 0;
	@bottom-right {
		content: element(pageNum);
		margin:0 1cm 1cm;
		padding: 0.15cm 0 0cm;
		font-size: var(--footerfont);
		font-family: var(--fontLight);
		font-weight: 100;
		color: var(--bodycolor);
		width: 5cm;
	}
}
/*Theme name:valueinvest_pp*/
