:root {
  --primary: #ffd400;
  --secondary: #dbe1ed;
  --header: #212121;
  --headerbg: rgb(241, 242, 242);
  --parabg: rgb(241, 242, 242);
  --black: #000000;
  --white: #ffffff;
  --red: #e60000;
  --darkGrey: rgb(27, 27, 27);
  --lightGrey: rgb(217, 217, 217);
  --border: var(--primary);
  --tableborder: var(--black);
  --tableheader: #004e53;
  --tablerowheader: var(--secondary);
  --tableheaderbg: var(--primary);
  --tablesubheaderbg: var(--lightGrey);
  --altrow: var(--lightGrey);
  --alert: var(--primary);
  --warningfont: 12pt;
  --ratingbg: var(--white);
  --ratingborder: var(--black);
  --ratingselected: var(--secondary);
  --bodyfont: 8pt;
  --bodycolor: var(--black);
  --footerfont: 6.5pt;
  --lineheight: 1.2;
  --h2: 9pt;
  --h3: 8pt;
  --fontRegular: "Arial";
  --fontLight: "Arial";
  --fontBold: "Arial";
  --fontSemiBold: "Arial";
}

/**/
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: var(--lineheight);
  color: var(--bodycolor);
  font-family: var(--fontLight);
  font-size: var(--bodyfont);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-bottom: 0.2cm;
}

ul li {
  list-style: square;
  line-height: var(--lineheight);
  margin: 0 0 0 0.3cm;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  border: 0;
}

table th {
  font-family: var(--fontRegular);
  font-size: var(--bodyfont);
  font-weight: 100;
  text-align: left;
  page-break-inside: avoid;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

table td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

h2 {
  background-color: var(--primary);
  font-size: var(--h2);
  color: var(--black);
  padding: 2.5mm;
  margin-top: 0.2cm;
  margin-bottom: 2.5mm;
}

p:empty,
h2:empty {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: inherit;
  min-height: inherit;
  width: auto;
  height: auto;
}

table th:empty {
  padding: 0;
}

table th.tableheader {
  border: 0;
}

p {
  font-size: var(--bodyfont);
  padding: 0 0 1mm;
}

b {
  font-family: var(--fontRegular);
}

h2 {
  bookmark-level: 1;
}

.clear {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.subheader p {
  bookmark-level: 2;
}

/* page styles*/
.page {
  width: 19cm;
  height: auto;
  padding: 0cm 1cm 0cm 1cm;
  position: relative;
}

.page1 {
  background-image: url(./images/abeille_assurances_logo.svg), url(images/RAM_Blue.png);
  background-repeat: no-repeat;
  background-size: 3cm 1.05cm, 4cm auto;
  background-position: left 1cm top, right 1cm top 0.2cm;
  padding: 0.8cm 1cm 0cm;
}

.page1:before {
  content: "";
  background: url(images/RAM_Blue_Logo.png) no-repeat;
  background-position: 0cm 0;
  width: 2.99cm;
  height: 1.27cm;
  position: absolute;
  top: 0;
  right: 1cm;
}

.page1 > .row2 > .composite1 > .compositebody > .row2 > .column1,
.page1 > .row2 > .composite1 > .compositebody > .row2 > .column2,
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1,
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column2,
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1,
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column2,
.page2 > .row2 > .composite1 > .compositebody > .row5 > .column1,
.page2 > .row2 > .composite1 > .compositebody > .row5 > .column2,
.page > .row1 > .composite1 > .compositebody > .row2 > .column1,
.page > .row1 > .composite1 > .compositebody > .row2 > .column2 {
  float: none;
  width: 100%;
}

.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 {
  /*column-count: 2;
  column-gap: 0.4cm;*/
}

.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 > .row1 {
  column-span: all;
}

.keyinformationdocument h2 {
  background: none;
  border: none;
  text-align: center;
  padding: 0;
  font-family: var(--fontSemiBold) !important;
  font-size: 16pt;
  color: var(--black);
  margin: 0;
  position: relative;
  top: -0.7cm;
}

.contentSection.purpose h2, .contentSection.Product h2 {
  background-color: transparent;
  font-size: var(--h2);
  color: var(--black);
  padding: 1.5mm 0 0 0;
  border-top: 0.5pt solid var(--primary);
  margin-bottom: 0;
}

.page1 > .row3 .compositebody {
  margin-bottom: 0.2cm;
}

.contentSection > table {
  margin: 0.2cm 0;
}

p[class*=WB_Purpose],
p[class*=WB_Whatisthisproduct] {
  padding: 0;
}

.WB_GeneralInformation_4,
.WB_GeneralInformation_15 {
  text-align: center;
}

.WB_GeneralInformation_22 {
  border-top: 0.5pt solid var(--primary);
  font-weight: 700;
  padding: 2.5mm 0 1mm;
  margin-bottom: 0.05cm;
}

/* Sri ratings */
p.SriRange,
p.Sri {
  background: url(images/warning.svg) no-repeat;
  width: 1.3cm;
  height: 1.22cm;
  position: absolute;
  margin-top: 2.1cm;
}

/*p.SriRange:before, p.Sri:before {
  content: "Risk indicator";
  position: absolute;
  top: -2.5cm;
  left: 0cm;
  font-weight: 700;
  width: max-content;
}*/
/*
p.SriRange:after, p.Sri:after {
  content: "!";
  font-family: var(--fontRegular);
  font-size: 18pt;
  color: var(--white);
  position: relative;
  left: -3px;
  top: 0.3cm;
}*/
.sriRiskRating,
.sriRangeRiskRating {
  width: 48%;
  margin-top: 0 !important;
  position: relative;
}

.sriRiskRating .ratings table,
.sriRangeRiskRating .ratings table {
  margin-top: 0cm;
  border-collapse: separate;
}

.sriRiskRating .ratings td.rating,
.sriRangeRiskRating .ratings td.rating {
  background: #dbe1ed;
  width: 1cm;
  height: 1cm;
  border: 1pt solid var(--ratingborder);
  font-weight: 700;
  font-size: 16pt;
  line-height: 19pt;
  text-align: center;
  padding-top: 0;
  box-sizing: border-box;
}

.sriRiskRating .ratings td.rating.selected,
.sriRangeRiskRating .ratings td.rating.selected {
  background: #ffd400;
  border: 1pt solid var(--ratingborder);
}

.sriRiskRating .header th,
.sriRangeRiskRating .header th {
  background: none;
  width: 5cm;
  text-align: left;
  font-weight: 700;
  border: 0;
  padding: 0 1mm;
}

.sriRiskRating .header th:last-of-type,
.sriRangeRiskRating .header th:last-of-type {
  text-align: right;
}

/*.sriRiskRating .header th:after, .sriRangeRiskRating .header th:after {
	content: "Typically lower rewards";
	padding: 2mm 0mm;
	display: block;
}
.sriRiskRating .header th:last-of-type:after, .sriRangeRiskRating .header th:last-of-type:after {
	content: "Typically higher rewards";
}*/
.sriRiskRating .arrow,
.sriRangeRiskRating .arrow {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' data-name='Layer 2' viewBox='0 0 227.82 6.62'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23000; stroke-miterlimit: 10; stroke-width: 1.42px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cline class='cls-1' x1='.52' y1='3.31' x2='227.29' y2='3.31'/%3E%3Cline class='cls-1' x1='.52' y1='3.59' x2='3.36' y2='.48'/%3E%3Cline class='cls-1' x1='.52' y1='3.03' x2='3.36' y2='6.15'/%3E%3Cline class='cls-1' x1='227.29' y1='3.59' x2='224.46' y2='.48'/%3E%3Cline class='cls-1' x1='227.29' y1='3.03' x2='224.46' y2='6.15'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/100% 3mm;
  height: 4mm;
  width: 100%;
}

.sriRiskRating .arrow td,
.sriRangeRiskRating .arrow td {
  background: none;
  height: auto;
}

.WB_SRInarrative2_4 {
  margin-left: 1.7cm;
  margin-top: 0.3cm;
}

.WB_SRInarrative2_10 {
  margin-top: 0.7cm;
}

table th.groupHeader1 {
  padding: 0;
  border: 0;
}

.groupHeaderDiv1 th,
.groupRowDiv1 td,
.groupRowDiv1 th,
.groupRowDiv1 tr.header th {
  padding: 1mm;
  border-bottom: 0.5pt solid var(--tableborder);
  border-right: 0.5pt solid var(--tableborder);
  text-align: left;
}

.groupHeaderDiv1 th:first-of-type,
.groupRowDiv1 td:first-of-type,
.groupRowDiv1 th:first-of-type,
.groupRowDiv1 tr.header th:first-of-type {
  border-left: 0.5pt solid var(--tableborder);
  border-right: 0.5pt solid var(--tableborder);
}

table .groupRowDiv1 .groupHeaderDiv1 th {
  border-left: 0;
  border-right: 0;
}

.page2 > .row2 .compositebody {
  /*page-break-before: always;*/
}

.performanceScenario th[class*=period],
.performanceScenario td[class*=period] {
  width: 3cm;
}

.performanceScenario th[class*=period] {
  font-weight: 700;
}

.performanceScenario .groupRowDiv1 td[rowspan],
.performanceScenario .groupRowDiv1 td.description:nth-child(2) {
  font-weight: 700;
}

.performanceScenario .groupRowDiv1 td[rowspan] {
  width: 2.5cm;
  vertical-align: top;
}

.costOverTime .groupHeaderDiv1 th,
.costOverTime .groupRowDiv1 td {
  width: 35%;
}

.costOverTime table td[class*=header] {
  width:30%;
  font-weight: 700;
}

.costComposition {
  margin: 0 0 0cm;
}

.costComposition .oneofcosts th:last-of-type,
.costComposition td:last-of-type {
  width: 3cm;
}

.costComposition .oneofcosts th:last-of-type {
  border-left: 0.5pt solid var(--tableborder);
}

.costComposition .entrycosts td:first-of-type,
.costComposition .exitcosts td:first-of-type,
.costComposition .managementfeesandothercosts td:first-of-type,
.costComposition .transactioncosts td:first-of-type,
.costComposition .performancefees td:first-of-type {
  font-weight: 100;
  width: 4cm;
}

.survival-scenario th,
.header th,
.ongoingcosts th,
.incidentalcosts th,
.scenarioheader th {
  font-weight: 700;
}

.holding-period th,
.scenarioheader th {
  border-top: 0.5pt solid var(--tableborder);
}

.WB_HowlongshouldIholdit_1 {
  /*background: var(--secondary);
  padding: 2mm;
  color: var(--white);*/
}

.pagenumbers .footer {
  margin: 0.1cm 0cm 0.1cm 0 !important;
  float: right;
  font-size: var(--footerfont);
  position: relative;
  z-index: 1;
}

.contentSection.pagenumbers .footer p {
  position: running(footerRight);
  text-align: right;
  display: none;
}

/*to hide page numbering from top*/
.Pagination {
  display: none;
}

/* @page styles */
@page {
  margin: 0.9cm 0cm 0 0cm;
  @bottom-right {
    content: counter(page) "/" counter(pages);
    margin: 0 1cm 1cm;
    padding: 0.15cm 0 0cm;
    font-size: var(--footerfont);
    font-family: var(--fontLight);
    font-weight: 100;
    color: var(--bodycolor);
    /* width: 5cm; */
  }
}
p.SriRange, p.Sri {
  background: url(images/warning.svg) no-repeat;
  width: 1.3cm;
  height: 1.22cm;
  position: absolute;
  margin-top: 2.1cm;
}
/* fundguide_avivafr_Rothshild_theme_202212EU */

/*# sourceMappingURL=theme.css.map */
