@font-face {
	font-family:"Adobe Sans" ;
	src: url('Images/A750SansLight.woff2') format('woff2'),
		url('Images/A750SansLight.woff') format('woff'),
		url('Images/A750SansLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Cadiz-Thin';
    src: url('Images/Cadiz-Thint.woff2') format('woff2'),
        url('Images/Cadiz-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
 }

@font-face {
    font-family: 'Cadiz-Light';
    src: url('Images/Cadiz-Light.woff2') format('woff2'),
        url('Images/Cadiz-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
 }
@font-face {
    font-family: 'Cadiz-Regular';
    src: url('Images/Cadiz-Regular.woff2') format('woff2'),
        url('Images/Cadiz-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'Cadiz-Medium';
    src: url('Images/Cadiz-Medium.woff2') format('woff2'),
        url('Images/Cadiz-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
 }
@font-face {
    font-family: 'Cadiz-SemiBold';
    src: url('Images/Cadiz-SemiBold.woff2') format('woff2'),
        url('Images/Cadiz-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
 }

@font-face {
    font-family: 'Cadiz-Bold';
    src: url('Images/Cadiz-Bold.woff2') format('woff2'),
        url('Images/Cadiz-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
 }
body {
	font-family: 'Cadiz-Regular',sans-serif;
	font-size: 8.5pt;
	line-height:1.2 !important;
	color:#323B59;
}

.page {
	position: relative;
	width: 20cm;
	height: 28.7cm;
	padding: 0.5cm 0.5cm 0;
}

.row {
	margin-bottom: 0;
}
.contentSection {
	margin-bottom: 0;
}
.KyminLogo.contentSection{
	padding-top: 15px;
}
 .clear{
	margin: 0 !important;
}
.logo{
	background: url('images/ROD_logo.svg') no-repeat right center/3.49cm 1cm;
 	height: 1cm;
	width:3.8cm;
	position: relative;
	z-index: 0;
}
.page2 .logo,
.page3 .logo{
	background: #fefefe url('images/RD.png') no-repeat right center/1.6cm auto;
  
}
.page1 > .row1 {
	/*! display: inline-block; */
	/*! width: 100%; */
}

.page > .row1 > .column1,.page > .row1 > .column2{
	width: auto !important;
}
.page > .row1 > .column2{
	float: right;
	}
.page > .row1 > .column2>.row{
	margin: 0;
}
.RiskScaleImages img{
	width: 100%;
}
.contentSection.Objective,.Top10Holdings.contentSection{
	padding-top: 0.05cm;
}
.LeftBanner .contentSection{
	margin-bottom: 0.25cm;
}
.column>.section {
	margin-left: 0.5cm;
}

.column:first-child>.section {
	margin-left: 0;
	margin-bottom: 0;
}
.Page1Header ,
.Page2Header,.Page3Header{
	padding:0.0cm 0 0 0.3cm;
	border-left: 2px solid #f6ae1e;
}
.TitleWB{
	font-family: Cadiz-Bold;
	 max-width: 15.6cm;
	font-size: 14pt;
}
.Page1Header .SubTitleWB{
	font-size: 9pt
}
.Page1Header .NameWB,
.Page2Header .NameWB,
.Page3Header .NameWB{
	font-family: 'Adobe Sans',serif;
	font-weight: normal;
	margin: 0.3cm 0 0.1cm;
	font-size: 15.78pt;
}
.Page1Header .UnitLaunchDate{
/* 	position: absolute;
	left:89%;
	 top:2cm;
	z-index: 1000  */
}
.page2 > .row1 > .column1>.row, .page3 > .row1 > .column1>.row1{
		 margin-top: 0.3cm
	 
}
.Page1Header .DocumentDate,.Page1Header .ProductWB,
.Page2Header .DocumentDate,.Page2Header .ProductWB{
	margin: 0 0 0.1cm;
	font-size: 9pt;
	text-align: right;
}
h1,
h2,
h3 {
	font-family: 'Cadiz-SemiBold',serif;
	font-weight: 500 !important;
	margin: 0.3cm 0 0.25cm;
	font-size: 10pt;
}
.page:not(.page1) .SubTitleWB{
	font-family: Cadiz-Bold;
}
p {
	margin: 0;
	margin-bottom: 0.15cm;
}
p br:last-of-type{
	display: none;
}
 
.vertical-list div {
	margin-bottom: 0.25cm;
}

.vertical-list div span:first-child {
	color: #323B59;
}

.page>.row1 {
	border-bottom: 0px solid #3399FF;
	margin: 0;
	height: 2cm;
	position: relative;
	z-index: 1;
}
.page>.row2{
	margin: 0;
	position: relative;

	z-index: 0;
}
.page>.row1 h2 {
	font-size: 24pt;
	padding-left: 3cm;
	min-height: 2cm;
	background-image: url('./Images/logo.png');
	background-repeat: no-repeat;
	margin-bottom: 0.5cm;
}
.DocumentDate{
	height: 5px;
	text-align: right;
	position: relative;
	top:-30px;
	margin: 0;
	height: 0;
}
.page>.row2>.column2>.section {
	background-color: transparent;
	border-radius: 0.25cm;
	padding: 0;
	margin: 0 0cm 0.25cm 0.5cm;
}
.page2 .Page2LeftCompositeheader{
	height: 1.95cm;
	background: #a6bbc6;
	margin-bottom: 0.25cm;
}
.Page2LeftCompositebody{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
}
.tabs.breakdowns {
	border: none;
	margin: 10px;
}

.tabs.breakdowns>.tabpanes {
	border: none;
}

.tabs.breakdowns>.tabpanes>.slider>.tab {
	padding-bottom: 20px;
}

.tabs.breakdowns>.tabbuttons {
	position: absolute;
	bottom: 5px;
	z-index: 10000;
}

.tabs.breakdowns>.tabbuttons>.tab {
	border: none;
	background-color: #000;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
	text-indent: -10000px;
}


.LeftBannerbody {
	/*   background: #d0dde1; */
}
.LeftBannerbody .row:last-of-type{
	margin: 0;
}
.contentSection.LeftBannerheader {
	background: #323B59;
	margin: 0;
}
.YieldCaveatWB{
	margin: 0;
}
.contentSection.LeftBannerheader p{
	margin: 0;
	font: 15.75pt 'Taviraj',serif;
	padding: 0.5cm 0.25cm;
}
.vertical-list div.clear {
	margin: 0;
}
.vertical-list div.FundManagers{
	margin: 0;
}
.FundManagers .label{
	font:normal 12pt 'Taviraj',serif !important;
}
.LeftBannerbody .label {
	margin: 0;
	padding-left: 0.25cm;
	box-sizing: border-box;
	width: 50%;
	font-weight: normal !important;
	line-height: inherit;
}
.LeftBannerbody .value{
	margin: 0;
	padding-right: 0.25cm;
	box-sizing: border-box;
	width: 50%;
	font-weight: normal !important;
	line-height: inherit;
}
.LeftBannerbody .value{
	text-align: right;
}
.horizontal-list div{
	margin-bottom: 0.05cm;
	width: 100%;
}
.PortfolioInformation h2,.ContactDetails h2,.KeyPoints h2,.Platforms h2,.holding  h2,.TopTenantsBD h2,.Top5StocksRD h2,[class*="ContactDetails"] h2{
	margin: 0;
	padding: 0.27cm;
	color: #fff;
	background: #323B59;
	font-size: 10pt;
}
.ContactDetails h2, .Platforms h2, .holding h2,.Top5StocksRD h2,.TopTenantsBD h2,[class*="ContactDetails"] h2{
	margin-top: 0.35cm;
	border-left: 2px solid #f6ae1e;
}
.PortfolioInformation h2,.KeyPoints h2,.TopTenantsBD h2,.Top5StocksRD h2{
 	border-left: 2px solid #f6ae1e;
}
.ContactDetails p,[class*="ContactDetails"] p{
	padding: 0.25cm;
	background: #f2f2f2;
}
[class*="ContactDetails"] p b{
 	display: inline-block;
}
.label{
	font-weight: normal !important;
	margin: 0;
}
.horizontal-list span.label{
	width: 55%;
	font-family: Cadiz-Medium;
}
.PortfolioInformation div:not(.clear),.Platforms p,.KeyPoints p,.Top5StocksRD div:not(.clear){
	background: #F2F2F2;
	padding: 0.1cm 0.27cm;
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
	margin-bottom: 0;
}
.Page1Caveat p{
	margin-bottom: 0.1cm;
}
.DynamicRiskPlannerImages img{
	width: 3cm;
	margin-top: 0.2cm; 
}
.holding table,.TopTenantsBD table
{
	border-collapse: collapse;
	border-spacing: 0;
}
.holding table td,.TopTenantsBD table td{
	background: #F2F2F2;
	padding: 0.1cm 0.1cm;
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
}
.holding table td.Name,.TopTenantsBD table td.Name{
	padding: 0.1cm 0cm 0.1cm 0.27cm;
	width: 75%;
	font-family: Cadiz-Medium;
}
.holding table td.Weight,.TopTenantsBD table td.Weight{
	padding: 0.1cm 0.27cm 0.1cm 0cm;
	width: 25%;
	text-align: right;
}
.LeftBannerbody .FundManagers  .label, .LeftBannerbody .FundManagers .value{
	width: 100%;
	text-align: left;
	padding-left: 0.25cm;
	color: #323B59;
}
.LeftBannerbody .FundManagers  .label{
	margin: 0.25cm 0;
}
.LeftBannerbody .FundManagers .value{
	margin:0 0 0.1cm 0;
}
.LeftBannerbody .contentSection.text {
	padding-left: 0.25cm;
	padding-right: 0.25cm;
}
.EquityCaveat{
	padding-top: 0.1cm;
}
.page1 > .row2 > .column1{

	/* 	width: 7.14cm;
	top:0;
	bottom:0;
	background: #d0dde1;
	height: 100%; */
}
.page1 > .row2 > .column1:before{

}
.page1 > .row2 > .column2,.page2 > .row2 > .column2{
	/* 	margin-left: 7.14cm; */
	/* 	float: none; */
	background: #fff;
	height: 25.8cm;
 
}
.page2 > .row2 > .column2{
	float: right;
}
.page1 > .row2 > .column2 h2,.page2 > .row2 > .column2 h2,.page3 h2{
	border-bottom: 2px solid #F6AE1E;
	font-weight: bold;
}
.FundObjective h2,.InvestmentOutlook h2{
	margin-top: 0;
}
.FundObjective{
	position: relative;
}
.FundObjective .DataAsAtDate{
	position: absolute;
	right: 0;
	top:0;
}
.IndustryBreakdown h2{
	display: none;
}
.LeftBanner.composite{
	/* 	background: #d0dde1; */
}
.pdfperformancechart  .chart {
	height: 175px !important;
	width: 510px !important;
}
.pdfperformancechart  .highcharts-container svg{
	/*! height: 100px !important; */
/* 	width: 510px !important; */
}
.keyContainer .key-color{
	height: 2px;
	margin-top: 2mm;
	margin-right: 2mm;
}
.performancetable   table{
	width: 100%;
	border-collapse: collapse;
}
.performancetable   table th,.performancetable   table td{
	text-align: center;
	border: 1px solid #323B59;
	height: 30px;
}
.performancetable table th{
	background: #323B59;
	color: #fff;
	line-height: 1;
	font-size: 10pt;
	height: 30px;
	border-bottom: 0 !important;
	
	font-weight: 600;
}
.performancetable   table td{
	border-top: 0 !important;
}
.performancetable   table th:first-of-type,.performancetable table td:first-of-type{
/*! border-left: 2px solid #F6AE1E; */
}
.performancetable table .rowheader{
	width: 4.5cm
}
.breakdown .chart  {
	height: 200px !important;
	width: 200px !important;
	margin: 0 auto;
	text-align: center !important;
	float: none !important;
}
.breakdown .chart+table{
	width: 100% !important;
    float: left;
}
.breakdown.IndustryBreakdown .highcharts-container svg{
	/*! height: 150px !important; */
	/*! width: 150px !important; */
	/*! transform: scale( 0.7); */
	/*! position: relative; */
	/*! top: -28px; */
}
.AssetRegionCompositebody h2{
	display: none;
}
.breakdown .key-color{
	height: 5px ;
	width: 5px;
}
.breakdown td{
	font-size: 10pt;
	line-height: 4mm;
}
.RiskGroup table{
	width: 100%;
	padding-top: 0.25cm;
}
.RiskGroup table th{
	padding: 0.2cm 0.2cm 0.2cm 0.1cm;
	font-size: 8.5pt;
	text-align: center;
	 
	font-weight: 600;
}
.RiskGroup table {
	border-spacing: 0;
}
.tg-rc36 {
  background: #FDEED1;
}
.tg-yzo6{
  background: #FBDEA4;
}
.tg-xrx3{
  background: #FACE77;
}
.tg-j529{
  background: #F9C764;
}
.tg-myh2{
  background: #F6AE1E;
}
.PageNumber p{
text-align: right;
}
.pageNumber::after {
 content: "";
}
.page1  .DistributionChannelFooter,.page2  .DistributionChannelFooter,.page3  .DistributionChannelFooter{
	 position: absolute;
	bottom: 0;
	left: 0.5cm;
	 
	border-top: 2px solid #f6ae1e;
	 width:20cm;
	padding-top: 0.1cm;
}
.page1 .PageNumber,
.page2 .PageNumber,
.page3 .PageNumber{
	 position: absolute;
	bottom: 0;
	left: 0.5cm;
	right: 0.5cm;
	border-top: 2px solid transparent;
	padding-top: 0.1cm;
	
}
.Page1Caveat *,
.Page2Caveat *{
	font-size: 7.8pt !important;
	line-height: 1;
}

.SJP_Approved_Date {
	position: absolute;
	bottom: 26px;
	right: 20px;
}
p.ObjectiveText {
    margin: 0;
}
/* RowanDartington */