@media only screen and (max-width: 767px) {
body{font-family:sans-serif;}
#v4-solutions .img-box h3 a{color:#212121 !important;}
#v4-solutions .img-box:hover h3 a{color:#ffffff !important;}
.nice-select span.current, 
.nice-select .option{font-size: 12px;}
.nice-select li.option .info-box{display: none;}
}	
.cont_country_section{position:relative}
.autocomplete-items{position:absolute;border-bottom:none;border-top:none;z-index:99;top:100%;left:0;right:0;
overflow:auto;min-height:50px;height:150px}
.autocomplete-items div{padding:10px;cursor:pointer;color:#000;border-bottom:1px solid #d4d4d4}
.err{border:1px solid red!important;color:red}
.onfcs{border:0 solid red!important;color:#000}
p{margin-top:0}
.my-form{margin-bottom:10px}
#gallery img{width:auto;height:54px;margin-bottom:10px;margin-right:10px;vertical-align:middle}
.button{background:#60b741;border:0;outline:0;color:#1d1c39;padding:12px 27px;font-size:18px;font-weight:500;text-transform:capitalize;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;transition:all .3s ease-in-out;letter-spacing:.5px;border-radius:4px;font-weight:600}.button:hover{background:#ddd}
#fileElem{display:none}.form-control.success input{border-color:#2ecc71}
.form-control.success small{visibility:hidden}.form-control.verror input{border-color:#e74c3c}
.form-control small,
.user-input.form-control.verror:focus-visible{border-color:#e74c3c!important}.form-control.verror small{visibility:visible}
.user-input.form-control.success input{color:#60b741!important}.user-input.form-control.verror input{color:red!important}
.footer .star-icon{background:url(images/footer-icons.png) 0 0 no-repeat;
width:18px; height:15px; display:inline-block;}
.vlazy{background-image:none !important; background-color:#F1F1FA !important; background: none !important;}
body.page-template-template-services .php-usage-sprite .box-3 h3 a{text-decoration: none;}
body.page-template-template-services .php-usage-sprite .box-3 h3 a:hover{text-decoration:underline;}
body.page-template-template-testimonials .client-video-section iframe,
.keka-iframe iframe{ width:100%; }
.keka-iframe iframe{ border: 0; }
body.page-template-template-services .second-level-section .left-box p a{ color: #bdb7b7; }
body.page-template-template-services .second-level-section .left-box p a:hover{text-decoration:underline;}

/*@media only screen and (max-width: 991px){
.hero-img-section, .hero-section{background-image:none !important;}
}*/
.grecaptcha-badge{visibility:hidden;}
.glide { position: relative; width: 100%; box-sizing: border-box; } .glide * { box-sizing: inherit; } .glide__track { overflow: hidden; } .glide__slides { position: relative; width: 100%; list-style: none; backface-visibility: hidden; transform-style: preserve-3d; touch-action: pan-Y; overflow: hidden; padding: 0; white-space: nowrap; display: flex; flex-wrap: nowrap; will-change: transform; } .glide__slides--dragging { user-select: none; } .glide__slide { width: 100%; height: 100%; flex-shrink: 0; white-space: initial; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; } .glide__slide a { user-select: none; -webkit-user-drag: none; -moz-user-select: none; -ms-user-select: none; } .glide__arrows { -webkit-touch-callout: none; user-select: none; } .glide__bullets { -webkit-touch-callout: none; user-select: none; } .glide--rtl { direction: rtl;}
body.page-template-template-contact-v8 .contact-us-section.full-width-form .head-txt .logo-box{
background-image:url('dev-img/logo-small.svg');
}
a.ws-dotted{ border-bottom:1px dotted #000000; color:#000000; }
a.ws-dotted:hover{text-decoration: none !important; color: #656565;}
.client-img-section .right-box .award-sc .award-row .award-col p{display:none;}
#cf-requirement textarea::placeholder{white-space: pre-line;}
.tailored-tech .tailored-out .tailored-slider .flex-3 .box-3{cursor: inherit !important;}

.copyrigh-cont{display: flex; padding: 15px 0;}
.copyrigh-cont .cright{flex-basis: 50%; text-align: left;}
.copyrigh-cont .cright-links{flex-basis: 50%;  text-align: right;}
.copyrigh-cont .cright-links ul li{display: inline-block;}
.copyrigh-cont .cright-links a{color: #8d8d8d;}
.copyrigh-cont .cright-links a:hover{color: #b9b9b9;}
@media (max-width: 767px) {
.copyrigh-cont{flex-wrap: wrap;}    
.copyrigh-cont .cright{margin-bottom:10px; line-height: 22px;}
.copyrigh-cont .cright, .copyrigh-cont .cright-links{flex-basis: 100%; text-align: center;}
}
.work-with .card-content ul li{margin: 0 0 10px;position: relative;padding-left: 22px;}
.work-with .card-content ul li::before{content: ""; background: url('v6.0/images/list-check.svg') no-repeat;
width: 12px; height: 13px; position: absolute; top: 6px; left: 0;}

body.page-template-template-hirepage .second-level-section .form-right-box .head.org-head{
background:#ffad00c9 !important;
}
body.page-template-template-hirepage .second-level-section .form-right-box .head.org-head p{color: #0f172b;}
.it-services .service-card .service-content p{color:#4B5563;}



.contact-us-section .width-full.box-selserv .user-input{height:60px; padding:15px 0 15px 0px;}
.contact-us-section .width-full.box-selserv{margin-bottom: 0;height: 105px;}
.box-selserv .nice-select{border:none; padding: 5px 0px 10px 15px; float: inherit;}
.contact-us-section .width-full.box-selserv .user-input small{display: none;}
.contact-us-section .width-full.box-selserv .user-input.verror small{display:block; opacity: 1; margin-top: 15px;}
.box-selserv .info-wrap{display:flex;align-items:center;justify-content:left}
.box-selserv .info-wrap .info-tip{margin-left:10px;display:inline-block;position:relative;cursor:pointer}
.box-selserv .info-wrap .info-tip .info-content{width:315px;border-radius:10px;background:#fff;box-shadow:4px 4px 30px 0 rgba(63,63,63,.38);padding:15px;position:absolute;top:25px;left:-75px;opacity:0;transition:all .3s ease-in-out;visibility:hidden;text-align:left;line-height:initial;z-index:99999}
.box-selserv .info-wrap .info-tip .info-content p{font-size:14px;line-height:24px;margin:0 0 10px;font-weight:500}
.box-selserv .info-wrap .info-tip .info-content:before{content:"";clear:both;display:block;background:url(../images/poly.svg) 0 0 no-repeat;background-size:100%;width:25px;height:25px;position:absolute;top:-15px;left:70px}
.box-selserv .info-wrap .info-tip:hover .info-content{opacity:1;visibility:visible}
.box-selserv .info-wrap .info-tip:after{content:"";content:"";width:16px;height:16px;background:url(../images/info-icn.svg) 0 0 no-repeat;position:absolute;top:0;transform:translateY(-50%);left:0}
.box-selserv .full-width-form .select-list ul em:hover~.info{opacity:1;visibility:visible}
.box-selserv .info-box{display:inline-block}
.box-selserv .info{position:absolute;top:-24px; left:5%;background:#f7f7f9;border:1px rgba(0,0,0,.1) solid;
padding:8px 15px;opacity:0;visibility:hidden;border-radius:5px;font-size:12px;
transition:all .3s ease-in-out;z-index:1;font-weight:400;color:#000}
.box-selserv .nice-select .option{text-wrap:auto; color: #111827;}
.box-selserv .nice-select .option, .nice-select .list .info{width: auto;;}


/*Temp Table*/
.mvp-table-list-section .col-box-outer{border:1px solid #fff;border-radius:10px;overflow:hidden}
.mvp-table-list-section .table-list .title{font-size:17px;font-weight:600;background:rgba(255,173,0,.2)}
.mvp-table-list-section .table-list .title .sub-title{font-size:14px;font-weight:500;display:block;width:100%}
.mvp-table-list-section .table-list li{border-bottom:1px solid #fff;border-right:1px solid #fff;background:#f1f1f1;padding:17px 5px;list-style:none;text-align:center;min-height:80px;display:flex;color:#3f3f3f;align-items:center;justify-content:center;flex-wrap:wrap}
.mvp-table-list-section .table-list li:nth-child(n+7){display:none}
.mvp-table-list-section .table-list li:last-child{border-bottom:0}
.mvp-table-list-section .table-list li:nth-child(2n){background:#f8f8f8}
.mvp-table-list-section .table-list:first-child ul li{text-align:left;padding-left:76px;justify-content:flex-start;font-weight:600;color:#05164d}
.mvp-table-list-section .table-list:first-child ul li.title{color:#3f3f3f}
.mvp-table-list-section .view-more a{min-width:144px;border-radius:7px;border:1px solid rgba(0,0,0,.08);background:#fff;padding:15px 20px;display:inline-block;font-weight:600;color:#ffb81d;position:relative}
.mvp-table-list-section .view-more a:after{content:"";width:16px;height:9px;background:url(../images/view-icon.png) no-repeat center;display:inline-block;margin-left:8px;vertical-align:middle;cursor:pointer;transition:all .3s ease;background-size:100%}
.mvp-table-list-section .view-more a:hover{background:#f1f1f1}
.mvp-table-list-section.show-all .table-list li:nth-child(n){display:block}
.mvp-table-list-section .table-list li.mh-119{min-height:119px !important;}

.cto-services .cto-row {margin-top: 30px;}
.cto-services .cto-row .flex-2{flex-basis: 100%;}
.cto-services .cto-row .flex-2.box-3{margin-bottom: 20px;}
.cto-services .tick-icon-list ul{margin-top: 10px !important;}

.cto-services .cto-row .tick-icon-list ul li{flex-basis:100%;}
.cto-services .cto-row .heading{display:flex;}
.cto-services .cto-row .heading img,
.cto-services .cto-row .heading h3{ display:inline-block; }
.cto-services .cto-row .heading h3{margin:10px 0 0 10px; }
.cto-services .flex-2.box-wrap{border: 1px solid #d1d1e1; flex-basis:48%; padding:30px;}
.cto-services .flex-2.box-wrap:first-child{margin-right: 30px;}
@media screen and (min-width: 1139px) {
/*
.header-two .header-item-right .menu ul li .menu-mega .tab-menu .tab-contents .right-tabs .tab-content 
.menu-column.mp-10px a,
.header-two .header-item-right .menu ul li .menu-mega.small-menu .tab-menu .tab-contents .right-tabs .tab-content 
.menu-column.mp-10px a{padding: 10px 20px 10px 10px}
*/
.header-two .header-item-right .menu ul li .menu-mega .tab-menu .tab-contents .right-tabs .tab-content 
.menu-column.mp-10px a,
.header-two .header-item-right .menu ul li .menu-mega.small-menu .tab-menu .tab-contents .right-tabs .tab-content 
.menu-column.mp-10px a{margin: 10px 0 10px 31px;}
.header-two .header-item-right .menu ul li .menu-mega .tab-menu .tab-contents .right-tabs .tab-content 
.menu-column.mp-10px a.top-head{margin: 10px 0 0}
}
@media (max-width: 1440px) {
.mvp-table-list-section .table-list .title{font-size:14px;line-height:1.5}	
.mvp-table-list-section .table-list li{font-size:14px;}
}
@media only screen and (max-width: 1600px) {
.mvp-table-list-section .table-list:first-child ul li {padding-left: 26px; }
}
@media only screen and (max-width: 991px) {
.mvp-table-list-section .table-list:first-child ul li{padding-left: 15px;}
.cto-services .flex-2.box-wrap{ flex-basis: 100%;}
.cto-services .flex-2.box-wrap:first-child{margin:0 0 30px 0;}
}
@media only screen and (max-width: 767px){
.mvp-table-list-section .col-box-outer{border-right:0;flex-wrap:nowrap;border-radius:0}
.mvp-table-list-section .table-list{flex-basis:25%}
.mvp-table-list-section .table-list:first-child ul li{padding-left:5px}
.mvp-table-list-section .table-list li{font-size:12px;padding:0 5px;line-height:20px;min-height:80px}
.mvp-table-list-section .table-list .title{font-size:12px;line-height:1.5}
.mvp-table-list-section .table-list .title .sub-title{display:none}
.mvp-table-list-section.for-yellow-head .bg-row-yellow{border:1px solid #fff}
.mvp-table-list-section.for-yellow-head .bg-row-yellow li:first-child{border-bottom:1px solid #fff}
}





/*CSS For Contact US Page*/

.user-input .iti{display:flex;align-items:center;width:100%;border:1px solid #ccc;border-radius:6px;overflow:visible;background:#fff;position:relative;transition:all .2s ease}
.user-input .iti__flag-container{display:flex;align-items:center; border-right:1px solid #ddd;background:0 0;cursor:pointer; height: 100%;}
.user-input .iti__selected-flag{display:flex;align-items:center;height:100%;}
.user-input .iti__arrow{margin-left:10px; border-color: #666;}
.user-input .iti input.input-field{flex:1;border:none;outline:0;background:0 0; padding-left: 80px;}
.contact-us-section #cont_phpne:focus-visible{outline:0!important;box-shadow:none!important;border:none!important;}
.user-input .iti__country-list{position:absolute;top:100%;left:0;max-width: 380px;max-height:250px;overflow-y:auto;background:#fff; margin: 0; border:1px solid #ddd;border-radius:6px;box-shadow:0 6px 12px rgba(0,0,0,.15);z-index:9999;margin-top:4px;padding:4px 0;}
.user-input .iti__country{padding:5px 10px;font-size:13px; line-height: 22px; display:flex;align-items:center;cursor:pointer; margin:0; color: rgba(65, 65, 65, 0.9); border:none;} 
.user-input .iti__country:before{display:none;}
.user-input .iti__flag-box{margin-right:8px;}
.iti__country.iti__highlight, .iti__highlight .iti__dial-code{color: rgba(65, 65, 65, 0.9) !important;}
.user-input .iti__country:hover{background:#f5f5f5;}
.user-input .iti__divider{border-top:1px solid #eee;margin:2px 0; display:none;}
.iti__country-list{background-color: #fff;}
.iti__country{border:none;}

.contact-us-section .user-input label{z-index: 9;}

.page-template-template-hirepage .second-level-section .user-input .iti__country-list{width:250px;}
.second-level-section .form-right-box .form-text-cont  #sb_cont_phpne{border:none !important; padding-left: 70px;}
.second-level-section .user-input .iti__selected-flag{padding:0 10px;}
.contact-us-section.full-width-form .right-box .step-one.version-8 .autocomplete-items.has-item{z-index: 99;}
.contact-us-section .autocomplete-items.has-data{z-index: 99;}
.user-input #cont_phpne{padding-left: 80px;}

.nice-select .nice-select-dropdown{z-index: 99;}

.form-control.verror small{display:block;}

.page-template-tpl-costcalculators .autocomplete-items div{color: #fff;}

@media only screen and (max-width: 767px){
.page-template-template-hirepage .user-input .iti__country-list{width: 300px;}
.user-input .iti__country-list{max-width: 300px; width: 300px;}
.user-input .iti__flag-container{height:100%;}
.explore-btn::after {top: 4px;}

}







