@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("images/helveticaneueltstd-lt.woff2") format("woff2"), url("images/helveticaneueltstd-lt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("images/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("images/HelveticaNeueLTStd-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*outer border for page row sections groups*/
/* logo visible in pdf page margin  */
/*show /hide logo in all pages*/
/*show /hide logo in Ist page*/
/*$logoWidth:100%;
$logoHeight:1cm;*/
/*$pagination-path:".pagenumbers";*/
/*Common shared files of same template projects*/
.triangle-1 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
  border-radius: 20%;
}

.triangle-1,
.triangle-1::before,
.triangle-1::after {
  width: 20rem;
  height: 20rem;
}

.triangle-1::before,
.triangle-1::after {
  content: "";
  position: absolute;
  background: yellow;
  pointer-events: auto;
}

.triangle-1::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-1::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.triangle-1::before {
  border-radius: 20% 20% 20% 55%;
}

.triangle-1::after {
  border-radius: 20% 20% 55% 20%;
}

.triangle-2 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
}

.triangle-2,
.triangle-2::before,
.triangle-2::after {
  width: 10rem;
  height: 10rem;
}

.triangle-2::before,
.triangle-2::after {
  content: "";
  position: absolute;
  background: #000000;
  pointer-events: auto;
}

.triangle-2::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-2::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.triangle-3 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
  border-radius: 20%;
}

.triangle-3,
.triangle-3::before,
.triangle-3::after {
  width: 15rem;
  height: 15rem;
}

.triangle-3::before,
.triangle-3::after {
  content: "";
  position: absolute;
  background: gray;
  pointer-events: auto;
}

.triangle-3::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-3::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.triangle-3::before {
  border-radius: 20% 20% 20% 55%;
}

.triangle-3::after {
  border-radius: 20% 20% 55% 20%;
}

.triangle-4 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
}

.triangle-4,
.triangle-4::before,
.triangle-4::after {
  width: 17.5rem;
  height: 17.5rem;
}

.triangle-4::before,
.triangle-4::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, orange 0%, red 100%);
  pointer-events: auto;
}

.triangle-4::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-4::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  margin: 0;
}

h2 {
  font: 11pt "Helvetica Neue LT Std";
  color: #003e6b;
  margin: 0cm 2mm 0.12cm 2mm;
  padding: 0.12cm 0 0.12cm 0;
}

p,
.description {
  font: 8pt "Helvetica Neue LT Std";
  color: black;
  margin: 0 0 0cm;
  padding: 1mm 2mm 1mm;
  line-height: 1.1;
}

p.IssuedOnDate {
  border-bottom: 0px #187aba solid;
  text-align: left;
}

.subheader p {
  font: 8pt "Helvetica Neue LT Std";
  color: black;
}

.header1 p,
.header2 p {
  font: 11pt "Helvetica Neue LT Std";
  color: black;
  margin: 0;
  padding: 0;
}

.header3 p,
.header4 p {
  font: 11pt "Helvetica Neue LT Std";
  color: black;
  margin: 0;
  padding: 0;
}

.page {
  width: 19cm;
  height: auto;
  padding: 0cm;
}

.page1 {
  padding: 0;
  background: url(images/VG_logo.png);
  background-size: auto 1.1cm;
  background-position: right 2mm top;
  background-repeat: no-repeat;
}

p br {
  display: block !important;
  margin: 0 0 !important;
  line-height: 0.2 !important;
  padding: 0 !important;
  content: "";
}

.keyinformationdocument h2,
.fundName h2 {
  text-align: left;
}

.keyinformationdocument.contentSection h2 {
  font: 20pt "Helvetica Neue LT Std";
  color: #737375;
  margin: 0 0 0;
  padding: 1mm 2mm;
  line-height: 1;
}

.contentSection h2 {
  font: 11pt "Helvetica Neue LT Std";
  color: #003e6b;
  margin: 0cm 2mm 0.12cm 2mm;
  padding: 0.12cm 0 0.12cm 0;
  border-bottom: 1.2pt solid #003e6b;
}

.fundName h2 {
  font: 20pt "Helvetica Neue LT Std";
  color: #6ec4e9;
  margin: 0cm 2mm 0.12cm 2mm;
  padding: 0;
}

@page {
  @top-left {
    content: element(header);
  }
}

@page {
  margin: 0.55cm 1cm 0.85cm 1cm;
  /*border:1px solid ;*/
}



.page>.row1 * {
  font-size: 8pt !important;
}



.page1 .row4 .compositebody>.row .column,
.page1 .row5 .compositebody>.row .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

.page1 .row4 .compositebody>.row .column h2,
.page1 .row5 .compositebody>.row .column h2 {
  column-span: all;
}

.page2 .row2 .compositebody * {
  break-before: avoid-page;
}

.page2 .row2 .compositebody .row3 {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

.page2 .row2 .compositebody .row3 h2 {
  column-span: all;
}

.page2 .row2 .compositebody .row5 .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

h2 {
  bookmark-level: 1;
}

.subheader p {
  bookmark-level: 2;
}

.groupRow1,
.groupRowDiv1,
.groupHeader1,
.groupHeaderDiv1 {
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 0pt solid transparent;
}

table th:not(.groupHeader1) {
  color: #003e6b;
  background: #b7b7b7;
}

table th:last-of-type {
  border-right: 0 !important;
  border-bottom: 0pt solid #003e6b;
}

table td:not(.rating):last-of-type {
  border-right: 0 !important;
  /*border-bottom: $td-bottom-border-size solid $th-border;*/
}

table td {
  vertical-align: middle;
  border-top: 0pt solid #003e6b;
  border-right: 0.4pt solid #003e6b;
  /*border-bottom: $td-bottom-border-size solid $td-border;*/
  padding: 1mm 1mm;
  margin: 0;
  background: #ffffff;
}

table th {
  vertical-align: middle;
  margin: 0;
  padding: 1mm 1mm;
}

.groupHeader1 table th {
  padding: 1mm 1mm;
  background: #ffffff;
  color: #003e6b;
  font-family: "Helvetica Neue LT Std";
  font-weight: 700;
  font-size: 9pt;
  border-right: 0pt solid #003e6b;
  border-bottom: 0.5pt solid #003e6b;
}

.groupHeader1 table th:first-of-type {
  text-align: left;
}

.groupHeader1 table tr:last-of-type th {
  word-wrap: anywhere;
}

.groupRow1 table td {
  border-right: 0.4pt solid #003e6b;
  border-bottom: 0.5pt solid #003e6b;
  font-family: "Helvetica Neue LT Std";
  font-size: 9pt;
}

.groupRow1 table .header th {
  font-family: "Helvetica Neue LT Std";
  font-weight: 400 !important;
  text-align: left;
  border-bottom: 0.5pt solid #003e6b;
}

.groupRow1 table .incidentalcosts th {
  font-family: "Helvetica Neue LT Std";
  font-weight: 400 !important;
  text-align: left;
  border-bottom: 0.5pt solid #003e6b;
}

.groupRow1 table .ongoingcosts th {
  font-family: "Helvetica Neue LT Std";
  font-weight: 400 !important;
  text-align: left;
  border-bottom: 0.5pt solid #003e6b;
}

.performanceScenario>table {
  border-top: 0pt solid #6ec4e9;
  width: 97.5%;
  margin: 0 0.2cm;
}

.performanceScenario table tr .holding-period th:last-child,
.performanceScenario table tr .investment-amount th:last-child,
.performanceScenario table tr .insurance-premium th:last-child {
  text-align: left;
}

.performanceScenario table td.scenario {
  font-weight: 700;
  font-family: "Helvetica Neue LT Std";
}

.performanceScenario .survival-scenario {
  border-top: 0pt;
  border-bottom: 0pt;
}

.performanceScenario .survival-scenario th {
  border-top: 0pt;
  border-bottom: 0.5pt solid #003e6b;
}

.performanceScenario th[class*=period] {
  width: 3.05cm;
  text-align: right;
}

.performanceScenario td[class*=period] {
  width: 3cm;
  text-align: right;
}

.costOverTime {
  padding-bottom: 0.2cm;
}

.costOverTime>table {
  border-top: 0pt solid #6ec4e9;
  width: 100%;
  margin: 0 0.2cm;
}

.costOverTime table .tableheader {
  display: none;
}

.costOverTime table th {
  width: 4.75cm;
}

.costOverTime table td {
  width: 4.75cm;
}

.costOverTime table td.totalcostsheader,
.costOverTime table td.riyheader {
  font-weight: 400;
  font-family: "Helvetica Neue LT Std";
}

.costOverTime table td[class*=totalcosts],
.costOverTime table td[class*=riy] {
  text-align: right;
}

.costOverTime table td.riyheader,
.costOverTime table td.totalcostsheader {
  text-align: left;
}

.costOverTime table th[class*=scenario] {
  text-align: right;
}

.costOverTime {
  padding: 0 0.25cm 0.2cm 0.2cm;
}

.costOverTime.costovertime_4columntable.contentSection {
  /* costovertime table fullwidth css for 4column <<<<*/
}

.costOverTime.costovertime_4columntable.contentSection>table {
  width: 100% !important;
  margin: 0;
}

.costOverTime.costovertime_4columntable.contentSection .scenarioheader th:first-of-type {
  width: 25% !important;
}

.costOverTime.costovertime_4columntable.contentSection table tbody td.totalcostsheader {
  width: 25% !important;
}

.costOverTime.costovertime_4columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 25% !important;
}

.costOverTime.costovertime_4columntable.contentSection table td[class*=totalcosts] {
  width: 25% !important;
}

.costOverTime.costovertime_3columntable.contentSection {
  /* costovertime table fullwidth css for 3column <<<<*/
}

.costOverTime.costovertime_3columntable.contentSection>table {
  width: 98% !important;
}

.costOverTime.costovertime_3columntable.contentSection .scenarioheader th:first-of-type {
  width: 33.4% !important;
}

.costOverTime.costovertime_3columntable.contentSection table tbody td.totalcostsheader {
  width: 33.4% !important;
}

.costOverTime.costovertime_3columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 33.3% !important;
}

.costOverTime.costovertime_3columntable.contentSection table td[class*=totalcosts] {
  width: 33.3% !important;
}

.costOverTime.costovertime_2columntable.contentSection {
  /* costovertime table fullwidth css for 2column <<<<*/
}

.costOverTime.costovertime_2columntable.contentSection>table {
  width: 98% !important;
}

.costOverTime.costovertime_2columntable.contentSection .scenarioheader th:first-of-type {
  width: 50% !important;
}

.costOverTime.costovertime_2columntable.contentSection table tbody td.totalcostsheader {
  width: 50% !important;
}

.costOverTime.costovertime_2columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 50% !important;
}

.costOverTime.costovertime_2columntable.contentSection table td[class*=totalcosts] {
  width: 50% !important;
}

.costComposition {
  padding-bottom: 0.2cm;
}

.costComposition>table {
  border-top: 0pt solid #6ec4e9;
  width: 97.5%;
  margin: 0 0.2cm;
}

.costComposition>table table .tableHeader>th {
  text-align: center;
}

.costComposition table .tableHeader {
  display: none;
}

.costComposition table .oneofcosts th:last-of-type {
  width: 3.15cm;
}

.costComposition table td:last-of-type {
  width: 3.1cm;
}

.sriRiskRating table {
  width: calc(100% - 0.4cm);
  margin: 0.2cm;
}

.sriRiskRating table td.rating {
  border: 1pt solid #747476;
  background-color: #b7b7b7;
  text-align: center;
  padding: 0.1cm;
  font-size: 13pt;
  font-family: "Helvetica Neue LT Std";
  color: #ffffff;
}

.sriRiskRating table td.rating.active {
  background-color: #003e6b;
  color: #ffffff;
}

.sriRiskRating table td.rating.selected {
  background-color: #003e6b;
  color: #ffffff;
}

.sriRiskRating .header {
  font-size: 9pt;
  font-family: "Helvetica Neue LT Std";
}

.sriRiskRating .header th:first-of-type {
  text-align: left;
  padding-left: 0.3cm;
  padding-bottom: 0.1cm;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0.2cm 0cm;
  background-size: 20%;
  background-color: transparent;
  border: 0;
  padding-top: 0;
  font-family: "Helvetica Neue LT Std";
}

.sriRiskRating .header th:last-of-type {
  text-align: right;
  font-family: "Helvetica Neue LT Std";
  padding-right: 0.3cm;
  padding-bottom: 0.1cm;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 7.3cm 0cm;
  background-size: 20%;
  background-color: transparent;
  border: 0;
  padding-top: 0;
}

.sriRiskRating .arrow {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 238.2 6.4' style='enable-background:new 0 0 238.2 6.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23003e6b;stroke-miterlimit:10;%7D .st1%7Bfill:%23003e6b;%7D%0A%3C/style%3E%3Cg id='a'%3E%3C/g%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='1.9' y1='3.2' x2='236' y2='3.2'/%3E%3Cg%3E%3Cpolygon class='st1' points='4.3,6.1 4.7,5.6 2.2,3.2 4.7,0.8 4.3,0.3 1.1,3.2 '/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st1' points='233.6,6.1 233.1,5.6 235.7,3.2 233.1,0.8 233.6,0.3 236.7,3.2 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center/94% 2.5mm;
  height: 4mm;
  margin: 0 0.2cm;
}

p.Sri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43.3px 25px;
  border-color: transparent transparent #000000 transparent;
  margin: 20px 12px 0 0;
  float: left;
}

p.Sri::after {
  content: "!";
  font-size: 20pt;
  font-family: "Helvetica Neue LT Std";
  color: #ffffff;
  position: relative;
  left: -6px;
  top: 9px;
}

/* Different types of project templates prps_monthperf/ubs_kid_base/prps_pastperf/priips_base/priips_kid_base */
.page>.row1 {
  /*hiding all footers*/
  display: none;
}

.WB_HowlongshouldIholdit_1 b {
  font-size: 9pt;
  color: #003e6b;
}

.keyinformationdocument.contentSection h2 {
  border-bottom: 0pt;
}

.Product>h2 {
  padding-top: 0.1cm;
}

p.IssuedOnDate {
  display: none;
}

.costOverTime>h2 {
  border: none;
  padding: 0;
  margin: 0.11cm 0;
}

.costComposition>h2 {
  border: none;
  padding: 0;
  margin: 0.22cm 0;
}

p.WB_GeneralInformation_2 {
  font-size: 13pt;
  color: #003e6b;
}

.page>.row1>.composite1>.compositebody>.row2>.column2 {
  /*footer width extended to full page width*/
  width: 100%;
}

.page>.row1>.composite1>.compositebody>.row2>.column1 {
  width: 0;
}

.groupHeader1 table th {
  border: 0.5pt solid #003e6b;
  border-left: 0;
}

.groupRow1 table tbody tr td {
  border-right: 0.5pt solid #003e6b;
  color: black;
  font-size: 8pt;
}

.page1>.row5>.composite1>.compositebody>.row2>.column1,
.page1>.row6>.composite1>.compositebody>.row2>.column1,
.page2>.row2>.composite1>.compositebody>.row5>.column1,
.page1>.row7>.composite1>.compositebody>.row2>.column1 {
  width: 100%;
  column-count: 2;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

.WB_Performancescenariosnarrative_15 {
  break-inside: avoid;
}

.page1>.row7 .compositebody>.row .column h2 {
  column-span: all;
}

.page1>.row2>.composite1>.compositebody>.row2>.column1 {
  width: 100%;
}

.page1>.row6>.composite1>.compositebody>.row2>.column1 h2 {
  column-span: all;
  margin-top: 0.2cm;
}

/*table td:not(.rating):last-of-type{
	border-right:0.4pt solid $black !important;
}
.groupRowDiv1>table td,.performancescenariotable table .survival-scenario th,.groupRow1 table .header th,table .ongoingcosts th, table .incidentalcosts th {
    border: 0.4pt solid $black;
}*/
.oneofcosts th:last-of-type {
  text-align: left;
}

.performanceScenario,
.costcomposition {
  padding-bottom: 0.2cm;
  padding-top: 0.2cm;
}

.page3 .compositebody {
  break-inside: avoid-page;
  break-inside: avoid;
}

h1 {
  position: running(pageheader);
}

.groupRow1 table .header th {
  color: #003e6b;
  font-weight: bold !important;
}

.groupRow1 table .incidentalcosts th {
  color: #003e6b;
  font-weight: bold !important;
}

.groupRow1 table .ongoingcosts th {
  color: #003e6b;
  font-weight: bold !important;
}

/*.performanceScenario .averagereturn td, .costOverTime table td[class*=riy]{
		background : $grey;
}*/
.stress-return .scenario,
.stress-return .description {
  font-weight: bold;
}

.averagereturn .scenario,
.averagereturn .description {
  font-weight: bold;
}

.unfavourable-return .scenario,
.unfavourable-return .description {
  font-weight: bold;
}

.moderate-return .scenario,
.moderate-return .description {
  font-weight: bold;
}

.invest .scenario,
.invest .description {
  font-weight: bold;
}

.favourable-return .scenario,
.favourable-return .description {
  font-weight: bold;
}

// .page1 > .row6, .page2 > .row3 {
//   break-after: always !important;
// }

.page2>.row2>.composite1>.compositebody *,
.page3>.row2>.composite1>.compositebody * {
  break-before: avoid-page;
}

.arrow>td {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.WB_SRInarrative2_1,
.WB_SRInarrative2_4 {
  background: url(images/warning-icon.png);
  background-size: 18%;
  background-position: 0px -5px;
  width: 79%;
  min-height: 45px;
  padding: 7px 0px 0px 63px;
  display: block;
  background-repeat: no-repeat;
}

p.Sri {
  border: none;
  margin: 0;
  float: none;
  width: initial;
  height: initial;
  display: none;
  /*&:before {
  	position: absolute;
  	top: -2.3cm;
  	left: -0.7cm;
  	width: max-content;
  }*/
  /*&:after {

  }*/
}

.sriRiskRating .header th:last-of-type,
.sriRiskRating .header th:first-of-type {
  font-weight: 500 !important;
  font-size: 8pt;
  color: #000000;
}

.sriRiskRating table td.rating {
  width: 0.78cm;
  height: 0.78cm;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sriRiskRating table td.rating.selected {
  width: 0.96cm;
  height: 0.96cm;
  font-size: 17pt;
}

table th:not(.groupHeader1) {
  background: #ffffff;
}

table.sriRiskRating th:not(.groupHeader1) {
  background: none;
}

.sriRiskRating {
  break-inside: avoid;
}

.sriRiskRating .ratings table tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .page1>.row5>.composite1>.compositebody>.row2>.column1 .row:last-child p:last-child {
//   margin-bottom: 5px;
// }

/*>>>>>>costovertime table fullwidth css for 3column*/
/*page 2 floating code*/
/*

  .performanceScenario.performancescenariotable {
    page-break-inside:auto !important;
}
*/

.page4>.row1 {
  position: static;
  display: block;
}

.page4>.row1 .compositebody {
  page-break-before: always;

  p:empty {
    /*Added to remove empty space, when disclaimer is not available for some place holders*/
    padding: 0;
    margin: 0;
    height: 0;
  }
}



/*3rd column issue fix <<<<<<<*/
body {
  -ro-line-break-opportunity: normal " ," "\\w";
}

.column p {
  word-break: break-word;
  word-wrap: break-word;
  box-decoration-break: clone;
}

/*3rd column issue fix >>>>>>>>>*/

/*Theme name: man_ahl_theme_202211_eu */