@font-face {
	font-family: "Arial";
	src: url("./images/arialbd.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "Arial";
	src: url("./images/arial.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }

:root{
	--header:#212121;
	--headerbg:rgb(241, 242, 242);
	--parabg:rgb(241, 242, 242);
	--white:#fff;
	--black:#000000;
	--ratingBorder:#595959;
	--tableborder:#b3c1c2;
	--tableheader:#004e53;
	--grayBg:#F1F2F2;
	--darkBlue:#01446A;
	--tablerowheader:#00446A;
	--primary:#1192D1;
	--skyBlue:#20C6FF;
	--secondary:#FFC000;
	--orange:#F68838;
	--tableheaderbg:#00446A;
	--tablesubheaderbg:rgba(0,156,166,0.05);
	--altrow:rgba(0,156,166,0.1);
	--bodyfont:9pt;
	--h2:11pt;
	--h3:10pt;
	--font:"Arial";
}
*{
	box-sizing: border-box;
}
/**/
body {
	font-family: var(--font);
	font-weight:normal;
	line-height: 1.2;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color:#231F20;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}
.contentSection>table{
	margin: 0.2cm 0;
}
table {
	/* 	width: 100%; */
	border-collapse: collapse;
	border: 0pt solid #000;
}
table th, table td {
	margin: 0;
	vertical-align: middle;
	padding: 0;
	text-align: left;
	padding: 1mm 1mm;
	font-size: var(--bodyfont);
	border-right: 0.5pt solid var(--tableborder);
	border-bottom: 0.5pt solid var(--tableborder);
	/* background: #fff; */
}
table td[class*="period"]{
	text-align: right;
}
table th {
	font-family: var(--font);
	font-weight: bold;
	/*! background: var(--tableheaderbg); */
	page-break-inside: avoid;
}
h2 {
	font-weight: bold;
	margin: 0;
}
p {
	margin: 0;
	padding: 0;
}
/* b{
	font-weight:normal;
} */
.costComposition th, .costComposition .category, .costComposition .subcategory {
	font-weight:normal;
}
.clear {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.page>.row>.contentSection+.clear,
.page>.row>.composite+.clear{
	margin-bottom: 2mm !important;
}
/*page 1 starts*/
.page {
	position: relative;
	padding: 3cm 1.5cm 0cm;
	width: 21cm;
	height:29.7cm;
	background-color: transparent;
	background: url(Images/logo-image.png);
	background-size: auto 94px;
	background-position: 1.2cm  0.2cm;
	background-repeat: no-repeat;
}
/* .page2, .page3 {
	position: relative;
	padding: 0cm 1cm 0cm 1cm;
	width: 19cm;
	height:26.2cm;

	height: auto;
} */
.page2 > .row1, .page3 > .row1{
	/*! border-top: 1pt solid #8E3193; */
	/*! padding-top:0.5cm; */
}
.contentSection h2 {
	font-family: var(--font);
	font-weight: bold;
	margin-bottom:0;
	padding: 0px;
	font-size: var(--h2);
    color: var(--primary);
}
.contentSection h3{
		font-size: var(--h2);
	font-weight: bold;
}
.SRIMop b, .MOPText b{
	font-family: var(--font);
	font-weight: normal;
}
.contentSection, .composite {
	margin: 0 0 0cm 0;
	padding:0;
}
/* .page1 .composite,.page .compositebody{
	background: var(--parabg);
} */
.contentSection ol{
	margin-bottom:0;
}
/* .contentSection p,.contentSection p.description,div.description{
	padding: 1mm 2mm;
	font-size: var(--bodyfont);
	line-height: 1.3;
} */
p:empty,h2:empty{
	display: none;
}
.contentSection h2{
	
	/* background: var(--headerbg);
	margin-top:0.2cm;
	padding: 1mm 2mm 0;
	color:var(--header);
  font-weight: bold; */
  margin-bottom:10px;
}
.contentSection h2 b{
	
	/* background: var(--headerbg); */
	margin-top:0.2cm;
	padding: 1mm 0mm 0;
	color:var(--header);
/* 	string-set: chaptertitle self; */
  font-weight: bold;
  
}
.page1 .row1 .row2>.contentSection>*{
	background:none !important;
	padding-left: 0;
	padding-right: 0;
}
/* .whatisthisproduct{
	background-color: var(--parabg);
} */
/* .contentSection p,.contentSection h2+.description,div.description{
	background-color: var(--parabg);
	width: auto;
} */
.contentSection.text p{
}
.composite .contentSection{
	padding:0;
}
.contentSection.costOverTime>table{
	margin: 0 0;
	
}
.contentSection.costOverTime{
	padding-bottom: 0.2cm;

}
.complexitywarning{
	/* background-color:#FF0000; */
	padding: 0.2cm 0cm 0cm 0cm;
	/* margin-bottom:0.4cm; */
	text-align:center;
}
.complexitywarning p{
	font-size: 12pt;
	color: var(--header);
}
.compositeheader{
	padding:0;
	margin:0;
}
.page1 > .row1 > .column1 {
	float: left;
	width: 100%;
}
.section .contentSection.keyinformationdocument {
	padding: 0;
	border: 0;

}
.page1 > .row1 > .column1 .keyinformationdocument h2 {
	/*     font-family: var(--font);
	font-weight: normal;
	font-size: 24pt;
	color: #009ca6;
	border-bottom: 1pt solid #009ca6;
	line-height: 1.5;
	padding: 0; */
	/*! margin-bottom: 0.3cm; */
	/*! position:relative; */
	/*! top:-0.2cm; */
	/*! background: url(Images/FEfundinfo.png); */
	/*! text-align: right; */
	/*! background-size: 5cm auto; */
	/*! background-position: 1.3cm 0.5cm; */
	/*! background-repeat: no-repeat; */
	/*! text-transform: uppercase; */
}
.section .contentSection.keyinformationdocument h2,
.section .contentSection.keyinformationdocument p{
	background: none;
}
.section .contentSection.keyinformationdocument{
	margin-bottom: 0.2cm;  
}
/* .page1 > .row1 > .column1 .keyinformationdocument h2 + p {
	line-height:1.2;
	font-weight:normal;
} */
.contentSection p.IssuedOnDate{
	text-align:right;
	/* background-color: var(--parabg); */
}
.sriRangeRiskRating, .sriRiskRating  {
	/* width: 18.6cm; */
	width: 100%;
	margin: 0 0 !important;
}
.sriRangeRiskRating .ratings > td, .sriRiskRating .ratings > td{
	padding:0.2cm 0.2cm;
	background: none;
}
.sriRangeRiskRating .rating, .sriRiskRating .rating {
	/* background-color: var(--parabg); */
	border: 1.5pt solid var(--ratingBorder);
	font-weight: normal;
	color: var(--black);
	background: var(--white);
	font-size: 10pt;
	text-align: center;
	border-radius: 2px;
}

/* table.sriRiskRating td.rating:last-of-type{
	border-right: 1pt solid var(--tableborder) !important;
} */
table.sriRiskRating td.rating:last-of-type {
    border-right: 1.5pt solid var(--ratingBorder) !important;
    border-bottom: 1.5pt solid var(--ratingBorder) !important;	
}
.sriRiskRating table th{
	background: none;
}

.sriRangeRiskRating .rating.selected.start, .sriRiskRating .rating.selected.start {
	border-left: 0.5pt solid #000000;
}
.sriRangeRiskRating .rating.selected.end, .sriRiskRating .rating.selected.end {
	border-right: 0.5pt solid #000000;
}
.sriRangeRiskRating .rating.selected, .sriRiskRating .rating.selected {
	background-color: var(--secondary);
	border-width: 1.5pt;
	border-color: var(--ratingBorder);
	/* color: #fff; */
}
.sriRiskRating .rating.selected {
}

.sriRangeRiskRating .arrow td, .sriRiskRating .arrow td{
	padding:0;
	height:0;
}
table tr.arrow td{
	border: none !important;
}
.sriRiskRating tbody>tr.ratings>td {
	border: none;
}
/* .sriRangeRiskRating .header th:first-child, .sriRangeRiskRating .description td:first-child, .sriRiskRating .header th:first-child, .sriRiskRating .description td:first-child {
	text-align: left;
	background-image:url(images/arrow-image.svg);
	background-repeat:no-repeat;
	background-position:top left;
	background-size:100%;
	background-color: transparent;
	border: 0;
	padding-top: 0.3cm;
} */
/* .sriRangeRiskRating .header th:last-child, .sriRangeRiskRating .description td:last-child, .sriRiskRating .header th:last-child, .sriRiskRating .description td:last-child {
	text-align: right;
	background-image:url(images/high_risk.svg);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:20%;
	background-color: transparent;
	border: 0;
	padding-top: 0.3cm;
} */
.sriRiskRating tr.header th{
	text-align: left;
	background-color: transparent;
	border: 0;
	padding-top: 0.3cm;
}
.sriRiskRating .arrow td{
	background-image:url(images/arrow-image.svg);
	background-repeat:no-repeat;
	background-position:top left;
	background-size:270px auto;
	height: 22px;
	width: 100%;
	min-width:270px;
}
.sriRiskRating tr.header {
    position: relative;
}
.costOverTime p b, .WhatAreTheCosts p b{
	font-weight:normal;
}
.costovertimetable{
	text-align:right;
	margin:0 0.2cm;
	width: 97.5%;
}
/*.performanceScenario table tr th:empty{
	display:none;
}*/
.performanceScenario>table> tbody>tr>th>.groupHeaderDiv1>table{
	border-bottom: 0.5pt solid var(--tableborder);

}
.performanceScenario table{
	text-align:right;
	margin:0 0.2cm;
	width: 97.5%;
}
.performanceScenario table .favourable.averagereturn+.invest td,
.performanceScenario table .invest:last-of-type td{
	background: var(--altrow)
}
.performanceScenario table table{
	margin-bottom: 0;
	width: 100% !important;
}
table table{
	margin: 0 !important;
	width: 100% !important;
}
.costovertimetable th, .performanceScenario table th{
	text-align:center;
}
table>tbody>tr>th[class*="group"],
table>tbody>tr>td[class*="group"]{
	padding: 0 !important;
	border: 0 !important;
}
.survival-scenario th{
	padding: 1mm 1mm;
	font-size: var(--bodyfont);
	font-weight: bold;
	background-color: var(--tablesubheaderbg);
}

.groupHeader1 table th{
	background: var(--tableheaderbg);
	font-size: var(--bodyfont);
	font-weight: bold;
	border-bottom: 0.5pt solid var(--tableborder);
	padding: 1mm 1mm;
	border-right: 0.5pt solid var(--tableborder);
} 
table th:not(.groupHeader1){
	border-right: 0.5pt solid var(--tableborder);
	color: var(--white);
	background:var(--tablerowheader);
}
.groupHeader1 table tr:last-of-type th {
	/*! border-bottom: none; */
	word-wrap: anywhere;
}
/*.costOverTime th:last-of-type[colspan="4"]{
	display: none;
}*/



.scenarioheader th:first-of-type,table tbody td.totalcostsheader{
	width: 5.6cm !important;
	max-width: 5.6cm !important;
	min-width: 5.6cm !important;
}


.costOverTime .groupHeader1 .groupHeaderDiv1 > table tbody tr:first-child .tableheader{
	display:none;
}
.scenarioheader th[class*='scenario'],table td[class*='totalcosts']{
	width: 4.05cm;
	max-width: 4.05cm;
	min-width: 4.05cm;
}
/* costovertime table fullwidth css for 4column <<<<*/
.costovertime_4columntable.contentSection.costOverTime>table{
	width: 100% !important;
}
.costovertime_4columntable .scenarioheader th:first-of-type,.costovertime_4columntable table tbody td.totalcostsheader{
	width: 25% !important;
}

.costovertime_4columntable .scenarioheader th[class*='scenario'],.costovertime_4columntable table td[class*='totalcosts']{
	width: 25% !important;
}/*>>>>>>costovertime table fullwidth css for 4column*/

/* costovertime table fullwidth css for 2column <<<<*/
.costovertime_2columntable.contentSection.costOverTime>table{
	width: 100% !important;
}
.costovertime_2columntable .scenarioheader th:first-of-type,.costovertime_2columntable table tbody td.totalcostsheader{
	width: 50% !important;
}

.costovertime_2columntable .scenarioheader th[class*='scenario'],.costovertime_2columntable table td[class*='totalcosts']{
	width: 50% !important;
}/*>>>>>>costovertime table fullwidth css for 2column*/

/* costovertime table fullwidth css for 3column <<<<*/
.costovertime_3columntable.contentSection.costOverTime>table{
	width: 100% !important;
}
.costovertime_3columntable .scenarioheader th:first-of-type,.costovertime_3columntable table tbody td.totalcostsheader{
	width: 33.4% !important;
}

.costovertime_3columntable .scenarioheader th[class*='scenario'],.costovertime_3columntable table td[class*='totalcosts']{
	width: 33.3% !important;
}/*>>>>>>costovertime table fullwidth css for 3column*/

/*<<<<<<<<<<<performanceScenario table fullwidth css for 3periodcolumn*/
/*.performanceScenario_3columnperiod*/
/*.performanceScenario>table>tbody>tr>th>div>table{
	width:18.5cm !important;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr:nth-child(4){
	width:100% !important;
    display: table-row;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr.header > th:first-child{
	width:90% !important;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr.header > th:last-child{
	width:10% !important;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr:nth-child(4)> th:first-child{
	width:6cm !important;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr:nth-child(4)> th.period1{
	width:3cm !important;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr:nth-child(4)> th.period2{
	width:3cm !important;
}
.performanceScenario>table>tbody>tr>th>div>table>tbody tr:nth-child(4)> th.period3{
	width:3cm !important;
}
*/

/*>>>>>>performanceScenario table fullwidth css for 3periodcolumn*/
.costovertimetable .scenarioheader, .performanceScenario table .scenarios {
	border-top:0.5pt solid var(--tableborder);
	border-bottom:0.5pt solid var(--tableborder);
	background-color:var(--tablesubheaderbg);
}
.incidentalcosts th,.oneofcosts th{
	background-color:var(--tablesubheaderbg);
}
.costovertimetable .investmentheader th:first-child, .costovertimetable .scenarios:first-child, .costovertimetable .totalcostsheader:first-child, .costovertimetable .riyheader:first-child, .performanceScenario table th:first-child{
	text-align:left;
}
.costovertimetable .investmentheader {
	background: var(--tableheaderbg);
} .costComposition th{
	/*! padding:0; */
}
.costComposition table{
	margin:0 0;
	width:auto !important;
}
.costComposition>table{
	width:100% !important;
}
.costComposition table th table{
	width: 100% !important;
}
.costComposition{
	/* background: var(--parabg); */
	padding-bottom: 0.2cm !important;
}
.costComposition table td, .performanceScenario table td{
	border-top:0.5pt solid var(--tableborder);
	border-right: 0.5pt solid var(--tableborder);
	border-bottom: 0.5pt solid var(--tableborder);
}
.performanceScenario table tr:nth-child(even) td{
	border-right:0.5pt solid var(--tableborder);
	border-bottom:0.5pt solid var(--tableborder);
}
.performanceScenario table td.description {
  width: 5.5cm;
}
/* table td:not(.ratings):last-of-type,
table th:last-of-type{
	border-right: 0 !important;
	border-bottom: 0.5pt solid var(--tableborder);
} */
.performanceScenario table td, .costovertimetable td{
	/*! border-right:0; */
}
td.description {
  width: 5.5cm;
}
.performanceScenario table td:last-child, .costovertimetable td:last-child{
	border-right:0;
}
.performanceScenario table .scenario{
	font-family: var(--font);
	font-weight: normal;
}
.costComposition .subcategory {
	width: 20%;
}
.costComposition .category{
	width:12%;
}
.costComposition .costs{
	width:11%;
}
.costComposition table .category, .costComposition table .subcategory, .costComposition table .costs{
	border-right:0.5pt solid var(--tableborder);
}
.costComposition th, .costComposition .category, .costComposition .subcategory{
}
.totalcostsheader, .riyheader, .category, .subcategory{
	font-family: var(--font);
	font-weight: normal;
}
.compositionofcosts table table .tableHeader>th,
.costComposition table table .tableHeader>th{
	text-align: center !important;
}
.pagenumbers.contentSection{
	padding:0cm 0 0 ;
	margin:0;
	position: running(pgnum);
	text-align: right;
}
.pagenumbers.contentSection p{
	background: none;
}
.pagenumbers .footer{
	margin: 0 0.8cm 1cm 0;
}
.performanceScenario table th span, .perfscenarios table th span {
	display:block;
}
.performanceScenario .period1, .performanceScenario .period2, .performanceScenario .period3, .perfscenarios .period1, .perfscenarios .period2, .perfscenarios .period3{
	width:3cm;


}

.performanceScenario table td:empty, .perfscenarios table td:empty{
	/* display:none; */
}
.generalinformation {
	/* 	position: running(ProdDate); */

	/* border:1pt solid #b3c1c2 !important; */
}
.generalinformation  h2{
	margin: 0;
}
.generalinformation{
	margin-top: 0.2cm;
}
.page1 > .row1 > .column1 .keyinformationdocument h2{
	/* 	position: running(pageTopBar); */
	padding: 0;
	/*! height: 1cm; */
	font-size: 12pt;
    font-weight: bold;
	/* position: absolute;
	top: 0.85cm; */
	color:var(--darkBlue);
	margin-bottom:15px;
}
p {
    margin-bottom: 0.2cm;
}
p:empty{
	margin-bottom: 0;
}
.otherrelevantinformation{
	/*! page-break-before: always; */
}
.otherrelevantinformation h2{
	/*! margin: 0; */
}
.performanceScenario .period1, .performanceScenario .period2, .performanceScenario .period3{
	text-align:left;
}

.costComposition .groupHeaderDiv1 tr.oneofcosts th:first-child{
	/*! width: 70% !important; */
}
.costComposition .groupHeaderDiv1 tr.oneofcosts th:last-child{
	/*! width: 5.35cm !important; */
	/*! word-wrap: break-word !important; */
}
.compositionofcosts .groupHeaderDiv1 tr.oneofcosts th:first-child,.costComposition .groupHeaderDiv1 tr.oneofcosts th:first-child{
	max-width: 10cm !important;
}
.compositionofcosts .groupHeaderDiv1 tr.oneofcosts th:last-child,.costComposition .groupHeaderDiv1 tr.oneofcosts th:last-child{
	width: 4cm !important;
}
.costComposition .groupRowDiv1 tr.transactioncosts td,.costComposition .groupRowDiv1 tr.exitcosts td,.costComposition .groupRowDiv1 tr.entrycosts td,.costComposition .groupRowDiv1 tr.managementfeesandothercosts td,.costComposition .groupRowDiv1 tr.performancefees td {
	max-width: 9cm !important;
}
.costComposition .groupRowDiv1 tr.transactioncosts td:first-child,.costComposition .groupRowDiv1 tr.exitcosts td:first-child,.costComposition .groupRowDiv1 tr.entrycosts td:first-child,.costComposition .groupRowDiv1 tr.managementfeesandothercosts td:first-child,.costComposition .groupRowDiv1 tr.performancefees td:first-child{
	max-width: 5cm !important;
}
.costComposition .groupRowDiv1 tr.transactioncosts td:last-child,.costComposition .groupRowDiv1 tr.exitcosts td:last-child,.costComposition .groupRowDiv1 tr.entrycosts td:last-child,.costComposition .groupRowDiv1 tr.managementfeesandothercosts td:last-child,.costComposition .groupRowDiv1 tr.performancefees td:last-child{
	width: 4cm !important;
}

.riyheader > .annualcost-label, .totalcostsheader> .totalcost-label{
	text-decoration:underline;
}/*Adding underline for MOP docs -pbi 223086*/




@page{
	height:27.2cm;
	margin-bottom:1cm;
	margin-top:0;
	@top-left{
		/* 		content:element(pageTopBar); */
/* 				content:string(chaptertitle); */
/* 			font-family: var(--font);
	font-weight: normal;
 		 position: absolute; */
/* 		border-bottom: 1pt solid #b3c1c2; */
/* 		display: block;
		width: 19cm;
		height: 1.2cm;
		margin: 0 1cm; */
	}
	@bottom-left{
		/* 		content:element(ProdDate);
		margin: -0cm 0 0cm 0.8cm;
		position: relative;
		z-index: 1; */
	}
	@bottom-right{
		content:element(pgnum);
		width: 4cm;
		position: relative;
		z-index: 1;
		margin: 0cm 0 0cm 0;
	}
	@bottom-center{
		content: "";
		position:absolute;
		z-index: 0;
		/* background:#efefef; */
		width:21cm;
		left:0;
		height:1cm;
		font-family: var(--font);
	}
}
@page:first{
	margin-top:0cm;
		@top-left{
	   content:none;
			border: none;
	}
}
 .performanceScenario table tr.holding-period th:last-child,.performanceScenario table tr.investment-amount th:last-child,.performanceScenario table tr.insurance-premium th:last-child
{
	text-align:left;
}

/*monthlyperformancetable  design styles<<<<<<<<<<<<<<<<<<<<*/
.monthlyperformancetable h2{
	color: #009ca8;
}
.monthlyperformancetable1 *{
	font-size:6pt !important;
	margin:0 !important;
	padding:0 !important;
	font-weight:normal !important;
	text-align:center;
}
.monthlyperformancetable table th:not(.groupHeader1){
	border:none !important;
}
.monthlyperformancetable1 tr.headerData th{
	text-align:center;
	background: #009ca8;
	color: #fff;
	border-right-color: var(--tableheader) !important;
}
.monthlyperformancetable th.groupHeaderDiv1 {
	padding:0 !important;
}
.monthlyperformancetable1 > table tr th{
 /*border:0;*/
 border: 0.5pt solid transparent !important;
}
.monthlyperformancetable1 table tr td{
 /*border:0;*/
 border: 0.5pt solid var(--tableborder) !important;
}
.monthlyperformancetable1 table tr td{
  padding:3px 2px !important;
}

.monthlyperformancetable1 .groupHeaderDiv1 .headerData th{
	font-size:7pt !important;
	border-left-color:transparent !important;
	border-right-color:transparent !important;
}

.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th{
	word-break: break-word;
	background:#e6f6f6 !important;
    border-color:#e6f6f6 !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	color: #000;
	  padding:4px 2px !important;

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(1),.monthlyperformancetable1 .groupRowDiv1 .Row td:first-child{
	width: 6%;
	border-left-color: transparent !important;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(2),.monthlyperformancetable1 .groupRowDiv1 .Row td:nth-child(2){
	width: 6%;
	text-align: center;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(3),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(1){
	width: 5%;
	text-align: center;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(4),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(2){
	width: 11.75%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(5),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(3){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(6),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(4){
	width: 11.75%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(7),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(5){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(8),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(6){
	width: 11.75%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(9),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(7){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(10),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(8){
	width: 11.75%;
	border-right-color: transparent;
}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(11),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(9){
	width: 7%;
	color:rgb(0,0,0,0.5);

}
.monthlyperformancetable1 .groupHeaderDiv1 .SubheaderData th:nth-child(12),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(10){
	width: 8%;
	text-align: center;
}
.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(3),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(5),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(7),.monthlyperformancetable1 .groupRowDiv1 tr:not(.Row) td:nth-child(9){
		/* padding-left:20px !important; */
		color:rgb(0,0,0,0.5);
}
.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+5) td,.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+6) td,.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+7) td,.monthlyperformancetable .groupRowDiv1 tr:nth-child(8n+8) td{/*5,13,21*/
	background: #cccccc2b;
}

.ratings td, .ratings th, .ratings table {
    border-collapse: separate;
	border-spacing: 2px;
}
.ratings td{
	padding: 1.7mm 0mm;
}
.sriRiskRating > tbody {
    width: 270px;
    max-width: 270px;
    display: table;
    margin: 0 auto;
	position: relative;
}
tr.ratings table > tbody tr:first-child th {
    border: none !important;
}
.sriRiskRating tr.header th {
    position: absolute;
    top: -22px;
    z-index: 9;
	padding: 0;
	color:var(--black);
	font-weight: normal;
}
.sriRiskRating tr.header th:first-child {
    left: -65px;
	right:auto;
}
.sriRiskRating tr.header th:last-child {
    right: -65px;
	left:auto;
}
.groupRowDiv1 > table {
    border-left: 0.5pt solid var(--tableborder);
    border-right: 0.5pt solid var(--tableborder);
}
.HowlongshouldIholditandcanItakemoneyoutearly b:first-child {
    color: var(--orange);
}
a {
    color: var(--skyBlue) !important;
}
.page2 > .row1 .row3 p.item2, .page2 > .row1 .row4 p.item2 {
    font-weight: bold;
}
.generalinformation {
    border: 1pt solid #B3C1C2 !important;
    padding: 0.2cm;
    background-color: var(--grayBg);
}
.page1 > .row3,.page1 > .row4 ,.page2 > .row1,.page2 > .row2,.page2 > .row3,
.page3 > .row1,.page3 > .row2,.page3 > .row3,.page3 > .row4{
    padding: 0.2cm;
    background-color: var(--grayBg);
    margin-bottom: 2mm;
}


/*monthlyperformancetable  design styles>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* NASCIT-priips */