@font-face {
	font-family: "zurichsans-light";
	src: url("images/zurichsans-light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: "zurichsans-medium";
	src: url("images/zurichsans-medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: "zurichsans-bold";
	src: url("images/zurichsans-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
  :root {
	  --primary: #00179c;
	  --secondary: #1985ff;
	  --red: #E60000;
	  --black: #000000;
	  --white: #FFFFFF;
	  --border: var(--black);
	  --tableborder: var(--black);
	  --tableheaderbg: none;
	  --tableheader: none;
	  --alert: var(--secondary);
	  --ratingbg: var(--white);
	  --ratingborder: var(--secondary);
	  --ratingselected: var(--secondary);
	  --bodycolor: var(--primary);
	  --bodyfont: 9pt;
	  --footerfont: 6.5pt;
	  --lineheight: 1.1;
	  --h2: 9pt;
	  --h3: 8pt;
	  --fontRegular: zurichsans-light;
	  --fontBold: zurichsans-medium;
	  --fontLightBold: zurichsans-light;
	  
  }
  /* Set to true if logo should be in upside/set to false if logo should be in down*/
  body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	padding: 0;
	margin: 0;
	line-height: var(--lineheight);
	color: var(--bodycolor);
	font-family: var(--fontRegular);
	font-size: var(--bodyfont);
  }
  table {
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  border-collapse: collapse;
	  font-size: 7pt;
  }
  table th {
	  font-family: var(--fontBold);
	  text-align: left;
	  margin: 0;
	  padding: 0;
  }
  table td {
	  margin: 0;
	  padding: 0;
  }
  h2 {
	font-family: var(--fontBold);
	font-size: var(--h2);
	font-weight: 100;
	color: var(--bodyfont);
	border-top: 0.5pt solid var(--black);
	padding: 0.21cm 0 0;
	margin: 0 0 0.4cm;
  }
  p:empty, h2:empty {
	  margin: 0;
	  padding:0;
	  border: 0;
	  max-width: 0;
	  min-height: 0;
	  width: auto;
	  height: auto;
  }
  p, ul, li {
	  margin: 0;
	  padding: 0;
  }
  
  p {
	  margin: 0 0 0.15cm;
  }
  b {
	  font-family: var(--fontBold);
	  font-weight: 100;
  }
  h2 {
	bookmark-level: 1;
  }
  
  .subheader p {
	bookmark-level: 2;
  }
  /* page styles*/
  .page {
	  width: 19cm;
	  height: auto;
	  padding: 0cm 1cm 0.25cm 1cm;
  }
  
  .page1 {
	/*background: url(images/BCC_logo.svg);
	background-size: 6.16cm 0.56cm;
	background-position: 1cm 0;
	background-repeat: no-repeat;*/
  }
  .page1 > .row1 .contentSection h2 {
	  font-size: 24pt;
	  padding-top: 0;
	  border: 0;
  }
  .page1 .row2 .contentSection .item3 {
	  font-family: var(--fontBold);
  }
  .page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 {
	  width: 60%;
	  margin-right: 1%;
  }
  .page1 > .row6 > .composite1 > .compositebody > .row2 > .column2 {
	  width: 39%;
  }
  .discreteChart {
	  height: 270px;
  }
  .groupHeaderDiv1 th, .groupRowDiv1 td {
	  padding: 1mm 0.5mm;
	  border-right: 0.5pt solid var(--black);
	  border-bottom: 0.5pt solid var(--black);
	  text-align: left;
	  width: 8%;
	  text-align: center;
  }
  .groupHeaderDiv1 tr:first-child th {
	  border-top: 0.5pt solid var(--tableborder);
  }
  .groupHeaderDiv1 table th:first-child, .groupRowDiv1 table td:first-child {
	  border-left: 0.5pt solid var(--tableborder);
  }
  .groupHeaderDiv1 th.keycell, .groupRowDiv1 td.keycell {
	  width: 4%;
	  text-align: left;
  }
  .groupHeaderDiv1 th.rowheader, .groupRowDiv1 td.rowheader {
	  text-align: left;
	  width: 16%;
  }
  
  .pagenumbers .footer, .pagenumbers .Pagination {
	position: running(pageNumber);
	text-align: right;
	font-family: var(--fontRegular);
	font-size: var(--footerfont);
	display: none;
  }
  
  /* @page styles */
  @page {
	  margin: 1cm 0 1cm 0;
	  padding: 0cm;
	  @bottom-right {
		  content: element(pageNumber);
		  margin:0 1.5cm 0.5cm;
		  padding: 0cm;
		  font-family: var(--fontRegular);
		  font-size: var(--footerfont);
	  }
  }
  
  /*theme name:Zurich_P*/