@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 11pt;
  color: #000000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: disc;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-left: 16px;
}

.logo {
  padding-bottom: 0;
  /* 	background-image: url('./images/fefundinfo.png'); */
  background-repeat: no-repeat;
  background-position: top right;
  /*! background-size:   6.6cm auto !important; */
  width: 100%;
  height: 2cm;
  margin-bottom: 0.2cm;
}

.page {
  position: relative;
  width: 21cm;

  padding: 0cm 1cm 1cm 1cm;
  /*! height: auto; */
}

.column > .section {
  margin-left: 0;
}

.column:first-child > .section {
  margin-left: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  font-size: 10pt;
}

h2 {
  padding: 0.3cm 0.2cm;
  background-color: #00a59a;
  color: #fff;
}

b {
  font-weight: bold;
}

p {
  margin: 0;
  margin-bottom: 0.25cm;
}

p:empty {
  display: none;
}

h3 br {
  display: none;
}

.Header h2 {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.composite_TargetMarketSummary {
  background: #edecea;
  margin-bottom: 0.4cm;
}

.composite_TargetMarketSummary p {
  padding: 0.2cm;
  margin: 0;
}

.SH_negativetargetmarket h2 {
  background-color: transparent;
  color: #00a59a;
  padding: 0.1cm 0.2cm;
}

.page1 > .row2 .DocumentHeader p.item2 {
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(123, 123, 123);
  padding-bottom: 0.2cm;
}

.DocumentSubheader p.ProductName {
  font-size: 11.4pt;
  text-transform: uppercase;
  color: rgb(0, 71, 66);
}

.page1 > .row4 .item2 {
  background-color: #edecea;
  padding: 0.25cm;
  margin-bottom: 0.5cm;
}

.Key {
  margin-top: 20px;
  margin-bottom: 20px;
}

.InformationRight span:first-child {
  float: left;
  line-height: 18px;
  padding: 3px 5px;
  width: 49%;
  border-right: 0px solid #666;
}

.InformationRight span:last-child {
  float: left;
  line-height: 18px;
  padding: 3px 5px;
  width: 49%;
}

.InformationLeft span:first-child {
  float: left;
  line-height: 18px;
  padding: 3px 5px;
  width: 50%;
}

.InformationLeft span:last-child {
  float: left;
  line-height: 18px;
  padding: 3px 5px;
  width: 50%;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-style: solid;
  border-color: #666;
  border-width: 1px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-style: solid;
  border-color: #666;
  border-width: 1px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-snn5 {
  background-color: #f9b548;
  border-color: #666;
  text-align: left;
  vertical-align: top;
}

.tg .tg-98di {
  background-color: #91dbb1;
  border-color: #666;
  text-align: left;
  vertical-align: top;
}

.tg .tg-tw5s {
  background-color: #fc6847;
  border-color: #666;
  text-align: left;
  vertical-align: top;
}

/* TMD table design*/

.TMD_Table h2 {
  float: left;
  line-height: 1px;
  padding-left: 3pt;
  font-weight: bold;
  width: 100%;
  background-color: #c4c4c4;
  /* border: 1px solid #666; */
  border-collapse: collapse;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.TMD_Table span:first-child {
  float: left;
  font-weight: 300;
  line-height: 18px;
  padding-left: 3pt;
  width: 63%;
}

.TMD_Table span:last-child {
  float: left;
  line-height: 18px;
  padding: 3px;
  width: 37%;
  background-color: #00b050;
  display: block;
}

.TMD_Table p.item2 {
  /* Position: relative; */
  /* left: -17pt; */
  /* padding: 2pt; */
  /* width: 90.6%; */
  /* border-right:1px solid #666; */
  padding: 3px 5px;
}

.Investment_Objective,
.Product_Use,
.Investment_Timeframe,
.Risk_and_Return,
.Redemption_Frequency,
.Liquidity,
.InvestmentAmount {
  border-collapse: collapse;
}

.Investment_Objective {
  width: 5cm;
}

.Investment_Objective_Commentary {
  /*! max-width: 11cm */
}

.InvestmentAmount {
  border-bottom: 0;
  border-collapse: collapse;
}

.TMD_Table h3 {
  width: 100%;
  padding: 3px 5px;
  font-weight: bold;
  color: #fff;
  /* background-color: #00a59a; */
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  font-size: 10pt;
}

.Target_market_column {
  /* width: 110%; */
}

.TMD_indicator_column {
  /* width: 110%; */
}

.Product_description_column {
  /*! width: 90%; */
}

.composite_TMDTable {
  padding: 0;
  border: 1px solid #666;
  width: 19cm;
}

.composite_TMDTable tr:first-of-type td {
  padding: 0;
  background: #878ea1;
  padding: 0.3cm 0.2cm;
  color: #fff;
}

.composite_TMDTable tr td {
  padding: 0;
  border: 1px solid #666;
}

.composite_TMDTable tr td h2,
.composite_SMATMDsectiontablebody tr td h2 {
  background: #c4c4c4;
  color: #fff;
  font-size: 9pt;
  padding: 0.2cm;
}

.composite_TMDTable tr td p,
.composite_SMATMDsectiontablebody tr td p {
  margin: 0;
  padding: 0.2cm;
}

.composite_TMDTable tr td,
.composite_SMATMDsectiontablebody tr td,
.composite_DistributionsConditions tr td,
.page4 .compositetablebody tr td {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.composite_SMATMDsectiontablebody tr td {
  border: 1px solid #666;
  border-top: none;
}

.composite_TMDTable tr td.composite-table-td.composite-table-td3,
.composite_SMATMDsectiontablebody tr td.composite-table-td.composite-table-td3 {
  width: 10cm;
}

.composite_SMATMDsectiontablebody tr td.composite-table-td.composite-table-td2 {
  width: 3cm;
}

.composite_DistributionsConditions tr td .indicatorKeyValue,
.composite_TMDTable tr td .indicatorKeyValue,
.page4 .compositetablebody tr td .indicatorKeyValue,
.composite_SMATMDsectiontablebody tr td .indicatorKeyValue {
  position: absolute;
  top: 0;
  height: 300px;
  width: 220px;
}

.Distributions_header,
.Distribution_Description_column {
  /* float: left; */
  /* line-height: 19px; */
  padding-left: 3pt;
  width: 100%;
  color: white;
  /* background-color: black; */
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.Distributions_header {
  width: 100%;
  background: #000;
}

.Distributions_header h2,
.Review_triggers_header h2,
.Mandatory_review_header h2,
.Distributor_Table h2,
.Appropriateness_Table h2 {
  font-weight: bold;
  padding: 12px 5px;
}

.Conditions_Table h3 {
  /* float: left; */
  padding: 12px 5px;
  color: white;
  /* background-color: black; */
  /* border: 1px solid black; */
  border-collapse: collapse;
  min-height: 41px;
  font-size: 10pt;
}

.Conditions_Table h3 > br {
  display: none;
}

.Conditions_Table span:first-child {
  float: left;
  font-weight: 300;
  line-height: 18px;
  padding-left: 3pt;
  width: 63%;
}

.Conditions_Table span:last-child {
  float: left;
  font-weight: 300;
  line-height: 18px;
  padding: 3px 5px;
  width: 35%;
}

.Distribution_Description {
  /* position: relative; */
  /* line-height:11px; */
  /* width: 94%; */
  /* left: -21mm; */
  /* top: 2px; */
  /* border: 1px solid black; */
}

.Distribution_column,
.Distribution_Description_column {
}

.Location {
  margin-top: 1.5cm;
}

.Conditions_Tableheader p:empty {
  display: none;
}

.InformationRight {
  width: 100%;
  border: 0px solid #000;
  padding: 0;
  margin: 0;
  border-bottom: 0;
  margin-top: 0;
}

.InformationRight div {
  /*! background-color: #edecea; */
  padding: 3px;
  width: 100%;
}

.InformationRight div:nth-last-child(2) {
  border: 0;
}

.InformationLeft {
  width: 100%;
  border: 0px solid #000;
  padding: 0;
  margin: 0;
  border-bottom: 0;
  margin-top: 0;
}

.composite_Identifierstablebody {
  margin-bottom: 0.4cm;
}

.page1 > .row9 {
  background: #edecea;
  margin-bottom: 0.5cm;
}

.InformationLeft div {
  /*! background-color: #edecea; */
  padding: 3px;
  width: 100%;
}

.InformationLeft div:nth-last-child(2) {
  border: 0;
}

.TMD_Tablebody .column1 .Target_market_column,
.TMD_Tablebody .column2 .TMD_indicator_column,
.TMD_Tablebody .column3 {
  background: #00a59a;
}

.Target_market_column p:empty {
  display: none;
}

.TMD_Table p:empty,
.Conditions_Table p:empty {
  display: none;
}

.TMD_Table .row2 {
  background-color: #00a59a;
  padding: 12px 5px;
}

* {
  box-sizing: border-box;
}

.composite.TMD_Table {
  border: 1px solid #000;
}

.TMD_Table .column > .section,
.Conditions_Table .column > .section {
  margin-left: 0;
}

.Investment_Objective div,
.Product_Use div,
.Investment_Timeframe div,
.Risk_and_Return div,
.Redemption_Frequency div,
.Liquidity div,
.Distribution div,
.InvestmentAmount div {
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}

.Investment_Objective div span:first-child,
.Product_Use div span:first-child,
.Investment_Timeframe div span:first-child,
.Risk_and_Return div span:first-child,
.Redemption_Frequency div span:first-child,
.Liquidity div span:first-child,
.Distribution div span:first-child,
.Review_period div span:first-child,
.InvestmentAmount div span:first-child {
  border-right: 0px solid #666;
  padding: 3px 5px;
  font-size: 10pt;
}

.Investment_Objective div:first-child,
.Product_Use div:first-child,
.Investment_Timeframe div:first-child,
.Risk_and_Return div:first-child,
.Redemption_Frequency div:first-child,
.Liquidity div:first-child,
.Distribution div:first-child,
.InvestmentAmount div:first-child {
  border-top: 0;
}

.Investment_Objective div:nth-last-child(2),
.Product_Use div:nth-last-child(2),
.Investment_Timeframe div:nth-last-child(2),
.Risk_and_Return div:nth-last-child(2),
.Redemption_Frequency div:nth-last-child(2),
.Liquidity div:nth-last-child(2),
.Distribution div:nth-last-child(2),
InvestmentAmount div:nth-last-child(2) {
  border-bottom: 0;
}

.Investment_Objective div:nth-last-child(1),
.Product_Use div:nth-last-child(1),
.Investment_Timeframe div:nth-last-child(1),
.Risk_and_Return div:nth-last-child(1),
.Redemption_Frequency div:nth-last-child(1),
.Liquidity div:nth-last-child(1),
.Distribution div:nth-last-child(1),
InvestmentAmount div:nth-last-child(1) {
  border: 0;
}

.InvestmentAmount div:empty {
  border: 0;
}

.Distributions_header .item3,
.Review_triggers_header p,
.Mandatory_review_header p,
.Distributor_reporting_header p,
.Appropriateness_header p {
  font-size: 9pt;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0.25cm;
  color: #000;
}

.page1 > .row4 > .composite1 > .TMD_Tablebody > .row2 > .column1,
.page2 > .row1 > .composite1 > .Conditions_Tablebody > .row3 > .column1 {
  width: 51%;
}

.page1 > .row4 > .composite1 > .TMD_Tablebody > .row2 > .column3,
.page2 > .row1 > .composite1 > .Conditions_Tablebody > .row3 > .column3 {
  width: 55%;
}

.page2 > .row1 > .composite1 > .Conditions_Tablebody > .row3 > .column2 {
  width: 49%;
}

.Distribution_column,
.Distribution_Channel,
.Distribution_Description_column {
  background: #c4c4c4;
  min-height: 1cm;

  display: table;
  width: 100%;
}

.Distribution_column h3,
.Distribution_Channel h3,
.Distribution_Description_column h3 {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.Distributions_header,
.Review_triggers_header,
.Mandatory_review_header,
.Distributor_reporting_header,
.Appropriateness_header {
  background: #ffff;
  padding: 3px 5px;
  color: #000;
}

.Conditions_Table,
.Review_triggers_table,
.Review_periods_Table,
.Distributor_Table,
.Appropriateness_Table {
  border: 1px solid #000;
  margin-bottom: 20px;
}

.Distribution_Description p {
  border-bottom: 1px solid #000;
  margin-bottom: 0;
  padding: 4px 5px 5px;
}

.Distribution_Description p:last-child {
  border-bottom: 0;
}

.horizontal-list div {
  width: 100%;
}

.horizontal-list div:empty {
  display: none;
}

.composite_Identifierstablebody .composite-table-td {
  background-color: #edecea;
  padding: 0;
  vertical-align: top;
  width: 10cm;
}

.Review_triggers p {
  border-bottom: 1px solid #000;
  padding: 3px 5px;
  margin-bottom: 0;
}

.Review_triggers p:last-child {
  border-bottom: 0;
}

.Review_period div span:first-child {
  width: 50%;
  font-weight: normal;
  padding: 0.1cm 0;
}

.Review_period div span:last-child {
  float: left;
  padding: 0.1cm 0;
}

.Review_period div,
.Distributor_reporting div,
.Appropriateness_fields div {
  border-bottom: 1px solid #666;
}

.Review_period div:nth-last-child(1),
.Distributor_reporting div:nth-last-child(1),
.Appropriateness_fields div:nth-last-child(1) {
  border-top: 0;
}

.Review_periods_Table .column > .section,
.Distributor_Table .column > .section {
  margin-left: 0;
}

.Review_periods_Table .row3,
.Distributor_Table .row3 {
  background-color: #c4c4c4;
}

.Review_periods_Table h3,
.Distributor_Table h3 {
  font-size: 10pt;
  padding: 3px 5px;
}

.Review_periods_Table .row3 p:empty,
.Distributor_Table .row3 p:empty {
  display: none;
}

.Review_period_column,
.Reporting_requirement_column {
  /* 	border-right: 1px solid #000; */
}

.Review_period_column,
.Maximum_period_column {
  height: 0.8cm;
  padding: 0.1cm 0;
  border-bottom: 1px solid #666;
}

.reviewtriggershead.contentSection p {
  /*! padding: 12px 5px; */
  margin: 0;
}

.Distributor_reporting div span {
  width: 50%;
  padding: 3px 5px;
}

.Distributor_reporting div span:first-child,
.Appropriateness_fields div span:first-child {
  font-weight: normal;
  border-right: 1px solid #000;
}

.Distributor_reporting div span:last-child {
  font-weight: normal;
  border-left: 1px solid #000;
  margin-left: -1px;
  left: -1px;
  position: relative;
}

.Distributer_Requirements {
  border-collapse: collapse;
  border-spacing: 0;
}

.Distributer_Requirements td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.Distributer_Requirements th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.Distributer_Requirements .tg-ng7p {
  background-color: #f8f8f8;
  border-color: #330001;
  text-align: left;
  vertical-align: top;
}

.Distributer_Requirements .tg-8tiu {
  background-color: #c4c4c4;
  border-color: #330001;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.Distributer_Requirements .tg-73oq {
  width: 37%;
  background-color: #f8f8f8;
  border-color: #000000;
  text-align: left;
  vertical-align: top;
}

.Distributer_Requirements .tg-ng7p {
  border-color: #330001;
  text-align: left;
  vertical-align: top;
}

.Distributer_Requirements .tg-2e5w {
  background-color: #c4c4c4;
  border-color: #330001;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.Distributer_Requirements .tg-73oq {
  border-color: #000000;
  text-align: left;
  vertical-align: top;
}

.Appropriateness_fields div span:first-child {
  width: 35%;
}

.Appropriateness_fields div span {
  padding: 3px 5px;
}

.Appropriateness_fields div span:last-child {
  float: left;
}

.Appropriateness_commentary p {
  margin-bottom: 0;
  padding: 3px 5px;
}

.Key h2 + p {
  font-style: italic;
  font-size: 9pt;
  margin-top: 4px;
}

.page1 > .row4 > .composite1 > .TMD_Tablebody > .row4 > .column1,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row6 > .column1,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row8 > .column1,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row10 > .column1,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row12 > .column1,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row14 > .column1 {
  width: 42%;
}

.page1 > .row4 > .composite1 > .TMD_Tablebody > .row4 > .column2,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row6 > .column2,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row8 > .column2,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row10 > .column2,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row12 > .column2,
.page1 > .row4 > .composite1 > .TMD_Tablebody > .row14 > .column2 {
  width: 58%;
}

.page1 > .row4 > .composite1 > .TMD_Tablebody > .row2 > .column2 {
  width: 16%;
}

.composite_TargetMarketDescription {
  background: #edecea;
  padding-bottom: 0.3cm;
}

.composite_TargetMarketDescription p {
  padding: 0.2cm;
  margin: 0;
}

.content_ReviewTriggers {
  padding-right: 0.2cm;
}

.Appropriateness {
  padding: 0.2cm;
  background: #edecea;
  margin-bottom: 0.4cm;
}

.reviewtriggershead h2,
.SH_reviewtriggers h2 {
  font-weight: bold;
  padding: 0.2cm 0cm;
  color: #00a59a;
  font-size: 9pt;
  margin-bottom: 0;
  /* 	padding-bottom: 0; */
  background: no-repeat;
}

.composite_TargetMarketDescription .reviewtriggershead h2 {
  padding: 0.2cm 0.2cm 0;
}

.composite_ReviewProcessbody .row3 > .column1 > .row1 {
  /*! display: none; */
}

.composite_ReviewProcessbody > .row3 {
  padding: 0 0.2cm 0.2cm;
  background: #edecea;
}

.composite_ReviewProcessbody {
  margin-bottom: 0.4cm;
}

.page2 > .row:not(.row1) * {
  background: #edecea;
  margin: 0;
}

.page2 > .row:not(.row1) p,
.page2 > .row:not(.row1) h2 {
  padding: 0.25cm;
}

.customTable {
  padding: 0 0.25cm;
}

.customTable .indicatorKeyTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}

.indicatorKeyColumn {
  padding: 0.25cm;
  border-left: 1px solid #000;
  width: 5cm;
}

.reviewperiodshead h2 {
  background-color: #fff !important;
  font-weight: bold;
  padding: 12px 5px;
  color: #00a59a;
  font-size: 9pt;
  margin-bottom: 0;
  padding-bottom: 0.25cm;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.page5 table {
  width: 100%;
}

.page5 table th {
  border-left: 1px solid #c4c4c4 !important;
  border-right: 1px solid #c4c4c4 !important;
}

.page5 table td {
  border-color: #666 !important;
  padding: 0;
}

.Definitions1 {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.4cm;
  width: 100%;
}

.Definitions1 td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.Definitions1 th {
  border-color: black;
  border-style: solid;
  border-width: 0px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.Definitions1 .tg-lfwx {
  background-color: #c4c4c4;
  border-color: #666666;
  color: #333333;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.Definitions1 .tg-uj4d {
  background-color: #c4c4c4;
  border-color: #666666;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.Definitions1 .tg-joh6 {
  border-color: #666666;
  text-align: left;
  vertical-align: top;
}

.composite_DistributionsConditions {
  border: 1px solid #666;
}

.composite_DistributionsConditions td {
  padding: 0;
}

.composite_DistributionsConditions
  .composite-table-tr.composite-table-tr2
  > td:nth-of-type(1) {
  width: 30%;
}

.composite_DistributionsConditions
  .composite-table-tr.composite-table-tr2
  > td:nth-of-type(2) {
  width: 20%;
}

.composite_DistributionsConditions
  .composite-table-tr.composite-table-tr2
  > td
  > div {
  padding: 0.3cm 0.1cm;
  background-color: #c4c4c4;
}

.composite_DistributionsConditions
  tr.composite-table-tr.composite-table-tr2
  td {
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #666;
}

.composite_DistributionsConditions
  tr.composite-table-tr.composite-table-tr2
  td:first-of-type {
  border-left: 1px solid #666;
}

.composite_DistributionsConditions
  tr:not(.composite-table-tr.composite-table-tr2):not(
    .composite-table-tr.composite-table-tr1
  )
  > td {
  border-left: 1px solid #666;

  border-top: 1px solid #666;
}

.composite_DistributionsConditions tr td {
  border: 1px solid #666;
}

.composite_DistributionsConditions tr + tr td div {
  padding: 0.2cm;
}

.Columnheader_Period {
  width: 5cm;
}

.Columnheader_ReqApplication {
  width: 5cm;
}

.Columnheader_Requirement {
  width: 6cm;
}

.page4 .compositetablebody tr td {
  border: 1pt solid #666;
  /*! padding: 0.2cm; */
  vertical-align: top;
}

.page4 .compositetablebody tr td div {
  padding: 0.2cm;
}

table td {
  vertical-align: top;
}

table p {
  margin: 0;
}

.page4 .compositetablebody tr td div.content_distributorrequirements {
  padding: 0.2cm 0;
}

.page4 .compositetablebody tr td div.Header_DistributorRequirements {
  padding: 0cm;
}

.page4 .compositetablebody tr:nth-of-type(1) td {
  border: 0px solid #666;
  padding: 0;
}

.page4 .compositetablebody tr:nth-of-type(2) td {
  border: 0px solid #666;
  padding: 0cm 0cm 0;
}

.page4 .compositetablebody tr:nth-of-type(3) td {
  position: relative;
}

.page4 .compositetablebody tr:nth-of-type(3) td:before {
  background: #c4c4c4;
  display: block;
  position: absolute;
  width: 500px;
  height: 100px;
  content: "";
  z-index: -1;

  top: 0;
}

.page4 .compositetablebody {
  margin-bottom: 0.4cm;
}

.content_AdditionalInfo,
.Content_Disclaimer {
  background: #edecea;
  padding: 0.2cm 0.2cm 0.4cm;
  margin-bottom: 0.4cm;
}

.content_AdditionalInfo b {
  display: block;
  line-height: 1;
  padding: 0;
  font-weight: bold;
}

.LeftFooter {
  position: running(leftFooter);
}

.RightFooter {
  text-align: right;
  position: running(rightFooter);
}

.SH_definitions h2 {
  background: #c4c4c4;
  color: #000;

  margin: 0;
  display: block;
  border-top: 0.2cm solid #fff;
}

.page5 table .horizontal-list {
  border: 1pt solid #666;
  border-bottom: 0;
}

.page5 table .horizontal-list div {
  display: table;
  border-bottom: 1pt solid #666;
}

.page5 table .horizontal-list div:empty {
  display: none;
}

.page5 table .horizontal-list div span.label {
  width: 4cm;
  padding: 0.2cm;
  font-weight: normal;
}

.page5 table .horizontal-list div span.value {
  border-left: 1pt solid #666;
  padding: 0.2cm;
}

.page5 table .horizontal-list div span {
  display: table-cell;
  float: none;
}

.content_Def_significantdealingstablebody tr:last-of-type {
  border: 1pt solid #666;
}

.content_Def_significantdealingstablebody tr:last-of-type div {
  padding: 0.2cm;
}

.content_Def_significantdealingstablebody tr:last-of-type td:last-of-type {
  border-left: 1pt solid #666;
}

.Content_Def_redemptionfreqtablebody
  tr:nth-of-type(2)
  div:not(.SH_definitions) {
  padding: 0.2cm;
  border: 1pt solid #666;
  border-bottom: 0;
}

.page5 .row9 table.composite-table tr:nth-of-type(2) div p {
  padding: 0.2cm;
  border: 1pt solid #666;
  border-bottom: 0;
}

@page {
  size: A4;
  margin-top: 1cm;

  @left-bottom {
    content: element(leftFooter);
    width: 10cm;
    margin: 0 0 0.5cm 1cm;
  }

  @bottom-right {
    content: "Page " counter(page);
    position: absolute;
    bottom: 1cm;
    left: auto;
    right: 1cm;
    width: 10cm;
    font-family: "Lato", sans-serif !important;
    font-size: 10pt;
  }
}

@page :first {
  padding-top: 1cm;
}

.BMOLogoLHS {
  padding-top: 12cm;
}

.CTILogoRHS {
  padding-top: 12cm;
  float: right !important;
}

/* AETMDtest */
