@font-face {
  font-family: "noto_sansbold";
  src: url("images/notosans-bold-webfont.woff2") format("woff2"),
    url("images/notosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "noto_sanslight";
  src: url("images/notosans-light-webfont.woff2") format("woff2"),
    url("images/notosans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "noto_sansregular";
  src: url("images/notosans-regular-webfont.woff2") format("woff2"),
    url("images/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "noto_sanssemibold";
  src: url("images/notosans-semibold-webfont.woff2") format("woff2"),
    url("images/notosans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MS Gloriola light";
  src: url("images/MSGloriola-Std-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MS Gloriola Semibold";
  src: url("images/MSGloriola-Std-Semibd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}



:root {
  /* --primary: #009ca6; */
  --primary: rgb(71, 119, 153);
  --lightBlue: rgb(0, 116, 183);
  --white: #fff;
  --black: rgb(0, 0, 0);
  --darkGrey: rgb(27, 27, 27);
  --lightGrey: rgb(217, 217, 217);
  --medGrey: rgb(127, 127, 127);
  --header: #212121;
  --headerbg: rgb(241, 242, 242);
  --parabg: rgb(241, 242, 242);
  --ratingselected: #ddd;
  --tableborder: var(--primary);
  --tableheader: #004e53;
  --tableheaderbg: var(--primary);
  --tablesubheaderbg: var(--lightGrey);
  --altrow: var(--lightGrey);
  --bodyfont: 8pt;
  --bodyfontText: 7.5pt;
  --footerfont: 6.5pt;
  --footerlnheight: 1;
  --headerbottomspace: 0.2cm;
  --h2: 11pt;
  --h3: 10pt;
  --smallFont: 10pt;
  /* --fontRegular: "noto_sansregular";
  --fontLight: "noto_sanslight";
  --fontBold: "noto_sansbold";
  --fontSemiBold: "noto_sanssemibold"; */
  --fontRegular: "MS Gloriola light";
  --fontLight: "MS Gloriola light";
  --fontBold: "MS Gloriola Semibold";
  --fontSemiBold: "MS Gloriola Semibold";
}

/**/
* {
  box-sizing: border-box;
}
body {
  font-family: var(--fontLight);
  font-weight: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #231f20;
  font-size: var(--bodyfont);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}
ul li::before {
  content: "\2022";
  color: var(--primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  /*margin-left: -1em;*/
}
.contentSection > table {
  margin: 0.2cm 0;
}
table {
  /* 	width: 100%; */
  border-collapse: collapse;
  border: 0pt solid #000;
}
table th {
  margin: 0;
  vertical-align: middle;
  padding: 0;
  text-align: left;
  padding: 1mm 1mm;
  font-size: var(--bodyfont);
  border: 0;
  background: #fff;
}
table td {
  margin: 0;
  vertical-align: middle;
  padding: 0;
  text-align: left;
  padding: 1mm 1mm;
  font-size: var(--bodyfont);
  background: #fff;
  font-family: var(--fontLight);
}
.groupRowDiv1 > table td {
  border: 0.02cm solid var(--tableborder);
}
table td[class*="period"] {
  /*! text-align: right; */
}
table th {
  /* font-family: var(--fontBold); */
  font-family: var(--fontSemiBold);
  font-weight: normal;
  font-size: var(--bodyfont) !important;
  /*! background: var(--tableheaderbg); */
  page-break-inside: avoid;
}
.investment-amount th,
table th[class*="period"],
.survival-scenario th,
.performancescenariotable td.scenario {
  font-size: var(--bodyfont) !important;
}
h2 {
  font-weight: bold;
  margin: 0;
  font-family: var(--fontSemiBold) !important;
}
p {
  margin: 0;
  padding: 0;
}
b {
  font-weight: normal;
  font-family: var(--fontSemiBold);
}
.clear {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
/*page 1 starts*/
.page1 {
  position: relative;
  background-color: transparent;
  /* background: url(images/MSIM_digitalLogo.png); */
  /* background: url('images/logo-image.png'); */
  background-size: 200px auto;
  background-position: top left;
  background-repeat: no-repeat;
}
.page {
  position: relative;
  width: 19.4cm;
  /*page-break-before: always;*/
  height: auto;
}

.page2 > .row2 > .composite1 > .compositebody * {
  break-before: avoid-page;
}
.page3 > .row2 > .composite1 > .compositebody * {
  break-before: avoid-page;
}
.page {
  padding: 0;
}
@media screen {
  /* .page2,
  .page3,
  .page4 {
    padding: 0cm 1cm 0cm 1cm;
  } */
}
.page2 > .row1,
.page3 > .row1 {
  /*! border-top: 1pt solid #8E3193; */
  /*! padding-top:0.5cm; */
}

.contentSection h3 {
  font-size: var(--h2);
  font-weight: 600;
}
.SRIMop b,
.MOPText b {
  font-family: var(--fontSemiBold);
  font-weight: normal;
}
.contentSection,
.composite {
  margin: 0 0 0cm 0;
  padding: 0;
}

/*.narrative p.WB_WhatAreTheCosts_3{
	font-family: var(--fontSemiBold);
}*/
.page1 .composite,
.page2 .compositebody {
}
.contentSection ol {
  margin-bottom: 0;
}
.contentSection p {
  /* margin-bottom: 0.2cm; */
  margin-bottom: 0.17cm;
}
html[lang="en-GB"] .contentSection p {
  /* margin-bottom: 0.2cm; */
  margin-bottom: 0.18cm;
}
.contentSection p.description,
div.description {
  padding: 0;
  font-size: var(--bodyfont);
  line-height: 10.5pt;
  margin-bottom: 0.25cm;
}
.purpose2 p {
  color: var(--medGrey);
  font-family: var(--fontRegular);
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.purpose2 p:first-child {
  padding-top: var(--headerbottomspace);
}
.purpose2 p:last-child {
  padding-bottom: 3mm;
}
p:empty,
h2:empty {
  display: none;
}
.contentSection.Product h2 {
  border-top: 0 !important;
}

.contentSection h2 {
  margin-top: 0cm;
  /* padding: 0.2cm 0 var(--headerbottomspace); */
  padding: 0.2cm 0 var(--headerbottomspace);
  /* 	string-set: chaptertitle self; */
  font-weight: normal;
  border-top: 0.04cm solid var(--primary);
  font-family: var(--fontSemiBold) !important;
  font-size: var(--h2);
  color: var(--black);
  /* color: #212121; */
}
.page1 > .row6 .contentSection h2,
.page2 > .row5 .contentSection h2 {
  border-top: none;
}
.contentSection.purpose h2 {
  border: 0;
  font-weight: normal;
  margin: 0 0;
  /* padding: 0.2cm 0 var(--headerbottomspace); */
  padding: 0.2cm 0 var(--headerbottomspace);
  font-size: 12pt;
  color: var(--primary);
  text-align: center;
}
.contentSection.Product {
  border-top: 0.05cm solid var(--primary);
}
.page2 .row2 .compositebody .row2 .sectiontitle h2 {
  border: 0;
  font-size: 10pt;
  font-family: var(--fontSemiBold) !important;
  padding: 0mm 0 2mm;
  margin: 0cm 0 0 0;
}
.page3 > .row2 > .composite1 > .compositebody > .row3 > .subheader > p {
  border: 0;
  font-size: var(--bodyfont);
  font-family: var(--fontSemiBold) !important;
  padding: 0mm 0mm 2mm 0mm !important;
  margin: 0cm 0 0 0 !important;
}
.page2 .row2 .compositebody .row2 .sectiontitle,
.page3 > .row2,
.page3 > .row2 * {
  page-break-before: avoid !important;
}

.page2 .row2 .compositebody .row2 .sectiontitle {
  page-break-before: avoid !important;
}

.page3 > .row1,
.page3 > .row1 *,
.page2 > .row1,
.page2 > .row1 * {
  page-break-after: avoid !important;
  /*border:0.5px solid blue;*/
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
}
.page2 > .row1 .composite,
.page3 > .row1 .composite {
  height: 0 !important ;
}

.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1,
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 {
  width: 100%;
  column-count: 2;
  column-gap: 0.5cm;
  column-fill: balance !important;
}
.page2 > .row2 > .composite1 > .compositebody > .row5 > .column1 {
  width: 100%;
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 h2 {
  column-span: all;
  margin-top: 0;
  /* padding: 0.2cm 0 var(--headerbottomspace); */
  padding: 0.2cm 0 var(--headerbottomspace);
  color:var(--primary);
}

.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 h2 {
  column-span: all;
  /* margin-top: 0.2cm; */
  padding: 0.2cm 0 var(--headerbottomspace);
}
.page1 > .row6 {
  /* margin-bottom: 0.2cm; */
  margin-bottom: 0;
}
.contentSection h2 b {
  margin-top: 0.2cm;
  padding: 1mm 0mm 0;
  color: var(--header);
  /* 	string-set: chaptertitle self; */
  font-weight: bold;
}
.page1 .row2 .row2 > .contentSection > * {
  background: none !important;
  padding-left: 0;
  padding-right: 0;
}
.whatisthisproduct {
}
.contentSection p,
.contentSection h2 + .description,
div.description {
  width: auto;
  /* text-align: justify; */
}
.header1 p {
  font-size: 22pt;
  font-family: var(--fontSemiBold);
  font-weight: normal;
  padding-top: var(--headerbottomspace);
  color: var(--primary);
  line-height: 16pt;
}
.header2 p {
  font-size: 15pt;
  font-family: var(--fontLight);
  font-weight: normal;
  line-height: 14pt;
  color: var(--medGrey);
}
.header3 p {
  font-size: 15pt;
  font-family: var(--fontSemiBold);
  font-weight: normal;
  color: var(--lightBlue);
  line-height: 14pt;
}

/*.page3>.section.row2 .composite .narrative p:first-of-type{
 font-family: var(--fontSemiBold);
}*/
.composite .contentSection {
  padding: 0;
}
.unabletopay {
  /*! margin-bottom: 0.4cm; */
  background-color: var(--parabg);
}
.contentSection.costOverTime > table {
  margin: 0 0 0;

  width: 100%;
}
.contentSection.costOverTime {
  padding-bottom: 0;
}
.contentSection.costOverTime > table {
  margin-bottom: 0.2cm;
}
/*.contentSection.costOverTime br{
	display: none;
}*/
.complexitywarning {
  background-color: #ff0000;
  padding: 0.2cm 0.2cm 0.4cm 0.2cm;
  margin-bottom: 0.4cm;
  text-align: center;
}
.complexitywarning p {
  font-size: 12pt;
  color: #fff;
}
.compositeheader {
  padding: 0;
  margin: 0;
}
.page1 > .row1 > .column1 {
  float: left;
  width: 100%;
}

p[class*="WB_Otherrelevantinformation"]:last-child {
  /*Extra page issue fix*/
  margin-bottom: 0;
}
.page1>.row6>.composite>.compositebody>.row2>.column1>.row4,.page1>.row6>.composite>.compositebody>.row2>.column1>.row4 *,
.page1>.row6>.composite>.compositebody>.row2>.column1>.row3,.page1>.row6>.composite>.compositebody>.row2>.column1>.row3 */* sririsktable break in b/w page issue fix*/ {
  break-after: avoid-page !important;
  break-before: avoid-page !important;
  break-inside: avoid-page !important;
}
.section .contentSection.keyinformationdocument {
  padding: 0;
  border: 0;
}
.page1 > .row1 > .column1 .keyinformationdocument h2 {
  /*     font-family: 'Arial';
	font-weight: normal;
	font-size: 24pt;
	color: #009ca6;
	border-bottom: 1pt solid #009ca6;
	line-height: 1.5;
	padding: 0; */
  /*! margin-bottom: 0.3cm; */
  /*! position:relative; */
  /*! top:-0.2cm; */
  /*! background: url(Images/FEfundinfo.png); */
  /*! text-align: right; */
  /*! background-size: 5cm auto; */
  /*! background-position: 1.3cm 0.5cm; */
  /*! background-repeat: no-repeat; */
  /*! text-transform: uppercase; */
}
.section .contentSection.keyinformationdocument h2 {
  background: none;
  border: none;
  text-align: center;
  padding: 0;
  font-family: var(--fontSemiBold) !important;
  font-size: 20pt;
  color: var(--primary);
  /* margin: 0.3cm 0 0;
  padding-top:25px; */
  margin: 0;
  padding-top:0;
}

.page1 > .row1 > .column1 .keyinformationdocument h2 + p {
  line-height: 1.2;
  font-weight: normal;
}
.contentSection p.IssuedOnDate {
  text-align: right;
}

.sriRiskRating,
.sriRangeRiskRating {
  /* width: 48%;
  margin-top: 0 !important;
  position: relative; */
}
.sriRangeRiskRating,
.sriRiskRating {
  width: 100%;
  margin: 0mm 0 2mm !important;
  padding: 0 0 !important;
  position: relative;
  z-index: 9;
  top: 0;
  /* border: 0.03cm solid var(--primary); */
}
/* .sriRiskRating ~ p:first-child {
  min-height: 60px;
  display: block;
} */
.sriRangeRiskRating > tbody > tr > td,
.sriRiskRating > tbody > tr > td {
}
.sriRangeRiskRating > tbody > tr > td > table,
.sriRiskRating > tbody > tr > td > table {
  width: calc(100% - 4mm) !important;
  /* margin: 1.1cm 0.2cm 0 !important; */
  margin: 0 0.2cm 0 !important;
}
.sriRangeRiskRating .ratings > td,
.sriRiskRating .ratings > td {
  padding: 0.2cm 0 !important;
  background: none;
}
.sriRangeRiskRating .rating,
table.sriRiskRating tbody td.rating {
  border: 0pt solid var(--tableborder);
  font-weight: normal;
  color: var(--primary);
  font-size: 12pt;
  position: relative;
  text-align: center;
  padding: 0;
  height: 0.8cm;
  background: none;
  width: 1.2cm;
  font-family: var(--fontBold);
}
.sriRiskRating .rating.active {
  /*background: var(--lightBlue);*/
  border: none !important;
  color: #fff;
}
/* .sriRiskRating .rating:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.4cm;
  background: #ddd;

  top: 0.4cm;
  position: absolute;
  z-index: -1;
} */
table.sriRiskRating td.rating:last-of-type {
  border-right: 0pt solid var(--tableborder) !important;
}
.sriRiskRating table th {
  background: none;
}

.sriRangeRiskRating .rating.selected.start,
.sriRiskRating .rating.selected.start {
  border-left: 0.5pt solid #000000;
}
.sriRangeRiskRating .rating.selected.end,
.sriRiskRating .rating.selected.end {
  border-right: 0.5pt solid #000000;
}
.sriRangeRiskRating .rating.selected,
.sriRiskRating .rating.selected {
  /*background-color: rgba(0,156,166,1);*/
  background-color: rgba(000, 116, 183, 1);
  border-width: 1pt;
  border-color: /*var(--tableborder)*/ transparent !important;
  color: #fff;
}
.sriRiskRating .rating.selected {
}

.sriRangeRiskRating .arrow td,
.sriRiskRating .arrow td {
  padding: 0;
  height: 0;
}
table tr.arrow td {
  border: none !important;
}
.sriRiskRating tbody > tr.ratings > td {
  border: none;
}
.sriRangeRiskRating .header th:first-child,
.sriRangeRiskRating .description td:first-child,
.sriRiskRating .header th:first-child,
.sriRiskRating .description td:first-child {
  text-align: left;
  /*background-image:url(images/less_risk.svg);
	background-repeat:no-repeat;
	background-position:top left;
	background-size:20%;*/
  background-color: transparent;
  border: 0;
  padding: 0cm;
  font-weight: normal;
  color: var(--black);
  font-family: var(--fontLight);
  width: 5cm;
}
.sriRangeRiskRating .header th:last-child,
.sriRangeRiskRating .description td:last-child,
.sriRiskRating .header th:last-child,
.sriRiskRating .description td:last-child {
  text-align: right;
  /*background-image:url(images/high_risk.svg);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:20%;*/
  background-color: transparent;
  border: 0;
  padding: 0cm;
  font-weight: normal;
  color: var(--black);
  font-family: var(--fontLight);
  width: 5cm;
}
/* .sriRangeRiskRating .header,
.sriRiskRating .header {
  position: absolute;
  width: calc(100% - 4mm) !important;
  top: 2mm;
  left: 2mm;
} */
.sriRangeRiskRating .arrow,
.sriRiskRating .arrow {
  position: absolute;
  width: calc(100% - 4mm) !important;
  top: 16mm;
  background: url(images/arrow.svg) no-repeat center;
  height: 4mm;
  left: 2mm;
}
.costOverTime p b,
.WhatAreTheCosts p b {
  font-weight: normal;
}
.costovertimetable,
.performanceScenario table {
  /*! text-align:right; */
  margin: 0 0cm;
  width: 100%;
}
.performanceScenario > table {
  margin-bottom: 0.2cm;
}
.performanceScenario table .stress td,
.performanceScenario table .stress-return td,
.performanceScenario table .moderate td,
.performanceScenario table .moderate-return td,
.performanceScenario table .favourable.averagereturn + .invest td {
  /* background: var(--altrow); */
}
.performanceScenario table .stress-return td,
.performanceScenario table .moderate-return td,
.performanceScenario table .favourable.averagereturn + .invest td,
.performanceScenario table .invest:nth-last-of-type(2) td {
  /* background: var(--altrow); */
  font-family: var(--fontBold);
}
.performanceScenario table .invest:nth-last-of-type(1) td {
  font-family: var(--fontBold);
}
.performanceScenario table .moderate.averagereturn td,
.performanceScenario table .stress.averagereturn td {
  /* background: var(--altrow); */
  color: var(--black);
}
.performanceScenario table table {
  margin-bottom: 0;
  width: 100% !important;
}
table table {
  margin: 0 !important;
  width: 100% !important;
}
/*.costovertimetable th, .performanceScenario table th{
	text-align:center;
}*/

.costOverTime th.tableheader[colspan="3"] {
  display: none;
}
table > tbody > tr > th[class*="group"],
table > tbody > tr > td[class*="group"] {
  padding: 0 !important;
  border: 0 !important;
}
.survival-scenario th {
  padding: 1mm 1mm;
  font-size: 10pt;
  font-weight: bold;
  background-color: var(--tablesubheaderbg);
}

.groupHeader1 table th {
  background: var(--primary);
  padding: 1mm 1mm;
  border: 1pt solid var(--primary);
}
.costComposition table table .tableHeader > th:empty{
  padding: 0;
}
.costComposition table table .tableHeader > th {
  padding: 0.5mm 1mm;
}
.groupHeader1 table .tableHeader,
.groupHeader1 table .tableHeader th {
  border: 2pt solid var(--primary);
}
table th:not(.groupHeader1) {
  color: var(--white);
  border-right: 0.5pt solid var(--tableborder);
}
table .ongoingcosts th,
table .incidentalcosts th {
  color: var(--white);
  border: 0.5pt solid var(--tableborder);
  /* background: var(--altrow); */
  background-color: var(--primary);
}
table .entrycosts td:first-of-type,
table .exitcosts td:first-of-type,
table .managementfeesandothercosts td:first-of-type,
table .transactioncosts td:first-of-type,
table .performancefees td:first-of-type {
  font-family: var(--fontSemiBold);
  width: 4cm;
}
table .entrycosts td:last-of-type,
table .exitcosts td:last-of-type,
table .managementfeesandothercosts td:last-of-type,
table .transactioncosts td:last-of-type,
table .performancefees td:last-of-type {
  width: 3cm;
}
.performancescenariotable table .survival-scenario th {
  color: var(--white);
  background: var(--primary);
  border: 0.2pt solid var(--tableborder);
  border-bottom: 0;
}
.groupHeader1 table tr:last-of-type th {
  /*! border-bottom: none; */
  word-wrap: anywhere;
  font-weight: normal;
}
.costovertimetable .groupHeader1 table tr:last-of-type th {
  text-align: left;
}
.costOverTime th:last-of-type[colspan="4"] {
  display: none;
}
.costovertimetable .scenarioheader,
.performanceScenario table .scenarios {
  background-color: var(--tablesubheaderbg);
}
.costOverTime
  .groupHeader1
  .groupHeaderDiv1
  > table
  tbody
  tr:first-child
  .tableheader {
  display: none;
}
/* costovertime table fullwidth css for 4column <<<<*/
.costovertime_4columntable.contentSection.costOverTime > table {
  width: 100% !important;
}
.costovertime_4columntable .scenarioheader th:first-of-type,
.costovertime_4columntable table tbody td.totalcostsheader {
  width: 25% !important;
}

.costovertime_4columntable .scenarioheader th[class*="scenario"],
.costovertime_4columntable table td[class*="totalcosts"] {
  width: 25% !important;
} /*>>>>>>costovertime table fullwidth css for 4column*/

/* costovertime table fullwidth css for 2column <<<<*/
.costovertime_2columntable.contentSection.costOverTime > table {
  width: 100% !important;
}
.costovertime_2columntable .scenarioheader th:first-of-type,
.costovertime_2columntable table tbody td.totalcostsheader {
  width: 50% !important;
}

.costovertime_2columntable .scenarioheader th[class*="scenario"],
.costovertime_2columntable table td[class*="totalcosts"] {
  width: 50% !important;
} /*>>>>>>costovertime table fullwidth css for 2column*/

/* costovertime table fullwidth css for 3column <<<<*/
.costovertime_3columntable.contentSection.costOverTime > table {
  width: 100% !important;
}
.costovertime_3columntable .scenarioheader th:first-of-type,
.costovertime_3columntable table tbody td.totalcostsheader {
  width: 33.4% !important;
}

.costovertime_3columntable .scenarioheader th[class*="scenario"],
.costovertime_3columntable table td[class*="totalcosts"] {
  width: 33.3% !important;
} /*>>>>>>costovertime table fullwidth css for 3column*/
/*.costOverTime table td.totalcostsheader,
.costOverTime table td.riyheader{
	text-decoration: underline;
}*/
.costOverTime table td[class*="totalcosts"] {
  /* background: var(--lightGrey) !important; */
}
.costOverTime table td[class*="riyheader"] {
  font-family: var(--fontBold);
}
/* .costOverTime table td[class*="riy"] {
  font-family: var(--fontLight);
} */
.costOverTime table td[class*="totalcosts"] {
  font-family: var(--fontLight);
}
.costOverTime table td[class*="totalcostsheader"] {
  font-family: var(--fontBold);
}
.costOverTime table th,
.costOverTime table td {
  width: 4cm;
  max-width: 4cm !important;
}
.costOverTime table th:first-of-type {
}
.costOverTime table td:first-of-type {
  width: 6.5cm;
}
.scenarioheader th[class*="scenario"],
table td[class*="totalcosts"] {
  /*! width: 4.05cm; */
  /*! max-width: 4.05cm; */
  /*! min-width: 4.05cm; */
}
.costovertimetable td {
  /* 	background-color:#ffffff; */
}
.costovertimetable .scenarioheader,
.performanceScenario table .scenarios,
.costOverTime table table .tableheader,
.costOverTime table table tr:first-of-type {
  border: 0.5pt solid var(--tableborder);
}
.incidentalcosts th,
.oneofcosts th {
}
.oneofcosts th {
  width: 3cm;
}
.costovertimetable .investmentheader th:first-child,
.costovertimetable .scenarios:first-child,
.costovertimetable .totalcostsheader:first-child,
.costovertimetable .riyheader:first-child,
.performanceScenario table th:first-child {
  text-align: left;
}
.performanceScenario table tr.header.holding-period th:first-child {
  /* font-family: var(--fontRegular); */
  font-size:9pt !important;
}
.performanceScenario table tr.header.holding-period th:nth-child(2) {
  font-size:9pt !important;
}
.performanceScenario table tr.investment-amount th:first-child {
  font-size:9pt !important;
}
.page2 > .row4 .sectiontitle h2,.page2 > .row3 .sectiontitle h2,.page3 > .row3 .sectiontitle h2,.page3 > .row4 .sectiontitle h2,.page3 > .row5 .sectiontitle h2,
.page1 > .row4 .compositebody > .row2 h2{
  color:var(--primary);
}
/*.performanceScenario table tr.header.holding-period th:last-child,.performanceScenario table tr.header.investment-amount th:last-child,.performanceScenario table tr.header.insurance-premium th:last-child{
	padding-left:17%;
}*/
.costovertimetable .investmentheader {
  background: var(--tableheaderbg);
}
.costComposition th {
  /*! padding:0; */
}
.costComposition table {
  margin: 0;
  width: 100% !important;
  /* background: var(--primary) !important; */
}
.costComposition > table > tbody,
.costComposition > table > tbody > tr,
.costComposition > table > tbody > tr > th.groupHeader1 * {
  background: var(--primary) !important;
}
.costComposition
  > table
  > tbody:nth-of-type(2)
  tr
  > td
  > div.groupRowDiv1
  > table
  > tbody:nth-of-type(1)
  * {
  border: 1pt solid var(--primary) !important;
  background: var(--primary) !important;
}

.costComposition > table > tbody > tr > th > div > table {
  width: 100% !important;
  margin-left: 0cm !important;
  border: 1pt solid var(--primary) !important;
}
.costComposition table th table {
  width: 100.1% !important;
  margin-left: -0.01cm !important;
}
.costComposition {
  padding-bottom: 0.2cm !important;
  margin-bottom: 1mm !important;
}
.page2 > .row2 > .composite1 > .compositebody > .row5 {
  margin-bottom: 2mm !important;
}
.performanceScenario table td.description {
  color: var(--black);
}
.performanceScenario table .minimum .description {
  font-family: var(--fontBold);
}

table td:not(.ratings):last-of-type,
table th:last-of-type {
}
.header.scenarios.survival th {
  color: var(--black);
  font-weight: normal;
}
.performanceScenario table td,
.costovertimetable td {
  /*! border-right:0; */
}
td.description {
  /* width: 5.5cm; */
  width: 10.5cm;
}
table tr[class*="-return"] td {
  /* 	border-bottom: 0; */
  font-family: var(--fontBold);
  /*! padding-bottom: 0; */
}
table tr.averagereturn td {
  /*! border-top:0; */
}
.performanceScenario table td:first-child,
.costovertimetable td:first-child,
.costOverTime table table tr:first-of-type {
  border-left: none !important;
}
.performanceScenario table td:last-child,
.costOverTime table table tr:first-of-type,
.costovertimetable td:last-child {
  border-right: none !important;
}
.performanceScenario table .scenario {
  font-family: var(--fontBold);
  font-weight: normal;
}
.performanceScenario table div.groupRowDiv1 tbody + thead + tbody {
}
.performancescenariotable
  > table
  > tbody
  > tr
  > td.groupRow1
  > div
  > table
  > tbody
  > tr
  > th
  > .groupHeaderDiv1 {
  width: 100.1%;
  margin: -0.01cm;
  border-bottom: 0.2pt solid var(--tableborder);
}
.costComposition .subcategory {
  width: 20%;
}
.costComposition .category {
  width: 12%;
}
.costComposition .costs {
  width: 11%;
}
.costComposition table .category,
.costComposition table .subcategory,
.costComposition table .costs {
  border-right: 0.5pt solid var(--tableborder);
}
.costComposition th,
.costComposition .category,
.costComposition .subcategory {
}
.totalcostsheader,
.riyheader,
.category,
.subcategory {
  font-family: var(--fontRegular);
  font-weight: normal;
}
.compositionofcosts table table .tableHeader > th,
.costComposition table table .tableHeader > th {
  text-align: center !important;
}
.page1
  > .row1
  > .composite
  > .compositebody
  > .row2
  .pagenumbers
  > p:first-child,
.page2
  > .row1
  > .composite
  > .compositebody
  > .row2
  .pagenumbers
  > p:first-child,
.page3
  > .row1
  > .composite
  > .compositebody
  > .row2
  .pagenumbers
  > p:first-child {
  /* margin-top: 0.2cm !important; */
  margin-top: 0 !important;
}
.page1 > .row1 > .composite > .compositebody > .row2,
.page2 > .row2 > .composite > .compositebody > .row2,
.page3 > .row2 > .composite > .compositebody > .row2 {
  /*position: running(firstfoot);*/
  border-top: 0.05cm solid var(--primary);
  float: footnote;
  /*padding-top: 0.1cm;*/
}
.page2 > .row1 .WB_Footer_3,.page3 > .row1 .WB_Footer_3{
  position: running(headerTop);
  border-bottom:0.04cm solid var(--primary);
  padding-bottom:0.1cm !important;
}
.page1 > .row1 > .composite > .compositebody > .row2::footnote-marker,
.page2 > .row2 > .composite > .compositebody > .row2::footnote-marker,
.page3 > .row2 > .composite > .compositebody > .row2::footnote-marker {
  display: none;
}
.page1 > .row1 > .composite > .compositebody > .row2::footnote-call,
.page2 > .row2 > .composite > .compositebody > .row2::footnote-call,
.page3 > .row2 > .composite > .compositebody > .row2::footnote-call {
  display: none;
}

.page1 > .row1 > .composite > .compositebody > .row2 p,
.page2 > .row2 > .composite > .compositebody > .row2 p,
.page3 > .row2 > .composite > .compositebody > .row2 p {
  font-size: var(--footerfont) !important;
  font-family: var(--fontSemiBold) !important;
  /* line-height: var(--footerlnheight) !important; */
  line-height: unset !important;
  margin-bottom: 0mm !important;
}

.page3 > .row2 > .composite1 > .compositebody {
  page-break-inside: avoid !important;
}

.page1 > .row1 > .composite > .compositebody > .row2 .column1,
.page2 > .row2 > .composite > .compositebody > .row2 .column1,
.page3 > .row2 > .composite > .compositebody > .row2 .column1 {
  /* width: 48.4% !important; */
  width: 0% !important;
}
.page1 > .row1 > .composite > .compositebody > .row2 .column2,
.page2 > .row2 > .composite > .compositebody > .row2 .column2,
.page3 > .row3 > .composite > .compositebody > .row2 .column2 {
  padding-left: 0% !important;
  margin-left: 0 !important;
  float: left !important;
  /* width: auto !important; */
  display: inline-block;
  width: 100% !important;
}

.pagenumbers.contentSection p {
  background: none;
}

.performanceScenario table th span,
.perfscenarios table th span {
  display: block;
}

.performanceScenario .period1,
.performanceScenario .period2,
.performanceScenario .period3,
.perfscenarios .period1,
.perfscenarios .period2,
.perfscenarios .period3 {
  width: 3cm;
}
/*.performanceScenario table th:empty,.performanceScenario table td:empty*/

.perfscenarios table td:empty {
  display: none;
}
.costOverTime.costovertimetable > table .groupHeaderDiv1 table {
  background: var(--primary);
}
.generalinformation h2 {
  margin: 0;
}
.generalinformation {
  margin-top: 0.2cm;
}
.page1 > .row1 > .column1 .keyinformationdocument h2 {
  padding: 0;
  font-size: 18pt;
  text-align: right;
  border: 0;
}
.row2 .column1 .row1 .pagenumbers > p[class*="item"],
.row2 .column2 .row1 .pagenumbers > p[class*="item"] {
  margin-bottom: 0 !important;
}
.page1 .row2 .column1 .row1 .pagenumbers > p,
.page1 .row2 .column2 .row1 .pagenumbers > p,
.page2 .row2 .column1 .row1 .pagenumbers > p,
.page2 .row2 .column2 .row1 .pagenumbers > p,
.page3 .row2 .column1 .row1 .pagenumbers > p,
.page3 .row2 .column2 .row1 .pagenumbers > p {
  margin-bottom: 0.5mm !important;
}

.performancescenariotable .minimum .description {
  word-break: break-all;
}
.page4 > .row1 {
  position: static;
  display: block;
}
.page4 > .row1 .compositebody {
  page-break-before: always;
}

/* pagination */
.page1 > .row1 .pagenumbers .footer,
.page2 > .row1 .pagenumbers .footer,
.page3 > .row1 .pagenumbers .footer {
  margin: 0.1cm 0 0cm 0 !important;
  left: 0;
  float: right;
}

.sriRiskRating .header th {
  font-size: var(--bodyfont) !important;
  font-weight: bold !important;
  padding: 22px 4mm 2mm !important;
}
.page1 > .row2 > .composite1 > .compositebody > .row2 > .column1 {
  width: 100% !important;
}
.page1 > .row2 > .composite1 > .compositebody > .row2 > .column2 {
  width: 0 !important;
}
.page1 > .row4 .compositebody > .row2 h2 {
  text-align: left;
}
.page1 > .row4 .compositebody > .row * {
  text-align: center;
}
.groupRowDiv1 > table td:first-child {
  border-left: none !important;
}
.groupRowDiv1 > table td:last-child {
  border-right: none !important;
}

p.SriRange,
p.Sri {
  /* background: url(images/triangle.svg) no-repeat;
  background-size: 1.3cm auto;
  width: 1.3cm;
  height: 1.22cm;
  position: absolute;
  top: 2.8cm;
  left: 2mm;
  z-index: 99999; */
  margin:0;
}
.sriRiskRating + p{
  background-image: url('images/triangle.svg');
  background-position: top left 2mm;
  background-size: 1.3cm 1.22cm;
  width: 100%;
  min-height: 1.22cm;
  height: auto;
  display: block;
  padding: 0 2mm 0 1.7cm;
  background-repeat: no-repeat;
}

/* .sriRiskRating,
.sriRangeRiskRating {
  width: 48%;
  margin-top: 0 !important;
  position: relative;
} */

.sriRiskRating .ratings table,
.sriRangeRiskRating .ratings table {
  margin-top: 0cm;
  border-collapse: separate;
}

.sriRiskRating .ratings td.rating,
.sriRangeRiskRating .ratings td.rating {
  background: var(--ratingselected);
  width: 1cm;
  height: 1cm;
  border: 1pt solid var(--ratingborder);
  font-weight: 700;
  font-size: 16pt;
  line-height: 19pt;
  text-align: center;
  padding-top: 0;
  box-sizing: border-box;
}

.sriRiskRating .ratings td.rating.selected,
.sriRangeRiskRating .ratings td.rating.selected {
  background: var(--primary);
  border: 1pt solid var(--ratingborder);
}
/* 
.sriRiskRating .header th,
.sriRangeRiskRating .header th {
  background: none;
  width: 5cm;
  text-align: left;
  font-weight: 700;
  border: 0;
  padding: 0 1mm;
}

.sriRiskRating .header th:last-of-type,
.sriRangeRiskRating .header th:last-of-type {
  text-align: right;
} */

.page1
  > .row6
  > .composite
  > .compositebody
  > .row2
  > .column1
  > .row4
  > .section.contentSection {
  border: 0.05cm solid var(--primary);
  padding-bottom: 2px;
  position: relative;
  z-index: 9;
  margin-bottom: 0.2cm;
}

.WB_Whatisthisproduct_19,
.WB_Whatisthisproduct_21,
.WB_Whatisthisproduct_55,
.WB_Whatisthisproduct_61,
.WB_Whatisthisproduct_66 b,
.WB_Whatisthisproduct_67 b,
.WB_Whatisthisproduct_39 b,
.WB_Whatisthisproduct_50 {
  font-size: 8pt;
  color: var(--primary);
}

.subheader p {
  font-size: var(--smallFont);
  font-family: var(--fontSemiBold);
}

.WB_GeneralInformation_2 {
  font-size: 14pt;
  font-family: var(--fontSemiBold);
  color: var(--primary);
}
.WB_GeneralInformation_2 p,
.WB_GeneralInformation_3,
.WB_GeneralInformation_5 {
  margin-bottom: 0 !important;
}
.groupRow1 > .groupRowDiv1 > table tbody > tr.minimum td[class*="description"],
.groupRow1
  > .groupRowDiv1
  > table
  tbody
  > tr:last-child
  td[class*="description"],
.groupRow1 > .groupRowDiv1 > table tbody > tr:last-child td[class*="period"] {
  /* border-bottom: 0.05cm solid var(--tableborder); */
}
.groupRow1 > .groupRowDiv1 > table tbody > tr td[class*="description"],
.groupRow1 > .groupRowDiv1 > table tbody > tr td[class*="period"] {
  /* border: 0.03cm solid var(--tableborder); */
}

.WB_GeneralInformation_21 {
  font-family: var(--fontSemiBold);
  font-size: var(--smallFont);
  color: rgb(85, 113, 119);
}

.page1 > .row1 > .composite > .compositebody > .row2,
.page2 > .row1 > .composite > .compositebody > .row2,
.page3 > .row1 > .composite > .compositebody > .row2 {
  /* display: none; */
}
.page1 > .row1 > .composite > .compositebody > .row2,
.page2 > .row2 > .composite > .compositebody > .row2,
.page3 > .row2 > .composite > .compositebody > .row2{
  position: relative;
  padding-top: 10px !important;
}
.page1 > .row1 > .composite > .compositebody > .row2 > .column2,
.page2 > .row2 > .composite > .compositebody > .row2 > .column2,
.page3 > .row2 > .composite > .compositebody > .row2 > .column2 {
  width: 50px !important;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 9;
}
.page1 > .row1 > .composite > .compositebody > .row2 > .column1,
.page2 > .row2 > .composite > .compositebody > .row2 > .column1,
.page3 > .row2 > .composite > .compositebody > .row2 > .column1 {
  width: auto !important;
  padding-left: 50px !important;
}
.WB_HowlongshouldIholdit_4,
.WB_Otherrelevantinformation_1,
.WB_Otherrelevantinformation_3,
.WB_Otherrelevantinformation_7 {
  color: var(--primary);
}
@page {
  /* margin: 1cm 0.8cm 0.35cm 0.8cm; */
  margin: 1.25cm 0.8cm 0.35cm 0.8cm;
  padding: 0cm;
  @footnote {
    border: none;
  }
  @top-left {
    content: element(headerTop);
    padding-top:0.7cm;
    padding-bottom:0;
    margin-bottom:0.2cm;
  }
}
@page :-ro-nth(1){
  margin: 0.525cm 0.8cm 0.35cm 0.8cm;
}
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 .row7{
  position: relative;
}
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 .row7 p.WB_SRInarrative2_4 {
  top: -60px;
  position: absolute;
  z-index: 9;
  left: 70px;
  width: calc(100% - 80px);
  margin: 0;
}
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 .row7 p.WB_SRInarrative2_5 {
  position: absolute;
  top: -45px;
  z-index: 9;
  left: 70px;
  width: calc(100% - 80px);
  margin: 0;
}
.page1 > .row6 {
  page-break-before: always;
}
.page2 > .row5 {
  page-break-before: always;
}
.page1 > .row4 .row5 .contentSection .WB_GeneralInformation_7,
.page1 > .row4 .row5 .contentSection .WB_GeneralInformation_8,
.page1 > .row4 .row5 .contentSection .WB_GeneralInformation_9 {
  margin-bottom: 0.065cm;
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 h2{
  padding-top:0.1cm;
}
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_1,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_8,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_18,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_19,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_24,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_55,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_61,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_31,
.page1 .row2 .row > .contentSection p.WB_Whatisthisproduct_50 {
  margin-bottom: 0.065cm;
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 .contentSection p:last-child{
  margin-bottom:0.08cm;
}
/* .page1 p.WB_Whatisthisproduct_56{
  line-height: 1;
} */
/* MSIM_theme_202309_EU */
