:root {

	--fw-light: 300;
	--fw-normal: 300;
	--fw-bold: bold;
	--h2-color: #5b504b;
	--black: #000000;

}

p {
	text-align: justify;
}

.page1 {

	// background-size: auto 1cm;
	// background-position: top left;

	>.row1 .contentSection h2 {
		font-size: 24pt;
		font-family: "UBSHeadline";
	}
}

.TextSection {
	p {
		font-size: 10pt;
	}
}

.contentSection h2 {
	color: var(--h2-color);
	font-size: 12pt;
}

.SyntheticHistoryPerformanceCaveat {
	margin-bottom: 7.5px;
}

.material-change-event-icon {
	color: #7cb5ec;
}

/* UBS_PPD_publifund_standard_theme */

/* Theme name BPER_P */