:root{
	--primary: rgb(52,101,164);
	--lightBlue:rgb(0,116,183);
	--black:rgb(0,0,0);
	--darkGrey:rgb(27,27,27);
	--lightGrey:rgb(195,195,195);
	--medGrey:rgb(127,127,127);
	--darkGreen: rgb(15,85,65);
	--header:#212121;
	--headerbg:rgb(241, 242, 242);
	--parabg:rgb(241, 242, 242);
	--tableborder:var(--darkGreen);
	--tableheader:#004e53;
	--tableheaderbg:var(--primary);
	--tablesubheaderbg:var(--lightGrey);
	--altrow:var(--lightGrey);
	--bodyfont:8pt;
	--footerfont:6.5pt;
	--footerlnheight:1;
	--headerbottomspace:0.3cm;
	--h2:15pt;
	--h3:10pt;
	--fontRegular:Arial;
	--fontLight:Arial;
	--fontBold:Arial;
	--fontSemiBold:Arial;
}

body {
	font-family: "Arial";
	font-weight:normal;
	font-size: 8pt;
	line-height: 1.1;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color:#231f20;
	text-align: justify !important;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	/* line-height: normal; */
	margin: 0;
	padding: 0;
}
ul li::before {
  content: "\2022";
  color: var(--primary);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  /*margin-left: -1em;*/
}
.contentSection>table{
	margin: 0.2cm 0;
}
table {
	/* 	width: 100%; */
	border-collapse: collapse;
	border: 0pt solid #000;
}
table th{
	margin: 0;
	vertical-align: middle;
	padding: 0;
	text-align: left;
	padding: 1mm 1mm;
	font-size: var(--bodyfont);
	border: 0;
	background: #fff;
}
table td {
	margin: 0;
	vertical-align: middle;
	padding: 0;
	text-align: left;
	padding: 1mm 1mm;
	font-size: 8pt;
	background: #fff;
	font-family: var(--fontLight);
}
.groupRowDiv1>table td{
		border: 0.5pt solid var(--darkGreen);
}
table td[class*="period"]{
	/*! text-align: right; */
}
table th {
	font-family: var(--fontBold) ;
	font-weight: normal;
	font-size: 8pt !important;
	/*! background: var(--tableheaderbg); */
	page-break-inside: avoid;
}
h2 {
	font-weight: bold;
	margin: 0;
	font-family: var(--fontSemiBold) !important;
}
p {
	margin: 0;
	padding: 0;
}

.clear {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.page {
	position: relative;
	width: 19.4cm;
    height: auto;
	/* padding: 1.5cm 1cm 0.6cm; */
}
/*page 1 starts*/
.page1 {
	background-color: transparent;
	/* background: url(Images/logotest.svg); */
	background: url(Images/nt_logo.svg);
	background-size: 3.5cm 1.2cm;
	background-position: 15.6cm 0cm !important; 
	background-repeat: no-repeat;
}

@media screen {
	.page1{
			padding: 0.7cm 0.8cm 0cm;
			background-position: 15.8cm 0cm;
	}
	.page2, .page3,.page4 {
  	padding: 0cm 0.8cm 0cm;
	}
.page1>.row1>.composite>.compositebody>.row2 ,
.page2>.row1>.composite>.compositebody>.row2,
.page3>.row1>.composite>.compositebody>.row2{
	display:none;
	}
}
.page2 > .row1, .page3 > .row1{
	/*! border-top: 1pt solid #8E3193; */
	/*! padding-top:0.5cm; */
}
.contentSection h2 {
	font-family:var(--fontSemiBold);
	font-weight: 700;
	margin-bottom:0;
	padding: 0px;
	font-size: var(--h2);
	color: #212121;
}
.contentSection h3{
		font-size: var(--h2);
	font-weight: 600;
}
.SRIMop b, .MOPText b{
	font-family: var(--fontSemiBold);
	font-weight: normal;
}
.contentSection, .composite {
	margin: 0 0 0cm 0;
	padding:0;
}
.subheader p{
	font-family: var(--fontSemiBold);
}
.subheader p.WB_WhatAreTheCosts_2{
	font-family: inherit;
}
.contentSection ol{
	margin-bottom:0;
}
.contentSection p,.contentSection p.description,div.description, .pf-list-style{
	padding: 0;
	/* font-size: 8pt; */
	/* line-height: 10.5pt; */
	margin-bottom: 1.2mm;
}
.sectiontitle.contentSection{
	margin-top: 0.3cm;
}
.purpose2 p{
	color: var(--medGrey);
	font-family: var(--fontRegular);
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
.purpose2 p:first-child{
	padding-top: var(--headerbottomspace);
}
.purpose2 p:last-child{
	padding-bottom: 3mm;
}
p:empty,h2:empty{
	display: none;
}
.contentSection h2{
/* 	string-set: chaptertitle self; */
    font-weight: normal;
	border-bottom: 0.02cm solid var(--darkGreen) !important;
	font-family: var(--fontLight) !important;
	font-size: 11pt;
	color: black;
	font-weight: bold;
	padding-bottom: 0cm !important;
    /* margin-bottom: 0.25cm !important; */
    margin-bottom: 0.3cm !important;
	text-transform: uppercase;
}
.contentSection.purpose h2{
	border: 0 !important;
	font-family: var(--fontRegular) !important;
	font-weight: normal; 
	margin: 0 0;
	padding: 0;
	font-size: 12pt;
	color: black;
	font-weight: bold;
	text-transform: capitalize;
}
.contentSection.Product{
	/* border-top: 0.02cm solid var(--primary); */
}
.contentSection.Product h2{
	/* display:block !important;
	border-top: 0 !important;
	margin-top:0 !important;
	padding: 2mm 0 0 0  !important; */
	margin-bottom: 0.2cm;
}

.page2 .row2 .compositebody .row2 .sectiontitle h2{
  border: 0 !important;
  font-size: 9pt;
  font-family: var(--fontSemiBold) !important;
  text-transform: capitalize;
  padding: 0mm 0 1mm;
  margin: 0mm 0 0.12cm !important;
  border-right: 0.5pt solid var(--primary);
  border-left: 0.5pt solid var(--primary);
 }
.page3>.row2>.composite1>.compositebody>.row3>.subheader>p {
  border: 0;
  font-size: var(--bodyfont);
  font-family: var(--fontSemiBold) !important;
  padding: 0mm 0mm 2mm 0mm !important;
  margin: 0cm 0 0 0 !important;
 }
.page3 > .row1, .page3 > .row1 *, .page2 > .row1, .page2 > .row1 *{
	page-break-after:avoid !important;
	/*border:0.5px solid blue;*/
	margin:0 !important;
	padding:0 !important;
	height: auto !important;
	
}
.page2 > .row1 .composite,.page3 > .row1  .composite{
	height: 0 !important ;	
}
.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 {
	width: 100%;
	column-count: 2;
	column-gap: 0.5cm;
	column-fill: balance !important;
	position: relative;
	/* page-break-inside: avoid; */
}
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 h2{
	column-span: all;
	margin-top: 0;
	/* padding: 2mm 0 var(--headerbottomspace); */
}

.page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 h2{
    column-span: all;
	/* margin-top: 0.2cm; */
	padding: 2mm 0 var(--headerbottomspace);
	/* page-break-before: always; */
	/* page-break-before: auto; */
}
html:lang(de-DE) .page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 h2,
html:lang(nl-NL) .page1 > .row6 > .composite1 > .compositebody > .row2 > .column1 h2
{
	/* page-break-before: avoid; */
}
.page1 > .row6{
	margin-bottom: 0.2cm;
}
.contentSection h2 b{
 	margin-top:0.2cm;
	padding: 1mm 0mm 0;
	color:var(--header);
/* 	string-set: chaptertitle self; */
  font-weight: bold;
}
.page1 .row2 .row2>.contentSection>*{
	background:none !important;
	padding-left: 0;
	padding-right: 0;
}
.contentSection p,.contentSection h2+.description,div.description{
	width: auto;
	text-align: justify;
}
.header1 p{
	font-size: 22pt;
	font-family: var(--fontSemiBold);
	font-weight: normal;
	padding-top: var(--headerbottomspace);
	color: var(--primary);
	line-height: 16pt;
}
.header2 p{
	font-size: 15pt;
	font-family: var(--fontLight);
	font-weight: normal;
	line-height: 14pt;
	color: var(--medGrey);
}
.header3 p{
	font-size: 15pt;
	font-family: var(--fontSemiBold);
	font-weight: normal;
		color: var(--lightBlue);
	line-height: 14pt;
}

.composite .contentSection{
	padding:0;
 }
.unabletopay {
	/*! margin-bottom: 0.4cm; */
	background-color: var(--parabg);
}
.contentSection.costOverTime>table{
	margin: 0 0 0;
	width: 100%;
}
.contentSection.costOverTime{
	padding-bottom: 0;
}
.contentSection.costOverTime>table{
	margin-bottom: 0.2cm;
}
.complexitywarning{
	background-color:#FF0000;
	padding:0.2cm 0.2cm 0.4cm 0.2cm;
	margin-bottom:0.4cm;
	text-align:center;
}
.complexitywarning p{
	font-size: 12pt;
	color: #FFF;
}
.compositeheader{
	padding:0;
	margin:0;
}
.page1 > .row1 > .column1 {
	float: left;
	width: 100%;
}

p[class*='WB_Otherrelevantinformation']:last-child{/*Extra page issue fix*/
	margin-bottom:0;
}
.page1>.row6>.composite>.compositebody>.row2>.column1>.row4,.page1>.row6>.composite>.compositebody>.row2>.column1>.row4 *,
.page1>.row6>.composite>.compositebody>.row2>.column1>.row3,.page1>.row6>.composite>.compositebody>.row2>.column1>.row3 */* sririsktable break in b/w page issue fix*/
{
	break-after: avoid-page !important;
	break-before:avoid-page !important;
	break-inside: avoid-page !important;

}
.section .contentSection.keyinformationdocument {
	padding: 0;
	border: 0;
}
.page1 > .row1 > .column1 .keyinformationdocument h2 {
}
.section .contentSection.keyinformationdocument h2{
	background: none;
	border: none !important;
	text-align: left;
	padding: 0;
	font-family: var(--fontSemiBold) !important;
	font-size: 16pt;
	/* color: var(--primary); */
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;

}

.page1 > .row1 > .column1 .keyinformationdocument h2 + p {
	line-height:1.2;
	font-weight:normal;
}
.contentSection p.IssuedOnDate{
	text-align:right;
 }
.sriRangeRiskRating, .sriRiskRating  {
	width: 100%;
	margin: 0mm 0 2mm !important;
	padding: 0 0 !important;
	position: relative;
	/* border: 0.03cm solid var(--primary); */
}
.sriRangeRiskRating>tbody>tr>td, 
.sriRiskRating>tbody>tr>td{
 }
.sriRangeRiskRating>tbody>tr>td>table,
.sriRiskRating>tbody>tr>td>table{
	width: calc( 100% - 4mm ) !important;
	margin: 0cm 0.2cm 0 !important;
}
.sriRangeRiskRating .ratings > td, .sriRiskRating .ratings > td{
	padding:0.2cm 0 !important;
	background: none;
}
.sriRangeRiskRating .rating, table.sriRiskRating tbody td.rating {
	/* border: 0.5pt solid black; */
	font-weight: normal;
	color: var(--black);
	font-size: 9pt;
	position: relative;
	text-align: center;
	padding: 0;
	height: 0.45cm;
	background: none;
	width: 1.20cm;
	font-family: var(--fontBold);
}
.sriRiskRating .rating.active{
	/*background: var(--lightBlue);*/
	border: none !important;
	color: #fff;
}
.sriRiskRating .rating:before{
	/* content: "";
	display: block;
	width: 100%;
	height: 0.4cm;
	background: #ddd;
	top: 0.4cm;
	position: absolute;
	z-index: -1; */
}
table.sriRiskRating td.rating:last-of-type{
	/* border-right: 0pt solid var(--tableborder) !important; */
}
.sriRiskRating table th{
	background: none;
}

.sriRangeRiskRating .rating.selected.start, .sriRiskRating .rating.selected.start {
	border-left: 0.5pt solid #000000;
}
.sriRangeRiskRating .rating.selected.end, .sriRiskRating .rating.selected.end {
	border-right: 0.5pt solid #000000;
}
.sriRangeRiskRating .rating.selected, .sriRiskRating .rating.selected {
	background-color: var(--darkGreen);
	border-width: 1pt;
	border-color: /*var(--tableborder)*/transparent !important;
	color: #fff;
}
.sriRiskRating .rating.selected {
}

.sriRangeRiskRating .arrow td, .sriRiskRating .arrow td{
	padding:0;
	height:0;
}
table tr.arrow td{
	border: none !important;
}
.sriRiskRating tbody>tr.ratings>td {
	border: none;
}
.sriRangeRiskRating .header th:first-child, .sriRangeRiskRating .description td:first-child, 
.sriRiskRating .header th:first-child, .sriRiskRating .description td:first-child {
	text-align: left;
	background-color: transparent;
	border: 0;
	padding: 0cm;
	font-weight: normal;
	color: var(--black);
	font-family: var(--fontLight);
	width: 5cm;
}
.sriRangeRiskRating .header th:last-child, .sriRangeRiskRating .description td:last-child, 
.sriRiskRating .header th:last-child, .sriRiskRating .description td:last-child {
	text-align: right;
	background-color: transparent;
	border: 0;
	padding: 0cm;
	font-weight: normal;
	color: var(--black);
	font-family: var(--fontLight);
	width: 5cm;
}
.sriRangeRiskRating .header,
.sriRiskRating .header{
	/* position: absolute; */
	width:calc( 100% - 4mm ) !important;
	top: 12mm;
	left: 2mm;
}
.sriRangeRiskRating .arrow,
.sriRiskRating .arrow{
	/* position: absolute; */
	width: calc( 100% - 4mm ) !important;
	/* top: 10mm; */
	height: 2mm;
	left: 2mm;
}
.sriRiskRating .arrow td{
	background: url(images/arrowblack.svg) no-repeat center;
	background-size: 100%;
}
.costOverTime p b, .WhatAreTheCosts p b{
	font-weight:normal;
}
.costovertimetable, .performanceScenario table{
	/*! text-align:right; */
	margin:0 0cm;
	width: 100%;
}
.performanceScenario>table{
	margin-bottom: 0.2cm;
	border-bottom: 0 !important;
}
.performanceScenario table .stress td,
.performanceScenario table .stress-return td,
.performanceScenario table .moderate td,
.performanceScenario table .moderate-return td,
.performanceScenario table .favourable.averagereturn+.invest td
{
	/* background: var(--altrow); */
 }
 .performanceScenario table .stress-return td,
 .performanceScenario table .moderate-return td,
.performanceScenario table .favourable.averagereturn+.invest td,
.performanceScenario table .invest:nth-last-of-type(2) td{
	/* background: var(--altrow); */
	font-family: var(--fontBold);
}
.performanceScenario table .invest:nth-last-of-type(1) td{
	font-family: var(--fontBold);	
}
.performanceScenario table .moderate.averagereturn td,.performanceScenario table .stress.averagereturn td{
	/* background: var(--altrow);	 */
	color: var(--black);
}
.performanceScenario table table{
	margin-bottom: 0;
	width: 100% !important;
}
table table{
	margin: 0 !important;
	width: 100% !important;
}
/*.costovertimetable th, .performanceScenario table th{
	text-align:center;
}*/

.costOverTime th.tableheader[colspan="3"]{
	display: none;
}
table>tbody>tr>th[class*="group"],
table>tbody>tr>td[class*="group"]{
	padding: 0 !important;
	border: 0 !important;
}
.survival-scenario th{
	padding: 1mm 1mm;
	font-size: 10pt;
	font-weight: bold;
	/* background-color: var(--tablesubheaderbg); */
	border-top: 0.5pt solid var(--darkGreen) !important;
	border-bottom: 0.5pt solid var(--darkGreen) !important;
}

.groupHeader1 table th{
	/* background: rgb(52,101,164); */
	padding: 1mm 1mm;
	border: 0.5pt solid var(--darkGreen);
	background-color: var(--darkGreen);
	color: #ffffff;
	font-weight: bold;
} 
.groupHeader1 table .tableHeader,.groupHeader1 table .tableHeader th{
		/* border: 2pt solid rgb(52,101,164); */

}
table th:not(.groupHeader1){
	/* color: white; */
	/* border-right: 0.5pt solid var(--tableborder); */
}
table .ongoingcosts th,
table .incidentalcosts th{
	color: #ffffff;
	border: 0.5pt solid var(--tableborder);
	background: var(--darkGreen);
	font-weight: bold;
}
table .entrycosts td:first-of-type,
table .exitcosts td:first-of-type,
table .managementfeesandothercosts td:first-of-type,
table .transactioncosts td:first-of-type,
table .performancefees td:first-of-type{
	font-family: var(--fontSemiBold);
	width: 4cm;
	font-weight: bold;
}
table .entrycosts td:last-of-type,
table .exitcosts td:last-of-type,
table .managementfeesandothercosts td:last-of-type,
table .transactioncosts td:last-of-type,
table .performancefees td:last-of-type{
	width: 3cm;
	text-align: right;
}
.performancescenariotable table .survival-scenario th{
	color: var(--black) ;
	/* background: var(--lightGrey); */
	border:0.5pt solid var(--darkGreen);
	color: #ffffff;
	border-bottom: 0;
}
.groupHeader1 table tr:last-of-type th {
	/*! border-bottom: none; */
	word-wrap: anywhere;
	/* font-weight: normal; */
}
.groupHeader1 table tr:last-of-type th{
	border-bottom: 0;
	
}
.groupHeader1 table tr:last-of-type th.period1{
	position: relative;
}
.groupHeader1 table tr:last-of-type th.period1::before,
.groupHeader1 table tr:last-of-type th.period1::after{
	content: '';
	position: absolute;
	width: 0.5pt;
	height: 100%;
	background-color: var(--darkGreen);
	bottom: -20px;
}
.groupHeader1 table tr:last-of-type th.period1::before{
	left: -0.5pt;
    
}
.groupHeader1 table tr:last-of-type th.period1::after{
	right: -0.5pt;
}
.performanceScenario .period1,
.performanceScenario .period2 {
	text-align: right;
}
.performanceScenario .groupHeaderDiv1 tr.header th:last-child{
	text-align: right;
}
.costovertimetable .groupHeader1 table tr:last-of-type th,
.costovertimetable .groupRow1 tr td.totalcosts1,
.costovertimetable .groupRow1 tr td.totalcosts2,
.costovertimetable .groupRow1 tr td.riy1,
.costovertimetable .groupRow1 tr td.riy2 {
	text-align:right;
}

.costOverTime th:last-of-type[colspan="4"]{
	display: none;
}
.costovertimetable .scenarioheader, .performanceScenario table .scenarios {
	background-color:var(--tablesubheaderbg);
}
.costOverTime .groupHeader1 .groupHeaderDiv1 > table tbody tr:first-child .tableheader{
	display:none;
}
 /* costovertime table fullwidth css for 4column <<<<*/
.costovertime_4columntable.contentSection.costOverTime>table{
	width: 100% !important;
}
.costovertime_4columntable .scenarioheader th:first-of-type,.costovertime_4columntable table tbody td.totalcostsheader{
	width: 25% !important;
}

.costovertime_4columntable .scenarioheader th[class*='scenario'],.costovertime_4columntable table td[class*='totalcosts']{
	width: 25% !important;
}/*>>>>>>costovertime table fullwidth css for 4column*/

/* costovertime table fullwidth css for 2column <<<<*/
.costovertime_2columntable.contentSection.costOverTime>table{
	width: 100% !important;
}
.costovertime_2columntable .scenarioheader th:first-of-type,.costovertime_2columntable table tbody td.totalcostsheader{
	width: 50% !important;
}

.costovertime_2columntable .scenarioheader th[class*='scenario'],.costovertime_2columntable table td[class*='totalcosts']{
	width: 50% !important;
}/*>>>>>>costovertime table fullwidth css for 2column*/

/* costovertime table fullwidth css for 3column <<<<*/
.costovertime_3columntable.contentSection.costOverTime>table{
	/* width: 98% !important; */
}
.costovertime_3columntable .scenarioheader th:first-of-type,.costovertime_3columntable table tbody td.totalcostsheader{
	width: 33.4% !important;
}

.costovertime_3columntable .scenarioheader th[class*='scenario'],.costovertime_3columntable table td[class*='totalcosts']{
	width: 33.3% !important;
}/*>>>>>>costovertime table fullwidth css for 3column*/
/*.costOverTime table td.totalcostsheader,
.costOverTime table td.riyheader{
	text-decoration: underline;
}*/
.costOverTime table td[class*='totalcosts']{
 /* background: var(--lightGrey) !important;	 */
}
.costOverTime table td[class*='riy'],.costOverTime table td[class*='totalcosts']{
    font-family: var(--fontBold);
}
.costOverTime table th,
.costOverTime table td{
	width: 4cm;
	max-width: 4cm !important;
 }
.costOverTime table th:first-of-type{
	
}
.costOverTime table td:first-of-type{
 width: 6.5cm;
}
 .costovertimetable .scenarioheader, .performanceScenario table .scenarios,.costOverTime table table .tableheader {
	border:0.5pt solid var(--tableborder);
 }
 .costovertimetable .scenarioheader th{
	text-align: right;
 }
.oneofcosts th{
	width: 3cm;
}
.costovertimetable .investmentheader th:first-child, 
.costovertimetable .scenarios:first-child, 
.costovertimetable .totalcostsheader:first-child, 
.costovertimetable .riyheader:first-child, 
.performanceScenario table th:first-child{
	text-align:left;
	font-weight: bold;
}
.performanceScenario table th:first-child{
	background-color: var(--darkGreen);
}
.performanceScenario table tr.header.holding-period,
.performanceScenario table tr.header.holding-period th,
.performancescenariotable .header.investment-amount{
	border-color: var(--darkGreen) !important;
}
.performanceScenario table tr.header.holding-period th:first-child {
	font-family: var(--fontRegular)
}

.costovertimetable .investmentheader {
	background: var(--tableheaderbg);
} 
.costComposition th{
	/*! padding:0; */
}
.costComposition table{
	margin:0;
	width: 100% !important;
	/* background:rgb(52,101,164) !important; */
}
.costComposition>table > tbody,.costComposition>table > tbody> tr,.costComposition>table > tbody>tr>th.groupHeader1 *{
	/* background: rgb(52,101,164) !important; */
}
.costComposition >table>tbody:nth-of-type(2) tr>td>div.groupRowDiv1>table>tbody:nth-of-type(1) *{
		/* border:1pt solid rgb(52,101,164) !important; */
		/* background: rgb(52,101,164) !important; */
}

.costComposition>table> tbody>tr>th>div>table{
	width: 100% !important;
	margin-left: 0cm !important;
	/* border: 0.5pt solid var(--primary) !important; */

}
.costComposition table th table{
	width: 100.1% !important;
	margin-left: -0.01cm !important;
}
.costComposition{
 	padding-bottom: 0.2cm !important;
 	margin-bottom: 1mm !important;
}
.costComposition .groupRow1 .groupHeader1 .oneofcosts th:last-child{
	text-align: right;
}
.page2>.row2>.composite1>.compositebody>.row5{
 	/* margin-bottom: 2mm !important; */

}
.performanceScenario table td.description {
 color: var(--black);
 font-weight: bold;
}
table td:not(.ratings):last-of-type,
table th:last-of-type{
}
.header.scenarios.survival th{
	color: var(--black);
	font-weight: normal
;
}
.performanceScenario table td, .costovertimetable td{
	/*! border-right:0; */
}
td.description {
  /* width: 5.5cm; */
}
table tr[class*="-return"] td{
	/* 	border-bottom: 0; */
	font-family: var(--fontBold);
	/*! padding-bottom: 0; */
}
table tr.averagereturn td{
	/*! border-top:0; */
	font-weight: normal !important;
}
.performanceScenario table td:last-child, .costovertimetable td:last-child{
	/*! border-right:0; */
}
.performanceScenario table .scenario{
	font-family: var(--fontBold);
	font-weight: bold;
	width: 3.5cm;
}
.performanceScenario table div.groupRowDiv1 tbody+thead+tbody  {
	
}
.performancescenariotable>table>tbody>tr>td.groupRow1>div>table>tbody>tr>th>.groupHeaderDiv1{
	width: 100.1%;
    margin: -0.01cm;
	/* border-bottom: 0.5pt solid var(--tableborder); */
}
.costComposition .subcategory {
	width: 20%;
}
.costComposition .category{
	width:12%;
}
.costComposition .costs{
	width:11%;
}
.costComposition table .category, .costComposition table .subcategory, .costComposition table .costs{
	border-right:0.5pt solid var(--tableborder);
}
.costComposition th, .costComposition .category, .costComposition .subcategory{
}
.totalcostsheader, .riyheader, .category, .subcategory{
	font-family: var(--fontRegular);
	font-weight: normal;
}
.compositionofcosts table table .tableHeader>th,
.costComposition table table .tableHeader>th{
	text-align: center !important;
}
.page>.row1>.composite>.compositebody>.row2 .pagenumbers > p:first-child{
	margin-top:0.2cm !important;
	text-align: center;
}
.page>.row1>.composite>.compositebody>.row2{
	/*position: running(firstfoot);*/
	/* border-top:0.5pt solid var(--primary); */
	float:footnote;
    /*padding-top: 0.1cm;*/
}

.page>.row1>.composite>.compositebody>.row2::footnote-marker{
	display:none;
}
.page>.row1>.composite>.compositebody>.row2::footnote-call{
	display:none;
}

p.WB_Footer_1{
	text-align: center;
	width: 100%;
}
.page>.row1>.composite>.compositebody>.row2 p{
	font-size:var(--footerfont) !important;
	line-height: var(--footerlnheight) !important;
	margin-bottom:1.5mm !important;
}
.page3>.row2>.composite1>.compositebody{
	page-break-inside:avoid !important;
}

.page>.row1>.composite>.compositebody>.row2 .column1{
	width:48.4% !important;
	margin: 0 auto !important;
    float: none;
}
.page>.row1>.composite>.compositebody>.row2 .column2{
	padding-left: 0% !important;
	margin-left: 3% !important;
	float: right !important;
	width: auto !important;
	display: inline-block;
	}


.pagenumbers.contentSection p{
	background: none;
}
.page1 > .row1 .pagenumbers .footer,.page2 > .row1 .pagenumbers .footer,.page3 > .row1 .pagenumbers .footer{
	margin: 0.10cm 0 0cm 0 !important;
	right:0;
	float:right;
}
.performanceScenario table th span, .perfscenarios table th span {
	display:block;
}
.performanceScenario .period1, .performanceScenario .period2, .performanceScenario .period3, .perfscenarios .period1, .perfscenarios .period2, .perfscenarios .period3{
	width:3.3cm;
	/* width: 4.7cm; */
}
.perfscenarios table td:empty{
	display:none;
}
.costOverTime.costovertimetable > table .groupHeaderDiv1 table{
    background: var(--primary);
}
.generalinformation  h2{
	margin: 0;
}
.generalinformation{
	margin-top: 0.2cm;
}
.page1 > .row1 > .column1 .keyinformationdocument h2{
	padding: 0;
	font-size: 18pt;
	text-align: right;
	border: 0;
}
.row2 .column1 .row1 .pagenumbers> p[class*="item"],.row2 .column2 .row1 .pagenumbers> p[class*="item"]{
	margin-bottom:0 !important;
}
.page1 .row2 .column1 .row1 .pagenumbers> p, .page1 .row2 .column2 .row1 .pagenumbers> p,
.page2 .row2 .column1 .row1 .pagenumbers> p, .page2 .row2 .column2 .row1 .pagenumbers> p,
.page3 .row2 .column1 .row1 .pagenumbers> p, .page3 .row2 .column2 .row1 .pagenumbers> p{
	margin-bottom:0.5mm !important;
}
@page{
	 
	margin: 0.9cm 0.8cm 0 0.8cm;
	padding:0cm;
	@footnote{
		border: none;
		 margin:0.30cm 0 0.5cm;
		padding: 0 0 0cm;
}
    
}

.performancescenariotable .minimum .description{
	word-break:break-all;
}
 .page4 > .row1{
  position: static;
  display: block;
}
.page4 > .row1 .compositebody{
  page-break-before: always;
}
.WB_SRInarrative2_4 {
	/* margin-top: 0.7cm; */
}
.oneofcosts th, .groupHeaderDiv1 .tableHeader th{
    border-bottom: 0pt !important;
}
.groupHeaderDiv1 .tableHeader th {
	display: none;
}
.costovertime_2columntable  .groupRowDiv1 > table > tbody > tr:first-child, 
.totalcostsheader, .totalcosts1 {
	border-top: 0 !important;
}
p.WB_SRInarrative2_4::before {
    background: url(images/warning_icon.svg);
    background-size: 90% 94%;
    background-position: 3px 0px;
    width: 50px;
    content: "";
    height: auto;
    min-height: 53px;
    padding: 0px 9px 0px 0px;
    display: inline;
    float: left;
    background-repeat: no-repeat;
}
.WB_Whataretherisks_1 {
    font-size: 7pt !important;
    margin-bottom: 0 !important;
}
.page1>.row6>.composite>.compositebody>.row2>.column1>.row4 * {
    break-inside: avoid-column !important;
}
.survival-scenario th, .minimum .scenario, .minimum .description {
	border-top: 0 !important;
}
.page1 > .row4 .compositebody > .row4 > .column1 .row1 p,
.subheader *{
	font-size: 9pt;
}
.page2 > .row2 > .composite1 > .compositebody > .row5 > .column1,
.page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 {
    float: left;
    width: 100% !important;
}
.page1 > .row6::after {
    /* content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px; */
}
.totalcosts2 {
	border-top: 0pt !important;
}
.page1 > .row6 .row6 {
    position: absolute;
   top: -4px;
}
table.sriRiskRating {
    margin-top: 2mm !important;
}

.performancescenariotable_4column {
	page-break-inside: auto !important;
}
p.WB_Purpose_2 b {
    font-size: 14pt !important;
    font-weight: bold !important;
	line-height: 1.05;
}
.page1>.row4>.composite .compositebody .section.contentSection.text1.header{
	display: flex;
}
.page1>.row4>.composite .compositebody .section.contentSection.text1.header p:first-child{
	margin-right: 5px;
}

.page1>.row4>.composite .compositebody .section.contentSection.text1.narrative p{
    display: inline-block;
}
.page1>.row4>.composite .compositebody .section.contentSection.text1.narrative p:nth-child(odd){
   /* margin-right: 5px; */
}
.page1>.row4>.composite .compositebody .section.contentSection.text1.narrative p:nth-child(even){
	width: 90%;
 }
.page1>.row4>.composite .compositebody .section.contentSection.text1.narrative p.WB_GeneralInformation_10 {
    /* width: 77%; */
}
.page1>.row4>.composite .compositebody .section.contentSection.text1.narrative p.WB_GeneralInformation_12 {
    /* width: 80%; */
}
.page1>.row4 .compositebody > .row4 .contentSection p{
	margin-bottom: 0;
	min-height: 15px;
}
.page1>.row4 .compositebody > .row5 >.contentSection> p:empty{
display: none !important;
}
.page1>.row4 .contentSection p.WB_GeneralInformation_21,
.WB_GeneralInformation_23{
	margin: 0.3cm 0 0 !important;
	font-size: 9pt;
	width: 100% !important;
}
.performancescenariotable tr.header.holding-period th{
	border-bottom: none !important;
}
.performancescenariotable .header.investment-amount th{
	border-top: 0;
}
.page2 > .row4 > .composite1 > .compositebody{
	page-break-inside: avoid;
}
.page2 > .row4 > .composite1 > .compositebody > .row2 > .sectiontitle h2{
	/* page-break-before: always; */
}
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection{
	margin-bottom: 1.2mm;
}
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection p:empty,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_25,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_27,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_55,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_57,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_59,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_61,
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection .WB_Whatisthisproduct_67
{
	margin: 0;
}
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection ul{
	margin-bottom: .2mm;
}
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection ul li{
	padding-left: 1.2em;
	position: relative;
}
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection ul li::before{
	position: absolute;
	left: 0;
	text-align: center;
}
.page1>.row5 .compositebody>.row2>.column1>.row7 .contentSection ul + br{
	display: none;
}
.page1>.row4>.composite1>.compositebody>.row4>.column1 {
    float: left;
    width: 25%;
}
.page1>.row4>.composite1>.compositebody>.row4>.column2 {
    float: left;
    width: 75%;
}
.page1>.row4>.composite1>.compositebody>.row4>.column1 p.WB_GeneralInformation_2,
.page1>.row4>.composite1>.compositebody>.row4>.column2 p.WB_GeneralInformation_3 {
    min-height: 26px;
}
.page1>.row4>.composite1>.compositebody>.row4>.column1 p.WB_GeneralInformation_4,
.page1>.row4>.composite1>.compositebody>.row4>.column2 p.WB_GeneralInformation_5
{
    min-height: 26px;
}
html:lang(nl-NL) .page1>.row4 .compositebody > .row4 .contentSection p.WB_GeneralInformation_10
{
    min-height: 26px;
}
.page3>.row4>.composite1>.compositebody>.row4>.column1 {
    width: 25%;
}
.page3>.row4>.composite1>.compositebody>.row4>.column2{
	width: 75%;
}
.page3>.row4>.composite1>.compositebody>.row4>.column1 > .row1 .contentSection p{
	font-size: 9pt;
}
.page3>.row4>.composite1>.compositebody>.row4>.column1 > .row1 .contentSection p,
.page3>.row4>.composite1>.compositebody>.row4>.column2 > .row1 .contentSection p{
	min-height: 15px;
	display: block;
	margin-bottom: 0;
}
.page3>.row4>.composite1>.compositebody>.row4{
	margin-bottom: 1.2mm;
}
.page1>.row4 .column2 >.row1 .contentSection p.WB_GeneralInformation_11 {
    padding-top: 2px;
}
.WB_Purpose_2{
margin-bottom: 2.2mm !important;
}

/*  */
.page1>.row4>.composite1>.compositebody>.row4>.contentSection {
    float: left;
    width: 100%;
}
.page1>.row4>.composite1>.compositebody>.row4>.contentSection{
	display: table;
}
.page1>.row4>.composite1>.compositebody>.row4>.contentSection p {
    display: table;
    width: 27%;
    float: left;
	padding-block: 1px;
	padding-right: 5px;
}
.page1>.row4>.composite1>.compositebody>.row4>.contentSection p:nth-child(even) {
    width: 72%;
	padding-right: 0;
}

html:lang(de-DE) .page1>.row4>.composite1>.compositebody>.row4>.contentSection p,
html:lang(es-ES) .page1>.row4>.composite1>.compositebody>.row4>.contentSection p
 {
    width: 27%;
}
html:lang(de-DE) .page1>.row4>.composite1>.compositebody>.row4>.contentSection p:nth-child(even), 
html:lang(es-ES) .page1>.row4>.composite1>.compositebody>.row4>.contentSection p:nth-child(even) 
{
    width: 72%;
}
html:lang(it) .page {
	position: relative;
	width: 19.4cm;
	/* height: 29.7cm !important; */
	/* height: 27cm !important; */
	height: auto;
}

html:lang(it) p.WB_Purpose_1 {
    margin-top: -0.2cm;
}
html:lang(it) .section .contentSection.keyinformationdocument h2 {
    margin-bottom: -0.05cm !important;
}
html:lang(it) .page1 > .row5 > .composite1 > .compositebody > .row2 > .column1 h2 {
    column-span: all;
    margin-top: -7px;
	margin-bottom: 4px !important;
}
p.WB_Purpose_1 {
    margin-top: -0.2cm;
}
html:lang(it) .page1>.row4>.composite1>.compositebody>.row4>.contentSection {
    display: table;
    margin-top: -0.2cm;
}
html:lang(it) .contentSection h2 {
    margin-bottom: 0.2cm !important;
}
/* html[lang^="it"] p.WB_Purpose_2 {
    margin-bottom: 0cm !important;
}
html[lang^="it"] p.WB_Purpose_1 {
    margin-top: -0.2cm;
    margin-bottom: 0cm;
}
html[lang^="it"] .page1>.row4>.composite .compositebody .section.contentSection.text1.narrative p:nth-child(odd) {
    margin-top: -5px !important;
}
html[lang^="it"] .section .contentSection.keyinformationdocument h2{
	font-size: 15pt;
}
html[lang^="it"] .contentSection.purpose h2 {
    font-size: 11pt;
}
html[lang^="it"] p.WB_Purpose_2 b {
    font-size: 13pt !important;
} */
html[lang^="en-GB"] .WB_SRInarrative2_4 {
	margin-top: 0.7cm;
}
.page2{
	page-break-before: always;
}
.contentSection.costComposition h2 {
    display: none;
}
/* NTAM_theme_202307_EU */