:root {
    --white: #fff;
	--bluebox: #E7FDFF;
    --blackcolor: #000000;
    --invescoblue: #000ad2;
    --chartblue: #0598fa;
    --chartdarkblue: #000078;
    --chartviolet: #5005ff;
    --chartpink: #e66bff;
    --tableBlue: #002371;
    --tablegrey: #e2dfdc;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('./images/ArialNarrowMTPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.page {
	position: relative;
	padding: 9.525mm 9.525mm 8.81888mm 9.525mm;
	width: 21cm;
    height: 29.7cm;
}

.page1>.row1:before {
    content: '';
    background: url('./images/logo.jpg');
    width: 37.338mm;
    height: 6.5659mm;
    background-size: 100%;
    display: block;
}

.page1 > .row1 > .column1 {
    width: 100%;
    padding-top: 0;
}

.page1>.row1,
.page1 > .row2 > .column2 > .row8, 
.page1 > .row3, 
.page1 > .row6,
.page1 > .row2 > .column1 > .row5,
.page1 > .row2 > .column2 > .row9 > .text1 {
    position: relative;
}

b {
    font-weight: inherit;
}

.risksinformation_RisksDescription_13,
.risksinformation_RisksDescription_15,
.risksinformation_RisksDescription_23{
    margin: 0
}

.page1 > .row2 {
    display: flex;
}

.page1 > .row2 > .column2 > .row1 > .text1 > .disclaimer_disclaimer7 {
    margin-top: 0;
    margin-bottom: 4.5pt;
    font-weight: bold;
    font-size: 9pt;
}

.page1>.row1>.column2 {
    position: absolute;
    float: none;
    width: 100%;
    text-align: right;
    left: 0;
    top: 6.5mm;
    padding-top: .3mm;
}

.page1>.row1>.column2>.row1>.text1>.header_header1 {
    margin: 0;
}

.page1>.row1>.column2>.row1>.text1 p {
    font-size: 9pt;
    line-height: 13pt;
    font-weight: lighter;
    padding-right: 17.5mm;
}

.page1 .DataAsAtDate{
    display: none;
}

.page1>.row1>.column1>.row1>.row1>.text1>.OFST010110{
    font-size: 20pt;
    line-height: normal;
    font-weight: bold;
    padding-bottom: 11pt;
    border-bottom: 1pt solid var(--blackcolor);
    margin: 15pt 0 0 0;
}

.page1>.row1>.column1>.row1>.row1>.text1>.OFST010110 {
    padding-bottom: 5pt;
}

.page1>.row1>.column1>.row1>.row1>.text1>.header_header3,
.page1>.row1>.column1>.row1>.row1>.text1>.shareclass_name-header_header3{
    font-size: 9pt;
    line-height: 10pt;
    font-weight: normal;
    padding-bottom: 11pt;
    margin: 0;
    padding-top: 3mm;
}

.page1 > .row2 > .column1,
.page1 > .row3 > .column1 {
    width: 32%;
    min-height: 1px;
    padding-right: 7.62mm;
    float: left;
}

.page1 > .row2 > .column2 {
    width: 68% !important;
    min-height: 1px;
    float: left;
}

.page1 > .row2 > .column1> .row2 > .holding1 > h2 b {
    width: 100%;
    display: block;
}

.page1 > .row2 > .column2 > .row9 > .text1 > .allocations_details5 {
    margin: -10px 0 0 0;
    /* position: absolute;
    top: -46px; */
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 8pt;
    line-height: 8pt;
}
/* 
.page1 > .row2 > .column2 > .row9 > .text1:after  {
    content: 'Benchmark';
    position: absolute;
    left: 17.4mm;
    bottom: 5mm;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 8pt !important;
}

.page1 > .row2 > .column2 > .row9 > .text1:before  {
    content: '';
    width: 2.1mm;
    height: 2.1mm;
    display: block;
    margin-right: 1mm;
    background: var(--chartblue);
    position: absolute;
    top: -7.69mm;
    left: 15mm;
} */

.page1 > .row2 > .column1 > .row1 {
    background-color: var(--bluebox);
    padding: 6pt;
    margin-bottom: 6.35mm;
}

.page1 > .row2 > .column1 > .row1 > .text1 > p:not(.investmentobjective_subtitle1)::before {
    font-weight: bold;
    color: var(--invescoblue);
    font-size: 18pt;
    position: absolute;
    left: -1px;
    top: -1px;
}

.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_subtitle1 {
    font-size: 11pt;
    font-weight: bold;  
    margin-top: 0;
}

.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description2,
.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description3,
.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description4 {
    padding-left: 6mm;
    position: relative;
}

.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description2:before {
    content: '1';
}

.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description3:before {
    content: '2';
}

.page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description4:before {
    content: '3';
}

.page1 > .row2 > .column2 > .row1 > .text1 {
    border-bottom: .75pt solid var(--blackcolor);
    font-size: 9pt;
} 

.page1 > .row2 > .column1 > .row2 > .standardtable1 > .TableHeader,
.page1 > .row2 > .column1 > .row2 > .holding1 > h2 {
    font-size: 11pt;
    margin: 0;
    padding: 4pt 0;
    border-bottom: .25pt solid var(--blackcolor);
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2  {
    border-bottom: none;
    padding: 5.5pt 0 8.4pt 0;
}

.page1 > .row2 > .column2 > .row2 > .text1 > .risksinformation_description8 {
    font-size: 9pt;
    margin: 4.5pt 0 0 0;
    line-height: 10pt;
}

.page1 > .row2 > .column2 > .row2 > .text1 > .risksinformation_description9 {
    font-size: 9pt;
    margin: 0;
    line-height: 10pt;
}

.page1 > .row2 > .column2 > .row2 > .text1 > .risksinformation_title {
    font-size: 14pt;
    padding: 4.5pt 0 .5pt 0;
    font-weight: bold;
    margin: 0;
} 

.page1 > .row2 > .column2 > .row3 .investmentobjective_title,
.page1 > .row3 > .column2 > .row3 .breakdown1 h2 {
    font-size: 11pt;
    margin: 0;
    padding: 0pt 0 4.5pt 0;
}

.page1 > .row2 > .column2 > .row3 .investmentobjective_title {
    font-size: 14pt;
}

.page1 > .row2 > .column2 > .row3 .investmentobjective_title {
    padding: 0pt 0 2.5pt 0 !important;
}

.page1 > .row5 > .column1 > .row1 .performancetable1 table tbody tr th.Pa60M {
    width: 38mm;
}

.page1 > .row2 > .column2 > .row3 .investmentobjective_description1 {
    font-size: 9pt;
    margin: 0;
    padding: 1.5pt 0 6.7pt 0;
    border-bottom: .5pt solid var(--blackcolor);
}

.page1 > .row2 > .column2 > .row4 .investmentobjective_title {
    margin: 3pt 0;
}

.page1 > .row2 > .column2 > .row5 .TableHeader {
    margin: 0;
}

.page1 > .row2 > .column2 > .row2 > .text1 > p {
    margin: 0 0 2mm 0;
    padding-bottom: 4mm;
    border-bottom: .5pt solid var(--blackcolor);
}

.page1 > .row2 > .column2 > .row2 > .text1 > p.risksinformation_description23 {
    padding-bottom: 12.5pt;
    border-bottom: .25pt solid var(--blackcolor);
    margin-bottom: 5.5pt;
}

.page1 > .row2 > .column2 > .row4 table.CustomCss,
.page1 > .row2 > .column1 > .row2 > .holding1 table,
.standardtable1 table,
.breakdown1 table,
.page1 > .row4 > .column2 > .row1 > .breakdown1 table,
.page1 > .row4 > .column1 > .row1 > .performancetable1 table,
.page1 > .row5 > .column1 > .row1 .performancetable1 table,
.page1 > .row6 > .column1 > .row1 .performancetable1 table
 {
    width: 100%;
    border-collapse: collapse;
}

.page1 > .row2 > .column1 > .row2 > .holding1 table tbody tr:first-child th:last-child{
    word-wrap: break-word;
}

.page1 > .row2 > .column1 > .row2 > .holding1 table tr th,
.page1 > .row4 > .column2 > .row1 > .breakdown1 table tr th,
.page1 > .row4 > .column1 > .row1 > .performancetable1 table tr th,
.page1 > .row5 > .column1 > .row1 .performancetable1 table tr th,
.page1 > .row6 > .column1 > .row1 .performancetable1 table tr th,
.standardtable1 table tr th,
.breakdown1 table tr th
   {
    border-bottom: .25pt solid var(--blackcolor);
    padding: 2.6pt 0;
    font-size: 9pt;
    line-height: 10pt;
    text-align: left;
}

.page1 > .row4 > .column1 > .row1 > .performancetable1 table,
.page1 > .row6 > .column1 > .row1 > .performancetable1 table {
    table-layout: fixed; 
}

.page1 > .row4 > .column1 > .row1 > .performancetable1 table tbody tr th{
    width: 20mm;
    font-weight: normal;
    font-size: 8pt;
}

.page1 > .row6 > .column1 > .row1 > .performancetable1 table tr th:first-child {
    width: 20mm;
}

.page1 > .row6 > .column1 > .row1 > .performancetable1 table tr th:not(:first-child) {
    width: 11mm;
    font-size: 8pt;
}

.page1 > .row6 > .column1 > .row1 > .performancetable1 table tbody tr th {
    font-weight: normal;
}

.page1 > .row6 > .column1 > .row1 > .performancetable1 table tr th {
    padding: 2.6pt 2pt;
    box-sizing: border-box;
    word-break: break-word;
}

.page1 > .row2 > .column2 > .row4 table.CustomCss tbody tr td,
.page1 > .row2 > .column1 > .row2 > .holding1 table tr td,
.standardtable1 table tr td,
.breakdown1 table  tr td,
.page1 > .row4 > .column2 > .row1 > .breakdown1 table tr td,
.page1 > .row4 > .column1 > .row1 > .performancetable1 table tr td,
.page1 > .row5 > .column1 > .row1 .performancetable1 table tr td,
.page1 > .row6 > .column1 > .row1 .performancetable1 table tr td
   {
    border-bottom: .25pt solid var(--blackcolor);
    padding: 1pt 0;
    font-size: 8pt;
    line-height: 10pt;
    text-align: left;
}
.page1 > .row6 > .column1 > .row1 .performancetable1 table tr th:first-child,
.page1 > .row6 > .column1 > .row1 .performancetable1 table tr td:first-child{
        padding-right: 5pt;
}
.page1 > .row2 > .column1 > .row2 > .holding1 table tr td {
    padding: 1pt 0 !important;
}

.page1 > .row2 > .column1 > .row2 > .holding1 table tr td:not(:first-child) {
    text-align: right;
}

.page1 > .row2 > .column2 > .row4 > .standardtable1 table tr td {
    padding: .8pt 0 !important;
}

.page1 > .row2 > .column1 > .row2 > .text1 > .allocations_topholdings_title {
    margin: 0;
    padding: 4pt 0;
    font-weight: normal;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2 {
    font-size: 11pt;
    margin: 0;
    border-top: 0.5pt solid var(--blackcolor);
    padding: 3pt 0;
}

.page1 > .row2 > .column1 > .row3 > .standardtable1 > .TableHeader,
.page1 > .row2 > .column1 > .row4 > .standardtable1 > .TableHeader {
    font-size: 11pt;
    margin: 0;
    padding: 3pt 0;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2,
.page1 > .row2 > .column1 > .row3 > .standardtable1 > .TableHeader,
.page1 > .row2 > .column1 > .row4 > .standardtable1 > .TableHeader {
    padding: 5.3pt 0 5pt 0;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2,
.page1 > .row2 > .column2 > .row6 > .breakdown1 > h2,
.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 {
    font-size: 9pt !important;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2 b,
.page1 > .row2 > .column2 > .row6 > .breakdown1 > h2 b,
.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 b {
    font-size: 11pt !important;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2 br {
    display: none; 
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2 small,
.page1 > .row2 > .column2 > .row6 > .breakdown1 > h2 small,
.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 small,
.page1 > .row4 > .column1 > .row1 > .performancetable1 > h2 small,
.page1 > .row5 > .column1 > .row1 > .row1 > .performancetable1 h2 small{
    font-size: 9pt;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2,
.page1 > .row2 > .column2 > .row6 > .breakdown1 > h2,
.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 {
    font-weight: normal;
}

.page1 > .row2 > .column1 > .row2 > .holding1 > h2 b,
.page1 > .row2 > .column2 > .row6 > .breakdown1 > h2 b,
.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 b{
    font-weight: bold;
}

.page1 > .row2 > .column1 > .row3,
.page1 > .row2 > .column1 > .row2 > .holding1 table{
    margin-bottom: 5mm;
}

.page1 > .row2 > .column1 > .row4 {
    margin-bottom: 3mm;
}

.page1 > .row2 > .column2 > .row5 > .text1 > .displayname-tooltip{
    margin: 0;
    font-size: 8pt;
    padding-bottom: 4mm;
    font-family: "Arial Narrow", Arial, sans-serif;
    line-height: 10pt;
}

.page1 > .row2 > .column1 > .row5 img{
    display: none;
}

.page1 > .row2 > .column1 > .row4 > .standardtable1 table tr:last-child td {
    border-bottom: none;
} 

.page1 > .row2 > .column1 > .row5 > img {
    width: 100%;
}

.page1 > .row2 > .column2 > .row4 {
    padding-bottom: 4pt;
}

.page1 > .row3 > .column2 > .row1 .breakdown1 h2 ,
.page1 > .row2 > .column2 > .row4 h3.TableHeader ,
.page1 > .row2 > .column2 > .row2 h2.keyfigures_subtitle1 {
    margin: 0; 
}

.page1 > .row3 > .column2 > .row1 .breakdown1 h2,
.page1 > .row3 > .column2 > .row2 .breakdown1 h2  {
    font-size: 11pt;
    padding-top: 4pt;
    margin: 0;
}

.page1 > .row2 > .column2 > .row4 h3.TableHeader ,
.page1 > .row2 > .column2 > .row2 h2.keyfigures_subtitle1 {
    padding-top: 1.5pt;
}

.page1 > .row2 > .column2 > .row4 table.CustomCss tbody tr td:first-child {
    width: 40%;
}

.page1 > .row2 > .column2 > .row4 h3.TableHeader {
    font-size: 11pt;
    padding: 3pt 0 .2mm 0;
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart {
    height: 200px;
} 

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart svg *,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart svg *{
    font-family: "Arial Narrow", Arial, sans-serif !important; 
    font-size: 8pt !important;
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart .highcharts-tracker .highcharts-label text,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart .highcharts-tracker .highcharts-label text {
    font-weight: bold !important;
    font-size: 6.5pt !important;
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart .highcharts-xaxis-labels text,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart .highcharts-xaxis-labels text {
    font-size: 5.52pt !important;
}

.page1 > .row2 > .column1 > .row4 > .standardtable1 > .TableHeader,
.page1 > .row2 > .column1 > .row3 > .standardtable1 > .TableHeader {
    border-bottom: 0.25pt solid var(--blackcolor);
}

.page1 > .row2 > .column1 > .row4 > .standardtable1 table tbody tr td:first-child {
    width: 70%;
}

.page1 > .row2 > .column1 > .row2 > .holding1 table tr td:first-child {
    width: 69%;
}

.page1 > .row2 > .column1 > .row4 > .standardtable1 table tbody tr td:last-child {
    width: 30%;
}

.page1 > .row2 > .column1 table tr th:last-child,
.page1 > .row2 > .column1 table tr td:last-child{
    text-align: right;
}

.page1 > .row2 > .column1 > .row6 .risksinformation_description3 {
    margin: 0;
    font-size: 8pt;
    line-height: 10pt;
    padding-top: 6pt;
}

.page1 > .row3 > .column2 > .row4 > .column1 .allocations_details3 ,
.page1 > .row3 > .column2 > .row4 > .column2 .allocations_details4 {
    margin: 0;
}

.page1 > .row3 > .column2 > .row4 > .column1,
.page1 > .row3 > .column2 > .row4 > .column2 {
    width: 25mm;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyPositionWrapper > .keyPositionContainer,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyWrapper > .keyContainer {
    width: auto;
    margin-right: 6.2mm;
}

.page1 > .row3 > .column2 > .row4 > .column1 .allocations_details3:before {
    content: '';
    width: 3mm;
    height: 3mm;
    display: block;
    margin-right: 1mm;
    background: var(--chartblue);
}

.page1 > .row3 > .column2 > .row4 > .column1 .allocations_details3,
.page1 > .row3 > .column2 > .row4 > .column2 .allocations_details4,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyPositionWrapper > .keyPositionContainer,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyPositionWrapper,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyWrapper > .keyContainer,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyWrapper {
    display: flex;
    align-items: center;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyPositionWrapper > .keyPositionContainer .label,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyWrapper > .keyContainer .label {
    margin-left: 0mm;
    font-size: 8pt;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyPositionWrapper > .keyPositionContainer > .key-color,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyWrapper > .keyContainer > .key-color {
    width: 2.1mm;
    height: 2.1mm;
    margin-right: .3mm;
}

.page1 > .row3 > .column2 > .row5 .allocations_details5 {
    margin: 1mm 0 0 0;
    font-size: 8pt;
}

.page1 > .row3,
.page1 > .row8 {
    padding-top : 9.525mm
}

.page1 > .row3 .disclaimer_disclaimer1 {
    margin: 0;
    font-size: 9pt;
    border-bottom: .5pt solid var(--blackcolor);
    padding-bottom: 9pt;
    margin-bottom: 0pt;
    font-weight: bold;
}

.page1 > .row3 > .column1,
.page1 > .row5 > .column1,
.page1 > .row6 > .column1 {
    width: 72%; 
    padding-right: 8mm;
}

.page1 > .row3 > .column2 {
    width: 28%;
    padding-top: 6.5mm;
}

.page1 > .row3 > .column2 > .row1 > .breakdown1 > table > tbody > tr.total > td  {
    font-weight: bold;
}

.page1 > .row3 > .column2 > .row4 > .text1 > .allocations_details2 {
    margin: 2mm 0 .8mm 0;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    font-size: 9pt;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 .chart {
    height: 200px;
    margin-top: 10mm;
    margin-left: 2.5mm;
    margin-bottom: 1.75mm;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 .chart .highcharts-graph {
    stroke-width: 2px !important;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 .chart .highcharts-yaxis-grid > path{
    stroke-dasharray: 0 !important;
    stroke: #c7c8ca !important;
}

.page1 > .row3 > .column1 > .row2 {
    position: relative;
    margin: 0;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyPositionWrapper,
.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .keyWrapper {
    position: absolute;
    top: 25px;
    left: 0px;
}

.page1 > .row3 > .column2 > .row1 > .breakdown1 > h2,
.page1 > .row4 > .column1 > .row1 > .performancetable1 > h2,
.page1 > .row5 > .column1 > .row1 > .performancetable1 > h2,
.page1 > .row6 > .column1 > .row1 > .performancetable1 h2 {
    margin: 0;
    font-size: 11pt;
    padding-top: 1.9mm;
    border-top: .5pt solid var(--blackcolor);
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 > h2,
.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2,
.page1 > .row5 > .column1 > .row1 > .row1 > .performancetable1 > h2,
.page1 > .row6 > .column1 > .row1 > .row1 > .performancetable1 > h2 {
    margin: 0;
    font-size: 11pt;
    padding-top: 1.9mm;
    border-top: .5pt solid var(--blackcolor);
}

.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 b {
    padding-right: 5px;
}

.page1 > .row2 > .column2 > .row8 > .breakdown1 > h2 br{
    display: none;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > h2 {
    border: none;
    font-size: 11pt;
    margin: 1.8mm 0 3.2mm 0;
}

.page1 > .row3 > .column2 > .row1 > .breakdown1 table thead tr th.Name{
    text-align: left;
}

.page1 > .row3 > .column2 > .row1 > .breakdown1 table thead tr th.Weight{
    text-align: right;
}

.page1 > .row3 > .column2 > .row1 > .breakdown1 table tbody tr td.Name{
    text-align: left;
}

.page1 > .row3 > .column2 > .row1 > .breakdown1 table tbody tr td.Weight{
    text-align: right;
}

.page1 > .row3 > .column2 > .row2 > .text1 > .performance_subtitle2 {
    font-size: 9pt;
    margin: 0;
    padding: 6pt 0 3pt 0;
}

.page1 > .row3 > .column2 > .row2 > .text1 > .performance_description5 {
    margin: 0;
    font-size: 8pt;
}

.page1 > .row3 > .column2 > .row2 > .text1 > .performance_description6,
.page1 > .row5 > .column1 > .row2 > .text1 > .performance_description1,
.page1 > .row5 > .column1 > .row2 .performance_description2 {
    margin: 0; 
    font-size: 8pt;
}

.page1 > .row6 > .column1 > .row2 .performance_description2 {
    padding: 3pt 0 2.5mm 0;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.page1 > .row4 > .column1 > .row1 > .performancetable1 table tr td:not(:first-child),
.page1 > .row5 > .column1 > .row1 .performancetable1 table tr th:not(:first-child),
.page1 > .row6 > .column1 > .row1 .performancetable1 table tr td:not(:first-child) {
    text-align: left;
}

.page1 > .row5 > .column1 > .row1 .performancetable1 table tr th {
    width: 20mm;
    font-weight: normal;
    font-size: 8pt;
}

.page1 > .row5 > .column1 > .row2 > .text1 > .performance_description1 {
    padding: 3pt 0;
}

.page1 > .row4 {
    display: none;
}

.page1 > .row6 > .column1 > .row1 > .performancetable1 h2 {
    margin: 0 0 2mm 0;
}

.page1 > .row6 {
    padding: 0;
    margin-top: 3.9mm;
}

.page1 > .row6 p,
.page1 > .row6 p b,
.page1 > .row7 p,
.page1 > .row7 p b {
    margin: 0;
    font-size: 8pt;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.page1 > .row6 p b,
.page1 > .row7 p b {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
}

.page1 > .row7 > .text1 > .otherinformation_title{
    padding: 6.5mm 0 4.5pt 0;
    margin: 0;
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-top: .25pt solid #000;
}

.page1 > .row9 > .row1 > .text1 > .glossary_title {
    font-weight: bold;
}

.page1 > .row3 > .column2 > .row3 > .text1 > .performance_subtitle2 b
 {
    font-family: inherit;
}

.page1 > .row9 > .row1 > .text1 > .glossary_title b {
    font-family: 'Arial Narrow';
    font-weight: 700;
}

.page1 > .row7 > .text1 ,
.page1 > .row9 > .row1 > .text1 > .glossary_title {
    margin: 0;
    font-size: 8pt;
    padding-bottom: 4.5pt;
}

.page1 > .row9 > .row1 > .text1 > .glossary_title {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 14pt;
}


.page1 > .row9 > .row1 > .text1 p{
    margin: 0;
    font-size: 8pt;
    padding-bottom: 4.5pt;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.page1 > .row7 > .column1 > .row1 h2,
.page1 > .row7 > .column1 > .row1 p {
    margin: 0;
}

.page1 > .row8 > .column1 > .row1 .otherinformation_subtitle1,
.page1 > .row8 > .column3 > .row1 .otherinformation_subtitle4 {
    font-size: 11pt;
    line-height: 12pt;
    padding: 5.3pt 0 8.9pt 0;
    font-weight: bold;
    border-top: .5pt solid var(--blackcolor);
    margin: 0;
}

.page1 > .row8 > .column1 > .row1 .otherinformation_Details_23,
.page1 > .row8 > .column1 > .row1 .otherinformation_details23,
.page1 > .row8 > .column1 > .row1 .otherinformation_Details_24,
.page1 > .row8 > .column1 > .row1 .otherinformation_details24,
.page1 > .row8 > .column3 > .row1 .otherinformation_Details_26,
.page1 > .row8 > .column3 > .row1 .otherinformation_details25,
.page1 > .row8 > .column3 > .row1 .otherinformation_details26 {
    font-size: 9pt;
    line-height: 11pt;
    margin: 0;
    word-break: break-word;
}

.page1 > .row8 {
    padding-bottom: 10mm;
    border-bottom: .5pt solid var(--blackcolor);
    margin-bottom: 4pt;
}

.page1 > .row5 > .column2 .performance_subtitle2 {
    display: none;
}

.page1 > .row3 > .column2 > .row2 > .text1 > .item2 {
    margin: 0;
    padding: 1.6mm 0 3.1mm 0;
    border-bottom: .25pt solid var(--blackcolor);
} 

.page1 > .row3 > .column2 > .row2 > .text1 > .item2 {
    margin: 0;
    padding: 1.6mm 0 3.1mm 0;
    border-bottom: .25pt solid var(--blackcolor);
} 

.page1 > .row3 > .column2 > .row3 > .text1 > .performance_subtitle2 {
    margin: 0;
    padding: 2mm 0 1.4mm 0;
    font-size : 9pt;
    font-family: "Arial Narrow", Arial, sans-serif;
} 

.page1 > .row3 > .column2 > .row3 > .text1 p,
.page1 > .row3 > .column2 > .row4 > .text1 p,
.page1 > .row5 > .column1 > .row2 > .text1 > .performance_description1 {
    margin: 0;
    font-size: 8pt;
}

.page1 > .row5 > .column1 > .row2 > .text1 > .performance_description1,
.page1 > .row3 > .column2 > .row4 > .text1 p,
.page1 > .row3 > .column2 > .row3 > .text1 p  {
    font-family: "Arial Narrow", Arial, sans-serif;
}

.page1 > .row3 > .column2 > .row3 > .text1 p {
    padding: 1.6mm 0 3.1mm 0;
    border-bottom: .25pt solid #000000;
}

.page1 > .row5 > .column1 > .row1 .performancetable1 > h2 {
    margin: 0 0 3mm 0;
}

.page1 > .row4 > .column1 {
    position: absolute;
    top: -9mm;
    padding-top: 5.8mm;
}

.page1 > .row9 > .row1 > .text1 > p b {
    font-weight: bold;
    font-family: 'Arial Narrow';
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart .highcharts-legend,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart .highcharts-legend{
    display: none;
    height: 0px !important;
    line-height: 0 !important;
}

.page1 > .row8 > .column1 {
    width: 33.33%;
    padding: 0 3pt 0 0pt;
}

.page1 > .row8 > .column2 {
    width: 33.33%;
    min-height: 1px;
    padding: 0 3pt;
}

.page1 > .row8 > .column3 {
    width: 33.33%;
    padding: 0 0pt 0 3pt;
}

/* .page1 > .row2 > .column2 > .row9 > .text1 > .allocations_details5:before {
    content: '';
    width: 2.1mm;
    height: 2.1mm;
    display: block;
    margin-right: 1mm;
    background: var(--chartdarkblue);
    position: absolute;
    top: 4.47mm;
}

.page1 > .row2 > .column2 > .row9 > .text1 > .allocations_details5:after  {
    content: 'Fund';
    position: absolute;
    left: 2.4mm;
    bottom: -4.2mm;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 8pt !important;
} */

.page1 > .row2 > .column1 > .row6 img{
    width: 100%;
    height: auto;
}

.page1 > .row2 > .column1 > .row5 .risksinformation_subtitle1 {
    margin: 0;
    font-size: 9pt;
    padding-bottom: 5.1mm;
}

.page1 > .row2 > .column1 > .row5 .risksinformation_description1,
.page1 > .row2 > .column1 > .row5 .risksinformation_description2 {
    position: absolute;
    margin: 0;
    top: 25px;
    font-size: 8pt;
}

.page1 > .row2 > .column1 > .row7 .risksinformation_description3 {
    font-size: 8pt;
    margin: 2mm 0 0 0;
    font-family: "Arial Narrow", Arial, sans-serif;
    line-height: 10pt;
}

.page1 > .row2 > .column1 > .row5 .risksinformation_description1 {
    left: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.page1 > .row2 > .column1 > .row5 .risksinformation_description2 {
    right: 0; 
    font-family: "Arial Narrow", Arial, sans-serif;
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 > .footer {
    position: absolute;
    top: 32mm;
    transform: rotate(270deg);
    left: -4.5mm;
    margin: 0;
    font-size: 7.76pt;
}

/* .page1 > .row2 > .column2 > .row8 {
    position: absolute;
    bottom: 20mm;
    width: 68%;
    padding-right: 9.525mm;
    right: 0;
    padding-left: 2.5mm;
} */

/* .page1 > .row2 > .column2 > .row9 {
    position: absolute;
    width: 68%;
    bottom: 16mm;
    padding-left: 9.525mm;
    right: 0;
    padding-left: 7mm;
} */
 .page1 > .row2 > .column2 > .row .breakdown  .chart{
    height:230px;
}
.page1 > .row2 > .column2 > .row8{
    margin-top: -35px;
}
.page1 > .row2 > .column2 > .row .breakdown  .chart .highcharts-container,
.page1 > .row2 > .column2 > .row .breakdown  .chart .highcharts-container .highcharts-root {
    height:100% !important;
    width:100% !important;
}
.page1 > .row2 > .column2 > .row6 h2,
.page1 > .row2 > .column2 > .row8 h2 {
    margin: 0 0 5px;
}
.page1 > .row2 > .column2 > .row6 .breakdown  .chart .highcharts-legend.highcharts-no-tooltip {
    display: none;
}
.page1 > .row2 > .column2 > .row .breakdown  .chart .highcharts-legend-item text {
    font-size: 8pt !important;
}

.page1 > .row2 > .column1 > .row5 {
    border-top: .25pt solid #000;
    padding-top: 2mm;
}

html[lang="fr-FR"] .page1 > .row2 > .column2 > .row7,
html[lang="de-DE"] .page1 > .row2 > .column2 > .row7 {
    bottom: 0mm;
}

html[lang="fr-FR"] .page1 > .row2 > .column2 > .row8,
html[lang="de-DE"] .page1 > .row2 > .column2 > .row8 {
    bottom: 0mm;
}

html[lang="fr-FR"] .page1 > .row2 > .column2 > .row6 > .breakdown1 .chart {
    height: 165px;
} 

html[lang="fr-FR"] .page1 > .row2 > .column2 > .row7 > .breakdown1 .chart {
    height: 153px;
}

html[lang="de-DE"] .page1 > .row2 > .column2 > .row6 > .breakdown1 .chart {
    height: 150px;
}

html[lang="de-DE"] .page1 > .row2 > .column2 > .row7 > .breakdown1 .chart {
    height: 150px;
}

html[lang="de-DE"] .page1 > .row2 > .column2 > .row4 > .standardtable1 table tr td,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row3 > .standardtable1 table tr td,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row4 > .standardtable1 table tr td {
    padding: 1pt 0 !important;
}

html[lang="fr-FR"] .page1 > .row2 > .column1 > .row3,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row2 > .holding1 table,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row4,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1,
html[lang="de-DE"] .page1 > .row2 > .column1 > .row3,
html[lang="de-DE"] .page1 > .row2 > .column1 > .row2 > .holding1 table,
html[lang="de-DE"] .page1 > .row2 > .column1 > .row4,
html[lang="de-DE"] .page1 > .row2 > .column1 > .row1 {
    margin-bottom: 1mm;
}

html[lang="fr-FR"] .page1 > .row2 > .column1 > .row4 > .standardtable1 table tbody tr td:first-child {
    width: 60%; 
}

html[lang="fr-FR"] .page1 > .row2 > .column1 > .row4 > .standardtable1 table tbody tr td:last-child {
    width: 40%; 
}

html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description4 {
    margin-bottom: 0;
}

html[lang="fr-FR"] .page1 > .row2 > .column1 > .row7 .risksinformation_description3 {
    margin: 0;
}

.page1 > .row8 > .text1 p.glossary_details15 br:nth-child(odd){
    display: none;  
} 

.page1 > .row8 > .text1 p.glossary_details13 {
    padding-bottom: 3.3pt;
}

.page1 > .row8 > .text1 p.glossary_details15 {
    line-height: 1.7;
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line:nth-child(2),
.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line:nth-child(3),
.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line:nth-child(4),
.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-axis.highcharts-xaxis .highcharts-axis-line,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart > .highcharts-container .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart > .highcharts-container .highcharts-axis.highcharts-xaxis .highcharts-axis-line  {
    stroke-width: .25pt !important;
    stroke: #00000040 !important;
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line:first-child,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart > .highcharts-container .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line:first-child {
    stroke-width: .25pt !important;
    stroke: #000 !important;
}

.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-axis.highcharts-yaxis .highcharts-tick,
.page1 > .row2 > .column2 > .row6 > .breakdown1 .chart > .highcharts-container .highcharts-axis.highcharts-yaxis .highcharts-axis-line,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart > .highcharts-container .highcharts-axis.highcharts-yaxis .highcharts-tick,
.page1 > .row2 > .column2 > .row8 > .breakdown1 .chart > .highcharts-container .highcharts-axis.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 0 !important;
}

.page1 > .row2 > .column1 > .row2 > .holding1 table tr:first-child th {
    text-align: right;
}

.page1 > .row3 > .column2 > .row2 > .column1 .text1 p,
.page1 > .row3 > .column2 > .row2 > .column2 .text1 p {
    font-size: 8pt;
    padding: 1pt 0;
    margin: 0;
    font-weight: bold;
}

.page1 > .row3 > .column2 > .row2 > .column2 .text1 p {
    text-align: right;
}

.page1 > .row3 > .column2 > .row2 {
    border-bottom: .25pt solid var(--blackcolor);
}

.page1 > .row3 > .column1 > .row2 .pdfperformancechart1 .chart .highcharts-axis-labels.highcharts-xaxis-labels span {
    font-size: 8pt !important;
}

.page1 > .row6 > .column2 > .row1 > .text1 > .performance_subtitle2 {
    margin: 0;
}

.page1 > .row3,
.page1 > .row8 {
    page-break-before: always;
}

/* Page 2 */

.page2 > .row1 .displayname-tooltip {
    margin: 0;
    padding: 5mm 0 0 0;
}

.page2 > .row1 .displayname-tooltip {
    font-size: 9pt;
    padding-bottom: 4mm;
}

.page2 > .row1 .displayname-tooltip br,
.page2 > .row2 .displayname-tooltip br,
.page2 > .row6 .displayname-tooltip br
 {
    display: none;
}

.page2 > .row1 .displayname-tooltip b,
.page2 > .row6 .displayname-tooltip b {
    font-weight: bold;
    font-size: 11pt;
    width: 100%;
    display: block;
    margin-bottom: 4.5pt;
}

.page2 > .row2 .displayname-tooltip {
    font-size: 9pt;
    padding-bottom: 3mm;
    margin: 0;
}

.page2 > .row2 .displayname-tooltip b {
    font-weight: bold;
    font-size: 11pt;
    width: 100%;
    display: block;
    margin-bottom: 4.5pt;
}

.page2 > .row3 .TableHeader {
    line-height: 0;
    margin: 0;
}

.page2 > .row3 table.CustomCss tbody tr td {
    padding: 3mm;
    border-bottom: 1mm solid var(--white);
    font-size: 10pt;
}

.page2 > .row3 table.CustomCss tbody tr td:first-child {
    padding: 0mm;
}

.page2 > .row3 table.CustomCss tbody tr td b {
    padding: 3mm;
}

.page2 > .row3 table.CustomCss tbody tr td:first-child{
    background: var(--tableBlue);
    width: 30%;
    color: var(--white);
}

.page2 > .row3 table.CustomCss tbody tr td:last-child{
    background: var(--tablegrey);
    width: 70%;
    font-size: 10.5pt;
}

.page2 > .row4 .displayname-tooltip {
    margin: 4mm 0 0 0;
    font-size: 9pt;
}

.page2 > .row5 .displayname-tooltip {
    margin: 4mm 0 0 0;
    font-size: 9pt;
}

.page2 > .row6 .displayname-tooltip {
    font-size: 9pt;
    margin: 4mm 0 0 0;
}

.page2 > .row6 .displayname-tooltip b{
    font-size: 11pt;
    font-weight: bold;
}

/* .page2  */

html[lang="de-DE"] .page1>.row1>.column1>.row1>.text1>.header_header2,
html[lang="fr-FR"] .page1>.row1>.column1>.row1>.text1>.header_header2 {
    margin: 5pt 0 0 0;
    padding-bottom: 5pt;
}

html[lang="de-DE"] .page1>.row1>.column1>.row1>.text1>.header_header3,
html[lang="fr-FR"] .page1>.row1>.column1>.row1>.text1>.header_header3 {
    padding-bottom: 8pt;
    padding-top: 1.5mm;
}

html[lang="de-DE"] .page1 > .row2 > .column1 > .row1,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1 {
    padding: 6pt 6pt .5pt 6pt;
}

html[lang="de-DE"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_subtitle1,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_subtitle1 {
    margin-bottom: 1mm;
}

html[lang="de-DE"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description2, 
html[lang="de-DE"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description3, 
html[lang="de-DE"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description4,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description2, 
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description3, 
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row1 > .text1 > .investmentobjective_description4 {
    margin: 1mm 0mm;
}

html[lang="de-DE"] .page1 > .row2 > .column1 > .row4 > .standardtable1 > .TableHeader,
html[lang="de-DE"] .page1 > .row2 > .column1 > .row3 > .standardtable1 > .TableHeader,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row4 > .standardtable1 > .TableHeader,
html[lang="fr-FR"] .page1 > .row2 > .column1 > .row3 > .standardtable1 > .TableHeader {
    padding: 2.3pt 0 2pt 0;
}

html[lang="fr-FR"] .page1 > .row2 > .column1 > .row5 > .column1 {
    width: 100%;
}

html[lang="en-GB"] .page1 > .row2 > .column1 > .row2 > .holding1 table tr:first-child th {
    font-size: 8pt;
}

html[lang="en-GB"] .page1 > .row2 > .column1 > .row1 {
    margin-bottom: 2mm;
}

html[lang="en-GB"] .page1 > .row2 > .column1 > .row3,
html[lang="en-GB"] .page1 > .row2 > .column1 > .row2 > .holding1 table {
    margin-bottom: 2.5mm;
}

html[lang="en-GB"] .page1 > .row2 > .column1 > .row4 {
    margin-bottom: 0mm;  
}

html[lang="en-GB"] .page1 > .row2 > .column1 > .row4 > .standardtable1 > table > tbody > tr:last-child > td {
    padding-bottom: 0.15mm;
}

/*Theme: Invesco_Equity_Theme*/
