.loading-indicator {
	height: 80px;
	width: 80px;
	background: url(/Assets/images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
    position:absolute;
    top: 46%;
    left: 48%; 
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.pageLoaderBody
{
    background: none;
    height: 100%;
    position: static;
}