@font-face {
	font-family: FuturaStd-Light;
	src: url(Images/FuturaStd-Light.eot);
	src: url(Images/FuturaStd-Light.eot?#iefix) format('embedded-opentype'), url(Images/FuturaStd-Light.woff2) format('woff2'), url(Images/FuturaStd-Light.woff) format('woff'), url(Images/FuturaStd-Light.ttf) format('truetype'), url(Images/FuturaStd-Light.svg#Helvetica) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: FuturaStd-Bold;
	src: url(Images/FuturaStd-Bold.eot);
	src: url(Images/FuturaStd-Bold.eot?#iefix) format('embedded-opentype'), url(Images/FuturaStd-Bold.woff2) format('woff2'), url(Images/FuturaStd-Bold.woff) format('woff'), url(Images/FuturaStd-Bold.ttf) format('truetype'), url(Images/FuturaStd-Bold.svg#Helvetica) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'UniversLT-Light';
	src: url('Images/UniversLT-Light.eot?#iefix') format('embedded-opentype'), url('Images/UniversLT-Light.woff') format('woff'), url('Images/UniversLT-Light.ttf') format('truetype'), url('Images/UniversLT-Light.svg#UniversLT-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniversLT-Bold';
	src: url('Images/UniversLT-Bold.eot?#iefix') format('embedded-opentype'), url('Images/UniversLT-Bold.woff') format('woff'), url('Images/UniversLT-Bold.ttf') format('truetype'), url('Images/UniversLT-Bold.svg#UniversLT-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
.row {
	margin-bottom: .3cm;
}
.page2 .Compositeborderbody .row {
	margin-bottom: 0;
}
.column>.section {
	margin-left: .5cm
}
.column:first-child>.section {
	margin-left: 0
}
h1, h2, h3 {
	color: #39F
}
a {
	color: #000;
}
.vertical-list div {
	margin-bottom: .25cm
}
.vertical-list div span:first-child {
	color: #39F
}
.page>.row1 {
	margin-top: 1.8cm;
}
body {
	font-family: 'UniversLT-Light', Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: normal;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
	color: #000
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
	font-family: 'UniversLT-Light', Arial, Helvetica, sans-serif;
}
table {
	width: 100%;
	border-collapse: collapse
}
table td, table th {
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-family: 'UniversLT-Light', Arial, Helvetica, sans-serif;
}
h2 {
	font-weight: 700;
}
p {
	margin-bottom: 0.1cm;
}
b {
	font-family: 'UniversLT-Bold';
}
.clear {
	margin: 0!important;
	padding: 0!important;
	border: 0!important
}
.page {
	position: relative;
	width: 19cm;
	height: 28.2cm;
	padding: 1cm 1cm .5cm;
	background: url(Images/PhoenixCIS-Endorsement_Logo_RGB_Web.jpg) no-repeat 13.9cm 0.3cm;
	background-size: 28%;
}
.logo {
	position: absolute;
	left: 1cm;
	top: 1cm;
}
.Header, .header {
	border-bottom: 1px solid #000;/* margin-bottom: 0.5cm; */
}
.Header .QeDataAsAtDate, .header .QeDataAsAtDate {
	font-family: FuturaStd-Light, sans-serif;
	font-size: 18pt;
	color: #5d0039;
	text-transform: uppercase;
	margin: 0 0 0.3cm;
}
.Header p.FundNames {
	color: #e2056f;
	font-size: 15pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
}
.Header .PensionScheme, .header .PensionScheme, .Header .PensionSchemeName {
	font-size: 15pt;
	color: #000;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	margin: 0 0 0.1cm;
}
.Header .FundNameFull, .header .FundNameFull {
	color: #e2056f;
	font-size: 15pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 0.5cm;
}
.InvestmentObjective h2 {
	color: #e2056f;
	font-size: 10pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 0.2cm;
}
.Warningtext p {
	color: #e2056f;
	font-size: 12pt
}
.Intro, .Intro a {
	color: #e2056f;
	font-size: 10pt;
}
.page1 .composite {
	border: 1pt solid #6d6e71;
	border-top: 0;
}
.page1 .breakdown {
	border: 1pt solid #6d6e71;
	border-top: 0;
}
.breakdownNote {
	margin: 52px 0px 0px -1px !important;
	border-top: 0;
	padding-top: 0;
	position: relative;
	width: 99%;
	height: auto;
	top: 0;
	right: -1px;
	font-size: 8pt;
	padding-right: 1%;
	padding-left: 0;
	/* border-bottom: 1pt solid #6d6e71; */
	background: transparent;
}
.breakdownNote .item2 {
	position: relative;
	top: 1cm;
}
.page2 > .row3 > .composite1 > .Compositeborderbody > .row2 > .column2 {
/* margin:0 !important; */
	/* border-top: 0.6cm solid #5d0039; */
	/* padding-top: 0.5cm; */
}
.page2 > .row > .composite1 > .Compositeborderbody > .row2 > .column2>.row {
	margin: 0;/* border-bottom: 1pt solid #6d6e71; */
}
.page2 > .row > .composite1 > .Compositeborderbody > .row2 > .column2 {
	display: none;
}
.page2 > .row > .composite1 > .Compositeborderbody > .row2 > .column1 +.column2 {
	display: block;
}
span.footerNote {
	display: block;
	margin-top: 0.2cm;
	font-size: 8pt;
}
.Compositeborderbody {
	border: 0pt solid #6d6e71;
	border-top: 0;
	position: relative;
}
.compositeheader h2, .performancetable h2, .Perfchart h2, .PerfChart h2, .breakdown h2 {
	background-color: #5d0039;
	color: #fff;
	font-size: 10pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 0.2cm;
	padding: 0.1cm 0.3cm 0;
	height: 20px;
}
.breakdown h2 {
	background-color: rgba(255, 255, 255, 0);
	color: #de006f;
	font-size: 10pt;
	font-family: FuturaStd-Light;
	margin: 0 0.3cm 0.2cm;
	padding: 0.2cm 0cm 0;
	height: 20px;
	width: 18.2cm;
	border-top: 1pt solid #6d6e71;
}
.Notes p {
	padding: 0.1cm 0.3cm;
}
.Notes h2 {
	padding: 0.1cm 0.3cm;
}
.PerfChart h2 {
	border-bottom: 2px solid #fff;
	padding: 0.1cm 0.3cm;
}
.PerfChart {
	background-color: #ededed;
	padding-bottom: 0.3cm;
}
.PerfChart .keyContainer {
	margin-top: -0.3cm;
	margin-left: 0.3cm;
}
.PerfChart .keyContainer .label {
	line-height: 12px;
}
.performancetable h2, .PerfChart h2 {
	padding: 0.1cm 0.2cm;
	margin-bottom: 0
}
.page3 .row5 p, .page3 .row7 p {
	line-height: 0.3cm;
}
.compositeheader h2 span, .performancetable h2 span, .pdfperformancechart h2 span {
	color: #e2056f;
}
/*
.compositeheader > *, .compositebody > * {
	padding: 0.1cm 0.3cm;
	color: #e2056f;
}
*/
.FundInfo + .compositebody, .UnderlyingFundInformation + .compositebody, .ImportantInfo + .compositebody{
	padding: 0.2cm;
}
.horizontal-list.Infoone {
	border-top: 1.5pt solid #5d0039;
	border-bottom: 1.5pt solid #5d0039;
}
.horizontal-list.Infoone {
	border-bottom: 0;
}
.text.Infoone {
	border-bottom: 1.5pt solid #5d0039;
}
.text span:last-child {
	float: right;
	max-width: 60%;
	display: block;
	text-align: right;
}
.horizontal-list.horizontal-list1.infotwo {
	border: 0;
}
.horizontal-list.Infoone > div, .compositebody .text > p.UnitSize, .compositebody .text > p.FundSize, .compositebody .text > p.RiskRating, .compositebody .text > p.FundBenchmarkName, .compositebody .text > p.Bencmark {
	border-top: 0.5pt solid #5d0039;
	width: 100%;
	margin: 0;
	display: inline-block;
}
.compositebody .text > p.RiskRating:empty, .compositebody .text > p.FundBenchmarkName:empty {
	display: none;
}
.compositebody .text > p.FundBenchmarkName .value {
	width: 50%;
	max-width: 100%;
	line-height: 10pt;
}
.horizontal-list.horizontal-list1.infotwo div {
	float: left;
}
.horizontal-list.infothree div {
	width: 49%;
	margin-right: 1%;
	margin-bottom: 0.2cm;
	border-bottom: 1px solid #5d0039;
	border-top: 1px solid #5d0039;
	height: 25px;
}
.horizontal-list.infothree div.PropertyExpenseRatio{
	width: 100%;
	border-bottom: 1.5pt solid #5d0039;
}
.horizontal-list.horizontal-list1.infothree div.LaunchDate,.horizontal-list.horizontal-list1.infothree div.FundSize-YeDataAsAtDate-QeDataAsAtDate-FundSizeDate {
	width: 49%;
	margin-right: 1%;
	margin-bottom: 0.2cm;
	border-bottom: 1px solid #5d0039;
	border-top: 1px solid #5d0039;
	height: 25px;
}
.horizontal-list.horizontal-list1.infothree div.clear {
    height: 0;
}
/* .horizontal-list.horizontal-list1.infothree div:nth-child(2n+1), */
.horizontal-list.horizontal-list1.infothree div.FundSize-YeDataAsAtDate-QeDataAsAtDate-FundSizeDate {
    float: right !important;
    margin-right: 0;
}

/*.horizontal-list.horizontal-list1.infothree div.FundSize-YeDataAsAtDate-QeDataAsAtDate,
.horizontal-list.horizontal-list1.infothree div.FundSize-YeDataAsAtDate-QeDataAsAtDate-FundSizeDate
{
	width: 50%;
	margin-bottom: 0.2cm;
	border-bottom: 1px solid #5d0039;
	border-top: 1px solid #5d0039;
	height: 25px;
}
.horizontal-list div.FundSize-YeDataAsAtDate-QeDataAsAtDate .label span,
.horizontal-list div.FundSize-YeDataAsAtDate-QeDataAsAtDate-FundSizeDate .label span
{
	display: block;
	padding-left: 0.2cm;
	font-family: 'UniversLT-Light', Arial, Helvetica, sans-serif;
	font-weight: 100;
}*/

.horizontal-list.Infoone > div:first-child {
	border-top: 0;
}
.horizontal-list.Infoone > div .label, .text .label {
	padding: 0.15cm;
	line-height: 8pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0;
	float: left;
	font-weight: bold;
}
.horizontal-list.infothree > div .label {
	padding: 0.15cm;
	line-height: 8pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0;
	float: left;
}
.horizontal-list > div .value, .text .value {
	padding: 0.15cm;
	line-height: 8pt;
	color: #000;
	margin: 0;
}
.horizontal-list > div.TER, .horizontal-list > div.AnnualCharge {
	background-color: #ededed;
	border-bottom: 0;
}
.horizontal-list > div.TER .value, .horizontal-list > div.OnGoingCharge .value {
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
}

.horizontal-list > div.TER .label span {
	display: block;
	float: none;
	font-family: 'UniversLT-Light';
	font-weight: normal;
	margin: 5px 0 0 0;
}
.horizontal-list > div.AnnualCharge, .horizontal-list > div.OtherExpenses, .horizontal-list > div.advisercharge {
	border: 0;
	width: 100%;
}
.horizontal-list > div.OtherExpenses{
	background-color: #ededed;
/*	border-bottom: 0.5pt solid #5d0039;*/
}
.horizontal-list > div.advisercharge {
	border-top: 0.5pt solid #5d0039;
}
.horizontal-list.horizontal-list1.Infotwo {
	color: #000;
}
.horizontal-list > div.TER {
	width: 100%;
	display: inline-block;
}
.horizontal-list > div.TER .label{
/*	font-family: 'UniversLT-Bold';*/
	font-weight: normal;
}
.horizontal-list.Infotwo > div .label {
	padding: 0.15cm;
	line-height: 8pt;
	font-weight: normal;
	color: #000;
	margin: 0;
	float: left;
}
.horizontal-list.Infotwo > div.advisercharge .label, .horizontal-list.Infotwo > div.PropertyExpenseRatio .label{
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.horizontal-list.Infotwo > div .label b{
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
}
.horizontal-list.horizontal-list1.Infotwo {
	border-top: 1.5pt solid #5d0039;
	border-bottom: 1.5pt solid #5d0039;
}
/*
.horizontal-list.horizontal-list1.Infotwo div:nth-last-child(2) {
	border-bottom: 1.5pt solid #5d0039;
}
*/
.horizontal-list div {
    width: 100%;
}
.horizontal-list > div.PropertyExpenseRatio{
	border-top: 0.5pt solid #5d0039;
}
.horizontal-list > div.PropertyExpenseRatio .label{
	color: #000;
}
.horizontal-list > div.AnnualCharge span.label, .horizontal-list > div.OtherExpenses span.label, .horizontal-list > div.advisercharge span.label {
	padding-left: 15px;
	padding-right: 0;
	width: 80%;
	font-family: 'UniversLT-Light';
	font-weight: normal;
	line-height: 8pt;
	color: #000;
}
.horizontal-list > div.advisercharge span.label{
	margin-left: 1mm;
	padding-left: 0;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.horizontal-list > div.AnnualCharge span span, .horizontal-list > div.OtherExpenses span span, .horizontal-list > div.advisercharge span span {
	float: left;
	color: #e2056f;
	font-weight: bold;
	font-size: 12pt;
	padding-left: 0;
	margin-left: -8px;
}
.UnderlyingFundNameFull {
	color: #e2056f;
	font-size: 10pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 0.2cm;
}
.Underlying + .compositebody .horizontal-list {
	border: 0;
}
.Underlying + .compositebody .horizontal-list > div {
/* border:0; */
}
h2.UnderlyingFundNameFull-LaunchDate, h2.LaunchDate-FundNameFull, h2.LaunchDate-FundNameFull-UnitNameFull,
h2.LaunchDate-UnitNameFull-FundNameFull, .infothree h2

{
	color: #000;
	font-size: 10pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 0.2cm;
}
h2.UnderlyingFundNameFull-LaunchDate span, h2.LaunchDate-FundNameFull span, h2.LaunchDate-FundNameFull-UnitNameFull span,
h2.LaunchDate-UnitNameFull-FundNameFull span, .infothree h2 span

{
	float: none !important;
	color: #e2056f;
}
.Underlying + .compositebody .horizontal-list > div .label {
	/* color: #e2056f; */
	font-size: 10pt;
	padding-right: 0;
}
.Underlying + .compositebody .horizontal-list > div .value {
/* color: #e2056f; */
	/* font-size:10pt; */
	/* float:left; */
	/* margin-left:0.2cm; */
	/* padding-left:0; */
}
.page .Page {
	width: auto;
	height: auto;
	padding: 0;
	background: none;
	position: absolute;
	bottom: 0.5cm;
	right: 1cm;
}
.page .Page p {
	text-align: right;
}
.KeyFacts3 .item2 .label, .KeyFacts3 .item4 .label {
	padding: 0;
}
.KeyFacts3 .item2 .value, .KeyFacts3 .item4 .value {
	color: #666;
	font-size: 8pt;
}
.page1 > .row3 > .composite1 > .compositebody > .row3 > .column1, .page1 > .row3 > .composite1 > .compositebody > .row3 > .column2, .page1 > .row3 > .composite1 > .compositebody > .row3 > .column3 {
	width: 33%;
}
.compositebody .text {
	color: #000;
}
p.PropertyFundExpensesText,p.FundExpensesText {
    margin-top: 0.3cm;
}
.compositebody .text.Infotext p {
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.keyWrapper {
	margin-top: 0.3cm;
}
.compositebody .row {
	margin-bottom: 0;
}
/*.breakdown h2, .holding  h2, */.FundPerformance h2, .ImpoInfoText h2, .Perftextex h2, .otherinfotext h2, .Risktext h2 {
	color: #e2056f;
	font-size: 11pt;
	margin-bottom: 0.2cm;
}
.page2 .row {
	margin-bottom: 0;
}
.page2>.row.row2 {
	margin-bottom: .3cm;
}
.page2>.row.row3 .composite {
	border-left: 1pt solid #6d6e71;
	border-right: 1pt solid #6d6e71;
	border-bottom: 1pt solid #6d6e71;
}

/*.compositebody>.row2,.compositebody>.row3,.compositebody>.row4,.compositebody>.row5{
	border-bottom: 1pt solid #6d6e71;
}*/
.page2>.row.row3 .composite .compositebody>.row {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding: 0;
}
.Compositeborderheader h2 {
	background-color: #5d0039;
	color: #fff;
	font-size: 10pt;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	padding: 0.1cm 0.3cm;
	width: 697px;
}
.page2 .section div.breakdown:first h2 {
	border-top: 0 !important;
	}
.page2 .breakdown {
	position: relative;
	height: auto;
	border-left: 0pt solid #6d6e71;
	/* border-bottom: 1pt solid #6d6e71; */
	border-right: 0pt solid #6d6e71;
	/* width: 611px; */
	margin: 0 10px;
}
.breakdown .chart {
	margin: 0.1cm 0.3cm;
	width: 40% !important;
	margin-right: 0;
	height: auto;
}
.page2 .breakdown .chart {
	height: 5.5cm;
	/* width: 0% !important; */
	/* margin-right: 34%; */
	margin-top: 0;
	margin-bottom: 0;
}
.breakdown.FundHoldings .chart {
	width: 100% !important;
	margin-right: 0.3cm;
	height: 6cm;
}
.breakdown table {
	margin: 0.1cm 0.3cm;
	width: 43% !important;
	float: left !important;
}
.breakdown .footer {
	padding: 0.2cm 0cm 0.1cm;
	position: relative;
	top: -247px;
	right: -221px;
	float: right;
	width: 39.5%;
}
.breakdown.FundHoldings .footer {
	position: static;
	width: 100%;
}
.breakdown th {
	display: none;
}
.holding th {
/* display: none; */
}
.keyContainer {
	float: left;
	margin-right: 0.5cm;
	white-space: nowrap
}
.key-color {
	width: 2.5mm;
	height: 2.5mm;
	border-radius: 100%;
}
.breakdown table td, .holding table td {
	padding: 1px 0 0;
	color: #000;
	font-size: 8pt;
}
.breakdown table td.Key {
	padding-right: 5px;
	width: 0.4cm;
}
.breakdown table td.Weight {
	text-align: right;
}
.breakdown .footer, .GeogAllocation p {
	color: #000;
	margin: 0 0 0.1cm;
	/* line-height: 0.35cm; */
	font-size: 8pt;
}
.holding {
	border-top: 0pt solid #000;
	padding-top: 0;
	/* border-left: 1pt solid #6d6e71; */
	/* border-right: 1pt solid #6d6e71; */
	/* border-bottom: 1pt solid #6d6e71; */
	/* width: 697px; */
	padding: 0 10px 10px;
}
.holding h2 {
	background-color: rgba(255, 255, 255, 0);
	color: #e2066e;
	font-size: 10pt;
	margin: 0 0cm 0.2cm;
	padding: 0.2cm 0cm 0;
	height: 20px;
	border-top: 1pt solid #6d6e71;
	font-family: FuturaStd-Light;
}
.holding table td.spacer {
	width: 1%;
}
.holding table td.Weight {
	padding: 0.1cm;
	border-left: 0.5pt solid #000;
	border-right: 0.5pt solid #000;
	text-align: center;
	width: 8%;
}
.holding table td.Number.Number {
	padding: 0.1cm;
	font-weight: 700;
	text-align: right;
	width: 2%;
}
.holding table td.Name.Name {
	padding: 0.1cm;
	width: 40%;
}
.performancetable table {
	color: #e2056f;
	border-top: 2px solid #fff;
}
.performancetable th {
	background-color: #D6D8D9;
	padding: 0.1cm 0.05cm;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	color: #000;
	font-weight: normal;
	text-align: center;
}
.performancetable .rowheader {
	text-align: left;
	width: 23%;
	padding-left: 0.15cm;
}
.performancetable td {
	background-color: #EDEDEE;
	padding: 0.1cm 0.05cm;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	color: #000;
	text-align: center;
}
.performancetable th:last-child, .performancetable td:last-child {
	border-right: 0;
}
/*.P0To12M, .P12To24M, .P24To36M, .P36To48M, .P48To60M, .P12M, .P36M, .P60M, .P120M {
	width: 15%;
	text-align: center;
}*/
.performancetable .rowheader {
/*font-weight: bold;
	color: #e2056f;*/
}
.PerfChart .chart {
	height: 6cm;
}
.page3 .contentSection.text.text1 .item2, .Performancedisclaimer {
	margin: 0;
	line-height: 9pt;
}
.page3 .row {
	margin-bottom: 3pt
}
.SpecialRiskFactors, .ThirdPartyDisclaimers, .page4 .composite1.composite {
	border: 1pt solid #6d6e71;
	border-top: 0;
}
.page4 .contentSection.Notes {
	border: 1pt solid #6d6e71;
	border-top: 0;
}
.page4 .contentSection.Notes:empty {
	border: 0pt solid #6d6e71;
	border-top: 0;
}
.page4 .compositebody .composite1.composite {
	border: 0;
}
.page4 .compositebody .composite1.composite .compositebody > * {
	padding: 0;
}
.SpecialRiskFactors h2, .ImportantInformation h2, .ThirdPartyDisclaimers h2, .Notes h2 {
	background-color: #e2056f;
	color: #fff;
	font-family: 'UniversLT-Bold', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 0.2cm;
	padding: 0.1cm 0.2cm;
}
.SpecialRiskFactors ul {
	padding: 0 0.2cm 0.05cm 0.2cm;
}
.SpecialRiskFactors p, .ImportantInformation p, .ThirdPartyDisclaimers p {
	padding: 0.1cm 0.2cm;
	margin: 0;
}
.ImportantInformation p:empty {
	margin: 0;
	padding: 0;
}
.Perftextex p {
	color: #e2056f;
}
.PerfCaveat .item2 {
	font-weight: bold;
}
.PerfCaveat .item3 {
	color: #e2056f;
}
.AXAWealthCaveat {
	position: absolute;
	bottom: 1.5cm;
	font-size: 8pt;
	width: 19cm;
	left: 1cm;
}
.Caveat, .caveat {
	position: absolute;
	bottom: 1.5cm;
	width: 19cm;
	left: 1cm;
	right: 1cm;
	padding-top: 0.2cm;
	font-size: 7pt;
}
.Infotext a {
	color: #000;
}
.ImportantInformation p, .SpecialRiskFactors p, .Notes p, .ThirdPartyDisclaimers p {
	line-height: 10pt;
}
.ImportantInformation a {
	color: #000;
	text-decoration: none;
}
.Imp h2 {
	background-color: #e2056f;
}
p.FundSize-FundSizeDate, p.FundSizeDate-FundSize {
    border-top: 0.5pt solid #5d0039;
}
div.YeDataAsAtDate-QeDataAsAtDate-FundSizeDate-FundSize {
    width: 49% !important;
}
.page4 .compositebody p {
    line-height: 10pt;
}
.horizontal-list span:first-child span {
    font-family: 'UniversLT-Light', Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-weight: normal;
}
.GeographicAllocation.breakdown h2, .holding.PrincipalHoldings h2, .CreditAllocation h2 {
   border-top: 0.75pt solid #6d6e71;  
}
.SectorAllocation.breakdown h2, .AssetAllocation.breakdown h2 {
   border-top:0;
}
/*as per pbi 195780<<<<*/
.Infoone1{
	border-top: 0.5pt solid #5d0039 !important;
}
/*as per pbi 195780>>>>>*/
.PG2FreeTextBox {
    /* border: 1pt solid #6d6e71; */
	border: 1.5pt solid #6d6e71;
    padding: 0.1cm 0.1cm;
}
.page2 > .row3 .composite.composite1,.page2 > .row4 .breakdown1{
	margin-bottom: 0.2cm;
}
/* AXA-corporate */
