//common
$white:#ffffff;
$black:#000000;
$grey:#bbbbbb;
$lightgrey:#efefef;
$darkgrey:#212121;
$blue:blue;
$red:red;

//theme specific
$primary:rebeccapurple;
$secondary:olive;
$color1: slategray;
$color2:grey;