

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('images/helveticaneueltstd-lt.woff2') format('woff2'),
         url('images/helveticaneueltstd-lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$font-light: 'Helvetica Neue LT Std';
$font-regular: 'Helvetica Neue LT Std';
$font-semi-bold: 'Helvetica Neue LT Std';
$font-bold: 'Helvetica Neue LT Std';

$font-size: (
    "nano":7pt,
    "micro": 8pt,
    "small": 9pt,
    "midsize": 10pt,
    "normal": 11pt,
    "medium": 12pt,
    "uppermedium": 14pt,
    "large": 20pt,
    "footer":7pt
);
$font-weight: (
    "light":200,
    "normal":400,
    "medium":600,
    "bold":700
);
$line-height: (
    "small":0.8,
    "base":auto,
    "normal":1,
    "medium":1.1,
    "large":1.5
);
