@font-face {
	font-family: Friends Life Dagny Bold;
	src: url('Fonts/friends_life_dagny-bold-webfont.eot');
    src: local("Friends Life Dagny-Bold"), url('Fonts/friends_life_dagny-bold-webfont.woff') format("woff"), 
	url('Fonts/friends_life_dagny-bold-webfont.ttf') format("truetype");
}

body { font-family: 'Stratos'; font-size: 8pt; }
.page  { position: relative; width: 19cm; height: 24.7cm; padding: 1cm; padding-bottom: 3.5cm }
.row { margin-bottom: 0.5cm; }
.column > .section { margin-left: 0.5cm; }
.column:first-child > .section { margin-left: 0; }
h1, h2, h3 { margin:0; color: #3399FF; }
p { margin: 0; margin-bottom: 0.25cm; }
.vertical-list div { margin-bottom: 0.25cm; }
.vertical-list div span:first-child { color: #3399FF; }

/*.page > .row1 { border-bottom: 3px solid #3399FF; }*/
.page > .row1 h2.WBFundName { font-size: 24pt; padding-left: 3cm; min-height: 2cm; background-image: url('./Images/logo.png'); background-repeat: no-repeat; margin-bottom: 0.5cm; }
.page1 > .row2 > .column2 > .section { background-color: #efefef; border-radius: 0.25cm; padding: 0.25cm; }

.tabs.breakdowns { border: none; margin: 10px; }
.tabs.breakdowns > .tabpanes { border: none; }
.tabs.breakdowns > .tabpanes > .slider > .tab  { padding-bottom: 20px; }
.tabs.breakdowns > .tabbuttons { position: absolute; bottom: 5px; z-index: 10000; }
.tabs.breakdowns > .tabbuttons > .tab { border: none; background-color: #000; height: 10px; width: 10px; border-radius: 10px; overflow: hidden; margin-right: 10px; text-indent: -10000px; }
.cler {font-size:24pt;}
.reportheader {font-size:34pt;color: rgb(253, 226, 17);padding-left:0.5cm;}
.headerbackground{background-color: rgb(138, 216, 216); height:10cm; background-image:url('ClientLogos/df50df39-1368-4376-bee7-fda5e90bc682.png');background-repeat: no-repeat;background-size: 100%;}
.bottomrightheaderpage{margin-top: 10cm;}
.compositepadding{padding-left: 1cm;background-color: rgb(138, 216, 216);margin-left: 1cm;margin-right: 1cm;padding-bottom: 1.6cm;}

.securityaccount{background-color: rgb(138, 216, 216); padding-top: 7cm;font-size: 34pt;padding-bottom: .5cm;}
.esgdata {background-color: rgb(167, 179, 179); padding-top: 4cm;font-size: 34pt;padding-bottom:3cm}

.FooterCSS .column1{
	width:15%;
	float:left;
}

.FooterCSS .column2{
	width:15%;
	float:left;
}

.FooterCSS .column3{
	width:15%;
	float:left;
}

.FooterCSS .column5{
	width:15%;
	float:left;
}


.FooterCSS .column4{
	width:40%;
	float:left;
	text-align:center;
}


footer {
position: running(footerIdentifier)
}
@page {

@bottom-left {
content: element(footerIdentifier)
}
}


.compositefooter {
    width: 20cm;
    padding: 0;
    position: absolute;
    bottom: 0.5cm;
    left: 0;
    z-index: 1;
    font-size: 7.5pt;
}

    .compositefooter .content {
        margin-right: 0cm;
        position: relative;
        overflow: visible;
    }

        .compositefooter .content:before {
            content: '';
            width: 1px;
            height: 100px;
            background-color: #a7a5a6;
            position: absolute;
            top: 0;
            left: -3px;
        }


@page:first {

@bottom-left {
content: "";
}
}
.FooterCSS {

    width: 20cm;

    padding: 0px 0px 0px 4px;

    position: absolute;

    bottom: 0.3cm;

    left: 0;

    z-index: 1;

    border-top: 0.5px solid #909090;

    font-size: 7.5pt;

}



    .FooterCSS .content {

        margin-right: 0cm;

        position: relative;

        overflow: visible;

    }

.FooterCSS .row{
	margin-bottom: 0.05cm;
}
.FooterCSS .iconSection{
height: 23px;
}
        .FooterCSS .content:before {

            content: '';

            width: 1px;

            height: 60px;

            background-color: #a7a5a6;

            position: absolute;

            top: 0;

            left: 1px;

        }

		.EsgCoverPageImage{
width: 100%;
}


.EsgCoverPage{
	width:100%
}




:root {
    /* parimary color */
    --grayColor: #EBEEF0;
    --blueColor:#0073CF;
    --blueLight:#8BB8E8;
    --whiteColor:#ffffff;
}
@font-face {
    font-family: 'Stratos';
    src: url('Images/Stratos-Regular.eot');
    src: url('Images/Stratos-Regular.eot?#iefix') format('embedded-opentype'),
        url('Images/Stratos-Regular.woff2') format('woff2'),
        url('Images/Stratos-Regular.woff') format('woff'),
        url('Images/Stratos-Regular.ttf') format('truetype'),
        url('Images/Stratos-Regular.svg#Stratos-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('Images/Stratos-Medium.eot');
    src: url('Images/Stratos-Medium.eot?#iefix') format('embedded-opentype'),
        url('Images/Stratos-Medium.woff2') format('woff2'),
        url('Images/Stratos-Medium.woff') format('woff'),
        url('Images/Stratos-Medium.ttf') format('truetype'),
        url('Images/Stratos-Medium.svg#Stratos-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('Images/Stratos-SemiBoldItalic.eot');
    src: url('Images/Stratos-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Images/Stratos-SemiBoldItalic.woff2') format('woff2'),
        url('Images/Stratos-SemiBoldItalic.woff') format('woff'),
        url('Images/Stratos-SemiBoldItalic.ttf') format('truetype'),
        url('Images/Stratos-SemiBoldItalic.svg#Stratos-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

.page1>.row1>.column1 {
    float: left;
    width: 70%;
}
.page1>.row1>.column2 {
    float: left;
    width: 30%;
}
.page > .row1 h2.WBFundName {
    font-size: 16pt;
    background-image: none;
    padding-left: 0;
    min-height: 0.5cm;
    font-family: 'Stratos';
    margin: 0 0 5pt 0;
    text-transform: uppercase;
}
.page1>.row1>.column2 .row1.row.section {
    margin: 0;
}
.page1>.row1>.column2 .logo1.logo.contentSection.section{
    background-image: url(./Images/logo.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 70px auto;
    width: auto;
}
/* .column:first-child > .section{
    margin-bottom:0;
} */
p.DataAsAtDate {
    margin: 0;
}
@page {  margin:0; counter-increment: page 1;}   
.pageTotal::after {content: counter(pages);}html {-ro-rounding-mode: floor;}
.greycomposite {
    background-color: var(--grayColor);
}
.greycomposite.composite1.composite.section {
    padding: 0.5cm;
}
h2 {
    color: var(--blueColor);
    font-weight:500;
}
.contentSection h2{
    margin-bottom: 5pt;
    border-bottom: 1pt solid var(--blueColor);
    padding-bottom: 5pt;
}
.managercomments h2{
    width: 100%;
    text-align: left;
    float: left;
}
.page > .row1 h2.WBFundName,.pdfperformancechart1 h2 {
    padding: 0;
    margin: 0;
    border: 0;
}
.pdfperformancechart1 h2 {
    margin: 10pt 0 5pt;
    text-transform: uppercase;
}
.header p.item3 {
    color:var(--blueColor);
    margin: 0 0 2pt 0;
    font-size:16pt;
}
.managercommentscompositebody .row2.row.section {
    margin-bottom: 0;
}
.page2.page.section .row1.row.section {
    margin-bottom: 0;
}
.page1>.row2>.column2 .row1.row.section .row1.row.section {
    margin-bottom: 0;
}
.contactusbody .row2.row.section {
    margin-bottom: 0;
}
.text1.contactus3.text.contentSection p {
    margin-bottom: 0;
}
.contactusbody .item2 b:first-child {
    color:var(--blueColor);
}
.page1 > .row2 > .column2 > .section {
    background-color: transparent;
    border-radius: 0.25cm;
    padding: 0;
}
.performancetable1 h2 {
    background-color:var(--blueLight);
     color: var(--whiteColor);
    padding: 4px 5px;
    border: none;
    font-size: 9pt;
    font-weight: 500;
}
.performancetable1 table {
    width: 100%;
}
.performancetable1 table tr td:first-child {
    text-align: left;
}
.performancetable1 table tr td {
    text-align: center;
}
.performancetable1 table tr td:last-child,.performancetable1 table tr th:last-child {
    width:45pt;
}
.performancetable1 table tr.odd.unitWorkbook {
    background-color: #E2EDF9;
}
.performancetable1 table tr th,.performancetable1 table tr td{
    border:none;
    font-size: 8pt;
    padding: 3px 4px;
}
.performancetable1 table{
    border-spacing:0;
}
.performancetable1 table tr.odd.unitWorkbook td {
    font-weight: 500;
}
.pdfperformancechart1 .keyWrapper .keyContainer {
    float: left;
    padding-right: 10px;
}
.pdfperformancechart1 .keyWrapper .keyContainer .key-color {
    width: 3mm;
    height: 3mm;
}
.pdfperformancechart1 .keyWrapper .keyContainer .label {
    line-height: 3mm;
    margin-left: 1mm;
}
p.UnitLaunchDate ,.page1>.row2>.column1{
    font-size: 8pt;
}
.breakdown1.AssetAllocationPortfolio .key-color,.breakdown1.GeographicalAllocationPortfolio .key-color {
    width: 2mm;
    height: 2mm;
}
.breakdown1.AssetAllocationPortfolio,.breakdown1.GeographicalAllocationPortfolio{
    font-size: 7.5pt;
}
.breakdown1.AssetAllocationPortfolio table td,.breakdown1.GeographicalAllocationPortfolio table td {
    display: inline-block;
}
.horizontal-list span:first-child {
    font-weight: 400;
}
.horizontal-list span:nth-child(2) {
    font-weight: 500;
}
.greycomposite.composite1.composite.section .row3.row.section {
    margin-bottom: 0;
}
.Top5HoldingsPortfolio table tr th:first-child {
    text-align: left;
}
.Top5HoldingsPortfolio table tr td.Weight {
    font-weight: 500;
}
.Top5HoldingsPortfolio table{
    width:100%;
}
.page1>.row1.row.section .row1.row.section {
    margin-bottom: 5pt;
}
.Top5HoldingsPortfolio h2 {
    display: inline-block;
}
.row2.row.section {
    margin-bottom: 0.2pt;
}
p.ManagerComments_I {
    padding-right: 10px;
}

/* .pdfperformancechart1 .highcharts-container,.pdfperformancechart1 svg.highcharts-root {
    height: 300px !important;
}
 */
