/*@font-face {
    font-family: 'bentonsans_regular';
    src: url('images/BentonSans Condensed Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsans_semibold';
    src: url('images/BentonSans Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsans_bold';
    src: url('images/BentonSans Condensed Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: "Frutiger-bold";
  src: url("images/Frutiger65Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("images/Frutiger-Light.woff2") format("woff2"), url("images/Frutiger-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme-yellow:#FFD500;
  --theme-black:#000000;
}
/* @font-face {
  font-family: "Frutiger_bold";
  src: url("images/Frutiger-Bold.woff2") format("woff2"), url("images/Frutiger-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

/*outer border for page row sections groups*/
/* logo visible in pdf page margin  */
/*show /hide logo in all pages*/
/*show /hide logo in Ist page*/
/*$logoWidth:100%;
$logoHeight:1cm;*/
/*$pagination-path:".pagenumbers";*/
/*Common shared files of same template projects*/
.triangle-1 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
  border-radius: 20%;
}

.triangle-1,
.triangle-1::before,
.triangle-1::after {
  width: 20rem;
  height: 20rem;
}

.triangle-1::before,
.triangle-1::after {
  content: "";
  position: absolute;
  background: yellow;
  pointer-events: auto;
}

.triangle-1::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-1::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.triangle-1::before {
  border-radius: 20% 20% 20% 55%;
}

.triangle-1::after {
  border-radius: 20% 20% 55% 20%;
}

.triangle-2 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
}

.triangle-2,
.triangle-2::before,
.triangle-2::after {
  width: 10rem;
  height: 10rem;
}

.triangle-2::before,
.triangle-2::after {
  content: "";
  position: absolute;
  background: #000000;
  pointer-events: auto;
}

.triangle-2::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-2::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.triangle-3 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
  border-radius: 20%;
}

.triangle-3,
.triangle-3::before,
.triangle-3::after {
  width: 15rem;
  height: 15rem;
}

.triangle-3::before,
.triangle-3::after {
  content: "";
  position: absolute;
  background: gray;
  pointer-events: auto;
}

.triangle-3::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-3::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.triangle-3::before {
  border-radius: 20% 20% 20% 55%;
}

.triangle-3::after {
  border-radius: 20% 20% 55% 20%;
}

.triangle-4 {
  position: relative;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
}

.triangle-4,
.triangle-4::before,
.triangle-4::after {
  width: 17.5rem;
  height: 17.5rem;
}

.triangle-4::before,
.triangle-4::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, orange 0%, red 100%);
  pointer-events: auto;
}

.triangle-4::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle-4::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  margin: 0;
}

h2 {
  font: 9pt "Frutiger-bold";
  color: black;
  margin: 0cm 0 0.15cm 0;
  padding: 0.2cm 0 0.6mm 0;
}

p,
.description {
  font: 9pt "Frutiger";
  color: black;
  margin: 0 0 0cm;
  padding: 0.4mm 0 0.15mm 0;
  line-height: 1.1;
}

p.IssuedOnDate {
  border-bottom: 0px #187aba solid;
  text-align: left;
}

.subheader p {
  font: 9pt "Frutiger";
  color: black;
}

.header1 p,
.header2 p {
  font: 9pt "Frutiger";
  color: black;
  margin: 0;
  padding: 0;
}

.header3 p,
.header4 p {
  font: 9pt "Frutiger";
  color: black;
  margin: 0;
  padding: 0;
}

.page {
  width: 19cm;
  height: auto;
  padding: 0cm;
}

.page1 {
  padding: 0;
  /* background: url(images/VG_logo.png);
  background-size: auto 64px;
  background-position: top 0 right;
  background-repeat: no-repeat; */
}
p br {
  display: block !important;
  margin: 0 0 !important;
  line-height: 0.2 !important;
  padding: 0 !important;
  content: "";
}

.keyinformationdocument h2,
.fundName h2 {
  text-align: left;
}

.keyinformationdocument.contentSection h2 {
  font: 20pt "Frutiger";
  color: black;
  margin: 20.3mm 0 12mm 0;
  /* margin: 1.5cm 0 0 0; */
  padding: 0 0 0cm 0cm;
  line-height: 1;
}

.contentSection h2 {
  font: 9pt "Frutiger-bold";
  color: black;
  margin: 0cm 0 0.15cm 0;
  padding: 0.2cm 0 0.6mm 0;
  border-bottom: 0.1pt solid #000000;
}

.fundName h2 {
  font: 25pt "Frutiger";
  color: #6ec4e9;
  margin: 0cm 0 0.15cm 0;
  padding: 0;
}

@page {
  @top-left {
    content: element(header);
  }
}
@page {
  margin: 1cm 0 0.8cm 1.6cm;
  /*border:1px solid ;*/
}
.page > .row{
  padding-right:1.6cm;
}
.page>.row1 {
  text-align: right;
  position: running(pgfooterRight);
}

.page>.row1 * {
  font-size: 8pt !important;
}

/* @page {
  @bottom-right {
    content: element(pgfooterRight);
    margin-bottom: 1cm;
    width: 19cm;
  }
} */

.page1 .row4 .compositebody>.row .column,
.page1 .row5 .compositebody>.row .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

.page1 .row4 .compositebody>.row .column h2,
.page1 .row5 .compositebody>.row .column h2 {
  column-span: all;
}

.page2 .row2 .compositebody * {
  break-before: avoid-page;
}

.page2 .row2 .compositebody .row3 {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

.page2 .row2 .compositebody .row3 h2 {
  column-span: all;
}

.page2 .row2 .compositebody .row5 .column {
  width: 100% !important;
  column-count: 1;
  column-gap: 0.5cm;
  column-fill: balance !important;
}

h2 {
  bookmark-level: 1;
}

.subheader p {
  bookmark-level: 2;
}

.groupRow1,
.groupRowDiv1,
.groupHeader1,
.groupHeaderDiv1 {
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 0pt solid transparent;
}

table th:not(.groupHeader1) {
  color: #ffffff;
  background: #f2f2f2;
}

/* 
.groupRowDiv1>.groupHeader1 {
  background: #bebebe !important;
} */

table th:last-of-type {
  border-right: 0 !important;
  border-bottom: 0pt solid #000000;
}

table td:not(.rating):last-of-type {
  /* border-right: 0 !important; */
  /*border-bottom: $td-bottom-border-size solid $th-border;*/
}

.groupRow1 {
  border-right: 0 !important;
}

table td {
  vertical-align: middle;
  border-top: 0pt solid #000000;
  border-right: 0.1pt solid #000000;
  /*border-bottom: $td-bottom-border-size solid $td-border;*/
  padding: 1mm 1mm;
  margin: 0;
  background: #ffffff;
}

table th {
  vertical-align: middle;
  margin: 0;
  padding: 1mm 1mm;
}

table .ratings td:not(.rating):last-of-type {
  border-right: 0 !important;
}

.groupHeader1 table th {
  padding: 1mm 1mm;
  background: #bebebe;
  color: var(--theme-black);
  font-family: "Frutiger-bold";
  font-weight: 700;
  font-size: 9pt;
  border-right: 0pt solid #000000;
  border-bottom: 0.5pt solid #000000;
}

.groupHeader1 table th:first-of-type {
  text-align: left;
}

.groupHeader1 table tr:last-of-type th {
  word-wrap: anywhere;
}

.groupRow1 table td {
  border-right: 0.1pt solid #000000;
  border-bottom: 0.5pt solid #000000;
  font-family: "Frutiger";
  font-size: 9pt;
}

.groupRow1 table .header th {
  font-family: "Frutiger";
  font-weight: 400 !important;
  text-align: left;
  border-bottom: 0.5pt solid #000000;
}

.groupRow1 table .incidentalcosts th {
  font-family: "Frutiger-bold";
  font-weight: 400 !important;
  text-align: left;
  border-bottom: 0.5pt solid #000000;
}

.groupRow1 table .ongoingcosts th {
  font-family: "Frutiger-bold";
  font-weight: 400 !important;
  text-align: left;
  border-bottom: 0.5pt solid #000000;
}

.performanceScenario>table {
  border-top: 0pt solid #6ec4e9;
  width: 97.5%;
  margin: 0 0.2cm;
}

.performanceScenario table tr .holding-period th:last-child,
.performanceScenario table tr .investment-amount th:last-child,
.performanceScenario table tr .insurance-premium th:last-child {
  text-align: left;
}

.performanceScenario table td.scenario {
  font-weight: 700;
  font-family: "Frutiger";
}

.performanceScenario .survival-scenario {
  border-top: 0pt;
  border-bottom: 0pt;
}

.performanceScenario .survival-scenario th {
  border-top: 0pt;
  /* border-bottom: 0.5pt solid #000000; */
}

.performanceScenario th[class*=period] {
  width: 3.05cm;
  text-align: left;
}

.performanceScenario td[class*=period] {
  width: 3.05cm;
  text-align: right;
}
html[lang="de-DE"] .costComposition .oneofcosts th:last-of-type,
html[lang="de-DE"] .costComposition td:last-of-type,
html[lang="en-GB"] .costComposition .oneofcosts th:last-of-type,
html[lang="en-GB"] .costComposition td:last-of-type {
  width: 4.1cm;
}
html[lang="de-DE"] .performanceScenario th[class*="period"],
html[lang="de-DE"] .performanceScenario td[class*="period"],
html[lang="en-GB"] .performanceScenario th[class*="period"],
html[lang="en-GB"] .performanceScenario td[class*="period"]  {
  width: 4.1cm;
}

.costOverTime {
  padding-bottom: 0.2cm;
}

.costOverTime>table {
  border-top: 0pt solid #6ec4e9;
  width: 100%;
  margin: 0 0.2cm;
}

.costOverTime table .tableheader {
  display: none;
}

.costOverTime table th {
  width: 4.75cm;
}

.costOverTime table td {
  width: 4.75cm;
}

.costOverTime table td.totalcostsheader,
.costOverTime table td.riyheader {
  font-weight: 400;
  font-family: "Frutiger";
}

.costOverTime table td[class*=totalcosts],
.costOverTime table td[class*=riy] {
  text-align: right;
}

.costOverTime table td.riyheader,
.costOverTime table td.totalcostsheader {
  text-align: left;
}

.costOverTime table th[class*=scenario] {
  text-align: right;
}

.costOverTime {
  padding: 0 0.25cm 0.2cm 0.2cm;
}

.costOverTime.costovertime_4columntable.contentSection {
  /* costovertime table fullwidth css for 4column <<<<*/
}

.costOverTime.costovertime_4columntable.contentSection>table {
  width: 100% !important;
  margin: 0;
}

.costOverTime.costovertime_4columntable.contentSection .scenarioheader th:first-of-type {
  width: 25% !important;
}

.costOverTime.costovertime_4columntable.contentSection table tbody td.totalcostsheader {
  width: 25% !important;
}

.costOverTime.costovertime_4columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 25% !important;
}

.costOverTime.costovertime_4columntable.contentSection table td[class*=totalcosts] {
  width: 25% !important;
}

.costOverTime.costovertime_3columntable.contentSection {
  /* costovertime table fullwidth css for 3column <<<<*/
}

.costOverTime.costovertime_3columntable.contentSection>table {
  width: 98% !important;
}

.costOverTime.costovertime_3columntable.contentSection .scenarioheader th:first-of-type {
  width: 33.4% !important;
}

.costOverTime.costovertime_3columntable.contentSection table tbody td.totalcostsheader {
  width: 33.4% !important;
}

.costOverTime.costovertime_3columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 33.3% !important;
}

.costOverTime.costovertime_3columntable.contentSection table td[class*=totalcosts] {
  width: 33.3% !important;
}

.costOverTime.costovertime_2columntable.contentSection {
  /* costovertime table fullwidth css for 2column <<<<*/
}

.costOverTime.costovertime_2columntable.contentSection>table {
  width: 98% !important;
}

.costOverTime.costovertime_2columntable.contentSection .scenarioheader th:first-of-type {
  width: 50% !important;
}

.costOverTime.costovertime_2columntable.contentSection table tbody td.totalcostsheader {
  width: 50% !important;
}

.costOverTime.costovertime_2columntable.contentSection .scenarioheader th[class*=scenario] {
  width: 50% !important;
}

.costOverTime.costovertime_2columntable.contentSection table td[class*=totalcosts] {
  width: 50% !important;
}

.costComposition {
  padding-bottom: 0.2cm;
}

.costComposition>table {
  border-top: 0pt solid #6ec4e9;
  width: 97.5%;
  margin: 0 0.2cm;
}

.costComposition>table table .tableHeader>th {
  text-align: center;
}

.costComposition table .tableHeader {
  display: none;
}

.costComposition table .oneofcosts th:last-of-type {
  width: 3.15cm;
}

.costComposition table td:last-of-type {
  width: 3.1cm;
}

.sriRiskRating table {
  width: calc(100% - 0.4cm);
  margin: 0.2cm;
}

.sriRiskRating table td.rating {
  border: 1pt solid var(--theme-black);
  background-color: #ffffff;
  text-align: center;
  padding: 0.1cm;
  font-size: 16pt;
  font-family: "Frutiger";
  color: #000000;
}
.sriRiskRating table td.rating.active {
  background-color: var(--theme-yellow);
  color: #ffffff;
}
.sriRiskRating table td.rating.selected {
  background-color: var(--theme-yellow);
  color: #ffffff;
}
.sriRiskRating .header {
  font-size: 9pt;
  font-family: "Frutiger";
}

.sriRiskRating .header th:first-of-type {
  text-align: left;
  padding-left: 0.3cm;
  padding-bottom: 0.1cm;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0.2cm 0cm;
  background-size: 20%;
  background-color: transparent;
  border: 0;
  padding-top: 0;
  font-family: "Frutiger";
}

.sriRiskRating .header th:last-of-type {
  text-align: right;
  font-family: "Frutiger";
  padding-right: 0.3cm;
  padding-bottom: 0.1cm;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 7.3cm 0cm;
  background-size: 20%;
  background-color: transparent;
  border: 0;
  padding-top: 0;
}

.sriRiskRating .arrow {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 238.2 6.4' style='enable-background:new 0 0 238.2 6.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-miterlimit:10;%7D .st1%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg id='a'%3E%3C/g%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='1.9' y1='3.2' x2='236' y2='3.2'/%3E%3Cg%3E%3Cpolygon class='st1' points='4.3,6.1 4.7,5.6 2.2,3.2 4.7,0.8 4.3,0.3 1.1,3.2 '/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st1' points='233.6,6.1 233.1,5.6 235.7,3.2 233.1,0.8 233.6,0.3 236.7,3.2 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center/94% 2.5mm;
  height: 4mm;
  margin: 0 0.2cm;
}

.sriRiskRating>tbody {
  position: relative;
}

.sriRiskRating>tbody .ratings>td {
  /* padding-top: 1cm; */
}

.sriRiskRating>tbody .arrow {
  /* position: absolute; */
  top: 0.7cm;
  left: -8px;
  right: 0;
  width: 100%
}

.sriRiskRating>tbody .header {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  top: 0.3cm;
  left: 0;
  right: 0;
}

/* p.Sri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43.3px 25px;
  border-color: transparent transparent #000000 transparent;
  margin: 20px 12px 0 0;
  float: left;
} */


/* Different types of project templates prps_monthperf/ubs_kid_base/prps_pastperf/priips_base/priips_kid_base */
.page>.row1 {
  /*hiding all footers*/
  display: none;
}

.page1 {
  position: relative;
}

.page1::before {
  content: "";
  position: absolute;
  top: 13mm;
  left: auto;
  width: 59.2mm;
  right: 0;
  height: 10px;
  background: var(--theme-yellow);
  z-index: -1;
}

.keyinformationdocument.contentSection h2 {
  border-bottom: 0pt;
  font-family: "Frutiger";
}

.page>.row1>.composite1>.compositebody>.row2>.column2 {
  /*footer width extended to full page width*/
  width: 100%;
}

.page>.row1>.composite1>.compositebody>.row2>.column1 {
  width: 0;
}

.page {
  width: 100%;
}

.page1>.row2 {
  margin-top: 0 !important;
}

@page :first {
  margin-top: 0;
}

.page>.row {
  margin-top: 0.6mm;
}

.header p {
  font-size: 10pt;
  font-weight: bold;
}

.groupHeader1 table th {
  border-bottom: 0 solid #000000;
}

/* .entrycosts {
  border-top: 0.5 solid #000000 !important;
} */

.description {
  padding: 1mm;
}

.groupRow1 table tbody tr td {
  border-right: 0.1pt solid #000000;
  border-bottom: 0.1pt solid #000000;
  border-left: 0.1pt solid #000000;
  border-top: 0.1pt solid #000000;
  color: black;
}

.performanceScenario>table,
.costOverTime.costovertime_3columntable.contentSection>table,
.costComposition>table {
  width: 100% !important;
  margin: 0;
}

.performanceScenario table td.scenario {
  font-weight: normal;
  font-family: "Frutiger-bold";
}

.costOverTime {
  padding: 0;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 {
  width: 21% !important;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader>p:empty,
.page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value p:empty {
  height: 0;
  margin: 0;
  padding: 0;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader p {
  height: 0.7cm;
}

.page1>.row4>.composite>.compositebody>.row3>.column1 .Product_SubHeader>p {
  margin-bottom: 0;
}

.WB_GeneralInformation_1, .WB_GeneralInformation_2, .WB_GeneralInformation_3, .WB_GeneralInformation_4, .WB_GeneralInformation_5, .WB_GeneralInformation_6, .WB_GeneralInformation_9, .WB_GeneralInformation_10, .WB_GeneralInformation_13, .WB_GeneralInformation_14 {
  min-height: 25px;
}

.page1>.row4>.composite>.compositebody>.row3>.column2 .Product_Value>p {
  margin-bottom: 0;
}

.page1>.row4>.composite>.compositebody>.row3>.column2 {
  width: 79% !important;
}

.page1 .row2>.composite1>.compositebody>.row2>.column1 {
  width: 100%;
}

.page1 .row6>.composite1>.compositebody>.row2>.column1 h2 {
  column-span: all;
}

/*table td:not(.rating):last-of-type{
	border-right:0.4pt solid $black !important;
}
.groupRowDiv1>table td,.performancescenariotable table .survival-scenario th,.groupRow1 table .header th,table .ongoingcosts th, table .incidentalcosts th {
    border: 0.4pt solid $black;
}*/
.oneofcosts th:last-of-type {
  text-align: left;
}

.performanceScenario,
.costcomposition {
  padding-bottom: 0.2cm;
  padding-top: 0.2cm;
}

.page3 .compositebody {
  break-inside: avoid-page;
  break-inside: avoid;
}

h1 {
  position: running(pageheader);
}

.groupRow1 table .header th {
  color: #ffffff;
  font-weight: 600 !important;
  background: #bebebe;
}

.groupRow1 table .incidentalcosts th {
  color: #ffffff;
  font-weight: 600 !important;
  background: #bebebe;
}

.groupRow1 table .ongoingcosts th {
  color: #ffffff;
  font-weight: 600 !important;
  background: #bebebe;
}

/*.performanceScenario .averagereturn td, .costOverTime table td[class*=riy]{
		background : $grey;
}*/
.stress-return .scenario,
.stress-return .description {
  font-family: "Frutiger-bold";
}

.unfavourable-return .scenario,
.unfavourable-return .description {
  font-family: "Frutiger-bold";
}

.moderate-return .scenario,
.moderate-return .description {
  font-family: "Frutiger-bold";
}

.invest .scenario,
.invest .description {
  font-family: "Frutiger-bold";
}

.favourable-return .scenario,
.favourable-return .description {
  font-family: "Frutiger-bold";
}

.page2>.row2>.composite1>.compositebody *,
.page3>.row2>.composite1>.compositebody * {
  break-before: auto;
}

.arrow>td {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* .WB_SRInarrative2_4 { */
/* background: url(images/warning-icon.png);
  background-size: 10%;
  background-position: 0px -5px;
  width: 79%;
  height: 55px;
  padding: 7px 0px 0px 63px;
  display: block;
  background-repeat: no-repeat; */
/* font-family: "Frutiger" !important; */
/* } */

/* p.Sri { */
/* display: none; */
/* border: none;
  margin: 0;
  float: none;
  width: initial;
  height: initial; */
/*&:before {
  	position: absolute;
  	top: -2.3cm;
  	left: -0.7cm;
  	width: max-content;
  }*/
/*&:after {

  }*/
/* } */

h2:empty,
.contentSection:empty {
  display: none;
}

.costOverTime {
  margin-top: 0.2cm;
}

.sriRiskRating {
  position: relative;
}

.sriRiskRating .header th:last-of-type,
.sriRiskRating .header th:first-of-type {
  color: var(--theme-black);
}

.sriRiskRating table td.rating {
  width: 1cm;
  height: 1cm;
  font-weight: bold;
}

table.sriRiskRating th:not(.groupHeader1) {
  background: none;
}

.sriRiskRating {
  break-inside: avoid;
}

.page1>.row6>.composite1>.compositebody>.row2>.column1>.row5 {
  break-before: avoid;
}

/*>>>>>>costovertime table fullwidth css for 3column*/
/*page 2 floating code*/
/*

  .performanceScenario.performancescenariotable {
    page-break-inside:auto !important;
}
*/
.subheader p,
.WB_Whatisthisproduct_1,
.WB_Whatisthisproduct_3,
.WB_Whatisthisproduct_5 {
  font-family: "Frutiger-bold";
  margin-bottom: 0 !important;
}

.subheader .WB_WhatAreTheCosts_3,
.subheader .WB_WhatAreTheCosts_continued_2 {
  font-family: "Frutiger-bold" !important;
}

.page1>.row5 p {
  margin-bottom: 0.1cm;
}

.WB_WhatAreTheCosts_3,
.WB_WhatAreTheCosts_continued_2,
.subheader .WB_Whataretherisks_1 {
  font-family: "Frutiger-bold";
}

.subheader .WB_SRInarrative2_33,
.subheader .WB_WhatAreTheCosts_3 {
  font-family: "Frutiger";
}

.page1>.row4 p {
  padding: 0;
}

.page1>.row6>.composite1>.compositebody>.row2>.column1 {
  width: 100%;
}

.page1>.row6>.composite1>.compositebody>.row2>.column1 {
  page-break-before: always;
}

.sriRiskRating {
  width: auto;
}

.narrative p.WB_HowlongshouldIholdit_1,
.narrative p.WB_HowlongshouldIholdit_2,
.narrative p.WB_HowlongshouldIholdit_3,
.narrative p.WB_HowlongshouldIholdit_4 {
  background-color: #bebebe;
  padding: 0.15cm 0 0.15cm 0.1cm;
  color: #ffffff;
  font-family: "Frutiger-bold";
}

/* 
p.Sri::before {
  content: "";
  --border-width: calc(var(--triangle-width) / 2);
  left: 0;
  width: 0;
  height: 0;
  border-left: var(--border-width) solid transparent;
  border-right: var(--border-width) solid transparent;
  border-bottom: var(--triangle-height) solid var(--warning-color);
  display: flex;
  justify-content: center;
} */

/* p.Sri::after {
  content: "!";
  color: #ffffff;
  font-size: 18pt;
  text-align: center;
  width: var(--triangle-width);
  top: 9pt;
  left: -5px;
  position: relative;
} */


/* p.Sri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43.3px 25px;
  border-color: transparent transparent #ffc000 transparent;
  margin: 45px 12px 0 0;
  float: left;
} */

/* New thene fix changes as per only staging  */
.WB_GeneralInformation_23, .WB_GeneralInformation_1, .WB_GeneralInformation_2, 
.WB_GeneralInformation_5, .WB_GeneralInformation_6, .WB_GeneralInformation_22 {
  font-family: "Frutiger-bold";
}

.page3>.row2>div.section.composite.composite1.composite>div.compositebody>div.section.row.row5>div.section.contentSection.costComposition.costComposition1>table>tbody:nth-child(2)>tr>td>div>table>tbody>tr>th * {
  background: #bebebe;
  color: #000000;
}

.ongoingcosts th {
  background: #bebebe !important;
  color: #000000 !important;
}

.incidentalcosts th {
  background: #bebebe !important;
  color: #000000 !important;
}

.WB_HowlongshouldIholdit_4 {
  /* border-top: 1pt solid #000;
  border-bottom: 1pt solid #000; */
  color: #000 !important;
}

p.Sri {
  background: url(images/Asset1.svg) no-repeat;
  width: 1.3cm;
  height: 1.22cm;
  position: absolute;
  margin-top: 3cm;
}

.WB_SRInarrative2_4,
.WB_SRInarrative2_9,
.WB_SRInarrative2_15 {
  margin-left: 1.7cm;
}

.WB_SRInarrative2_4 {
  margin-top: 0cm;
  font-family: "Frutiger" !important;
}

html[lang="en-GB"] .WB_SRInarrative2_2,
html[lang="en-GB"] .WB_SRInarrative2_3 {
  margin-left: 1.7cm;
}

html[lang="en-GB"] .WB_SRInarrative2_3 {
  margin-left: 0;
}


html[lang="en-GB"] .WB_SRInarrative2_2 {
  padding-top: 0.2cm;

}

html[lang="en-GB"] .WB_SRInarrative2_4 {
  margin-left: 0;
}

html[lang="en-GB"] p.Sri {
  margin-top: 3.3cm;
}

.page4 {
  display: none;
}
.WB_GeneralInformation_23, .WB_SRInarrative2_34 {
  font-weight: bold;
}
.page1 .row6 .compositebody, .page2 .row4 .compositebody {
  page-break-inside: avoid;
}
.performanceScenario1 .groupRowDiv1{
  background-color: #bebebe;
}
.performanceScenario1 .groupRow1 table tbody tr:first-child td,
.costovertimetable .groupRow1 table tbody tr:first-child td,
.costComposition1 .groupRow1 table tbody tr:first-child td,
.costComposition1 .groupRow1 table tbody tr.managementfeesandothercosts td,
.costComposition1 .groupRow1 table tbody tr.performancefees td{
  border-top: none;
}
.ongoingcosts th,.incidentalcosts th {
  border-bottom: none !important;
}
@page :-ro-nth(3){
  @bottom-left {
    content: "www.postfinance.ch";
		font-size: 9pt;
		font-family: "Frutiger";
    margin-bottom:-1cm;
  }
}


@page :-ro-nth(3){
  margin-bottom: 2cm;
  @bottom-right {
    background-color: transparent;
    background-image: url("images/VG_logo.png");
    background-size: 225px 64px;
    width: 7cm;
    height: 17mm;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}

/* @page :-ro-nth(3){
  margin-bottom: 1.7cm;
  @bottom-right-corner {
    background-color: transparent;
    background-image: url("images/VG_logo.png");
    background-size: 46.23mm 13mm;
    width: 7cm;
    height: 17mm;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    right:0;
    bottom:0;
    z-index: 9;
  }
} */
.performanceScenario1 table th:last-of-type,.costovertimetable table th:last-of-type{
  border-right: 0.8pt solid #bebebe !important;
}
.costComposition1 table th:last-of-type {
  border-right: 1.2pt solid #bebebe !important;
}
table th:last-of-type th{
  border-right:none !important;
}
.performanceScenario1 .groupHeader1 .groupHeaderDiv1 table,.performanceScenario1 .groupHeader1 .groupHeaderDiv1 table *,
tr.holding-period, tr.holding-period *,
tr.investment-amount, tr.investment-amount *,
tr.holding-period, tr.holding-period * {
  background-color: #bebebe !important;
}
/*Theme name:PostFinance*/
/*# sourceMappingURL=map/theme.css.map */