p {
	text-align: justify;
}

.FooterCSS {
	width: 20cm;
	padding: 0px 0px 0px 4px;
	position: absolute;
	bottom: 0.3cm;
	left: 0;
	z-index: 1;
	border-top: 0.5px solid #909090;
	font-size: 7.5pt;
	.content {
		margin-right: 0cm;	
		position: relative;	
		overflow: visible;	
	}
	.row {
		margin-bottom: 0.05cm;
	}
	.iconSection {
		height: 23px;
	}
	.content:before {
		content: '';	
		width: 1px;
		height: 60px;
		background-color: #a7a5a6;
		position: absolute;
		top: 0;
		left: 1px;
	
	}
}











/* UBS_MPD_publifund_standard_theme */