@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
.fe-cover.fe-fundInformationTools {
    background: #0A2F73;
}
.fe-fundsInBasket {
    position: relative;
    padding-left: 15px;
    background-position: 15px 7px;
}
.fe-fundsInBasket::after {
    content: "";
    background-color: #2B447D;
    position: absolute;
    top: 12px;
    z-index: -1;
    left: 0;
    height: 18px;
    width: calc(100% - 20px);
}
.fe-mastertabs-FundCentreMasterTab.fe-menuTabs-content.ui-tabs-panel.ui-widget-content.ui-corner-bottom:before {
    content: "Fund Centre";
    top: 97px;
    position: absolute;
    font-size: 17pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #0A2F73;
}
.fe-tab-container-Price .fe-datatable-pagination-container.ui-widget-header.ui-corner-top {
    position: relative;
}
.fe-tab-container-Price .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before {
    content: "Price";
}
.fe-tab-container-FundInfo .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before{
    content:"Sectors and Charges";
}
.fe-tab-container-Performance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before{
    content:"Cumulative Performance %";
}
.fe-tab-container-AnnualisedPerformance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before{
    content:"Annualised Performance %";
}
.fe-tab-container-DiscretePerformance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before{
    content:"Discrete Performance %";
}
.fe-tab-container-Risk .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before{
    content:"Risk measures";
}

.fe-tab-container-FundInfo .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before,
.fe-tab-container-Price .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before,
.fe-tab-container-Performance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before,
.fe-tab-container-AnnualisedPerformance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before,
.fe-tab-container-DiscretePerformance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before,
.fe-tab-container-Risk .fe-datatable-pagination-container.ui-widget-header.ui-corner-top:before{
    top: 15px;
    position: absolute;
    left: 15px;
    text-align: left;
    font-size: 17pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #0A2F73;
}
.fe-mastertabs-FundCentreMasterTab.fe-menuTabs-content.ui-tabs-panel.ui-widget-content.ui-corner-bottom{
    background-image: none;
}
.fe-tab-container-Price .fe-datatable-pagination-container.ui-widget-header.ui-corner-top,
.fe-tab-container-FundInfo .fe-datatable-pagination-container.ui-widget-header.ui-corner-top,
.fe-tab-container-Performance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top,
.fe-tab-container-AnnualisedPerformance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top,
.fe-tab-container-DiscretePerformance .fe-datatable-pagination-container.ui-widget-header.ui-corner-top,
.fe-tab-container-Risk .fe-datatable-pagination-container.ui-widget-header.ui-corner-top {
    background-image: none;
}
.fe-fundsInBasket.fe-basket-back {
    position: relative;
    background: none;
    width: auto;
}
.fe-fundsInBasket.fe-basket-back .fe-basketHeader {
    right: 40px;
    width: auto;
    white-space: nowrap;
    padding-left: 30px;
    top: 8px;
    background:url("fe_img/back-white.png") no-repeat left center;
    background-size: 20px auto;
}
.fe-fundsInBasket.fe-basket-back .fe-basketHeader .fe-basketTitle {
    font-weight: normal;
    text-transform: none;
}