//common
$white:#ffffff;
$black:#000000;
$grey:#bbbbbb;
$lightgrey:#efefef;
$darkgrey:#af0707;
$medgrey:rgb(190,190,190);
$lightgrey:rgb(217,217,217);
$blue:rgb(15, 106, 224);
$red:#E95326;
$highlightcolor:rgb(190,190,190);
$transparent:transparent;

//theme specific
$primary:#000000;
$secondary:#1B1B1B;
$color1: slategray;
$color2:grey;
$basecolor:#231F20;