@if $is-two-column {
    .page1 > .row5 .compositebody .column1, .page1 > .row6 .compositebody .column1 {
        column-count: $column-count;
        column-gap: 0.5cm;
        column-fill: balance;
        > .row1 {
            column-span: all;
        }
    }
    
}