@font-face {
  font-family: "Friends Life Dagny Bold";
  src: url("Fonts/friends_life_dagny-bold-webfont.eot");
  src: local("Friends Life Dagny-Bold"),
    url("Fonts/friends_life_dagny-bold-webfont.woff") format("woff"),
    url("Fonts/friends_life_dagny-bold-webfont.ttf") format("truetype");
}

:root {
  --header-blue: #1e9bd7;
  --context-header-yellow: #ffbf27;
  --black-color: #000;
}

body {
  font-family: "Georgia", serif;
  font-size: 9pt;
  /* line-height: 125%; */
  padding: 0;
  margin: 0;
}

.horizontal-list div {
  display: flex;
  gap: 10px;
}

.horizontal-list div {
  width: 100%;
}

/* New css Implemented */

.page1>.row2 {
  border: 1px solid #000;
  padding-top: 0.2cm;
  padding-left: 0.2cm;
}

.page1>.row3 {
  padding-top: 0.2cm;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  border: 1px solid #000;
  border-top: 0;
}

.page1>.row4 {
  padding-top: 0.2cm;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  border: 1px solid #000;
  border-bottom: none;
  border-top: 0;
}

.page1>.row5 {
  padding-top: 1cm;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.page1>.section.row.row1 {
  margin-top: 1cm;
}

.page1>.row7>.Header {
  border-top: 1px solid #000 !important;
}

.page1>.row26>.column2,
.page1>.row26>.column3 {
  float: left;
  /* width: 15%; */
}

.page1>.row7,
.page1>.row8,
.page1>.row12,
.page1>.row18,
.page1>.row22,
.page1>.row29,
.page1>.row32,
.page1>.row33,
.page1>.row23,
.page1>.row25,
.page1>.row27,
.page1>.row30,
.page1>.row31,
.page1>.row32,
.page1>.row34 {
  padding: 0 0.2cm;
  display: flex;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.page1 > .row38 > .TextBox .label,
.page1 > .row38 .label {
  text-align: center;
  width: 100%;
}

.page1>.row7>.Header,
.page1>.row23>.Header,
.page1>.row25>.SubHeader,
.page1>.row27>.SubHeader,
.page1>.row29>.SubHeader,
.page1>.row31>.SubHeader {
  padding: 0.5cm 0.2cm !important;
}

.page1>.row7>.Header,
.page1>.row12>.Header,
.page1>.row18>.Header,
.page1>.row19>.text1,
.page1>.row23>.text1,
.page1>.row22>.SubHeader,
.page1>.row26>.text1,
.page1>.row25>.SubHeader,
.page1>.row27>.text1,
.page1>.row29>.text1,
.page1>.row29>.SubHeader,
.page1>.row30>.text1,
.page1>.row31>.SubHeader,
.page1>.row32>.text1,
.page1>.row33>.TextBox,
.page1>.row13>.text1,
.page1>.row20>.text1,
.page1>.row24>.text1,
.page1>.row34>.TextBox {
  width: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0cm 0.2cm;
  margin: 0;
}

.page1>.row32>.TextBox,
.page1>.row33>.TextBox,
.page1>.row34>.TextBox {
  padding: 0.2cm 0.2cm;
}

.TextBox {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
  box-decoration-break: clone;
  box-sizing: border-box;
  word-wrap: break-word;
}

.page1>.row29 .text1 {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
  box-sizing: border-box;
}

.HeaderBox {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
}

.HeaderBox p,
.Header p,
.SubHeader p {
  /* line-height: 105%; */
}

.page1>.row8 .compositebody>*,
.page1>.row9,
.page1>.row10,
.page1>.row11,
.page1>.row13,
.page1>.row14,
.page1>.row15,
.page1>.row16,
.page1>.row17,
.page1>.row19,
.page1>.row20,
.page1>.row21,
.page1>.row24,
.page1>.row26,
.page1>.row25,
.page1>.row28,
.page1>.row31 {
  /* display: grid; */
  grid-template-columns: repeat(7, 1fr);
  padding: 0 0.2cm;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.page1>.row6 {
  display: grid;
  grid-template-columns: 23% 12% 10% 10% 20% 25%;
  padding: 0 0.2cm;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.page1>.row28>.column1,
.page1>.row20>.column1 {
  width: 23%;
}

.page1>.row20>.column1,
.page1>.row24>.column1 {
  width: 23.05%;
}

.page1>.row20>.column6,
.page1>.row24>.column6 {
  border-right: 1px solid #000 !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column1,
.page1>.row8>.composite1>.compositebody>.row3>.column1,
.page1>.row8>.composite1>.compositebody>.row4>.column1,
.page1>.row8>.composite1>.compositebody>.row5>.column1,
.page1>.row9>.column1,
.page1>.row10>.column1,
.page1>.row11>.column1,
.page1>.row12>.column1,
.page1>.row13>.column1,
.page1>.row14>.column1,
.page1>.row15>.column1,
.page1>.row16>.column1,
.page1>.row17>.column1,
.page1>.row18>.column1,
.page1>.row21>.column1,
.page1>.row22>.column1,
.page1>.row23>.column1,
.page1>.row25>.column1,
.page1>.row26>.column1,
.page1>.row27>.column1,
.page1>.row29>.column1,
.page1>.row30>.column1,
.page1>.row31>.column1,
.page1>.row33>.column1 {
  width: 10%;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2,
.page1>.row8>.composite1>.compositebody>.row3>.column2,
.page1>.row8>.composite1>.compositebody>.row4>.column2,
.page1>.row8>.composite1>.compositebody>.row5>.column2,
.page1>.row9>.column2,
.page1>.row10>.column2,
.page1>.row11>.column2,
.page1>.row12>.column2,
.page1>.row13>.column2,
.page1>.row14>.column2,
.page1>.row15>.column2,
.page1>.row16>.column2,
.page1>.row17>.column2,
.page1>.row18>.column2,
.page1>.row19>.column2,
.page1>.row21>.column2,
.page1>.row22>.column2,
.page1>.row23>.column2,
.page1>.row25>.column2,
.page1>.row26>.column2,
.page1>.row27>.column2,
.page1>.row29>.column2,
.page1>.row30>.column2,
.page1>.row31>.column2,
.page1>.row33>.column2 {
  width: 13%;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3,
.page1>.row8>.composite1>.compositebody>.row3>.column3,
.page1>.row8>.composite1>.compositebody>.row4>.column3,
.page1>.row8>.composite1>.compositebody>.row5>.column3,
.page1>.row9>.column3,
.page1>.row10>.column3,
.page1>.row11>.column3,
.page1>.row12>.column3,
.page1>.row13>.column3,
.page1>.row14>.column3,
.page1>.row15>.column3,
.page1>.row16>.column3,
.page1>.row17>.column3,
.page1>.row18>.column3,
.page1>.row19>.column3,
.page1>.row27>.column3,
.page1>.row20>.column2,
.page1>.row22>.column3,
.page1>.row24>.column2,
.page1>.row25>.column3,
.page1>.row26>.column3,
.page1>.row28>.column2,
.page1>.row29>.column3,
.page1>.row30>.column3,
.page1>.row19>.column2,
.page1>.row31>.column3,
.page1>.row23>.column3,
.page1>.row21>.column3,
.page1>.row33>.column3 {
  width: 12%;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4,
.page1>.row8>.composite1>.compositebody>.row3>.column4,
.page1>.row8>.composite1>.compositebody>.row4>.column4,
.page1>.row8>.composite1>.compositebody>.row5>.column4,
.page1>.row9>.column4,
.page1>.row10>.column4,
.page1>.row11>.column4,
.page1>.row12>.column4,
.page1>.row13>.column4,
.page1>.row14>.column4,
.page1>.row15>.column4,
.page1>.row16>.column4 .page1>.row17>.column4,
.page1>.row18>.column4,
.page1>.row19>.column4,
.page1>.row27>.column4,
.page1>.row20>.column3,
.page1>.row22>.column4,
.page1>.row24>.column3,
.page1>.row25>.column4,
.page1>.row26>.column4,
.page1>.row28>.column3,
.page1>.row29>.column4,
.page1>.row30>.column4,
.page1>.row19>.column3,
.page1>.row23>.column4,
.page1>.row31>.column4,
.page1>.row21>.column4,
.page1>.row33>.column4 {
  width: 10%;
}

.page1>.row8>.composite1>.compositebody>.row2>.column5,
.page1>.row8>.composite1>.compositebody>.row3>.column5,
.page1>.row8>.composite1>.compositebody>.row4>.column5,
.page1>.row8>.composite1>.compositebody>.row5>.column5,
.page1>.row9>.column5,
.page1>.row10>.column5,
.page1>.row11>.column5,
.page1>.row12>.column5,
.page1>.row13>.column5,
.page1>.row14>.column5,
.page1>.row15>.column5,
.page1>.row16>.column5,
.page1>.row17>.column5,
.page1>.row18>.column5,
.page1>.row19>.column5,
.page1>.row20>.column4,
.page1>.row27>.column5,
.page1>.row22>.column5,
.page1>.row25>.column5,
.page1>.row26>.column5,
.page1>.row28>.column4,
.page1>.row29>.column5,
.page1>.row30>.column5,
.page1>.row24>.column4,
.page1>.row19>.column4,
.page1>.row23>.column5,
.page1>.row31>.column5,
.page1>.row21>.column5,
.page1>.row33>.column5 {
  width: 10%;
}

.page1>.row8>.composite1>.compositebody>.row2>.column6,
.page1>.row8>.composite1>.compositebody>.row3>.column6,
.page1>.row8>.composite1>.compositebody>.row4>.column6,
.page1>.row8>.composite1>.compositebody>.row5>.column6,
.page1>.row9>.column6,
.page1>.row10>.column6,
.page1>.row11>.column6,
.page1>.row12>.column6,
.page1>.row13>.column6,
.page1>.row14>.column6,
.page1>.row15>.column6,
.page1>.row16>.column6,
.page1>.row17>.column6,
.page1>.row18>.column6,
.page1>.row19>.column6,
.page1>.row27>.column6,
.page1>.row20>.column5,
.page1>.row22>.column6,
.page1>.row25>.column6,
.page1>.row26>.column6,
.page1>.row28>.column5,
.page1>.row29>.column6,
.page1>.row30>.column6,
.page1>.row24>.column5,
.page1>.row19>.column5,
.page1>.row23>.column6,
.page1>.row31>.column6,
.page1>.row21>.column6,
.page1>.row33>.column6 {
  width: 20%;
}

.page1>.row8>.composite1>.compositebody>.row2>.column7,
.page1>.row8>.composite1>.compositebody>.row3>.column7,
.page1>.row8>.composite1>.compositebody>.row4>.column7,
.page1>.row8>.composite1>.compositebody>.row5>.column7,
.page1>.row9>.column7,
.page1>.row10>.column7,
.page1>.row11>.column7,
.page1>.row12>.column7,
.page1>.row13>.column7,
.page1>.row14>.column7,
.page1>.row15>.column7,
.page1>.row16>.column7,
.page1>.row17>.column7,
.page1>.row18>.column7,
.page1>.row19>.column7,
.page1>.row27>.column7,
.page1>.row20>.column6,
.page1>.row22>.column7,
.page1>.row25>.column7,
.page1>.row26>.column7,
.page1>.row24>.column6,
.page1>.row28>.column6,
.page1>.row29>.column7,
.page1>.row30>.column7,
.page1>.row19>.column6,
.page1>.row23>.column7,
.page1>.row31>.column7,
.page1>.row21>.column7,
.page1>.row33>.column7 {
  width: 25%;
}

.page1>.row28>.column3 {
  width: 10.05%;
}

.page1>.row20>.column3,
.page1>.row24>.column3,
.page1>.row30>.column5 {
  width: 9.95%;
}

.page1>.row28>.column4 {
  width: 9.95%;
}

.page1>.row28>.column5 {
  width: 19.9%;
}

/* .page1 > .row8 .compositebody .row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */

.page1>.row6 .column,
.page1>.row8 .compositebody .row .column,
.page1>.row28 .column,
.page1>.row9 .column,
.page1>.row10 .column,
.page1>.row11 .column,
.page1>.row12 .column,
.page1>.row13 .column,
.page1>.row14 .column,
.page1>.row15 .column,
.page1>.row16 .column,
.page1>.row17 .column,
.page1>.row18 .column,
.page1>.row19 .column,
.page1>.row20 .column,
.page1>.row21 .column,
.page1>.row23>.column,
.page1>.row22 .column,
.page1>.row24 .column,
.page1>.row25 .column,
.page1>.row26 .column,
.page1>.row27 .column,
.page1>.row29 .column,
.page1>.row30 .column,
.page1>.row31 .column,
.page1>.row33 .column {
  border: 1px solid #000;
  border-right-width: 0;
  border-bottom-width: 0px;
  /* width: initial !important; */
}

.page1>.row6 .column6 {
  border-right: 1px solid #000;
}

.page1>.row34,
.page1>.row35,
.page1>.row36,
.page1>.row37,
.page1>.row38 {
  border: 1px solid #000;
}

.page1>.row33,
.page1>.row34,
.page1>.row35,
.page1>.row36,
.page1>.row37 {
  border-bottom: 0;
}

.row .column7 {
  border-right-width: 1px !important;
}

.row2 .column,
.row18 .column {
  border-top-width: 1px !important;
}

.row27 .column,
.row31 .column {
  border-bottom-width: 1px !important;
}

.page1>.row17>.contentSection,
.page1>.row23>.contentSection,
.page1>.row25>.contentSection,
.page1>.row27>.contentSection,
.page1>.row30>.contentSection {
  border-top: 1px solid #000;
}

.page1>.row5 div:first-of-type {
  /* padding: 10px; */
  padding: 0.5cm 0.2cm !important;
  border: 1px solid #000;
  border-bottom: 0;
}

.column:first-child>.section {
  margin-left: 0;
}

h1,
h2,
h3 {
  margin: 0;
  color: #3399ff;
}

p {
  margin: 0;
  margin-bottom: 0cm;
}

.vertical-list div {
  margin-bottom: 0.25cm;
}

/* .vertical-list div span:first-child {
  color: #3399ff;
} */

.page>.row1 {
  /* background-image: url("./images/fefundlogo.svg");
  background-size: 3.5cm 1cm;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 0.5cm; */
}

.page1>.section.row.row1 {
  margin-bottom: 0.5cm;
}

/* .page > .row1 h2 {
  font-size: 24pt;
  padding-left: 3cm;
  min-height: 2cm;
  background-image: url("./Images/logo.png");
  background-repeat: no-repeat;
  margin-bottom: 0.5cm;
} */

.page1>.row2>.column2>.section {
  background-color: #efefef;
  border-radius: 0.25cm;
  padding: 0.25cm;
}

.tabs.breakdowns {
  border: none;
  margin: 10px;
}

.tabs.breakdowns>.tabpanes {
  border: none;
}

.tabs.breakdowns>.tabpanes>.slider>.tab {
  padding-bottom: 20px;
}

.tabs.breakdowns>.tabbuttons {
  position: absolute;
  bottom: 5px;
  z-index: 10000;
}

.tabs.breakdowns>.tabbuttons>.tab {
  border: none;
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  text-indent: -10000px;
}

.cler {
  font-size: 24pt;
}

.reportheader {
  font-size: 34pt;
  color: rgb(253, 226, 17);
  padding-left: 0.5cm;
}

.headerbackground {
  background-color: rgb(138, 216, 216);
  height: 10cm;
  background-image: url("ClientLogos/df50df39-1368-4376-bee7-fda5e90bc682.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bottomrightheaderpage {
  margin-top: 10cm;
}

.compositepadding {
  padding-left: 1cm;
  background-color: rgb(138, 216, 216);
  margin-left: 1cm;
  margin-right: 1cm;
  padding-bottom: 1.6cm;
}

.securityaccount {
  background-color: rgb(138, 216, 216);
  padding-top: 7cm;
  font-size: 34pt;
  padding-bottom: 0.5cm;
}

.esgdata {
  background-color: rgb(167, 179, 179);
  padding-top: 4cm;
  font-size: 34pt;
  padding-bottom: 3cm;
}

.FooterCSS .column1 {
  width: 15%;
  float: left;
}

.FooterCSS .column2 {
  width: 15%;
  float: left;
}

.FooterCSS .column3 {
  width: 15%;
  float: left;
}

.FooterCSS .column5 {
  width: 15%;
  float: left;
}

.FooterCSS .column4 {
  width: 40%;
  float: left;
  text-align: center;
}

footer {
  position: running(footerIdentifier);
}

.compositefooter {
  width: 20cm;
  padding: 0;
  position: absolute;
  bottom: 0.5cm;
  left: 0;
  z-index: 1;
  font-size: 7.5pt;
}

.compositefooter .content {
  margin-right: 0cm;
  position: relative;
  overflow: visible;
}

.compositefooter .content:before {
  content: "";
  width: 1px;
  height: 100px;
  background-color: #a7a5a6;
  position: absolute;
  top: 0;
  left: -3px;
}

.FooterCSS {
  width: 20cm;
  padding: 0px 0px 0px 4px;
  position: absolute;
  bottom: 0.3cm;
  left: 0;
  z-index: 1;
  border-top: 0.5px solid #909090;
  font-size: 7.5pt;
}

.FooterCSS .content {
  margin-right: 0cm;
  position: relative;
  overflow: visible;
}

.FooterCSS .row {
  margin-bottom: 0.05cm;
}

.FooterCSS .iconSection {
  height: 23px;
}

.FooterCSS .content:before {
  content: "";
  width: 1px;
  height: 60px;
  background-color: #a7a5a6;
  position: absolute;
  top: 0;
  left: 1px;
}

.EsgCoverPageImage {
  width: 100%;
}

.EsgCoverPage {
  width: 100%;
}

.page1>.row .compositebody>.row::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.page1>.row .compositebody>.row::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.page1>.row::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.page1>.row::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

/* .page1 > .row:nth-child(2)::after {
  content: none !important;
  height: 0px;
  background-color: #fff;
} */

.page1>.row:nth-child(2)::before,
.page1>.row:nth-child(2)::after {
  height: 4px;
  background-color: #fff;
  z-index: 11;
  top: -2px;
}

.page1>.row:last-child::before {
  /* height: 1px; */
  /* bottom: -0.5px;
  background: #fff;
  z-index: 11; */
}

.page {
  position: relative;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}

.page1>.row .compositebody>.row,
.page1>.row9,
.page1>.row10,
.page1>.row11,
.page1>.row13,
.page1>.row14,
.page1>.row15,
.page1>.row16,
.page1>.row17,
.page1>.row20,
.page1>.row21,
.page1>.row24,
.page1>.row26,
.page1 > .row29 > .column1 > .row,
.page1>.row25 {
  display: table;
  width: 27.76cm;
  table-layout: fixed;
}

.page1>.row .compositebody>.row>.column,
.page1>.row9 .column,
.page1>.row10>.column,
.page1>.row11 .column,
.page1>.row12>.column,
.page1>.row13 .column,
.page1>.row14>.column,
.page1>.row15 .column,
.page1>.row16>.column,
.page1>.row17>.column,
.page1>.row19>.column,
.page1>.row20 .column,
.page1>.row21>.column,
.page1>.row22 .column,
.page1>.row23 .column,
.page1>.row24>.column,
.page1>.row25>.column,
.page1>.row26 .column,
.page1>.row28>.column,
.page1>.row29 .column,
.page1>.row30>.column {
  display: table-cell;
  float: none !important;
}

.page1>.row6>.column {
  width: initial !important;
}

@page {
  size: A4 landscape;
  margin: .5cm 0cm 0cm 0cm;
  padding: 1.5cm 0cm 0.5cm 0cm;
  background: url('./images/logo.jpg');
  background-repeat: no-repeat;
  background-position: 1cm 0%;
  background-size: 20mm;
}

.page1>.row1 .text1 {
  margin-top: -1px;
}

.page1>.row8>.composite1>.compositebody>.row3>.column7,
.page1>.row8>.composite1>.compositebody>.row4>.column7,
.page1>.row8>.composite1>.compositebody>.row5>.column7,
.page1>.row9>.column7,
.page1>.row10>.column7,
.page1>.row13>.column7 {
  border-top: none;
}


.page1>.row4,
.page1>.row22 {
  page-break-before: always;
}

.page1>.row5>.text1 center {
  color: var(--black-color);
}

.page1>.row6>.column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page1>.row6>.column p {
  text-align: left;
}

.page1>.row6>.column:not(.column1) {
  justify-content: flex-start;
  padding: 0 5px;
}

.page1>.row24>.column,
.page1>.row28>.column {
  vertical-align: top;
}

.page1>.row6>.column .HeaderBox,
.page1>.row24>.column .HeaderBox,
.page1>.row28>.column .HeaderBox {
  padding: 0.2cm 0.1cm;
  text-align: center;
}

.page1>.row24>.column .HeaderBox,
.page1>.row28>.column .HeaderBox {
  padding: 0.2cm 0.2cm;
}

.page1>.row24>.column:not(.column1) .HeaderBox,
.page1>.row28>.column:not(.column1) .HeaderBox {
  text-align: left;
}

.page1>.row7>.text1,
.page1>.row12>.text1,
.page1>.row18>.text1,
.page1>.row23>.text1,
.page1>.row22>.text1,
.page1>.row26>.text1,
.page1>.row29>.text1,
.page1>.row30>.text1,
.page1>.row32>.text1 {
  padding: 0.5mm 1mm !important;
  text-align: center;
}

.page1>.row7>.text1 center,
.page1>.row12>.text1 center,
.page1>.row18>.text1 center,
.page1>.row22>.text1 center,
.page1>.row23>.text1 center,
.page1>.row26>.text1 .item2,
.page1>.row27>.text1 center,
.page1>.row13>.text1,
.page1>.row19>.text1,
.page1>.row20>.text1,
.page1>.row24>.text1,
.page1>.row27>.text1,
.page1>.row32 center,
.page1>.row34 .text1 {
  text-align: center;
  padding: 15px 0;
}

.page1>.row13>.text1,
.page1>.row19>.text1,
.page1>.row20>.text1,
.page1>.row24>.text1 {
  box-sizing: border-box;
}

.page1>.row13>.text1,
.page1>.row24>.text1,
.page1>.row19>.text1 {
  border-top: 1px solid #000;
}

.page1>.row8>.composite1>.compositebody>.row2>.column {
  vertical-align: top;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row1 {
  border-bottom: 1px solid var(--black-color);
  min-height: 63.80mm;
}

.page1>.row9>.column7,
.page1>.row10>.column7,
.page1>.row11>.column7 {
  border-top: 1px solid var(--black-color) !important;
}

.page1>.row12>.Header,
.page1>.row18>.Header,
.page1>.row26>.text1,
.page1>.row22>.SubHeader {
  border-top: 1px solid var(--black-color);
  font-weight: bold;
}

.page1>.row13>.column7 {
  border-top: 1px solid var(--black-color);
}

.page1>.row31 .displayname-tooltip,
.page1>.row32 .displayname-tooltip,
.page1>.row34 .text1 {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
  word-wrap: break-word;
}

.page1>.row19>.column6 {
  border-right: 1px solid var(--black-color);
}

.page1>.row27>.text1>.item2.displayname-tooltip,
.page1>.row30>.text1>.item2.displayname-tooltip {
  font-weight: bold;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row9,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row9,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row9 {
  border-bottom: none;
}

.page1>.row37::after {
  display: none;
}

.page1>.row38::after {
  display: none;
}

.page1>.row39::after {
  display: none;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row1>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row2>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row3>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row4>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row5>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row6>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row7>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row8>.text1 {
  min-height: 11.5mm;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row17>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row17>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row17>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row17>.text1 {
  border-bottom: none !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row>.text1 {
  border-bottom: 1px solid var(--black-color);
  padding: 0.2cm 0.1cm 0.2cm 0.2cm;
  min-height: 11.5mm !important;
  box-sizing: border-box;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row:nth-of-type(2n)>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row:nth-of-type(2n)>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row:nth-of-type(2n)>.text1 {
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row1 {
  min-height: 130mm;
  border-bottom: none;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row11 {
  min-height: 17.5mm;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row13 {
  min-height: 16.9mm;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row15 {
  min-height: 28.2mm;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row11>.text1 {
  min-height: 18mm;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row13>.text1 {
  min-height: 17.8mm;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row15>.text1 {
  min-height: 17.5mm;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row11>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row12>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row11>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row12>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row11>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row12>.text1 {
  min-height: 9mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row13>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row14>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row13>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row14>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row13>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row14>.text1 {
  min-height: 8.95mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row15>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row16>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row15>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row16>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row15>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row16>.text1 {
  min-height: 14.3mm !important;
}

.page1>.row9>.column4>.row>.text1,
.page1>.row9>.column5>.row>.text1,
.page1>.row9>.column6>.row>.text1,
.page1>.row10>.column4>.row>.text1,
.page1>.row10>.column5>.row>.text1,
.page1>.row10>.column6>.row>.text1,
.page1>.row11>.column4>.row>.text1,
.page1>.row11>.column5>.row>.text1,
.page1>.row11>.column6>.row>.text1,
.page1>.row12>.column4>.row>.text1,
.page1>.row12>.column5>.row>.text1,
.page1>.row12>.column6>.row>.text1,
.page1>.row13>.column4>.row>.text1,
.page1>.row13>.column5>.row>.text1,
.page1>.row13>.column6>.row>.text1,
.page1>.row14>.column4>.row>.text1,
.page1>.row14>.column5>.row>.text1,
.page1>.row14>.column6>.row>.text1,
.page1>.row15>.column4>.row>.text1,
.page1>.row15>.column5>.row>.text1,
.page1>.row15>.column6>.row>.text1,
.page1>.row16>.column4>.row>.text1,
.page1>.row16>.column5>.row>.text1,
.page1>.row16>.column6>.row>.text1,
.page1>.row17>.column4>.row>.text1,
.page1>.row17>.column5>.row>.text1,
.page1>.row17>.column6>.row>.text1,
.page1>.row20>.column4>.row>.text1,
.page1>.row20>.column5>.row>.text1,
.page1>.row20>.column6>.row>.text1,
.page1>.row21>.column4>.row>.text1,
.page1>.row21>.column5>.row>.text1,
.page1>.row21>.column6>.row>.text1,
.page1>.row24>.column4>.row>.text1,
.page1>.row24>.column5>.row>.text1,
.page1>.row24>.column6>.row>.text1,
.page1>.row25>.column4>.row>.text1,
.page1>.row25>.column5>.row>.text1,
.page1>.row25>.column6>.row>.text1,
.page1>.row28>.column>.row>.text1,
.page1>.row31>.column4>.row>.text1,
.page1>.row31>.column5>.row>.text1,
.page1>.row31>.column6>.row>.text1 {
  padding: 0.2cm 0.1cm 0.2cm 0.2cm;
}

.page1>.row9>.column4>.row:not(:last-child)>.text1,
.page1>.row9>.column5>.row:not(:last-child)>.text1,
.page1>.row9>.column6>.row:not(:last-child)>.text1,
.page1>.row10>.column4>.row:not(:last-child)>.text1,
.page1>.row10>.column5>.row:not(:last-child)>.text1,
.page1>.row10>.column6>.row:not(:last-child)>.text1,
.page1>.row11>.column4>.row:not(:last-child)>.text1,
.page1>.row11>.column5>.row:not(:last-child)>.text1,
.page1>.row11>.column6>.row:not(:last-child)>.text1,
.page1>.row12>.column4>.row:not(:last-child)>.text1,
.page1>.row12>.column5>.row:not(:last-child)>.text1,
.page1>.row12>.column6>.row:not(:last-child)>.text1,
.page1>.row13>.column4>.row:not(:last-child)>.text1,
.page1>.row13>.column5>.row:not(:last-child)>.text1,
.page1>.row13>.column6>.row:not(:last-child)>.text1,
.page1>.row14>.column4>.row:not(:last-child)>.text1,
.page1>.row14>.column5>.row:not(:last-child)>.text1,
.page1>.row14>.column6>.row:not(:last-child)>.text1,
.page1>.row15>.column4>.row:not(:last-child)>.text1,
.page1>.row15>.column5>.row:not(:last-child)>.text1,
.page1>.row15>.column6>.row:not(:last-child)>.text1,
.page1>.row16>.column4>.row:not(:last-child)>.text1,
.page1>.row16>.column5>.row:not(:last-child)>.text1,
.page1>.row16>.column6>.row:not(:last-child)>.text1,
.page1>.row17>.column4>.row:not(:last-child)>.text1,
.page1>.row17>.column5>.row:not(:last-child)>.text1,
.page1>.row17>.column6>.row:not(:last-child)>.text1,
.page1>.row20>.column4>.row:not(:last-child)>.text1,
.page1>.row20>.column5>.row:not(:last-child)>.text1,
.page1>.row20>.column6>.row:not(:last-child)>.text1,
.page1>.row21>.column4>.row:not(:last-child)>.text1,
.page1>.row21>.column5>.row:not(:last-child)>.text1,
.page1>.row21>.column6>.row:not(:last-child)>.text1,
.page1>.row24>.column4>.row:not(:last-child)>.text1,
.page1>.row24>.column5>.row:not(:last-child)>.text1,
.page1>.row24>.column6>.row:not(:last-child)>.text1,
.page1>.row25>.column4>.row:not(:last-child)>.text1,
.page1>.row25>.column5>.row:not(:last-child)>.text1,
.page1>.row25>.column6>.row:not(:last-child)>.text1,
.page1>.row28>.column4>.row:not(:last-child)>.text1,
.page1>.row28>.column5>.row:not(:last-child)>.text1,
.page1>.row28>.column6>.row:not(:last-child)>.text1,
.page1>.row31>.column4>.row:not(:last-child)>.text1,
.page1>.row31>.column5>.row:not(:last-child)>.text1,
.page1>.row31>.column6>.row:not(:last-child)>.text1 {
  border-bottom: 1px solid var(--black-color);
  padding: 0.2cm 0.1cm 0.2cm 0.2cm;
}

.page1>.row>.column {
  vertical-align: top;
}

.page1>.row9>.column .text1,
.page1>.row10>.column .text1,
.page1>.row11>.column .text1,
.page1>.row13>.column .text1,
.page1>.row14>.column .text1,
.page1>.row15>.column .text1,
.page1>.row16>.column .text1,
.page1>.row17>.column .text1,
.page1>.row20>.column .text1,
.page1>.row21>.column .text1,
.page1>.row24>.column .text1,
.page1>.row25>.column .text1 {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
  box-decoration-break: clone;
  box-sizing: border-box;
  word-wrap: break-word;
}

.page1>.row11>.column4>.row1>.text1,
.page1>.row11>.column5>.row1>.text1,
.page1>.row11>.column6>.row1>.text1 {
  border-bottom: none !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row7>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row7>.text1 {
  min-height: 14.2mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row8>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row8>.text1 {
  min-height: 28.3mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row1>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row1>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row1>.text1 {
  min-height: 83.7mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row2>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row2>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row2>.text1 {
  min-height: 33mm !important;
}


.page1>.row8>.composite1>.compositebody>.row2>.column3>.row3>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row3>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row3>.text1 {
  min-height: 51.2mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row4>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row4>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row4>.text1 {
  min-height: 29.5mm !important;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row5>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row5>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row5>.text1 {
  min-height: 18.7mm !important;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row6>.text1 {
  min-height: 69.1mm !important;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row6>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row6>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row6>.text1 {
  min-height: 69.1mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row7>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column3>.row7>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row7>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row7>.text1 {
  min-height: 40.3mm !important;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row8>.text1 {
  min-height: 50.2mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column4>.row8>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row8>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row8>.text1 {
  min-height: 50.2mm !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row8>.text1 {
  min-height: 50.2mm !important;
  border-bottom: 1px solid var(--black-color);
}

.page1>.row8>.composite1>.compositebody>.row2>.column3>.row9>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column4>.row9>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column5>.row9>.text1,
.page1>.row8>.composite1>.compositebody>.row2>.column6>.row9>.text1 {
  border: none !important;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row5>.text1 {
  min-height: 18.8mm;
  border-bottom: 1px solid #000000;
  padding: 80.5mm 0 12.7mm 0;
}

.page1>.row8>.composite1>.compositebody>.row2>.column2>.row5>.text1>p {
  border-top: 1px solid #000000;
  padding: 0.2cm 0.1cm 0 0.2cm;
}

.page1>.row37>.vertical-list1>.PAI_Engagement_Policies {
  margin-bottom: 0cm;
}

.page1>.row8>.column1 {
  width: 75%;
  border-right: 1px solid #000;
  float: left !important;
}

.page1>.row8>.column2 {
  width: 25%;
  border-right: 1px solid #000;
}

.page1>.row8>.column1>.row {
  /* display: grid;
  grid-template-columns: 13.4% 17.4% 16% 13.4% 13.3% 26.5%; */
  display: table;
  width: 22.8cm;
  table-layout: fixed;
}

.page1>.row8>.column1>.row>.column {
  display: table-cell;
  float: none !important;
}

.page1>.row8>.column1>.row>.column {
  border-bottom: 1px solid #000;
}

.page1>.row8>.column1>.row9 >.column {
  border-bottom: none;
}

.page1>.row8>.column1>.row>.column {
  box-sizing: border-box;
}

.page1>.row8>.column1>.row>.column {
  border-left: 1px solid #000;
  /* width: initial !important; */
}

.page1>.row8>.column1 {
  position: relative;
}

.page1>.row8>.column1:after {
  content: '';
  background: #000;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  right: -69.45mm;
  width: 1px;
}

.page1>.row7>.text1 {
  border-bottom: 1px solid #000;
}

.page1>.row8>.column1>.row>.column,
.page1>.row8>.column2>.row1>.text1 {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
  word-wrap: break-word;
  /* border-bottom: 1px solid #000; */
}

.page1>.row8>.column1>.row>.column1 {
  width: 13.4%;
}

.page1>.row8>.column1>.row>.column2 {
  width: 17.3%;
}

.page1>.row8>.column1>.row>.column3 {
  width: 16%;
}

.page1>.row8>.column1>.row>.column4 {
  width: 13.3%;
}

.page1>.row8>.column1>.row>.column5 {
  width: 13.35%;
}

.page1>.row8>.column1>.row>.column6 {
  width: 26.5%;
}

.page1>.row8>.column1>.row>.column1 {
  border-bottom: none !important; 
}

.page1>.row8>.column1>.row1>.column2,
.page1>.row8>.column1>.row2>.column2,
.page1>.row8>.column1>.row3>.column2 {
  border-bottom: none !important; 
}

.page1>.row28 {
  border-bottom: 1px solid #000;
}

.page1>.row28>.text1,
.page1>.row31>.text1 {
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.page1>.row30 > .column > .row1 .displayname-tooltip,
.page1>.row33 > .column > .row1 .item2 {
  padding: 0.2cm 0.1cm 0.1cm 0.2cm;
  word-wrap: break-word;
} 

.page1 > .row29 > .column1 > .row > .column5, 
.page1 > .row28 > .column6,
.page1 > .row29 > .column3 {
  border-right: 1px solid #000;
}

.page1 > .row29 > .column {
  border: none;
}

.page1>.row31>.column5 {
  width: 9.95%;
}

.page1 > .row29 > .column1 {
  width: 55.05%;
}

.page1 > .row29 > .column2 {
  width: 20%;
}

.page1 > .row29 > .column3 {
  width: 25%;
}

.page1 > .row29 > .column1 > .row1 {
  width: 100%;
}

.page1 > .row29 > .column1 > .row > .column1 {
  width: 27.8mm;
}

.page1 > .row29 > .column1 > .row > .column2 {
  width: 35.6mm;
}

.page1 > .row29 > .column1 > .row > .column3 {
  width: 33.1mm;
}

.page1 > .row29 > .column1 > .row > .column4 {
  width: 27.6mm;
}

.page1 > .row29 > .column1 > .row > .column5 {
  width: 27.4mm;
}

.page1 > .row29 > .column1 > .row > .column {
  border: none;
  word-wrap: break-word;
}

.page1 > .row29 > .column1 > .row > .column2 > .row {
  height: 100%;
}

.page1 > .row29 > .column1 > .row > .column1,
.page1 > .row29 > .column1 > .row > .column2,
.page1 > .row29 > .column1 > .row > .column3,
.page1 > .row29 > .column1 > .row > .column4,
.page1 > .row29 > .column1 > .row > .column5,
.page1 > .row29 > .column2 > .row1 {
  border-left: 1px solid #000;
}

.page1 > .row29 > .column1 > .row:not(.row4) > .column3,
.page1 > .row29 > .column1 > .row:not(.row4) > .column4,
.page1 > .row29 > .column1 > .row:not(.row4) > .column5 {
  border-bottom: 1px solid #000 !important;
}

.page1 > .row29 > .column2 > .row1,
.page1 > .row29 > .column3 > .row1 {
  border-right: 1px solid #000 !important;
}

.page1 > .row29 > .column2 > .row1,
.page1 > .row29 > .column3 > .row1 {
  height: 100%;
}

.page1>.row8>.column1>.row6>.column6,
.page1>.row8>.column1>.row8>.column3 {
  padding-bottom: 5mm;
}


/* Theme Name- PAI_RealEstate_OP */

/*# sourceMappingURL=theme.css.map */
