.fundCentreContent {
    overflow: auto;
}

.fe-tabs-container-FundCentre {
    min-width: 1000px;
}

.advance-1 {
    overflow: hidden;
}

@media (min-width: 1024px) {
    .page {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .page {
        width: 1100px;
    }
}

@media (max-width: 500px) {

    .fe-search-textbox,
    .fe-search-textbox:focus {
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .fe-search-button {
        right: 0 !important;
        top: 0;
    }

    .fe-advSearch-button,
    .fe-search-clear-button {
        width: 49% !important;
    }

    .fe-search-fileters-container {
        float: none;
        width: initial;
    }
}